Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix mypy
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

update kv_connector ut
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  tests/ut/kv_connector/utils.py
Labels: module:tests

update gen_ranktable
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/gen_ranktable.sh
Labels: documentation

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix lint
  tests/ut/kv_connector/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

fix lint
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

skip the deepseek dbo w8a8 test for oom in ci, will re-enable this after the multi-latent-mla kernel is ready
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

remove the older pd test
  .github/workflows/vllm_ascend_test_pd.yaml
Labels: none

fix kv cache allocate isseu
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update PD README
  examples/disaggregate_prefill_v1/README.md
Labels: documentation

fix lint
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ascend scheduler for disaggregated pd
  vllm_ascend/core/scheduler.py
Labels: none

fix master kv_connector ut
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
Labels: module:tests

fix rebase mistake
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[0.9.1][Bugfix] fix oom issue in mla and enable mla_pa for deepseek mla decode (#1311)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization, module:core

fix lint
  vllm_ascend/core/scheduler.py
Labels: none

remove patch scheduler
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
Labels: none

fix lint
  vllm_ascend/models/deepseek_v2.py
Labels: none

skip the float deepseek dbo test for which we do not support yet
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

re-enable disaggregte pd test in main
  .github/workflows/vllm_ascend_test_pd.yaml
Labels: none

update the doc
  examples/disaggregate_prefill_v1/README.md
Labels: documentation

fix: use dist.reduce_scatter_tensor to avoid memory leak
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix ci issue
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

fix ci
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
  tests/ut/kv_connector/utils.py
Labels: module:tests

fix ci
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

fix ci issue
  vllm_ascend/attention/attention_v1.py
Labels: none

fix lint
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
Labels: module:tests

fix aclgraph accuracy issue
  vllm_ascend/attention/attention_v1.py
Labels: none

fix pangu's accuracy issue
  vllm_ascend/attention/attention_v1_torchair.py
Labels: none

return query if no kv_cache
  vllm_ascend/attention/attention_v1.py
Labels: none

fix typo
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix cache allocate bug
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ci
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

fix pangu's accuracy issue
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/envs.py
Labels: module:core

fix ut issue of multicard
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

fix ut issue of multicard
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
Labels: module:tests

allocate memory in normal way when disable disaggregate prefill
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix mypy
  vllm_ascend/attention/attention_v1.py
Labels: none

lint fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
