Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Fix the device error when using ray as vllm-acend backend (#884)
  examples/offline_multi_step_custom_ops.py
  tests/singlecard/ops/test_rotary_embedding.py
  vllm_ascend/attention/attention.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core

remove main vll verison.
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
Labels: none

Add ShouJian Zheng (@jianzs) as vLLM Ascend maintainer (#1203)
  docs/source/community/contributors.md
Labels: documentation

[CI/UT][Graph] Add ut for torchair graph mode (#1103)
  docs/source/user_guide/additional_config.md
  docs/source/user_guide/graph_mode.md
  tests/conftest.py
  tests/multicard/test_torchair_graph_mode.py
Labels: documentation, module:tests

Revert "Add ShouJian Zheng (@jianzs) as vLLM Ascend maintainer (#1203)"
  docs/source/community/contributors.md
Labels: documentation

[Doc] fix VLLM_USE_V1 value in graph mode docs (#1226)
  docs/source/user_guide/graph_mode.md
Labels: documentation

move generate log2ph map to eplb_worker
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/tool/eplb_utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

improve the implement of communication between main process and eplb process
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
Labels: none

fix bugsw
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

[refactor] Refactoring AscendFusedMoE (#1229)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

[refactor] Refactoring AscendFusedMoE (#1229)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

[refactor] Refactoring AscendFusedMoE (#1229)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

fix bugsw
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

improve the implement of communication between main process and eplb process
  vllm_ascend/eplb/eplb_updator.py
Labels: none

ut:midify assertion of mrope test
  tests/e2e/singlecard/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

enable npu_mrope by environment variables
  vllm_ascend/envs.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops, module:core

ut: add ut for npu_mrope
  tests/singlecard/ops/test_rotary_embedding.py
Labels: module:tests

ut:midify assertion of mrope test
  tests/singlecard/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

avoid frequetly synchronize between device and cpu when accessing to expert map
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
Labels: none

add gate for cacluate moe load
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

Bump torch-npu version to 2.5.1.post1.dev20250528
  .github/workflows/accuracy_test.yaml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/installation.md
  requirements.txt
  setup.py
Labels: documentation, ci/build

fix log2phy
  vllm_ascend/eplb/eplb_updator.py
Labels: none

[DP][V1] Fix rank set in DP scenario
  tests/multicard/test_data_parallel.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

skip dp ut as not support on A2
  tests/multicard/test_data_parallel.py
Labels: module:tests

Revert "[Fix] Revert 20dedb to fix ACL Graph (#1205)"
  tests/singlecard/test_offline_inference.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[v0.9.1] Add docs/source/confg.py print (#1187)
  docs/source/conf.py
Labels: documentation

[Fix] Revert 20dedb to fix ACL Graph (#1205)
  tests/singlecard/test_offline_inference.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[CI] improve test_aclgraph.py and make sure replay is called as expected when inferencing
  tests/singlecard/test_aclgraph.py
Labels: module:tests

Fix the device error when using ray as vllm-acend backend (#1234)
  examples/offline_multi_step_custom_ops.py
  tests/singlecard/ops/test_rotary_embedding.py
  vllm_ascend/attention/attention.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[CI][0.9.0][0.9.1] Update CI job (#1149)
  .github/dependabot.yml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  tests/conftest.py
  tests/singlecard/test_offline_inference.py
  vllm_ascend/compilation/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[cherry-pick][0.9.1] vllm-ascend support chunked prefill (#1240)
  docs/source/user_guide/additional_config.md
  tests/singlecard/test_chunked.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

fix torchair execute issue on padding data, and mtp padding logic -- by#1160 (#1214)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Refactor the token-wise padding mechanism to a more elegant implementation, correcting the padding logic errors introduced by the previous multimodal commit.
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Revert "[Fix] Revert 20dedb to fix ACL Graph (#1205)"
  tests/singlecard/test_offline_inference.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

Refactor the token-wise padding mechanism to a more elegant implementation, correcting the padding logic errors introduced by the previous multimodal commit.
  vllm_ascend/worker/model_runner_v1.py
Labels: none

feat: refactor mla_v1 in a independent file
  vllm_ascend/attention/mla_v1_refactored.py
Labels: none

fix bugs in expert_map_per_layer_cpu
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

[refactor] Refactoring AscendFusedMoE (#1229)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

fix log2phy
  vllm_ascend/eplb/tool/eplb_utils.py
Labels: none

[DOC] add LoRA user guide
  docs/source/user_guide/lora.md
Labels: documentation
