Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

rm run_engine_core patch
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
Labels: none

reformat
  vllm_ascend/core/scheduler.py
Labels: none

change phase
  vllm_ascend/core/scheduler.py
Labels: none

update doc abort proxy
  docs/source/tutorials/large_scale_ep.md
Labels: documentation

rm run_engine_core patch
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
Labels: none

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

Update envs.py
  vllm_ascend/envs.py
Labels: module:core

Update envs.py
  vllm_ascend/envs.py
Labels: module:core

add decode_batch_size check
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

Add ut for mla (#2637)
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Add ut for mla (#2637)
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Add ut for mla (#2637)
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

reformat
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add test
  examples/demo.py
  examples/logits_processor.py
  tests/e2e/singlecard/sample/test_demo.py
  tests/e2e/singlecard/sample/test_logits_processor.py
  tests/e2e/singlecard/sample/utils.py
  tests/e2e/utils.py
Labels: module:tests

add demo
  docs/source/user_guide/feature_guide/logit_processor.md
  examples/demo2.py
  examples/logits_processor.py
  tests/e2e/singlecard/sample/test_logits_processor.py
Labels: documentation, module:tests

fix lint
  tests/e2e/singlecard/sample/utils.py
Labels: module:tests

add header
  tests/e2e/singlecard/sample/utils.py
Labels: module:tests

fix
  examples/logits_processor.py
  tests/e2e/conftest.py
  tests/e2e/singlecard/sample/test_logits_processor.py
Labels: module:tests

fix
  docs/source/user_guide/feature_guide/logit_processor.md
  tests/e2e/singlecard/sample/test_logits_processor.py
Labels: documentation, module:tests

fix lint
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build

fix formar
  .github/workflows/pre-commit.yml
Labels: ci/build

revert
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/singlecard/sample/test_logits_processor.py
Labels: module:tests

fix
  tests/e2e/singlecard/sample/test_demo.py
  tests/e2e/singlecard/sample/test_logits_processor.py
  tests/e2e/singlecard/sample/test_online_logits_processor.py
  tests/e2e/singlecard/sample/utils.py
Labels: module:tests

fix type hint
  examples/logits_processor.py
  tests/e2e/singlecard/sample/utils.py
Labels: module:tests

rm redundant files
  docs/source/user_guide/feature_guide/logit_processor.md
  examples/demo.py
  examples/demo2.py
Labels: documentation

fix lint
  format.sh
Labels: none

fix test case
  examples/logits_processor.py
  tests/e2e/singlecard/sample/test_logits_processor.py
  tests/e2e/utils.py
Labels: module:tests

rename
  tests/e2e/conftest.py
  tests/e2e/singlecard/sample/test_demo.py
  tests/e2e/singlecard/sample/test_logits_processor.py
Labels: module:tests

support torchair mode
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core

reformat
  vllm_ascend/core/scheduler.py
Labels: none

add multi node test
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/conftest.py
  tests/e2e/multinodes/test_multi_dp.py
  tests/e2e/singlecard/sample/test_logits_processor.py
  tests/e2e/singlecard/sample/utils.py
Labels: module:tests

fix format
  .github/workflows/vllm_ascend_dist.yaml
Labels: none

fix format
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  tests/e2e/multinodes/test_multi_dp.py
Labels: module:tests

add req
  requirements-dev.txt
Labels: none

add test
  .github/workflows/vllm_ascend_test.yaml
Labels: none

reformat
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

remove reduandant lines
  tests/e2e/multinodes/test_multi_dp.py
Labels: module:tests

on worlflow call
  .github/workflows/vllm_ascend_dist.yaml
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
