Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Test] add ut for qwen3_moe.py (#2055)
  tests/ut/models/test_qwen3_moe.py
Labels: module:tests

[Test] add ut for qwen3_moe.py (#2055)
  tests/ut/models/test_qwen3_moe.py
Labels: module:tests

Pin transformers to fix v0.9.1 doctest (#2048)
  tests/e2e/doctests/002-pip-binary-installation-test.sh
Labels: module:tests

Pin transformers to fix v0.9.1 doctest (#2048)
  tests/e2e/doctests/002-pip-binary-installation-test.sh
Labels: module:tests

Pin transformers to fix v0.9.1 doctest (#2048)
  tests/e2e/doctests/002-pip-binary-installation-test.sh
Labels: module:tests

fix name
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix long term
  tests/e2e/long_term/accuracy/accuracy_multicard.py
Labels: module:tests

fix
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

max parallel limit
  .github/workflows/vllm_ascend_test.yaml
Labels: none

repair
  .github/workflows/vllm_ascend_test.yaml
Labels: none

repair test case
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_pipeline_parallel.py
  tests/e2e/singlecard/quant/test_w8a8.py
  tests/e2e/singlecard/test_offline_inference.py
Labels: module:tests

upgrade
  .github/actionlint.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: none

repair e2e test yaml
  .github/workflows/vllm_ascend_test.yaml
Labels: none

import moe multi-stream
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

remove numel operation to support symbolic tracing
  csrc/torch_binding_meta.cpp
Labels: none

temp set mlp tp size to 4
  vllm_ascend/distributed/parallel_state.py
Labels: none

xx
  vllm_ascend/worker/worker_v1.py
Labels: none

update model_runner_v1 to model_runner
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

fix
  .github/workflows/vllm_ascend_doctest.yaml
  tests/e2e/singlecard/quant/test_w8a8.py
Labels: module:tests

[Misc]Remove PD v0 code (#2047)
  examples/disaggregated_prefill/disaggregated_prefill_offline.py
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/find_device_ips.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  examples/disaggregated_prefill/run_decode_server.sh
  examples/disaggregated_prefill/run_prefill_server.sh
  tests/ut/distributed/kv_transfer/test_simple_buffer.py
  tests/ut/distributed/kv_transfer/test_simple_connector.py
  tests/ut/distributed/kv_transfer/test_simple_pipe.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/kv_transfer/__init__.py
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/distributed/kv_transfer/utils.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: module:tests

[Misc]Remove PD v0 code (#2047)
  examples/disaggregated_prefill/disaggregated_prefill_offline.py
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/find_device_ips.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  examples/disaggregated_prefill/run_decode_server.sh
  examples/disaggregated_prefill/run_prefill_server.sh
  tests/ut/distributed/kv_transfer/test_simple_buffer.py
  tests/ut/distributed/kv_transfer/test_simple_connector.py
  tests/ut/distributed/kv_transfer/test_simple_pipe.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/kv_transfer/__init__.py
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/distributed/kv_transfer/utils.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: module:tests

[Misc]Remove PD v0 code (#2047)
  examples/disaggregated_prefill/disaggregated_prefill_offline.py
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/find_device_ips.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  examples/disaggregated_prefill/run_decode_server.sh
  examples/disaggregated_prefill/run_prefill_server.sh
  tests/ut/distributed/kv_transfer/test_simple_buffer.py
  tests/ut/distributed/kv_transfer/test_simple_connector.py
  tests/ut/distributed/kv_transfer/test_simple_pipe.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/kv_transfer/__init__.py
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/distributed/kv_transfer/utils.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: module:tests

fix(test): fix ut cannot get `group_size`
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:quantization

xx
  vllm_ascend/ops/logits_processor.py
Labels: module:ops

remove pin
  .github/workflows/vllm_ascend_doctest.yaml
Labels: none

avoid performing index selection of sin/cos cache every layer
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

fix(test): fix ut error
  tests/ut/quantization/test_w4a8_dynamic.py
Labels: module:tests

[P/D] Mooncake Connector for v1 distributed
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/envs.py
Labels: module:core

change name MooncakeConnector to MooncakeConnectorV1
  vllm_ascend/distributed/__init__.py
Labels: none

solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

formatting code after solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

ignore mooncake.engine and solve zmq mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

ignore some mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

remove unused import
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Formatting Code
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

change transfer_sync_read to batch_transfer_sync_read
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

formatting code after solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

[WIP] [0.9.1][Prefill Perf] add D2H & initRoutingQuantV2
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization
