Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Remove main branch new added patch.utils calls
  tests/ut/test_utils.py
  vllm_ascend/patch/__init__.py
Labels: module:tests

fix kv_connector ut
  tests/ut/kv_connector/test_llmdatadist_connector.py
  tests/ut/kv_connector/test_remote_decode_lifecycle.py
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
Labels: module:tests

upadata gen_ranktable.sh
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/gen_ranktable.sh
Labels: documentation

some bugfix
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/envs.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
  vllm_ascend/soc_info.py
Labels: module:core

fix v1 disaggregate prefill example ranktable generation issue
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/gen_ranktable.sh
Labels: documentation

refactor the connector's name to LLMDataDistCMgrConnector
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix lint
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix mypy
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

update edge e2e test
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
Labels: module:tests

fix the refactor mistake
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: none

update ut
  tests/kv_connector/utils.py
Labels: module:tests

update ut
  tests/kv_connector/utils.py
Labels: module:tests

spell issue fix
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
Labels: module:core

lint fix
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/toy_proxy_server.py
  tests/kv_connector/test_llmdatadist_connector.py
  tests/kv_connector/test_remote_decode_lifecycle.py
  tests/kv_connector/test_remote_prefill_lifecycle.py
  tests/kv_connector/utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
  vllm_ascend/soc_info.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

update kv_connector ut
  tests/ut/kv_connector/test_llmdatadist_connector.py
  tests/ut/kv_connector/test_remote_decode_lifecycle.py
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
Labels: module:tests

refactor the connector's name to LLMDataDistCMgrConnector
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/run_server.sh
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  tests/kv_connector/test_llmdatadist_connector.py
  tests/kv_connector/utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: documentation, module:tests, module:core

add some fix for llmdatadist
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

pd e2e & llmdatadist connector ut
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  tests/e2e/pd_disaggreate/test_edge_cases.py
  tests/kv_connector/test_llmdatadist_connector.py
  tests/kv_connector/test_remote_decode_lifecycle.py
  tests/kv_connector/test_remote_prefill_lifecycle.py
Labels: module:tests

fix lint issue
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  examples/disaggregate_prefill_v1/gen_ranktable.py
Labels: none

undate connector ut
  tests/e2e/pd_disaggreate/test_edge_cases.py
  tests/kv_connector/test_llmdatadist_connector.py
  tests/kv_connector/test_remote_decode_lifecycle.py
  tests/kv_connector/test_remote_prefill_lifecycle.py
Labels: module:tests

fix transfer_param issue
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix dp issues in new vllm
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix yapf
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

update e2e edge test
  .github/workflows/vllm_ascend_test_pd.yaml
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  tests/e2e/pd_disaggreate/test_edge_cases.py
Labels: module:tests

pd lifecycle ut update
  tests/kv_connector/test_remote_decode_lifecycle.py
  tests/kv_connector/test_remote_prefill_lifecycle.py
Labels: module:tests

remove all additional config usage
  vllm_ascend/models/deepseek_v2.py
Labels: none

draft of a3 llmdatadist connector
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  examples/disaggregate_prefill_v1/run_server.sh
  examples/disaggregate_prefill_v1/toy_proxy_server.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/attention.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
  vllm_ascend/soc_info.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core

update PD README
  examples/disaggregate_prefill_v1/README.md
Labels: documentation

fix ci
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

fix lint
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
Labels: module:tests

return query if no kv_cache
  vllm_ascend/attention/attention_v1.py
Labels: none

fix lint
  examples/disaggregate_prefill_v1/gen_ranktable.py
Labels: none

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

remove patch scheduler
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
Labels: none

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix lint
  vllm_ascend/core/scheduler.py
Labels: none

skip the deepseek dbo w8a8 test for oom in ci, will re-enable this after the multi-latent-mla kernel is ready
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

fix ci crash caused by vllm update
  tests/ut/kv_connector/utils.py
Labels: module:tests

skip the float deepseek dbo test for which we do not support yet
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests
