Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Doc] Refactor the DeepSeek-V3.1 tutorial. (#4399)
  docs/source/tutorials/DeepSeek-V3.1.md
  docs/source/tutorials/index.md
Labels: documentation

add lightning_indexer and sparse_flash_attention
  csrc/build_aclnn.sh
  csrc/lightning_indexer/op_host/CMakeLists.txt
  csrc/lightning_indexer/op_host/lightning_indexer_def.cpp
  csrc/lightning_indexer/op_host/lightning_indexer_proto.cpp
  csrc/lightning_indexer/op_host/lightning_indexer_tiling.cpp
  csrc/lightning_indexer/op_host/lightning_indexer_tiling.h
  csrc/lightning_indexer/op_kernel/lightning_indexer.cpp
  csrc/lightning_indexer/op_kernel/lightning_indexer_common.h
  csrc/lightning_indexer/op_kernel/lightning_indexer_kernel.h
  csrc/lightning_indexer/op_kernel/lightning_indexer_service_cube.h
  csrc/lightning_indexer/op_kernel/lightning_indexer_service_vector.h
  csrc/lightning_indexer/op_kernel/lightning_indexer_template_tiling_key.h
  csrc/lightning_indexer/op_kernel/lightning_indexer_vector.h
  csrc/sparse_flash_attention/op_host/CMakeLists.txt
  csrc/sparse_flash_attention/op_host/sparse_flash_attention_def.cpp
  csrc/sparse_flash_attention/op_host/sparse_flash_attention_proto.cpp
  csrc/sparse_flash_attention/op_host/sparse_flash_attention_tiling.cpp
  csrc/sparse_flash_attention/op_host/sparse_flash_attention_tiling.h
  csrc/sparse_flash_attention/op_kernel/sparse_flash_attention.cpp
  csrc/sparse_flash_attention/op_kernel/sparse_flash_attention_common.h
  csrc/sparse_flash_attention/op_kernel/sparse_flash_attention_kernel_mla.h
  csrc/sparse_flash_attention/op_kernel/sparse_flash_attention_service_cube_mla.h
  csrc/sparse_flash_attention/op_kernel/sparse_flash_attention_service_vector_mla.h
  csrc/sparse_flash_attention/op_kernel/sparse_flash_attention_template_tiling_key.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

clean up model module (#4611)
  docs/source/tutorials/index.md
Labels: documentation

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
  vllm_ascend/attention/attention_v1.py
Labels: none

add decorator at execute_dummy_run
  vllm_ascend/ascend_config.py
  vllm_ascend/worker/fault_tolerance.py
Labels: module:core

fix ci && checkout condition
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
  vllm_ascend/attention/attention_v1.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
  vllm_ascend/attention/attention_v1.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_v1.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_v1.py
Labels: none

fix torchair mtp
  vllm_ascend/torchair/torchair_mtp_proposer.py
Labels: none

bugfix
  vllm_ascend/compilation/acl_graph.py
Labels: none

fix lint
  vllm_ascend/compilation/acl_graph.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
Labels: none

[performance] Enhance performance after enabling min_p (#4529)
  vllm_ascend/sample/logits_processor/builtin.py
Labels: none

[performance] Enhance performance after enabling min_p (#4529)
  vllm_ascend/sample/logits_processor/builtin.py
Labels: none

[performance] Enhance performance after enabling min_p (#4529)
  vllm_ascend/sample/logits_processor/builtin.py
Labels: none

[performance] Enhance performance after enabling min_p (#4529)
  vllm_ascend/sample/logits_processor/builtin.py
Labels: none

update index.md
  docs/source/tutorials/index.md
Labels: documentation

custom op env fix
  CMakeLists.txt
  csrc/CMakeLists.txt
  csrc/build_aclnn.sh
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

Async transfer tensor for long sequences
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

doc fix: deepseekv3.1
  docs/source/tutorials/DeepSeek-V3.1.md
Labels: documentation

【doc fix】doc fix: deepseekv3.1 (#4645)
  docs/source/tutorials/DeepSeek-V3.1.md
Labels: documentation

【doc fix】doc fix: deepseekv3.1 (#4645)
  docs/source/tutorials/DeepSeek-V3.1.md
Labels: documentation

【doc fix】doc fix: deepseekv3.1 (#4645)
  docs/source/tutorials/DeepSeek-V3.1.md
Labels: documentation

【doc fix】doc fix: deepseekv3.1 (#4645)
  docs/source/tutorials/DeepSeek-V3.1.md
Labels: documentation

[Bugfix] fix custom op GmmSwigluQuantWeightNzTensorList (#4593)
  CMakeLists.txt
  csrc/CMakeLists.txt
  csrc/build_aclnn.sh
  csrc/torch_binding.cpp
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Bugfix] fix custom op GmmSwigluQuantWeightNzTensorList (#4593)
  CMakeLists.txt
  csrc/CMakeLists.txt
  csrc/build_aclnn.sh
  csrc/torch_binding.cpp
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Bugfix] fix custom op GmmSwigluQuantWeightNzTensorList (#4593)
  CMakeLists.txt
  csrc/CMakeLists.txt
  csrc/build_aclnn.sh
  csrc/torch_binding.cpp
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Bugfix] fix custom op GmmSwigluQuantWeightNzTensorList (#4593)
  CMakeLists.txt
  csrc/CMakeLists.txt
  csrc/build_aclnn.sh
  csrc/torch_binding.cpp
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
Labels: none

[OPS] add bmm_transpose ops (#3990)
  .pre-commit-config.yaml
  CMakeLists.txt
  csrc/batch_matmul_transpose/op_host/batch_matmul_transpose.h
  csrc/batch_matmul_transpose/op_host/common.h
  csrc/batch_matmul_transpose/op_host/common_tiling.h
  csrc/batch_matmul_transpose/op_host/tiling/tiling_data.cpp
  csrc/batch_matmul_transpose/op_host/tiling/tiling_data.h
  csrc/batch_matmul_transpose/op_kernel/batch_matmul_transpose_kernel.cpp
  csrc/kernels/math_utils.h
  csrc/ops.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/singlecard/ops/test_batch_matmul_transpose.py
  typos.toml
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

fix
  csrc/torch_binding.cpp
Labels: none

[CI] Fix ngram
  vllm_ascend/spec_decode/interface.py
  vllm_ascend/spec_decode/ngram_proposer.py
Labels: none

tiny fix
  vllm_ascend/spec_decode/interface.py
Labels: none

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_v1.py
Labels: none

Add qk_rmsnorm_triton for qwen3-next
  vllm_ascend/ops/triton/qk_rmsnorm.py
  vllm_ascend/patch/worker/patch_qwen3_next.py
Labels: module:ops

fix(bug): consider some fused_moe quant_methods do not have `group_size` attr
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

[Refactor] extract attention cp.
  vllm_ascend/attention/attention_cp.py
  vllm_ascend/attention/attention_v1.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
