Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Doc] Refactor the DeepSeek-V3.2-Exp tutorial. (#3871)
  docs/source/conf.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_ais_bench.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/DeepSeek-V3.2-Exp.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi-node_dsv3.2.md
Labels: documentation

[Doc] Refactor the DeepSeek-V3.2-Exp tutorial. (#3871)
  docs/source/conf.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_ais_bench.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/DeepSeek-V3.2-Exp.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi-node_dsv3.2.md
Labels: documentation

ut test
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

fix
  vllm_ascend/ops/layernorm.py
Labels: module:ops

ut test
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

tiny fix
  vllm_ascend/ops/layernorm.py
Labels: module:ops

add transfer timeout config
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/utils.py
Labels: none

cam afd connector.
  vllm_ascend/distributed/CAMAFDConnector.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/worker/npu_ffn_model_runner_v1.py
Labels: module:ops

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/utils.py
Labels: none

[Test][Accuracy] Add accuracy evaluation config for InternVL3_5-8B
  tests/e2e/models/configs/InternVL3_5-8B.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

fix lint
  vllm_ascend/distributed/utils.py
Labels: none

[Feature][Build] Upgrade the minimum version to 3.10
  README.md
  README.zh.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  setup.py
Labels: documentation

fix lint
  vllm_ascend/distributed/utils.py
Labels: none

optimize fullgraph.
  vllm_ascend/compilation/acl_graph.py
Labels: none

[Bugfix][SHM] Fix weak memory ordering problem in share memory
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_core.py
  vllm_ascend/patch/platform/patch_message_queue.py
Labels: none

fix ci
  vllm_ascend/patch/platform/patch_core.py
  vllm_ascend/patch/platform/patch_message_queue.py
Labels: none

fix ci
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

use npu_moe_gating_top_k op
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

add zero experts compute
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

fix ci
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

support qwen3-next full_decode_only mode. (#3949)
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

support qwen3-next full_decode_only mode. (#3949)
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

support qwen3-next full_decode_only mode. (#3949)
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

support qwen3-next full_decode_only mode. (#3949)
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

cherry-pick CANN 8.3
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly.yaml
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/multi_node_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

rebase main && fix pre-commit
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
Labels: none

pre-commit
  vllm_ascend/attention/mla_v1.py
Labels: none

fix ci
  tests/ut/quantization/test_w8a8.py
Labels: module:tests

fix ci
  tests/ut/quantization/test_w8a8.py
Labels: module:tests

test ut
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

[docs] add aclgraph developer guide (#3683)
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[docs] add aclgraph developer guide (#3683)
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[docs] add aclgraph developer guide (#3683)
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[docs] add aclgraph developer guide (#3683)
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[main] flashcomm_v2 optim solution Signed-off-by: Levi-JQ <yujinqi2@huawei.com>
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization, module:core

fix ut of parallel_state Signed-off-by: Levi-JQ <yujinqi2@huawei.com>
  tests/ut/distributed/test_parallel_state.py
Labels: module:tests

[CI] fix
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization, module:core

otp all_to_all after quant
  vllm_ascend/ops/linear_op.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

fix contiditon of using Flashcomm2OProjRowParallelOp Signed-off-by: Levi-JQ <yujinqi2@huawei.com>
  vllm_ascend/ops/linear_op.py
Labels: module:ops

[CI] fix
  vllm_ascend/ops/linear_op.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization
