Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

new_091
  tests/long_term/spec_decode_v0/test_dynamic_spec_decode.py
Labels: module:tests

[CI/UT] modify the model path
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

[CI/UT] modify the model path
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

avoid performing index selection of sin/cos cache every layer
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[CI/UT] modify the model path
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

add function take_update_info_from_eplb_process
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

adjusting the communication method in graph mode (#1194)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

new branch
  vllm_ascend/worker/model_runner_v1.py
Labels: none

bug fix
  examples/dllm_tools/dllm/scripts.py
  examples/dllm_tools/dllm/vllm_instance.py
Labels: none

fix mypy
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

feat: add kv cache memory cache and skip dynamo guard
  tests/ut/test_utils.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

perf: use multicast to avoid padding decode request to prefill size
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

test deepseek v2 mlp layer tp4
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

Add ut for test_pooling_model_runner.py (#1640)
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

Add ut for test_pooling_model_runner.py (#1640)
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

Add ut for test_pooling_model_runner.py (#1640)
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

[EPLB] support deepseek eplb strategy (#1196)
  examples/eplb/eplb_deepseek.py
  examples/eplb/eplb_strategy.py
Labels: none

[EPLB] support deepseek eplb strategy (#1196)
  examples/eplb/eplb_deepseek.py
  examples/eplb/eplb_strategy.py
Labels: none

[EPLB] support deepseek eplb strategy (#1196)
  examples/eplb/eplb_deepseek.py
  examples/eplb/eplb_strategy.py
Labels: none

cpu offload connector
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/kv_transfer/cpu_offloading_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support ep
  tests/long_term/spec_decode_v1/test_v1_mtp_correctness.py
  tests/singlecard/test_aclgraph.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/multistream/base.py
  vllm_ascend/multistream/metadata.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests, module:core

add new e2e case
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

remove repeat init
  vllm_ascend/models/deepseek_dbo.py
Labels: none

fix import set_weight_attrs problem
  vllm_ascend/models/deepseek_v2.py
Labels: none

support qwen3
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

[BugFix] Fix max_num_tokens_across_dp calculation bugs in attention_v1_torchair (#1636)
  vllm_ascend/attention/attention_v1_torchair.py
Labels: none

[BugFix] Fix max_num_tokens_across_dp calculation bugs in attention_v1_torchair (#1636)
  vllm_ascend/attention/attention_v1_torchair.py
Labels: none

[BugFix] Fix max_num_tokens_across_dp calculation bugs in attention_v1_torchair (#1636)
  vllm_ascend/attention/attention_v1_torchair.py
Labels: none

fix mlp_tensor_parallel_size problem
  vllm_ascend/distributed/parallel_state.py
Labels: none

[CI] Fix mypy check in CI
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[CI] Fix mypy check in CI (#1655)
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[CI] Fix mypy check in CI (#1655)
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[CI] Fix mypy check in CI (#1655)
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix spell error
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

fix spell error (#1654)
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

fix spell error (#1654)
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

fix spell error (#1654)
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

perf: use multicast to avoid padding decode request to prefill size (#1555)
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

perf: use multicast to avoid padding decode request to prefill size (#1555)
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
