Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Doc] Update FAQ and add test guidance (#1360)
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/testing.md
  docs/source/faqs.md
  docs/source/index.md
Labels: documentation

[Doc] Update FAQ and add test guidance (#1360)
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/testing.md
  docs/source/faqs.md
  docs/source/index.md
Labels: documentation

[Doc] Update FAQ and add test guidance (#1360)
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/testing.md
  docs/source/faqs.md
  docs/source/index.md
Labels: documentation

add unquantized cast nz
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/linear.py
Labels: module:ops

[Bugfix] Reset unused positions in NPUModelRunner to avoid GatherV3 error
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add e2e test for ep and etp
  tests/e2e/multicard/test_ep_etp.py
Labels: module:tests

[ExternalDP][RL] Make external DP support on EP and ETP
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

use fused ops npu_top_k_top_p which is introduced in https://mirrors.huaweicloud.com/ascend/repos/pypi/torch-npu/
  tests/ut/worker/patch_common/test_patch_sampler.py
  vllm_ascend/patch/worker/patch_common/patch_sampler.py
Labels: module:tests

[DP] Tiny fix of dp and update example (#1273)
  .github/workflows/vllm_ascend_test.yaml
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  examples/offline_data_parallel.py
  tests/e2e/multicard/test_data_parallel.py
  tests/multicard/test_data_parallel.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

[DP] Tiny fix of dp and update example (#1273)
  .github/workflows/vllm_ascend_test.yaml
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  examples/offline_data_parallel.py
  tests/e2e/multicard/test_data_parallel.py
  tests/multicard/test_data_parallel.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

[DP] Tiny fix of dp and update example (#1273)
  .github/workflows/vllm_ascend_test.yaml
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  examples/offline_data_parallel.py
  tests/e2e/multicard/test_data_parallel.py
  tests/multicard/test_data_parallel.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

update
  vllm_ascend/envs.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

[Doc] Add patch doc
  docs/source/community/versioning_policy.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/index.md
Labels: documentation

[Doc] Add patch doc (#1414)
  docs/source/community/versioning_policy.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/index.md
Labels: documentation

[Doc] Add patch doc (#1414)
  docs/source/community/versioning_policy.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/index.md
Labels: documentation

[Doc] Add patch doc (#1414)
  docs/source/community/versioning_policy.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/index.md
Labels: documentation

adjusting the communication method in graph mode
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

[Doc] Add sleep mode doc (#1295)
  .github/workflows/vllm_ascend_test.yaml
  docs/source/index.md
  docs/source/user_guide/sleep_mode.md
  examples/offline_inference_sleep_mode_npu.py
Labels: documentation

[Doc] Add sleep mode doc (#1295)
  .github/workflows/vllm_ascend_test.yaml
  docs/source/index.md
  docs/source/user_guide/sleep_mode.md
  examples/offline_inference_sleep_mode_npu.py
Labels: documentation

[Doc] Add sleep mode doc (#1295)
  .github/workflows/vllm_ascend_test.yaml
  docs/source/index.md
  docs/source/user_guide/sleep_mode.md
  examples/offline_inference_sleep_mode_npu.py
Labels: documentation

[CI]Update accuracy report test (#1288)
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: none

[CI]Update accuracy report test (#1288)
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: none

[CI]Update accuracy report test (#1288)
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: none

dbo support torchair graph
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

clean code
  vllm_ascend/models/deepseek_dbo.py
Labels: none

update
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_audio.md
Labels: documentation

fixed dbo deepseek
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix typo
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

add performance tuning doc to main
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

fixed dbo deepseek
  vllm_ascend/models/deepseek_v2.py
Labels: none

fix bug when running benchmark by move forward_before behind return of empty batch in execute_model
  vllm_ascend/worker/model_runner_v1.py
Labels: none

clean code
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fixed dbo deepseek
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[refactor] Refactoring forward_context and model_runner_v1
  docs/source/user_guide/additional_config.md
  examples/disaggregate_prefill_v1/README.md
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  examples/offline_dualbatch_overlap_npu.py
  examples/run_dp_attention_etp16.sh
  examples/run_dp_server.sh
  examples/run_dp_with_cached_graph_etp16.sh
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops, module:quantization, module:core

fix(ci): fix sampling params
  tests/multicard/test_model_qwen3_w4a8.py
Labels: module:tests

fix(ci): fix sampling params
  tests/multicard/test_model_qwen3_w4a8.py
Labels: module:tests

[Doc] Fix doc typo
  .github/ISSUE_TEMPLATE/110-user-story.yml
  README.md
  README.zh.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/user_guide/additional_config.md
  docs/source/user_guide/graph_mode.md
Labels: documentation

[Misc] Clean up uesless code for LLM initialize (#1373)
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Misc] Clean up uesless code for LLM initialize (#1373)
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Misc] Clean up uesless code for LLM initialize (#1373)
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
