Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Create eagle.py
  vllm_ascend/patch/spec_decode/patch_common/eagle.py
Labels: none

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Update model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

Add qwen3 fix
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3.py
Labels: none

[CI/UT] Ignore vllm/tests/test_vllm_port.py
  pytest.ini
Labels: none

[CI/UT] Ignore vllm/tests/test_vllm_port.py (#887)
  pytest.ini
Labels: none

[CI/UT] Ignore vllm/tests/test_vllm_port.py (#887)
  pytest.ini
Labels: none

[CI] Fix qwen2.5 vl CI failure
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

[Perf] Reduce memory usage by splitting tokens in fused_experts
  vllm_ascend/envs.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization, module:core

[Perf] Reduce memory usage by avoiding unused tensor
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update quantization docs with QwQ-32B-W8A8 example
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

[CI] Fix qwen2.5 vl CI failure (#888)
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

[CI] Fix qwen2.5 vl CI failure (#888)
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

[Misc] format patch to make the code clear
  tests/singlecard/spec_decode/test_spec_decode_worker.py
  vllm_ascend/__init__.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_cache_engine.py
  vllm_ascend/patch/worker/patch_common/patch_metrics.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/utils.py
  vllm_ascend/worker/__init__.py
Labels: module:tests, module:quantization, module:core

rm RAY_EXPERIMENTAL_NOSET_ASCEND_RT_VISIBLE_DEVICES & add lazy init for vllm_ascend_C
  tests/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:tests, module:ops, module:core

[CI/UT][PD Disaggreate] Initialize PD Disaggreate UT
  requirements-dev.txt
  tests/e2e/pd_disaggreate/setup_pd.sh
  tests/e2e/pd_disaggreate/test_pd_e2e.py
  tests/e2e/run_disagg_pd.sh
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
Labels: module:tests

[Feature] Add support for custom DeepSeek modeling in ACL Graph mode
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/attention.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

fix circle import error
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:quantization, module:core

enable online serving quantization
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization, module:core

[Doc] update quantization docs with QwQ-32B-W8A8 example (#835)
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

[Doc] update quantization docs with QwQ-32B-W8A8 example (#835)
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

[BugFix] Fix data parallel initialization and device management in NPUWorker and DPEngineCoreProc Co-authored-by: rjg-lyh <rjg-lyh@users.noreply.github.com>
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

Revert "[BugFix]add all2all when dp_size > 1 && downgrade npu_dequant_swiglu_quant (#819)"
  vllm_ascend/distributed/communicator.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_distributed.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

enable online serving quantization (#877)
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:quantization, module:core

enable online serving quantization (#877)
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:quantization, module:core

[1/N][UT][v1 MTP] add basic v1 mtp features
  tests/singlecard/spec_decode/e2e/test_v1_mtp_correctness.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/pacth_config.py
  vllm_ascend/patch/platform/patch_common/patch_arg_utils.py
  vllm_ascend/patch/worker/patch_common/patch_v1_mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Feature] add V1 Engine LoRA support (vllm-project#801) What this PR does / why we need it? According to this RFC #396 and this #448, we pull request relavant code to support LoRA in v1 Engine
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/test_transfomers_model.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

[Perf] Reduce memory usage by avoiding unused tensor
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Perf] Reduce memory usage by splitting tokens in fused_experts
  vllm_ascend/envs.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization, module:core

update
  docs/source/developer_guide/performance/images/benchmark_results.png
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

[TEST] add test_ilama_lora_tp2
  tests/multicard/test_ilama_lora_tp2.py
  tests/singlecard/test_ilama_lora.py
Labels: module:tests

[Bugfix] fix bug
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_ilama_lora_tp2.py
Labels: module:tests

[Bugfix] fix bug
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[Bugfix] fix bug
  .github/workflows/vllm_ascend_test.yaml
Labels: none

rm RAY_EXPERIMENTAL_NOSET_ASCEND_RT_VISIBLE_DEVICES & add lazy init for vllm_ascend_C
  tests/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

add qwen series test
  benchmarks/README.md
  benchmarks/scripts/convert_json_to_markdown.py
  benchmarks/scripts/perf_result_template.md
  benchmarks/scripts/run-performance-benchmarks.sh
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: documentation
