Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

test ge
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

test ge
  .github/workflows/_e2e_test.yaml
Labels: none

删除torch和torch——npu相关依赖安装
  pyproject.toml
Labels: none

correct bug to fix the value of max_num_tokens (#3933)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

correct bug to fix the value of max_num_tokens (#3933)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

correct bug to fix the value of max_num_tokens (#3933)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

correct bug to fix the value of max_num_tokens (#3933)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

cleancode
  vllm_ascend/attention/attention_v1.py
Labels: none

test ge
  .github/workflows/_e2e_test.yaml
Labels: none

Add MoE verification for multi-modal models
  vllm_ascend/utils.py
Labels: module:core

update var
  vllm_ascend/utils.py
Labels: module:core

cleancode
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

test ge
  .github/workflows/_e2e_test.yaml
Labels: none

fix mooncake build
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

[AFD]m2n ok
  vllm_ascend/distributed/M2NAFDConnector.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

update
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[Test][Accuracy] Add accuracy evaluation config for Qwen3-VL-8B-Instruct
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

Upgrade CANN to 8.3.rc1
  .github/Dockerfile.buildwheel
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_kill_lws_resources.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

[CI][Nightly] Fix mooncake build (#3958)
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

[CI][Nightly] Fix mooncake build (#3958)
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

[CI][Nightly] Fix mooncake build (#3958)
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

[CI][Nightly] Fix mooncake build (#3958)
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

[Test] Add new e2e test use deepseek-v2-lite in ge graph mode (#3937)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[Test] Add new e2e test use deepseek-v2-lite in ge graph mode (#3937)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[Test] Add new e2e test use deepseek-v2-lite in ge graph mode (#3937)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[Test] Add new e2e test use deepseek-v2-lite in ge graph mode (#3937)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

Upgrade CANN to 8.3.rc1 (#3945)
  .github/Dockerfile.buildwheel
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_kill_lws_resources.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

Upgrade CANN to 8.3.rc1 (#3945)
  .github/Dockerfile.buildwheel
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_kill_lws_resources.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

Upgrade CANN to 8.3.rc1 (#3945)
  .github/Dockerfile.buildwheel
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_kill_lws_resources.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

Upgrade CANN to 8.3.rc1 (#3945)
  .github/Dockerfile.buildwheel
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_kill_lws_resources.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

[Doc] Add lm_eval and vllm benchmark for DeepSeek-V3.2-Exp Doc.
  docs/source/tutorials/DeepSeek-V3.2-Exp.md
Labels: documentation

allgather after quant
  tests/e2e/multicard/test_offline_inference_distributed.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

fix UT
  tests/ut/ops/test_fused_moe.py
Labels: module:tests

fix rebase
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
Labels: module:ops

[docs] add aclgraph developer guide
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[0.11.0][doc] add aclgraph doc
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

refactor
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

GQA chunk-prefill with pcp&dcp under aclgraph mode
  vllm_ascend/attention/attention_v1.py
Labels: none
