Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[v1] Support eagle3 proposer.
  tests/long_term/spec_decode/e2e/test_v1_spec_decode.py
  vllm_ascend/worker/eagle_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Feature]Add alltoallv: add token_dispatcher
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/envs.py
  vllm_ascend/ops/comm_utils.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/__init__.py
  vllm_ascend/ops/moe_dispatcher/moe_utils.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops, module:core

[Feature]Add alltoallv: add token_dispatcher
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Feature]Add alltoallv: add token_dispatcher
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Feature]Add alltoallv: add token_dispatcher
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Feature]Add alltoallv: add token_dispatcher
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Feature]code style
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

[Feature]code style
  vllm_ascend/envs.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops, module:core

[Feature]code style
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

Add ShouJian Zheng (@jianzs) as vLLM Ascend maintainer (#1203)
  docs/source/community/contributors.md
Labels: documentation

Add ShouJian Zheng (@jianzs) as vLLM Ascend maintainer (#1203)
  docs/source/community/contributors.md
Labels: documentation

Add ShouJian Zheng (@jianzs) as vLLM Ascend maintainer (#1203)
  docs/source/community/contributors.md
Labels: documentation

Improving performance in graph mode by adjusting the communication methods of mla and moe stages
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

chore: lint code
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization, module:core

support pangu moe
  vllm_ascend/models/__init__.py
  vllm_ascend/models/configuration_pangu_moe.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[CI/UT][Graph] Add ut for torchair graph mode
  .github/workflows/vllm_ascend_test.yaml
  docs/source/user_guide/additional_config.md
  docs/source/user_guide/graph_mode.md
  tests/conftest.py
  tests/multicard/test_torchair_graph_mode.py
Labels: documentation, module:tests

add gloden result
  tests/multicard/test_torchair_graph_mode.py
Labels: module:tests

suppor fused_allgather_ep
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization, module:core

fix torchair execute issue on padding data, and mtp padding logic -- by#1160
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix generate map tool
  vllm_ascend/eplb/tool/generate_map.py
Labels: none

add user guide of quantization
  docs/source/index.md
  docs/source/user_guide/quantization.md
Labels: documentation

revert changes in workflow
  .github/workflows/vllm_ascend_test.yaml
Labels: none

add ssd loader
  vllm_ascend/eplb/core/loader/ssd_loader.py
Labels: none

determine num_dense_layers and num_moe_layers by refering to model configuration
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

implementation of VllmEplbAdaptor and D2DExpertWeightLoader
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/loader/abstract_loader.py
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
Labels: none

add eplb updator
  vllm_ascend/eplb/eplb_updator.py
Labels: none

EPLB add eplb_worker
  vllm_ascend/eplb/core/worker/eplb_worker.py
Labels: none

add eplb policy
  vllm_ascend/eplb/core/policy/__init__.py
  vllm_ascend/eplb/core/policy/eplb_policy.py
  vllm_ascend/eplb/core/policy/mock_load_balance.py
  vllm_ascend/eplb/core/policy/policy_factory.py
Labels: none

EPLB moed load collect
  vllm_ascend/eplb/core/loader/ssd_loader.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

delete invalida import
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix bugs in fused_experts_with_all2all
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

Adapt static EPLB
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

add eplb tabel generator
  vllm_ascend/eplb/tool/generate_map.py
Labels: none

add enable_eplb in ascend_config
  vllm_ascend/ascend_config.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

enable_eplb -> dynamic_eplb
  vllm_ascend/ascend_config.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

fix review comments
  docs/source/user_guide/additional_config.md
  tests/multicard/test_torchair_graph_mode.py
Labels: documentation, module:tests

MLA layer eliminates redundant index operators
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

fix bugs in dynamioc eplb
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix generate tool redundant expert fixed add ,not random
  vllm_ascend/eplb/tool/generate_map.py
Labels: none

support fused_moe_allgather_ep
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization, module:core
