Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Bump vLLM version to v0.10.2rc2 (#2902)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
Labels: documentation

Revert "[Feat] Unquantized linear nz support (#2619)" (#2896)
  tests/ut/ops/test_linear.py
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/ops/linear.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:ops, module:quantization

main add ascend scheduler support multimodal (#2844)
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

Bump vLLM version to v0.10.2 (#2914)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
Labels: documentation

fix mooncake connector adxl hostname usage (#2824)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

Upgrade CANN version to 8.3.rc1.alpha001 (#2903)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
Labels: documentation

Enable push trigger for image job (#2906)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

[BugFix] Fix world size bug in model_runner (#2915)
  tests/e2e/singlecard/test_vlm.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

Revert "Upgrade CANN version to 8.3.rc1.alpha001 (#2903)" (#2909)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
Labels: documentation

Bump vLLM version to v0.10.2rc3 (#2911)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
Labels: documentation

Fix the bugs about operator registration by PyTorch Dispatcher (#2786)
  benchmarks/ops/ben_vocabparallelembedding.py
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
  tests/e2e/singlecard/ops/test_rotary_embedding.py
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/lora/lora_ops.py
  vllm_ascend/meta_registration.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[main]Delete moe record.
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

fix all cards super_pod_id same on A3 & proxy support min_tokens (#2939)
  examples/disaggregated_prefill_v1/gen_ranktable.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

[Doc] Add doc for Qwen3 Next (#2916)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

[New model] Qwen3-next support (#2917)
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/multicard/test_prefix_caching.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  tests/ut/worker/test_input_batch.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/casual_conv1d.py
  vllm_ascend/ops/fla.py
  vllm_ascend/ops/sigmoid_gating.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_mamba_config.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

Update max_tokens and prompt in qwen3 online doc (#2945)
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

[EPLB]Delete comment code.
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

[EPLB]Initializing eplb when dynamic eplb.
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:ops

[Release] Add release note for v0.10.2rc1 (#2921)
  .github/workflows/vllm_ascend_test_full.yaml
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

adapt common_fused_moe
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

Update quant_config.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

[EPLB]Fix dco.
  .github/workflows/vllm_ascend_test_full.yaml
  vllm_ascend/lora/lora_ops.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

mooncake store bugfix
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/kv_transfer.py
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

mooncake store bugfix
  vllm_ascend/attention/mla_v1.py
Labels: none

chore: skips Pangu torchair e2e test
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

[Bugfix] Fix mtp torchair in pd Disaggregation scenario
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

refactor(deepseek_v2): Remove obsolete unit tests
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

update test
  tests/ut/worker/test_model_runner_v1.py
Labels: module:tests

[refactor] refactor deepseek-related files (#2849)
  tests/e2e/multicard/test_expert_parallel.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/models/conftest.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/test_platform.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
Labels: module:tests, module:ops, module:core

[refactor] refactor deepseek-related files (#2849)
  tests/e2e/multicard/test_expert_parallel.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/models/conftest.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/test_platform.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
Labels: module:tests, module:ops, module:core

[refactor] refactor deepseek-related files (#2849)
  tests/e2e/multicard/test_expert_parallel.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/models/conftest.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/test_platform.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
Labels: module:tests, module:ops, module:core

refatcor: prepare to remove Custom classes
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

feat(graph): Enable ACL Graph for Deepseek-V2
  vllm_ascend/ascend_config.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

fix: restore get_current_vllm_config
  vllm_ascend/models/deepseek_v2.py
Labels: none

fix: fix CI related problems
  tests/ut/models/test_deepseek_v2.py
  tests/ut/test_ascend_config.py
  vllm_ascend/models/deepseek_v2.py
Labels: module:tests

feat(moe): Add support for DeepSeek-V2 shared experts
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix: remove unsupported model check for aclgraph in check_ascend_config
  vllm_ascend/ascend_config.py
Labels: module:core

fix: Removes redundant `AscendSharedFusedMoE` class from rebase
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

refactor: Moves the custom implementation for Ascend Multi-Head Latent Attention (MLA) from the model-specific `deepseek_v2.py` file to a more generic `vllm_ascend/models/layers/mla.py`.
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

feat: add a test case for A3 Non-quantitative (ALL2ALLV + MC2)
  tests/e2e/multicard/test_qwen3_moe.py
Labels: module:tests
