Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

format code
  vllm_ascend/attention/mla_v1.py
Labels: none

refine code
  vllm_ascend/ascend_forward_context.py
Labels: module:core

[Feat] Shared expert dp for deepseek and deepseek_mtp (#3495)
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/ops/test_layernorm.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: module:tests, module:ops, module:core

[Feat] Shared expert dp for deepseek and deepseek_mtp (#3495)
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/ops/test_layernorm.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: module:tests, module:ops, module:core

[Feat] Shared expert dp for deepseek and deepseek_mtp (#3495)
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/ops/test_layernorm.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: module:tests, module:ops, module:core

suqash
  .github/workflows/_e2e_nightly.yaml
  .github/workflows/vllm_ascend_test_nightly.yaml
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
  tools/aisbench.py
Labels: module:tests, module:tools

[Feat]Make full graph mode compalible with MTP
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

support eplb + shared_experts
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

“fix”
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

feat(prefetch): add `self.attn.qkv_proj.weight` prefetching with `add_rms_norm_quant` custom op
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ops/layernorm.py
Labels: module:tests, module:ops

merge-commit
  .github/workflows/_e2e_test.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/test_platform.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

fix PD bug
  vllm_ascend/ascend_forward_context.py
Labels: module:core

[bugfix][torchair] fix missing weight nz cast for w13_weight in torchair_w8a8_dynamic.py (#3446)
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

[2/N][Feat] Attention and MoE weight prefetch in Qwen3MoE models (#3203)
  docs/source/user_guide/configuration/additional_config.md
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/weight_prefetch.py
Labels: documentation, module:tests, module:ops, module:core

[Feat] Unquantized Linear to nz and control all nz-cast (#3356)
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_linear.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/test_utils.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[BugFix] fix qwen2.5vl quant bug (#3426)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

fix the title of modelrunner's prepare inputs docs (#3457)
  docs/source/developer_guide/feature_guide/ModelRunner_prepare_inputs.md
Labels: documentation

[BugFix] Fix multimodal model support fullgraph error (#3425)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Feat] Supports Aclgraph for bge-m3 (#3171)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/test_bge_model.py
  tests/e2e/singlecard/test_embedding_aclgraph.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/patch/worker/patch_common/patch_roberta.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

Fix warning msg print (#3421)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: none

[Feat] Flash comm allgher ep (#3334)
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

adapt the mla_v1 with the `mla_preprocess` kernel (#3397)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
Labels: none

[MoE] [Refactor] Remove manual memory cleanup (#3365)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

[KVCache] Refactor KVCache as page_size_bytes is ineffective (#3438)
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_mamba_config.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attentionspec.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

bugfix for mtp with multistream_moe (#3419)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/attention/utils.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: module:tests

Revert "[MoE] [Refactor] Remove manual memory cleanup (#3365)" (#3483)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

[Bugfix] fix ZeroDivisionError when prefill_tp_size > num_kv_head and fix tp_resharding README (#3437)
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: documentation, module:tests, module:core

[Refactor] Adapt deepseek-v3.2 to vllm 0.11.0 (#3432)
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:quantization, module:core

[EPLB]Record expert map without dynamic eplb. (#3409)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:ops, module:quantization

[bugfix] fix pipeline parallel for mla & sfa attention backend (#3459)
  tests/e2e/multicard/test_pipeline_parallel.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
Labels: module:tests

Remove unused row_idx in token_dispatcher (#3442)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

Delete docs/source/tutorials/single_npu_qwen3_vl_8B.md
  docs/source/tutorials/single_npu_qwen3_vl_8B.md
Labels: documentation

[BugFix]GPQA Accuracy Issue Bugfix (#3476)
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

Accuracy testing of model Qwen3-VL-8B-Instruction
  .github/workflows/accuracy_test.yaml
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_qwen2.5_vl_7B.md
  docs/source/tutorials/single_npu_qwen3_vl_8B.md
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: documentation, module:tests

[BugFix]Move to_list in foward_v1 with FIA earlier to build (#3185)
  vllm_ascend/attention/attention_v1.py
Labels: none

[Doc] pin version that can stable running 310I Duo to vllm-ascend v0.10.0rc1 (#3455)
  docs/source/faqs.md
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Revert "[BUGFIX] Mtp torchair pd fix (#3449)" (#3500)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[Feat]Qwen3 Moe supports npu_add_rms_norm_quant op by default, update op with bias, resolve conflict with weight prefetch (#3465)
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/weight_prefetch.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[Doc] Clearer corresponding relationship between configurations for multi-node guides (#3441)
  docs/source/tutorials/multi-node_dsv3.2.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  docs/source/tutorials/multi_node_qwen3vl.md
Labels: documentation

[BugFix] fix qwenVL quant assertion error (#3466)
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization
