Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Add gsm8k accuracy test for multi-note Qwen3-235B-A22B (#4802)
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A3B.yaml
Labels: module:tests

Add gsm8k accuracy test for multi-note Qwen3-235B-A22B (#4802)
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A3B.yaml
Labels: module:tests

[bugfix] fix quant method validation bug (#4831)
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

[bugfix] fix quant method validation bug (#4831)
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

[bugfix] fix quant method validation bug (#4831)
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

[bugfix] fix quant method validation bug (#4831)
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

Recreate the communication group
  vllm_ascend/distributed/parallel_state.py
Labels: none

Fix FIA query and query_start_loc shape mismatch error
  vllm_ascend/attention/attention_v1.py
Labels: none

[Kernel] add custom op MatmulAllreduceAddRmsnorm (#4606)
  csrc/build_aclnn.sh
  csrc/matmul_allreduce_add_rmsnorm/op_host/CMakeLists.txt
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.h
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_def.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_proto.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_tiling.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_workspace.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aic_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aiv_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_tiling.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_utils.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_matmul_allreduce_add_rmsnorm.py
Labels: module:tests

[Kernel] add custom op MatmulAllreduceAddRmsnorm (#4606)
  csrc/build_aclnn.sh
  csrc/matmul_allreduce_add_rmsnorm/op_host/CMakeLists.txt
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.h
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_def.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_proto.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_tiling.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_workspace.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aic_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aiv_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_tiling.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_utils.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_matmul_allreduce_add_rmsnorm.py
Labels: module:tests

[Kernel] add custom op MatmulAllreduceAddRmsnorm (#4606)
  csrc/build_aclnn.sh
  csrc/matmul_allreduce_add_rmsnorm/op_host/CMakeLists.txt
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.h
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_def.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_proto.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_tiling.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_workspace.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aic_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aiv_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_tiling.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_utils.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_matmul_allreduce_add_rmsnorm.py
Labels: module:tests

[Kernel] add custom op MatmulAllreduceAddRmsnorm (#4606)
  csrc/build_aclnn.sh
  csrc/matmul_allreduce_add_rmsnorm/op_host/CMakeLists.txt
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.h
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_def.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_proto.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_tiling.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_workspace.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aic_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aiv_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_tiling.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_utils.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_matmul_allreduce_add_rmsnorm.py
Labels: module:tests

Bug Fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Nightly] Optimize nightly online test logger info (#4798)
  tests/e2e/conftest.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[Nightly] Optimize nightly online test logger info (#4798)
  tests/e2e/conftest.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[Nightly] Optimize nightly online test logger info (#4798)
  tests/e2e/conftest.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[Nightly] Optimize nightly online test logger info (#4798)
  tests/e2e/conftest.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

Support pooling models with aclgraph
  .github/workflows/_e2e_test.yaml
  docs/source/user_guide/support_matrix/supported_models.md
  tests/e2e/conftest.py
  tests/e2e/singlecard/pooling/__init__.py
  tests/e2e/singlecard/pooling/test_classification.py
  tests/e2e/singlecard/pooling/test_embedding.py
  tests/e2e/singlecard/pooling/test_scoring.py
  tests/e2e/singlecard/test_bge_model.py
  tests/e2e/singlecard/test_embedding_aclgraph.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_bert.py
  vllm_ascend/patch/worker/patch_roberta.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests

Add pooling attention branch
  .github/workflows/_e2e_test.yaml
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
Labels: none

Some fixes
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

Add assert info
  vllm_ascend/attention/attention_v1.py
Labels: none

fix pooling mask
  vllm_ascend/worker/model_runner_v1.py
Labels: none

remove issue link
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

reduce cudagraph_capture_sizes to speed up CI
  tests/e2e/singlecard/pooling/test_classification.py
  tests/e2e/singlecard/pooling/test_embedding.py
  tests/e2e/singlecard/pooling/test_scoring.py
Labels: module:tests

remove redundant code
  vllm_ascend/attention/attention_v1.py
Labels: none

add a lightly ci
  .github/workflows/_e2e_test.yaml
Labels: none

fix issue included by rebase
  vllm_ascend/attention/attention_v1.py
Labels: none

remove redundant code
  vllm_ascend/attention/attention_v1.py
Labels: none

fix rebase issue
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add xdrope embedding for vl model (e.g, HunYuan-vl)
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[refactor]refator model_register by moving to adaptor.
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/adaptor/deepseek_moe_adaptor.py
  vllm_ascend/eplb/adaptor/mtp_moe_adaptor.py
  vllm_ascend/eplb/adaptor/qwen_moe_adaptor.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Test if this specific test case is OK
  .github/workflows/_e2e_test.yaml
Labels: none

Fix mypy check error
  vllm_ascend/attention/attention_v1.py
Labels: none

fix(bug): add missing parameters after merging
  vllm_ascend/ops/fused_moe/moe_comm_method.py
Labels: module:ops

Fixed the performance degradation issue in post-processing when temperature > 0 and both top-p and top-k are not None in speculative decoding scenarios.
  vllm_ascend/sample/rejection_sampler.py
Labels: none

Remove redundant import
  vllm_ascend/sample/rejection_sampler.py
Labels: none

fix yapf
  vllm_ascend/sample/rejection_sampler.py
Labels: none

fix dtype error
  vllm_ascend/sample/rejection_sampler.py
Labels: none

Resolve related conflicts
  tests/ut/test_ascend_config.py
Labels: module:tests

fix(bug): add missing parameters after merging
  vllm_ascend/ops/fused_moe/moe_comm_method.py
Labels: module:ops

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
