Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[DOC] add LoRA user guide
  docs/source/index.md
Labels: documentation

fix log2phy
  vllm_ascend/eplb/tool/eplb_utils.py
Labels: none

fix rope bug
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

mv log2phy into eplb worker
  vllm_ascend/eplb/eplb_updator.py
Labels: none

[Bugfix] Remove cuda related lines and add additional pip mirror (#1252)
  .github/workflows/nightly_benchmarks.yaml
  vllm_ascend/device_allocator/camem.py
Labels: none

[Bugfix] Remove cuda related lines and add additional pip mirror (#1252)
  .github/workflows/nightly_benchmarks.yaml
  vllm_ascend/device_allocator/camem.py
Labels: none

[Bugfix] Remove cuda related lines and add additional pip mirror (#1252)
  .github/workflows/nightly_benchmarks.yaml
  vllm_ascend/device_allocator/camem.py
Labels: none

fix rope bug
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[Bugfix]: Pass scaling args to mc2 (#1202)
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Bugfix]: Pass scaling args to mc2 (#1202)
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Bugfix]: Pass scaling args to mc2 (#1202)
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

move eplb unit test to ut dir
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

[BugFix] fix length of sin/cos cache in rope (#1266)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[BugFix] fix length of sin/cos cache in rope (#1266)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[BugFix] fix length of sin/cos cache in rope (#1266)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[bugfix] fix deepseek with mc2
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[bugfix] fix deepseek with mc2
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

default 10 turns to wait worker finished
  vllm_ascend/eplb/eplb_updator.py
Labels: none

[bugfix] fix deepseek with mc2 (#1268)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[bugfix] fix deepseek with mc2 (#1268)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[bugfix] fix deepseek with mc2 (#1268)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix ut error: UT has no card available
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

[DOC] add LoRA user guide
  docs/source/user_guide/lora.md
Labels: documentation

fix ut error: requirements add pytest-mock
  docs/requirements-test.txt
  requirements-dev.txt
Labels: documentation

mock torch npu _lazy_init
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

update ACL_OP_INIT_MODE impl
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:core

fix bug in compose_expert_update_info_bipartite when adding node
  vllm_ascend/eplb/core/worker/eplb_worker.py
Labels: none

feat(quantization): add W4A8_DYNAMIC per-group quantization parameters and methods
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:quantization

mock torch npu _lazy_init
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

update
  vllm_ascend/platform.py
Labels: module:core

feat(quantization): adapt W4A8_DYNAMIC linear method
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

feat(quantization): add and adapt W4A8_DYNAMIC linear method
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

support fused_moe_allgather_ep
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

feat(quantization): fix lint
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:quantization

reformat
  examples/eplb/eplb_deepseek.py
  examples/eplb/eplb_strategy.py
Labels: none

support fused_moe_allgather_ep
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix: reformat requirements && comment
  examples/eplb/eplb_strategy.py
  requirements.txt
Labels: none

feat(quantization): fix lint
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

feat(quantization): fix lint
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:quantization

update w4a8 quantization
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:quantization
