Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix format
  vllm_ascend/attention/attention_v1.py
Labels: none

fix pre-commit
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

fix format
  vllm_ascend/attention/attention_v1.py
Labels: none

attention add sliding windows size
  vllm_ascend/attention/attention_v1.py
Labels: none

fix ut
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

bugfix: align hccl communication domain in all_to_all_single
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Bugfix] Fix the bug of cos invalid shape when dp (#2558)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[Bugfix] Fix the bug of cos invalid shape when dp (#2558)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[Bugfix] Fix the bug of cos invalid shape when dp (#2558)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[3/N][refactor] refactoer quantization (#2504)
  tests/ut/torchair/quantization/test_torchair_w4a8_dynamic.py
  tests/ut/torchair/quantization/test_torchair_w8a8_dynamic.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/quantization/__init__.py
  vllm_ascend/torchair/quantization/torchair_quantizer.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[3/N][refactor] refactoer quantization (#2504)
  tests/ut/torchair/quantization/test_torchair_w4a8_dynamic.py
  tests/ut/torchair/quantization/test_torchair_w8a8_dynamic.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/quantization/__init__.py
  vllm_ascend/torchair/quantization/torchair_quantizer.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[3/N][refactor] refactoer quantization (#2504)
  tests/ut/torchair/quantization/test_torchair_w4a8_dynamic.py
  tests/ut/torchair/quantization/test_torchair_w8a8_dynamic.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/quantization/__init__.py
  vllm_ascend/torchair/quantization/torchair_quantizer.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

refactor alltoallv in fused_moe
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization, module:core

fix bug
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

remove code in fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

remove code
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

adjust params
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

remove code in w4a8d
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:quantization

lint
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
Labels: module:ops, module:quantization

remove test_w8a8_dynamic.py
  tests/ut/quantization/test_w8a8_dynamic.py
Labels: module:tests

fix fused_ops ut
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

fix token_dispatcher ut
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

remove unused imports
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

fix linting
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

linting
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

linting
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

fix bug
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

try fixing ut
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

linting
  tests/e2e/singlecard/ops/test_fused_moe.py
Labels: module:tests

linting
  tests/e2e/singlecard/ops/test_fused_moe.py
Labels: module:tests

fix e2e
  tests/e2e/singlecard/ops/test_fused_moe.py
Labels: module:tests

Update test_deepseek_v2.py
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

Update test_fused_ops.py
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

Update test_token_dispatcher.py
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

Update test_deepseek_v2.py
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

Update test_token_dispatcher.py
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

Update test_deepseek_v2.py
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

[CI] Fix UT failure (#2563)
  tests/ut/core/test_scheduler.py
Labels: module:tests

[CI] Fix UT failure (#2563)
  tests/ut/core/test_scheduler.py
Labels: module:tests

[CI] Fix UT failure (#2563)
  tests/ut/core/test_scheduler.py
Labels: module:tests
