Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Quantization] Fix AWQ supported dtypes, add BF16.
  vllm_ascend/quantization/awq/awq.py
Labels: module:quantization

[Quantization] Remove unused import.
  vllm_ascend/quantization/awq/awq.py
Labels: module:quantization

[Quantization] Fix AWQ FusedMoE layer skipping, for some models like DeepSeek-V3.1-AWQ.
  vllm_ascend/quantization/awq/awq.py
Labels: module:quantization

doc rename
  docs/source/tutorials/Qwen-VL(Dense).md
  docs/source/tutorials/index.md
Labels: documentation

fia pa
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Fix UT test and add AWQ model CI.
  tests/e2e/singlecard/test_quantization.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/test_platform.py
Labels: module:tests

Fix lint check issue.
  tests/e2e/singlecard/test_quantization.py
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/awq/awq.py
Labels: module:tests, module:quantization, module:core

Add AWQ quantization UT testcase.
  tests/ut/quantization/test_awq.py
Labels: module:tests

ad ut and e2e test for w8a16 quantization
  tests/e2e/singlecard/test_quantization.py
  tests/ut/quantization/test_w8a16.py
Labels: module:tests

support w8a16 linear method
  vllm_ascend/quantization/utils.py
  vllm_ascend/quantization/w8a16.py
Labels: module:quantization

rm vanilla attn
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/attention.py
Labels: module:tests, module:ops

[Bugfix] EPLB verify
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[Bugfix]Fix the Eagle3 inference failure issue.
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Optimize quant_config testcase.
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

[Bugfix] Fix the Eagle3 inference failure issue
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Support PanguUltraMoE
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_openpangu.py
  vllm_ascend/torchair/models/torchair_openpangu_mtp.py
  vllm_ascend/torchair/torchair_mtp_proposer.py
  vllm_ascend/torchair/utils.py
Labels: module:quantization

adapted to updated vllm-ascend
  tests/ut/quantization/test_w8a16.py
  vllm_ascend/quantization/w8a16.py
Labels: module:tests, module:quantization

fix
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

fix lint
  tests/e2e/nightly/ops/triton/test_rope.py
  vllm_ascend/ops/triton/rope.py
Labels: module:tests, module:ops

rename test function
  tests/e2e/nightly/ops/triton/test_rope.py
Labels: module:tests

[Bugfix] EPLB verfiy
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

deepseekv3.1 tutorial
  docs/source/tutorials/DeepSeek-V3.1.md
  docs/source/tutorials/index.md
Labels: documentation

cc
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

cc
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[Doc] Add single NPU tutorial for Qwen2.5-Omni-7B (#4446)
  docs/source/tutorials/Qwen2.5-Omni.md
  docs/source/tutorials/index.md
Labels: documentation

[Doc] Add single NPU tutorial for Qwen2.5-Omni-7B (#4446)
  docs/source/tutorials/Qwen2.5-Omni.md
  docs/source/tutorials/index.md
Labels: documentation

[Doc] Add single NPU tutorial for Qwen2.5-Omni-7B (#4446)
  docs/source/tutorials/Qwen2.5-Omni.md
  docs/source/tutorials/index.md
Labels: documentation

[Doc] Add single NPU tutorial for Qwen2.5-Omni-7B (#4446)
  docs/source/tutorials/Qwen2.5-Omni.md
  docs/source/tutorials/index.md
Labels: documentation

fix lint
  tests/ut/quantization/test_w8a16.py
  vllm_ascend/quantization/w8a16.py
Labels: module:tests, module:quantization

Fix AWQ moe exception after upgrade.
  vllm_ascend/quantization/awq/awq.py
Labels: module:quantization

cc
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

cc
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

check kv extra config
  vllm_ascend/ascend_config.py
Labels: module:core

rebase main
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

[bugfix] Repair the problem of moe model accuracy caused by version upgrade.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

skip qwen3-next + mtp test
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[bugfix] Repair the problem of moe model accuracy caused by version upgrade.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

fix lint
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:core

[bugfix] Repair the problem of moe model accuracy caused by version upgrade.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

Fix lint check issue.
  tests/ut/test_platform.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
