Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

update
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

Add test for outlines backend for structured output
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

adjust code format
  tests/e2e/singlecard/test_offline_inference.py
Labels: module:tests

fix
  tests/e2e/models/report_template.md
Labels: documentation, module:tests

fix
  tests/e2e/models/report_template.md
  tests/e2e/models/test_lm_eval_correctness.py
Labels: documentation, module:tests

fix
  tests/e2e/models/report_template.md
Labels: documentation, module:tests

fix
  tests/e2e/models/report_template.md
  tests/e2e/models/test_lm_eval_correctness.py
Labels: documentation, module:tests

Accuracy report formatting
  tests/e2e/models/report_template.md
  tests/e2e/models/test_lm_eval_correctness.py
Labels: documentation, module:tests

fix
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
Labels: module:tests

fix
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
Labels: module:tests

[Doc] Add release note for `v0.9.1rc3` (#2488)
  docs/source/user_guide/release_notes.md
Labels: documentation

[Doc] Add release note for `v0.9.1rc3` (#2488)
  docs/source/user_guide/release_notes.md
Labels: documentation

[Doc] Add release note for `v0.9.1rc3` (#2488)
  docs/source/user_guide/release_notes.md
Labels: documentation

Enable SP for DeepSeekV2 MLA
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/mla_sp_context.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/shard.py
Labels: module:ops, module:core

fix judgment in self.oproj in deepseek
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/linear.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: module:tests, module:ops

optimize dp allreduce
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Update FAQ
  docs/source/faqs.md
Labels: documentation

fix_A3_ACLgraph_sizes_capture_bug_and_add_new_ut
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

Refactor AscendAttentionMetadataBuilder for better extensibility and make the builder class of torchair extend from it
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

修改torchair qwen3 moe 注册
  vllm_ascend/torchair/utils.py
Labels: none

[Qwen-moe] Remove the minor operation arange
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[Bugfix] Fix the bug of incorrect precision (#2479)
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

[Bugfix] Fix the bug of incorrect precision (#2479)
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

[Bugfix] Fix the bug of incorrect precision (#2479)
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

feat: add mtp ut and fix some bugs (#2453)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization

feat: add mtp ut and fix some bugs (#2453)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization

feat: add mtp ut and fix some bugs (#2453)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization

test
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[CustomOp] Register RotaryEmbedding instead of overwrite forward
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/test_utils.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

test
  .github/workflows/vllm_ascend_test.yaml
Labels: none

test
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  tests/ut/test_utils.py
Labels: module:tests

fix
  tests/ut/ops/test_rotary_embedding.py
Labels: module:tests

fix
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

fix
  tests/ut/test_utils.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

update
  docs/source/faqs.md
Labels: documentation

Refactor AscendAttentionTorchairBackendImpl
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

add logger.warning to avoid possible oom conditions
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add logger.warning to avoid possible oom conditions
  vllm_ascend/worker/model_runner_v1.py
Labels: none
