Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix
  tests/ut/models/test_mla.py
Labels: module:tests

fix
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

test ut fixup
  tests/ut/torchair/test_torchair_model_runner.py
Labels: module:tests

ut test
  tests/ut/torchair/test_torchair_model_runner.py
Labels: module:tests

update fault_tolerance and recovery_chain
  vllm_ascend/worker/common.py
  vllm_ascend/worker/fault_tolerance.py
  vllm_ascend/worker/recovery_chain.py
  vllm_ascend/worker/recovery_context.py
Labels: none

[Test] quick fix mla ut (#4318)
  tests/ut/models/test_mla.py
Labels: module:tests

[Test] quick fix mla ut (#4318)
  tests/ut/models/test_mla.py
Labels: module:tests

[Test] quick fix mla ut (#4318)
  tests/ut/models/test_mla.py
Labels: module:tests

[Test] quick fix mla ut (#4318)
  tests/ut/models/test_mla.py
Labels: module:tests

update fault_tolerance and recovery_chain
  vllm_ascend/worker/fault_tolerance.py
  vllm_ascend/worker/memory_block_info.py
Labels: none

[BugFix][CI]Fix test bugs and CI rebuild
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/ops/linear.py
Labels: module:tests, module:ops

[Test] Add ACL graph capture/replay DP test (#4259)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_aclgraph_capture_replay.py
Labels: module:tests

[Test] Add ACL graph capture/replay DP test (#4259)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_aclgraph_capture_replay.py
Labels: module:tests

[Test] Add ACL graph capture/replay DP test (#4259)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_aclgraph_capture_replay.py
Labels: module:tests

[Test] Add ACL graph capture/replay DP test (#4259)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_aclgraph_capture_replay.py
Labels: module:tests

[temp] add profile
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_ffn_model_runner_v1.py
Labels: none

Add error log for VL models when enabling FLASHCOMM
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

fix
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

fix
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

modify openEuler's error
  Dockerfile.openEuler
Labels: none

add aclgraph support bert model
  docs/source/tutorials/qwen3_embedding.md
  docs/source/tutorials/qwen3_reranker.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

add aclgraph support bert model
  docs/source/tutorials/qwen3_embedding.md
  docs/source/tutorials/qwen3_reranker.md
Labels: documentation

[Feat][BugFix]Support the Qwen3-Next-80B-A3B-Instruct quantization model&Fix the NZ issue (#4245)
  tests/e2e/multicard/test_qwen3_next.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/test_utils.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[Feat][BugFix]Support the Qwen3-Next-80B-A3B-Instruct quantization model&Fix the NZ issue (#4245)
  tests/e2e/multicard/test_qwen3_next.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/test_utils.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[Feat][BugFix]Support the Qwen3-Next-80B-A3B-Instruct quantization model&Fix the NZ issue (#4245)
  tests/e2e/multicard/test_qwen3_next.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/test_utils.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[Feat][BugFix]Support the Qwen3-Next-80B-A3B-Instruct quantization model&Fix the NZ issue (#4245)
  tests/e2e/multicard/test_qwen3_next.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/test_utils.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

glm4.5 support mtp with piecewise graph
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix device sync
  vllm_ascend/attention/attention_v1.py
Labels: none

update fault_tolerance and recovery_chain
  vllm_ascend/worker/fault_tolerance.py
  vllm_ascend/worker/recovery_chain.py
  vllm_ascend/worker/recovery_context.py
Labels: none

bugfix for PD disaggregate
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Remove unnecessary NPU synchronization in MTP proposer to improve performances.
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

support triton chunk_gated_delta_rule ops
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_chunk_gated_delta_rule.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/fla/__init__.py
  vllm_ascend/ops/fla/triton/__init__.py
  vllm_ascend/ops/fla/triton/chunk.py
  vllm_ascend/ops/fla/triton/chunk_delta_h.py
  vllm_ascend/ops/fla/triton/chunk_o.py
  vllm_ascend/ops/fla/triton/chunk_scaled_dot_kkt.py
  vllm_ascend/ops/fla/triton/cumsum.py
  vllm_ascend/ops/fla/triton/layernorm_guard.py
  vllm_ascend/ops/fla/triton/sigmoid_gating.py
  vllm_ascend/ops/fla/triton/solve_tril.py
  vllm_ascend/ops/fla/triton/utils.py
  vllm_ascend/ops/fla/triton/wy_fast.py
  vllm_ascend/ops/mamba/__init__.py
  vllm_ascend/ops/mamba/triton/__init__.py
  vllm_ascend/ops/mamba/triton/casual_conv1d.py
  vllm_ascend/patch/worker/patch_triton.py
Labels: module:tests, module:ops

code check
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

[Refactor] remove multicast and move FusedMoEState to torchair's dirs.
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

code check
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

fix ut
  tests/ut/kv_connector/test_mooncake_connector.py
Labels: module:tests

add README for models dir
  vllm_ascend/models/README.md
Labels: documentation

add error log for VL models when enabling FLASHCOMM
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

eplb redundant expert bugfix (#4291)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/ops/test_expert_load_balancer.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: documentation, module:tests, module:ops, module:quantization

eplb redundant expert bugfix (#4291)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/ops/test_expert_load_balancer.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: documentation, module:tests, module:ops, module:quantization
