Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

modify
  docs/source/tutorials/Qwen3-VL-8B.md
Labels: documentation

add doc
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_qwen3_vl.md
Labels: documentation

modify(2)
  docs/source/tutorials/single_npu_qwen3_vl.md
Labels: documentation

modify doc(1)
  docs/source/tutorials/single_npu_qwen3_vl.md
Labels: documentation

modify doc(3)
  docs/source/tutorials/Qwen3-VL-8B.md
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_qwen2.5_vl.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

modify doc(4)
  docs/source/tutorials/Qwen3-VL-8B.md
Labels: documentation

modify
  docs/source/tutorials/Qwen-VL-Dense.md
Labels: documentation

doc rename
  docs/source/tutorials/Qwen-VL(Dense).md
  docs/source/tutorials/index.md
Labels: documentation

add qwen2.5-vl-dense models
  docs/source/tutorials/Qwen-VL-Dense.md
Labels: documentation

add the entry --tensor_parallel_size
  docs/source/tutorials/Qwen3-VL-8B.md
Labels: documentation

fix ld path
  .github/workflows/vllm_ascend_test_pr_light.yaml
Labels: none

update index.md
  docs/source/tutorials/Qwen3-235B-A22B.md
Labels: documentation

correct vllm tag
  Dockerfile.openEuler
Labels: none

[Bugifx] fix quant_apply_mlp w1_scale type error & fix getting num_local_expert (#4632)
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

[Bugifx] fix quant_apply_mlp w1_scale type error & fix getting num_local_expert (#4632)
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

[Bugifx] fix quant_apply_mlp w1_scale type error & fix getting num_local_expert (#4632)
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

[Bugifx] fix quant_apply_mlp w1_scale type error & fix getting num_local_expert (#4632)
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

modify
  docs/source/tutorials/Qwen-VL-Dense.md
Labels: documentation

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

fix clean code question
  vllm_ascend/platform.py
Labels: module:core

[feature] support pcp + mtp in full graph
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ut no space
  .github/workflows/vllm_ascend_test_pr_light.yaml
Labels: none

[P/D][main] Clean connector history information (#4650)
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:core

[P/D][main] Clean connector history information (#4650)
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:core

[P/D][main] Clean connector history information (#4650)
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:core

[P/D][main] Clean connector history information (#4650)
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:core

[fix] add patch for QWen3-Next
  vllm_ascend/ops/triton/fla/layernorm_guard.py
  vllm_ascend/patch/worker/patch_triton.py
Labels: module:ops

format code
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

add qwen3_next ops: fused_qkvzba_split_reshape and rope_forward_triton
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_qwen3_next.py
Labels: module:ops

add qwen3_next ops: fused_qkvzba_split_reshape and rope_forward_triton
  vllm_ascend/ops/triton/fla/fused_qkvzba_split_reshape.py
Labels: module:ops

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

rm vanilla attn
  vllm_ascend/ops/attention.py
Labels: module:ops

add two file
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: none

add two file
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: none

fix
  .github/workflows/vllm_ascend_test_pr_light.yaml
Labels: none

Refactor ACL graph size adjustment for speculative decoding
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core
