Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

delete a blank
  vllm_ascend/attention/mla_v1.py
Labels: none

fix accuracy
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Enable label-based image test and use free runner to run lint (#2864)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: ci/build

Enable label-based image test and use free runner to run lint (#2864)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: ci/build

Enable label-based image test and use free runner to run lint (#2864)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: ci/build

support kv cache cpu offload with connector
  tests/ut/attention/test_mla_v1.py
  tests/ut/distributed/cpu_offload/test_cpu_offload_connector.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/worker/cpu_kv_cache_manager.py
  vllm_ascend/worker/metadata.py
Labels: module:tests

fix lint
  tests/ut/distributed/cpu_offload/test_cpu_offload_connector.py
  vllm_ascend/models/layers/mla.py
Labels: module:tests

[Feat] support return dumped blocks id for connector
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Fix: Prevent permanent corruption of target_probs in N-gram sampler
  vllm_ascend/sample/rejection_sampler.py
Labels: none

fix mooncake connector adxl hostname usage
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

update sin cos shape
  vllm_ascend/attention/mla_v1.py
Labels: none

[main][bugfix] fix bug in register_custom_ops without forward_context
  vllm_ascend/envs.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops, module:core

fix test_cpu_offload_connector.py error
  tests/ut/distributed/cpu_offload/test_cpu_offload_connector.py
Labels: module:tests

fix test_cpu_offload_connector.py lint
  tests/ut/distributed/cpu_offload/test_cpu_offload_connector.py
Labels: module:tests

Update torchair_w8a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

add code in select_experts
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:ops

Fix the bugs about operator registration about PyTorch Dispatcher
  benchmarks/ops/ben_vocabparallelembedding.py
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
  tests/e2e/singlecard/ops/test_rotary_embedding.py
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/lora/lora_ops.py
  vllm_ascend/meta_registration.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

Fix VocabParallelEmbedding ut
  tests/ut/ops/test_vocab_parallel_embedding.py
Labels: module:tests

ignore platform ut
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  tests/ut/ops/test_vocab_parallel_embedding.py
Labels: module:tests

recover test
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  tests/ut/ops/test_common_fused_moe.py
Labels: module:tests

fix
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:ops

fix
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

fix
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

Register AscendUnquantizedFusedMoEMethod instead of overwrite forward_oot
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

fix
  tests/ut/ops/test_common_fused_moe.py
Labels: module:tests

fix
  tests/ut/ops/test_common_fused_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops

resolve conflicts
  vllm_ascend/utils.py
Labels: module:core

fix proxy for non-layerwise
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

add ut
  tests/ut/kv_connector/test_mooncake_connector.py
Labels: module:tests

[Misc] Add a model loader that utilizes HCCL for weight loading
  setup.py
  tests/e2e/multicard/test_netloader_elastic_load.py
  tests/ut/model_loader/netloader/test_netloader.py
  tests/ut/model_loader/netloader/test_netloader_elastic.py
  tests/ut/model_loader/netloader/test_netloader_load.py
  tests/ut/model_loader/netloader/test_netloader_utils.py
  vllm_ascend/model_loader/__init__.py
  vllm_ascend/model_loader/netloader/__init__.py
  vllm_ascend/model_loader/netloader/executor/__init__.py
  vllm_ascend/model_loader/netloader/executor/elastic_load.py
  vllm_ascend/model_loader/netloader/interaction/__init__.py
  vllm_ascend/model_loader/netloader/interaction/elastic.py
  vllm_ascend/model_loader/netloader/load.py
  vllm_ascend/model_loader/netloader/netloader.py
  vllm_ascend/model_loader/netloader/utils.py
Labels: module:tests

fix rebase imported error
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
