Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

perf: use multicast to avoid padding decode request to prefill size (#1555)
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

feat: add kv cache memory cache and skip dynamo guard (#1549)
  tests/ut/test_utils.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

feat: add kv cache memory cache and skip dynamo guard (#1549)
  tests/ut/test_utils.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

feat: add kv cache memory cache and skip dynamo guard (#1549)
  tests/ut/test_utils.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

remove repeat init
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

Upgrade vLLM to v0.9.2
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/user_guide/graph_mode.md
Labels: documentation

[CI/Build] Upgrade CANN to 8.2.RC1.alpha003
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
Labels: documentation

add rank log
  vllm_ascend/distributed/parallel_state.py
Labels: none

add uts for multistream
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

add uts for multistream
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

add mc2 mask
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

add uts for multistream
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

add uts for multistream
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  examples/run_dp_attention_etp16.sh
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/models/deepseek_v2.py
Labels: none

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

update rank log
  vllm_ascend/distributed/parallel_state.py
Labels: none

Upgrade vLLM version to v0.9.2 (#1652)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/user_guide/graph_mode.md
Labels: documentation

Upgrade vLLM version to v0.9.2 (#1652)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/user_guide/graph_mode.md
Labels: documentation

Upgrade vLLM version to v0.9.2 (#1652)
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/user_guide/graph_mode.md
Labels: documentation

[Misc] Code clean up
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

add uts for multistream
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

update
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: none

update
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: none

remove v0 spec decode ci
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/e2e/long_term/spec_decode_v0/__init__.py
  tests/e2e/long_term/spec_decode_v0/conftest.py
  tests/e2e/long_term/spec_decode_v0/e2e/__init__.py
  tests/e2e/long_term/spec_decode_v0/e2e/conftest.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_eagle_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_medusa_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_mlp_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_mtp_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_ngram_correctness.py
  tests/e2e/long_term/spec_decode_v0/test_dynamic_spec_decode.py
  tests/e2e/long_term/spec_decode_v0/test_multi_step_worker.py
  tests/e2e/long_term/spec_decode_v0/test_ngram_worker.py
  tests/e2e/long_term/spec_decode_v0/test_spec_decode_worker.py
  tests/e2e/long_term/spec_decode_v0/test_utils.py
  tests/e2e/long_term/spec_decode_v0/utils.py
Labels: module:tests

add uts for multistream
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

static EPLB fix bug, add unit test
  tests/ut/ops/test_expert_load_balancer.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

remove cpu all_reduce in disaggregated-prefill scenario
  vllm_ascend/worker/model_runner_v1.py
Labels: none

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[feat] 添加静态共享专家外置特性
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization, module:core

rm VLLM_ASCEND_SHARED_ROUTER_ALL_REDUCE_MERGE
  examples/run_dp_attention_etp16.sh
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

rm VLLM_ASCEND_SHARED_ROUTER_ALL_REDUCE_MERGE
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

update
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: none

[BUGFIX] FIX mtp accuraccy when temperture is not 0
  tests/long_term/spec_decode_v1/test_v1_mtp_correctness.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/sample/rejection_sampler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

add mc2 mask
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

add mc2 mask
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add mc2 mask
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

upgrade ci npu to 64g per chip
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  benchmarks/scripts/run_accuracy.py
Labels: none
