Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

revert TND modify when dcp pcp (#3948)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

revert TND modify when dcp pcp (#3948)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

revert TND modify when dcp pcp (#3948)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

revert TND modify when dcp pcp (#3948)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

delete tmp var
  vllm_ascend/ops/fused_moe/moe_mlp.py
Labels: module:ops

[ci]fix pre commit.
  docs/source/developer_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

Quality enhancement: Immediately interrupt execution when memory OOM (#3932)
  csrc/camem_allocator.cpp
Labels: none

Quality enhancement: Immediately interrupt execution when memory OOM (#3932)
  csrc/camem_allocator.cpp
Labels: none

Quality enhancement: Immediately interrupt execution when memory OOM (#3932)
  csrc/camem_allocator.cpp
Labels: none

Quality enhancement: Immediately interrupt execution when memory OOM (#3932)
  csrc/camem_allocator.cpp
Labels: none

[Doc]Change eplb.png to asserts.
  docs/source/assets/eplb.png
  docs/source/developer_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

[ci]fix pre commit.
  docs/source/developer_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

[MM][Bugfix] Add MoE verification for multi-modal models (#3897)
  vllm_ascend/utils.py
Labels: module:core

[MM][Bugfix] Add MoE verification for multi-modal models (#3897)
  vllm_ascend/utils.py
Labels: module:core

[MM][Bugfix] Add MoE verification for multi-modal models (#3897)
  vllm_ascend/utils.py
Labels: module:core

[MM][Bugfix] Add MoE verification for multi-modal models (#3897)
  vllm_ascend/utils.py
Labels: module:core

[Test] Add accuracy test for qwen3-8b-w8a8 (#3799)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Qwen3-8B-W8A8.yaml
  tests/e2e/models/test_lm_eval_correctness.py
Labels: module:tests

[Test] Add accuracy test for qwen3-8b-w8a8 (#3799)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Qwen3-8B-W8A8.yaml
  tests/e2e/models/test_lm_eval_correctness.py
Labels: module:tests

[Test] Add accuracy test for qwen3-8b-w8a8 (#3799)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Qwen3-8B-W8A8.yaml
  tests/e2e/models/test_lm_eval_correctness.py
Labels: module:tests

[Test] Add accuracy test for qwen3-8b-w8a8 (#3799)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Qwen3-8B-W8A8.yaml
  tests/e2e/models/test_lm_eval_correctness.py
Labels: module:tests

Directly pass in quant_type instead of is_dynamic_w8a8
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
Labels: module:ops

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/Meta-Llama-3.1-8B-Instruct.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/Qwen2.5-Omni-7B.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

modify acc models
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/Qwen2.5-VL-7B-Instruct.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-8B-Base.yaml
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
Labels: module:tests

modify acc models
  .github/workflows/accuracy_test.yaml
Labels: none

rename dsa_k_cache
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add FULL graph.
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_full_graph_mode.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

support full
  vllm_ascend/attention/attention_v1.py
Labels: none

update
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

add full graph for mm
  tests/e2e/nightly/models/test_qwen2_5_vl_32b.py
  tests/e2e/nightly/models/test_qwen2_5_vl_7b.py
Labels: module:tests

fix UT
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
Labels: module:ops

[BugFix] Fix deepseek v3.2 mtp bug. (#3900)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[BugFix] Fix deepseek v3.2 mtp bug. (#3900)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[BugFix] Fix deepseek v3.2 mtp bug. (#3900)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[BugFix] Fix deepseek v3.2 mtp bug. (#3900)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[main] flashcomm_v2 optim solution == refactor to decouple fc1 and fc2 Signed-off-by: Levi-JQ <yujinqi2@huawei.com>
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/distributed/test_parallel_state.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/envs.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:quantization, module:core

[Test]Add accuracy test for multiple models (#3823)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Meta-Llama-3.1-8B-Instruct.yaml
  tests/e2e/models/configs/Qwen2.5-Omni-7B.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[Test]Add accuracy test for multiple models (#3823)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Meta-Llama-3.1-8B-Instruct.yaml
  tests/e2e/models/configs/Qwen2.5-Omni-7B.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[Test]Add accuracy test for multiple models (#3823)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Meta-Llama-3.1-8B-Instruct.yaml
  tests/e2e/models/configs/Qwen2.5-Omni-7B.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[Test]Add accuracy test for multiple models (#3823)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Meta-Llama-3.1-8B-Instruct.yaml
  tests/e2e/models/configs/Qwen2.5-Omni-7B.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests
