Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

add a2
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
Labels: module:tests

fix eagle
  vllm_ascend/sample/rejection_sampler.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

fix host
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

test ge
  .github/workflows/_e2e_test.yaml
Labels: none

[long_seq_optim]BSND to TND and FA_UPDATE replacement
  vllm_ascend/attention/attention_v1.py
Labels: none

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-8B-Base.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Meta_Llama_3.1_8B_Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

support prefill cache mode use fia op (#3696)
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support prefill cache mode use fia op (#3696)
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support prefill cache mode use fia op (#3696)
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support prefill cache mode use fia op (#3696)
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

modify value
  tests/e2e/models/configs/Meta_Llama_3.1_8B_Instruct.yaml
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Phi-4-mini-instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

test ge
  .github/workflows/_e2e_test.yaml
Labels: none

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

bugfix for weight load of kimi-k2
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

fix
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

fix
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

fix aclgraph
  vllm_ascend/utils.py
Labels: module:core

[Doc] Update FAQ (#3792)
  docs/source/faqs.md
Labels: documentation

[Doc] Update FAQ (#3792)
  docs/source/faqs.md
Labels: documentation

[Doc] Update FAQ (#3792)
  docs/source/faqs.md
Labels: documentation

[Doc] Update FAQ (#3792)
  docs/source/faqs.md
Labels: documentation

skip test_embedding_aclgraph test
  .github/workflows/_e2e_test.yaml
Labels: none

[Build] Force torch version
  CMakeLists.txt
  README.md
  README.zh.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  pyproject.toml
  requirements.txt
Labels: documentation

fix lint
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[fix] fix m2n afdconnector data
  vllm_ascend/distributed/M2NAFDConnector.py
Labels: none

test ge
  .github/workflows/vllm_ascend_dist.yaml
Labels: none

【Bugfix】bugfix for weight load of kimi-k2 (#3798)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

【Bugfix】bugfix for weight load of kimi-k2 (#3798)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

【Bugfix】bugfix for weight load of kimi-k2 (#3798)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

【Bugfix】bugfix for weight load of kimi-k2 (#3798)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

tiny fix
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

ge test
  .github/workflows/_e2e_test.yaml
Labels: none

add_log_in_mtp_fullgraph
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add A2 multi_node test
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeep-R1-W8A8-A2.yaml
Labels: module:tests

[TEST]Add 2P1D multi node cases for nightly test (#3764)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/models/GLM-4_5.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A3B.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-W8A8.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/scripts/run.sh
  tests/e2e/nightly/multi_node/test_multi_node.py
  tools/aisbench.py
Labels: module:tests, module:tools

[TEST]Add 2P1D multi node cases for nightly test (#3764)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/models/GLM-4_5.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A3B.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-W8A8.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/scripts/run.sh
  tests/e2e/nightly/multi_node/test_multi_node.py
  tools/aisbench.py
Labels: module:tests, module:tools

[TEST]Add 2P1D multi node cases for nightly test (#3764)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/models/GLM-4_5.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A3B.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-W8A8.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/scripts/run.sh
  tests/e2e/nightly/multi_node/test_multi_node.py
  tools/aisbench.py
Labels: module:tests, module:tools
