Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Update structured output config
  tests/e2e/singlecard/test_guided_decoding.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

splitting MTP into graph mode and non-graph mode
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/mtp_torchair_proposer.py
Labels: none

splitting MTP into graph mode and non-graph mode
  vllm_ascend/torchair/mtp_torchair_proposer.py
Labels: none

fix lint
  vllm_ascend/worker/model_runner_v1.py
Labels: none

splitting MTP into graph mode and non-graph mode
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  vllm_ascend/patch/worker/patch_common/__init__.py
Labels: none

Register AscendSharedFusedMoE custom op
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:core

update
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

Resolve formatting issues
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Resolve formatting issues
  vllm_ascend/torchair/mtp_torchair_proposer.py
Labels: none

fix error when run ut for test_call_capture_graph_first_time
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

fix error when run ut for test_call_capture_graph_first_time
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

Resolve formatting issues
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

Supprot W8A8_dynamic on Step3 Model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/step3_text.py
Labels: none

fix error when run ut for test_acl_graph
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

Support W8A8_dynamic on Step3 Model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/step3_text.py
Labels: none

fix error when run ut for test_acl_graph
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

[FEAT] Resolve Conflicts
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: none

[Doc] new ascend_scheduler_config
  docs/source/user_guide/configuration/additional_config.md
Labels: documentation

[CI] Add some compatibility code to pass CI
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: none

[FIX] assert -> raise ValueError
  vllm_ascend/core/schedule_config.py
Labels: none

[Fix] fix some error
  docs/source/user_guide/configuration/additional_config.md
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: documentation

[CI] Resolve Conflict
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

[LINT] pre-commit lint
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/schedule_config.py
Labels: module:tests

fix error when run ut for test_acl_graph
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

fix errror when pre-commit
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

fix errror when pre-commit
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

fix error when run ut for test_acl_graph
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

Resolve formatting issues
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/mtp_torchair_proposer.py
Labels: none

Add support for qwen3_vl and qwen3_vl_moe
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen3_vl.py
  vllm_ascend/models/qwen3_vl_moe.py
Labels: none

fix
  vllm_ascend/models/qwen3_next.py
Labels: none

Increase doctest timeout to 300s and time print
  tests/e2e/common.sh
  tests/e2e/doctests/001-quickstart-test.sh
  tests/e2e/doctests/002-pip-binary-installation-test.sh
  tests/e2e/run_doctests.sh
Labels: module:tests

Add support for qwen3_vl and qwen3_vl_moe
  vllm_ascend/models/qwen3_vl_moe.py
Labels: none

Add support for qwen3_vl and qwen3_vl_moe
  vllm_ascend/models/__init__.py
Labels: none

flashlb added
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

test_pd_connector
  tests/e2e/multi_node/config/config.json
  tests/e2e/multi_node/scripts/run.sh
Labels: module:tests

[Bugfix][LoRA] Fix LoRA issue after Qwen3-Next adaptation
  .github/workflows/vllm_ascend_test_full.yaml
  vllm_ascend/lora/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[CustomOp] Register AscendSharedFusedMoE custom op (#2980)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[CustomOp] Register AscendSharedFusedMoE custom op (#2980)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[CustomOp] Register AscendSharedFusedMoE custom op (#2980)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
