Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

Update vllm_ascend/eplb/core/policy/policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

[Bugfix] Fix async copy bug under single expert scenario (#3005)
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:ops

[Test]Add unit test for compilation/acl_graph.py (#3039)
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

warm up adjustion
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

[3/N][Refactor][Quantization]remove packed_modules_mapping from models (#3021)
  tests/ut/models/test_qwen3_moe.py
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

[Bugfix] Remove `VLLM_TEST_DYNAMO_FULLGRAPH_CAPTURE` (#2969)
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[CI] Upgrade vLLM to 20250919 (6d8246aa) and fix some broken issue (#2907)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:quantization, module:core

[CustomOp] Register AscendSharedFusedMoE custom op (#2980)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[bugfix][torchair] fix wasted NPU memory buffer allocation for quantized deepseek with unquantized MTP layer (#3068)
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

Increase doctest timeout to 300s and time print (#3041)
  tests/e2e/common.sh
  tests/e2e/doctests/001-quickstart-test.sh
  tests/e2e/doctests/002-pip-binary-installation-test.sh
  tests/e2e/run_doctests.sh
Labels: module:tests

[Hybrid KV] Follow up UniformTypeKVCacheSpecs (#3070)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

Refactor ci to reuse base workflow and re-enable ut coverage (#3064)
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

[Feat][Graph] Support `FULL_DECODE_ONLY` mode for GQA/MHA models (#2128)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[TEST] Speed up DS V2 accuracy test and turn up accuracy baseline (#3047)
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
Labels: module:tests

[CI] Upgrade vLLM to 20250920 (c60e613) and address config break (#3067)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests

[Test] Update the format of the accuracy report (#3081)
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Qwen2.5-VL-7B-Instruct.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-8B-Base.yaml
  tests/e2e/models/configs/accuracy.txt
  tests/e2e/models/report_template.md
  tests/e2e/models/test_lm_eval_correctness.py
Labels: documentation, module:tests

[Perf] Add new npu_fused_infer_attention_score op to improve perfomance in splitfuse cases and resolve long-seq mask problems (#2962)
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fixbug] Fix shape not match when sliding_window and dynamic batch_size (#2830)
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

[1/N][Refactor][Qwen3-Next] remove redundant Qwen3NextSparseMoeBlock and Qwen3NextAttention (#3019)
  vllm_ascend/models/qwen3_next.py
Labels: none

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

[CI] Enable main based lint check and light ci matrix (#3079)
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build

[main] remove the redundant log prints in register_custom_ops.py (#3094)
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

Update policy_flashlb.py
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

add ut and e2e
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/torchair/quantization/test_torchair_w4a8_dynamic.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
Labels: module:tests, module:quantization

GLM4.5 support gatingtopk and refactor gatingtopk
  vllm_ascend/ops/moe/experts_selector.py
Labels: module:ops

Update policy_flashlb.py: format fix
  vllm_ascend/eplb/core/policy/policy_flashlb.py
Labels: none

[Refactor] Adjustments to moe_comm_method selection process (#3001)
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

Fix of DeepSeek Error in KV Pool Mixed Deployment Scenario (#3087)
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation

fix
  vllm_ascend/patch/worker/patch_common/patch_triton.py
Labels: none

[ModelRunner][Refactor] Refactor kv cache tensor initialization logic
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Add support for qwen3_vl and qwen3_vl_moe
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: none

fix VLLM_ASCEND_LLMDD_RPC_PORT
  examples/offline_disaggregated_prefill_npu.py
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
Labels: module:tests

[CI] Update vllm version to 20250922(5aeb925) (#3091)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  docs/source/developer_guide/modeling/adding_a_new_model.md
  tests/e2e/model_utils.py
  tests/ut/core/test_schedule_config.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/deepseek_v3.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops, module:core

[CI] Update vllm version to 20250922(5aeb925) (#3091)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  docs/source/developer_guide/modeling/adding_a_new_model.md
  tests/e2e/model_utils.py
  tests/ut/core/test_schedule_config.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/deepseek_v3.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops, module:core

[CI] Update vllm version to 20250922(5aeb925) (#3091)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  docs/source/developer_guide/modeling/adding_a_new_model.md
  tests/e2e/model_utils.py
  tests/ut/core/test_schedule_config.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/deepseek_v3.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops, module:core
