Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix lint
  vllm_ascend/attention/mla_v1.py
Labels: none

Add npu_flash_attention branch
  vllm_ascend/attention/mla_v1.py
Labels: none

format code
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

[Bugfix] Fix the bug of cos invalid shape when dp
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[Bugfix] Fix the LoRA inference bug after upstream codebase changed
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_logits.py
Labels: none

test ci
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[Doc] Add stable modelslim branch (#2545)
  docs/source/tutorials/single_npu_qwen3_quantization.md
  docs/source/user_guide/feature_guide/quantization.md
Labels: documentation

[Doc] Add stable modelslim branch (#2545)
  docs/source/tutorials/single_npu_qwen3_quantization.md
  docs/source/user_guide/feature_guide/quantization.md
Labels: documentation

[Doc] Add stable modelslim branch (#2545)
  docs/source/tutorials/single_npu_qwen3_quantization.md
  docs/source/user_guide/feature_guide/quantization.md
Labels: documentation

[main][bugfix] Fix MatmulNZ format bug on some machines (#2549)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main][bugfix] Fix MatmulNZ format bug on some machines (#2549)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main][bugfix] Fix MatmulNZ format bug on some machines (#2549)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Qwen-moe] Remove the minor operation arange (#2373)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[Qwen-moe] Remove the minor operation arange (#2373)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[Qwen-moe] Remove the minor operation arange (#2373)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

rename
  docs/source/tutorials/multi_node.md
Labels: documentation

add env
  docs/source/tutorials/multi_node.md
Labels: documentation

[Embedding] Recover embedding function (#2483)
  tests/e2e/singlecard/test_embedding.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[Embedding] Recover embedding function (#2483)
  tests/e2e/singlecard/test_embedding.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[Embedding] Recover embedding function (#2483)
  tests/e2e/singlecard/test_embedding.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[Aclgraph] Update compilation config in `check_and_update_config` (#2540)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Aclgraph] Update compilation config in `check_and_update_config` (#2540)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Aclgraph] Update compilation config in `check_and_update_config` (#2540)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[CI] Fix UT failure
  tests/ut/core/test_scheduler.py
Labels: module:tests

fix
  vllm_ascend/attention/attention_v1.py
Labels: none

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

add 'TND' layout
  vllm_ascend/attention/attention_v1.py
Labels: none

fix
  vllm_ascend/attention/attention_v1.py
Labels: none

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

fix cleancode
  vllm_ascend/attention/attention_v1.py
Labels: none

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

fix
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

fix cleancode
  vllm_ascend/attention/attention_v1.py
Labels: none

fix cleancode
  vllm_ascend/attention/attention_v1.py
Labels: none

swa add ut
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

fix format
  vllm_ascend/attention/attention_v1.py
Labels: none

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

Update test_attention_v1.py
  tests/ut/attention/test_attention_v1.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
