Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

cleancode
  vllm_ascend/attention/attention_v1.py
Labels: none

[BugFix]Fix group list type of mc2. (#4047)
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

[BugFix]Fix group list type of mc2. (#4047)
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

[BugFix]Fix group list type of mc2. (#4047)
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

[BugFix]Fix group list type of mc2. (#4047)
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

fix bugfix
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops, module:core

fix config
  vllm_ascend/ascend_config.py
Labels: module:core

enable prefill flashcommon3
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/distributed/utils.py
  vllm_ascend/flash_common3_context.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization, module:core

cleancode
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

re-trigger-CI
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

fix_lint
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

[0.11.0][Perf] Add padding vision tower for Qwen2_5_Omni
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_omni_thinker.py
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

[CI]Fix eplb ci. (#4052)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

[CI]Fix eplb ci. (#4052)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

[CI]Fix eplb ci. (#4052)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

[CI]Fix eplb ci. (#4052)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

fix load balance proxy layerwise proxy
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
Labels: none

[Bugfix]fix pcp dcp attn aclgraph
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
Labels: none

cleancode
  vllm_ascend/compilation/acl_graph.py
Labels: none

[Bugfix] fix sleepmode level2 e2e test (#4019)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_external_launcher.py
  tests/e2e/singlecard/test_camem.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Bugfix] fix sleepmode level2 e2e test (#4019)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_external_launcher.py
  tests/e2e/singlecard/test_camem.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Bugfix] fix sleepmode level2 e2e test (#4019)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_external_launcher.py
  tests/e2e/singlecard/test_camem.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Bugfix] fix sleepmode level2 e2e test (#4019)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_external_launcher.py
  tests/e2e/singlecard/test_camem.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Feature] Remove stream synchronization during ring_mla
  vllm_ascend/attention/mla_v1.py
Labels: none

update test case
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

fix: remove non_blocking flag from chunk_seq_lens_npu transfer
  vllm_ascend/attention/mla_v1.py
Labels: none

fix_ut
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
Labels: module:tests

change every 3 min done
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

fix_bug
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

update
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

glm4.5 support mtp with piecewise graph
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

optimize fullgraph.
  vllm_ascend/compilation/acl_graph.py
Labels: none

[P/D][BugFix]Fix proxy format processing errors & Layerwise connector performance optimization (#4043)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:tests

[P/D][BugFix]Fix proxy format processing errors & Layerwise connector performance optimization (#4043)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:tests

[P/D][BugFix]Fix proxy format processing errors & Layerwise connector performance optimization (#4043)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:tests

[P/D][BugFix]Fix proxy format processing errors & Layerwise connector performance optimization (#4043)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: module:tests

[BugFix] Improve the performance of prefixcache features (#4022)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:tests

[BugFix] Improve the performance of prefixcache features (#4022)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:tests

[BugFix] Improve the performance of prefixcache features (#4022)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:tests

[BugFix] Improve the performance of prefixcache features (#4022)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
