Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Feature] support chunk prefill
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[Doc] Update installation instructions
  docs/source/installation.md
Labels: documentation

Fix the output dimension mismatch in the output
  vllm_ascend/attention/attention_v1.py
Labels: none

[TEST] Add initial aisbench support and Qwen3 32B acc/perf test (#3474)
  .github/workflows/_e2e_nightly.yaml
  tests/e2e/nightly/models/test_qwen3_32b.py
  tools/aisbench.py
Labels: module:tests, module:tools

[TEST] Add initial aisbench support and Qwen3 32B acc/perf test (#3474)
  .github/workflows/_e2e_nightly.yaml
  tests/e2e/nightly/models/test_qwen3_32b.py
  tools/aisbench.py
Labels: module:tests, module:tools

[TEST] Add initial aisbench support and Qwen3 32B acc/perf test (#3474)
  .github/workflows/_e2e_nightly.yaml
  tests/e2e/nightly/models/test_qwen3_32b.py
  tools/aisbench.py
Labels: module:tests, module:tools

[ModelRunner][Qwen3-Next] Fix attn_group initialization timing (#3477)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[ModelRunner][Qwen3-Next] Fix attn_group initialization timing (#3477)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[ModelRunner][Qwen3-Next] Fix attn_group initialization timing (#3477)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[DeepSeek] Seperate deepseek v3.2 modeling form deepseek v2 (#3531)
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v3.py
  vllm_ascend/models/deepseek_v3_2.py
Labels: none

[DeepSeek] Seperate deepseek v3.2 modeling form deepseek v2 (#3531)
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v3.py
  vllm_ascend/models/deepseek_v3_2.py
Labels: none

[DeepSeek] Seperate deepseek v3.2 modeling form deepseek v2 (#3531)
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v3.py
  vllm_ascend/models/deepseek_v3_2.py
Labels: none

fix(ut): change ut due to prefetch feature
  tests/ut/ops/test_layernorm.py
Labels: module:tests

delete deepseek modeling
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/conftest.py
  tests/ut/models/test_deepseek_mtp.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:tests, module:ops, module:quantization

adapt mlapo with fused_qkv
  vllm_ascend/attention/mla_v1.py
Labels: none

rm deepseek v2 ut
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

adapt main and 0.11.0 for mla
  vllm_ascend/models/layers/mla.py
Labels: none

fix lint
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/layers/mla.py
Labels: none

[BugFix][HybridKV] Update the check logic of reinitializing inputbatch
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ut
  tests/ut/models/conftest.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/layers/mla.py
Labels: module:tests

test qwen25vl
  .github/workflows/vllm_ascend_test_nightly.yaml
Labels: none

qwen25vl-7b a3
  .github/workflows/vllm_ascend_test_nightly.yaml
Labels: none

[Refactor][DS32] Refactor DeepSeekV3.2 to adapt with vllm main
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/patch_attentionspec.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core

[CI] Upgrade vllm to newest commit
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/test_platform.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

skip failed e2e
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
Labels: module:tests

Many fixes
  .github/workflows/_e2e_test.yaml
  vllm_ascend/lora/punica_npu.py
  vllm_ascend/patch/worker/patch_common/patch_roberta.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

fix lint
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

merge-commit
  .github/workflows/_e2e_test.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/test_platform.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

fix ut
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/kv_connector/utils.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/test_platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

fix ray
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

fix mtp
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix torchair mtp
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
Labels: module:tests

fix aclgraph by importing re instead of regex
  .pre-commit-config.yaml
  vllm_ascend/utils.py
Labels: module:core

fix ut
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/test_platform.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
Labels: module:tests

fix ut for weight nz
  tests/ut/ops/test_linear.py
  vllm_ascend/ascend_config.py
Labels: module:tests, module:core

add qwen25vl-7b perf
  tests/e2e/nightly/models/test_qwen2_5_vl_7b.py
  tools/aisbench.py
Labels: module:tests, module:tools

Refactor attention metadata creation to use graph mode
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

run test_expert_parallel and test_mtp_torchair_correctness_full
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
Labels: module:tests

[temp] put gating into attn side
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[UT] Update test_platform ut test
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/kv_connector/utils.py
  tests/ut/test_platform.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
