Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Remove outdated TODO comment
  vllm_ascend/distributed/kv_transfer/kv_connector/p2p_hccl_engine.py
Labels: none

[Feature] SP Feature supports qwen3next.
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
Labels: module:ops

[Feature] SP Feature supports qwen3next.
  vllm_ascend/ops/linear_op.py
Labels: module:ops

Improvement
  docs/source/user_guide/feature_guide/images/netloader_flowchart.png
  docs/source/user_guide/feature_guide/images/netloader_timing_diagram.png
  docs/source/user_guide/feature_guide/netloader.md
  tests/e2e/multicard/test_netloader_elastic_load.py
  tests/ut/model_loader/netloader/test_netloader_elastic.py
  vllm_ascend/model_loader/netloader/interaction/elastic.py
  vllm_ascend/model_loader/netloader/netloader.py
Labels: documentation, module:tests

Add netloader user guide to index
  docs/source/user_guide/feature_guide/index.md
Labels: documentation

[Bugfix]Fix quant_config input parameter bug in qwenvl series (#3220)
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

[Bugfix]Fix quant_config input parameter bug in qwenvl series (#3220)
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

[Bugfix]Fix quant_config input parameter bug in qwenvl series (#3220)
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

Add 1p1d tutorial for Prefill-Decode Disaggregation with P2pHcclConnector
  docs/source/tutorials/index.md
  docs/source/tutorials/pd_disaggregation_with_p2p_hccl_connector.md
Labels: documentation

[Feature] SP Feature supports qwen3next.
  vllm_ascend/ops/linear_op.py
Labels: module:ops

Remove duplicated implementation
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/distributed/device_communicators/pyhccl_wrapper.py
Labels: none

[Doc]Add qwen3_vl guide
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_qwen3vl.md
  docs/source/tutorials/single_npu_qwen3vl.md
Labels: documentation

Remove duplicated implementation
  vllm_ascend/attention/attention_v1.py
Labels: none

use patch
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

upgrade hccl_buffer size
  tests/e2e/multicard/test_data_parallel.py
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

fix
  tests/e2e/multicard/test_data_parallel.py
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

enable external launcher
  .github/workflows/_e2e_test.yaml
Labels: none

fix
  tests/e2e/multicard/test_data_parallel.py
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

[Doc]Add qwen3_vl guide
  docs/source/tutorials/multi_node_qwen3vl.md
  docs/source/tutorials/single_npu_qwen3vl.md
Labels: documentation

bugfix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

bug fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Doc]Add qwen3_vl guide
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_qwen3vl.md
Labels: documentation

[CI][Bugfix] Quickfix for DPMetaData
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops

add mla_preprocess kernel
  .pre-commit-config.yaml
  CMakeLists.txt
  csrc/mla_preprocess/op_host/mla_preprocess.h
  csrc/mla_preprocess/op_host/tiling/mla_preprocess_tiling.h
  csrc/mla_preprocess/op_kernel/kernel/common.h
  csrc/mla_preprocess/op_kernel/kernel/common_func.h
  csrc/mla_preprocess/op_kernel/kernel/hardware.h
  csrc/mla_preprocess/op_kernel/kernel/iterator.h
  csrc/mla_preprocess/op_kernel/kernel/iterators/gm_to_l1_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/gm_to_ub_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l0c_to_gm_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l0c_to_l1_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l0c_to_ub_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l1_to_bt_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l1_to_fb_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l1_to_l0_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/iterators/l1_to_ub_iterator.inc
  csrc/mla_preprocess/op_kernel/kernel/kernel_utils.h
  csrc/mla_preprocess/op_kernel/kernel/layout.h
  csrc/mla_preprocess/op_kernel/kernel/mem.h
  csrc/mla_preprocess/op_kernel/kernel/mma.h
  csrc/mla_preprocess/op_kernel/kernel/set_fpc.h
  csrc/mla_preprocess/op_kernel/kernel/simd.h
  csrc/mla_preprocess/op_kernel/kernel/utils.h
  csrc/mla_preprocess/op_kernel/mla_preprocess.h
  csrc/mla_preprocess/op_kernel/mla_preprocess_kernel.cpp
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_bf16.hpp
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_fp16.hpp
  csrc/ops.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
Labels: none

line
  tests/ut/torchair/ops/test_torchair_fused_moe.py
Labels: module:tests

[bugfix] Fix warning bug: model config is None.
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/utils.py
Labels: module:core

fix(tests): fix broken tests cases due to weight prefetch refactoring
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/quantization/w8a8.py
Labels: module:tests, module:quantization, module:core

[Bugfix][LoRA] Fix forward error and shape mismatch when using LoRA (#3153)
  vllm_ascend/lora/punica_npu.py
  vllm_ascend/ops/vocab_parallel_embedding.py
Labels: module:ops

[Bugfix][LoRA] Fix forward error and shape mismatch when using LoRA (#3153)
  vllm_ascend/lora/punica_npu.py
  vllm_ascend/ops/vocab_parallel_embedding.py
Labels: module:ops

[Bugfix][LoRA] Fix forward error and shape mismatch when using LoRA (#3153)
  vllm_ascend/lora/punica_npu.py
  vllm_ascend/ops/vocab_parallel_embedding.py
Labels: module:ops

[BugFix] Fix ACLgraph bug in Qwen3_32b_int8 case (#3204)
  docs/source/faqs.md
  tests/ut/test_utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

[BugFix] Fix ACLgraph bug in Qwen3_32b_int8 case (#3204)
  docs/source/faqs.md
  tests/ut/test_utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

[BugFix] Fix ACLgraph bug in Qwen3_32b_int8 case (#3204)
  docs/source/faqs.md
  tests/ut/test_utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

[Eagle] Fix attn_mask index out of range in high concurrency situations (#3187)
  vllm_ascend/spec_decode/eagle_proposer.py
Labels: none

[Eagle] Fix attn_mask index out of range in high concurrency situations (#3187)
  vllm_ascend/spec_decode/eagle_proposer.py
Labels: none

[Eagle] Fix attn_mask index out of range in high concurrency situations (#3187)
  vllm_ascend/spec_decode/eagle_proposer.py
Labels: none

[BugFix] Fix ascend scheduler assert error (#3191)
  vllm_ascend/core/scheduler.py
Labels: none

[BugFix] Fix ascend scheduler assert error (#3191)
  vllm_ascend/core/scheduler.py
Labels: none

[BugFix] Fix ascend scheduler assert error (#3191)
  vllm_ascend/core/scheduler.py
Labels: none

[bugfix] Fix warning bug: model config is None.
  vllm_ascend/utils.py
Labels: module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
