Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

handle kv cache
  vllm_ascend/worker/model_runner_v1.py
Labels: none

bug fix
  vllm_ascend/ops/triton/triton_utils.py
Labels: module:ops

[Performance]optimize eplb update weights.
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

update Deepseek-R1 tutorial.
  docs/source/tutorials/DeepSeek-R1.md
Labels: documentation

f eplb enable when using mtp float weights.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[feature] support pcp + mtp in full graph
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[bugfix] Repair the problem of moe model accuracy caused by version upgrade.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

update Deepseek-R1 tutorial.
  docs/source/tutorials/DeepSeek-R1.md
Labels: documentation

solve precision synchronization
  vllm_ascend/distributed/kvpool/kv_transfer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

remove qwen3-next model
  .github/workflows/_e2e_test.yaml
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/models/qwen3_next_mtp.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[BugFix] Fix Qwen2.5_Omni vision customized op attr err
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_qwen2_5_omni.py
Labels: none

Move mla to ops module
  tests/ut/models/test_mla.py
  vllm_ascend/models/layers/__init__.py
  vllm_ascend/ops/mla.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

fix ut
  tests/ut/ops/test_fused_moe.py
  tests/ut/ops/test_moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
Labels: module:tests, module:ops

Add Qwen3-235B tutorial
  docs/source/tutorials/Qwen3-235B.md
Labels: documentation

improve soc version (#4522)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_310p.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

improve soc version (#4522)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_310p.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

improve soc version (#4522)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_310p.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

improve soc version (#4522)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_310p.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

[kernel] Add custom DispatchGmmCombineDecode aclnn operator
  .gitmodules
  csrc/build_aclnn.sh
  csrc/cmake/func.cmake
  csrc/dispatch_gmm_combine_decode/op_host/CMakeLists.txt
  csrc/dispatch_gmm_combine_decode/op_host/aclnn_dispatch_gmm_combine_decode.cpp
  csrc/dispatch_gmm_combine_decode/op_host/aclnn_dispatch_gmm_combine_decode.h
  csrc/dispatch_gmm_combine_decode/op_host/dispatch_gmm_combine_decode_def.cpp
  csrc/dispatch_gmm_combine_decode/op_host/dispatch_gmm_combine_decode_proto.cpp
  csrc/dispatch_gmm_combine_decode/op_host/dispatch_gmm_combine_decode_tiling.cpp
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode.cpp
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/block/block_epilogue.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/block/block_epilogue_per_token_dequant.hpp
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/block/block_epilogue_per_token_dequant_swiglu.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/dispatch_policy.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/tile/tile_stride_binary.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/tile/tile_stride_muls.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/block/block_mmad.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/block/block_mmad_preload_async_with_callback_resident_a.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/dispatch_policy.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/kernel/grouped_matmul_slice_m_per_token_dequant_multistage_workspace.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/kernel/grouped_matmul_slice_m_per_token_dequant_swiglu_quant_multistage_workspace.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/raw_distributed/cam_moe_distribute_combine.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/raw_distributed/cam_moe_distribute_dispatch.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_base.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_tiling.h
  csrc/dispatch_gmm_combine_decode/op_kernel/moe_distribute_base.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_fused_deep_moe_accuracy.py
Labels: module:tests

Pooling Features and PCP Adaptation
  vllm_ascend/distributed/kvpool/kv_transfer.py
Labels: none

fix hang
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[bugfix] Repair the problem of moe model accuracy caused by version upgrade.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

fix lint
  vllm_ascend/quantization/w8a8_pdmix.py
Labels: module:quantization

fix sample_tokens
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[ci]Fix pre lint.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[bugfix] Repair the problem of moe model accuracy caused by version upgrade.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix]Fix eplb enable when using mtp float weights.
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[MM][Model] Remove Qwen2-VL modeling files (#4534)
  tests/ut/models/test_qwen2_vl.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/patch/worker/patch_qwen2_5_vl.py
Labels: module:tests

[MM][Model] Remove Qwen2-VL modeling files (#4534)
  tests/ut/models/test_qwen2_vl.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/patch/worker/patch_qwen2_5_vl.py
Labels: module:tests

[MM][Model] Remove Qwen2-VL modeling files (#4534)
  tests/ut/models/test_qwen2_vl.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/patch/worker/patch_qwen2_5_vl.py
Labels: module:tests

[MM][Model] Remove Qwen2-VL modeling files (#4534)
  tests/ut/models/test_qwen2_vl.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/patch/worker/patch_qwen2_5_vl.py
Labels: module:tests

Pooling Features and PCP Adaptation
  vllm_ascend/distributed/kvpool/kv_transfer.py
Labels: none

Update vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

Update vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

Pooling Features and PCP Adaptation
  vllm_ascend/distributed/kvpool/kv_transfer.py
  vllm_ascend/distributed/kvpool/pool_worker.py
Labels: none

fix lint
  vllm_ascend/distributed/kvpool/pool_worker.py
Labels: none

fix lint
  vllm_ascend/distributed/kvpool/pool_worker.py
Labels: none

Move mla to ops module (#4575)
  tests/ut/models/test_mla.py
  vllm_ascend/models/layers/__init__.py
  vllm_ascend/ops/mla.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

Move mla to ops module (#4575)
  tests/ut/models/test_mla.py
  vllm_ascend/models/layers/__init__.py
  vllm_ascend/ops/mla.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
