Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Mooncake store use adxl inferface (#3350)
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/kv_transfer.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/transfer_engine.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

[Feature] Reduce host memory usage for attention mask generation (#3048)
  vllm_ascend/attention/attention_mask.py
Labels: none

[Refactor] refactor patch module (#3555)
  docs/source/developer_guide/feature_guide/patch.md
  tests/ut/patch/worker/patch_common/test_patch_distributed.py
  tests/ut/patch/worker/patch_common/test_patch_minicpm.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/patch/platform/patch_distributed.py
  vllm_ascend/patch/platform/patch_main/__init__.py
  vllm_ascend/patch/platform/patch_mamba_config.py
  vllm_ascend/patch/platform/patch_multiproc_executor.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/patch/worker/patch_distributed.py
  vllm_ascend/patch/worker/patch_logits.py
  vllm_ascend/patch/worker/patch_main/__init__.py
  vllm_ascend/patch/worker/patch_minicpm.py
  vllm_ascend/patch/worker/patch_multimodal_merge.py
  vllm_ascend/patch/worker/patch_roberta.py
  vllm_ascend/patch/worker/patch_triton.py
  vllm_ascend/patch/worker/patch_weight_loader.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests

[BugFix][mian] Fixed a triton kernel bug of layer_norm_fwd_kernel for Qwen3-next (#3549)
  vllm_ascend/ops/fla.py
Labels: module:ops

[CI] Upgrade manylinux image (#3587)
  .github/Dockerfile.buildwheel
Labels: none

[BugFix]Fix mtp torchair bug caused by #2719 (#3566)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix vl float model not support NZ format weight error (#3533)
  tests/ut/models/test_qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_vl.py
Labels: module:tests

[BugFix] Fix torchair+mtp bug after deleting deepseek_mtp. (#3590)
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
Labels: module:tests

[CI]Add EPLB CI. (#3568)
  .github/workflows/vllm_ascend_test_nightly.yaml
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/utils.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests

Revert "[Feat] Shared expert dp for deepseek and deepseek_mtp (#3495)" (#3586)
  tests/ut/ops/test_layernorm.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: module:tests, module:ops, module:core

[CI]Fix test nightly workflow. (#3603)
  .github/workflows/vllm_ascend_test_nightly.yaml
Labels: none

fix ut (#3608)
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
Labels: module:tests

Reapply "[MoE] [Refactor] Remove manual memory cleanup (#3365)" (#3483) (#3512)
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_qwen3_moe.py
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

fix : support chunked_prefill with deepseek_mtp (#2711)
  vllm_ascend/torchair/torchair_mla.py
Labels: none

[Misc] clean up useless function (#3348)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

[Feat] Dynamic Batch Feature (#3490)
  docs/source/user_guide/feature_guide/dynamic_batch.md
  docs/source/user_guide/feature_guide/index.md
  pyproject.toml
  requirements.txt
  tests/e2e/singlecard/test_ascend_scheduler.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/ascend_config.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler_dynamic_batch.py
  vllm_ascend/platform.py
Labels: documentation, module:tests, module:core

[Feat] add native kvcache offload (#3433)
  csrc/torch_binding.cpp
  vllm_ascend/kv_offload/__init__.py
  vllm_ascend/kv_offload/cpu_npu.py
  vllm_ascend/kv_offload/npu.py
Labels: none

clean up uesless ut test (#3622)
  tests/ut/test_platform.py
Labels: module:tests

[CI] Multi-Node CI scalable (#3611)
  .github/workflows/multi_node_test.yaml
  .github/workflows/vllm_ascend_test_nightly.yaml
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
Labels: module:tests

unify logic between aclgraph and torchair (#3560)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[Bugfix][MTP] Fix performance degradation when mtp>1 (#3597)
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

[Fix] Fix attention metadata handling for profiling and MLA (#3636)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Fixes attribute error in MLA implementation (#3618)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

[BugFix][main] Fix quantization related mtp bug with patch (#3620)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_deepseek_mtp.py
Labels: none

[Feat] Prefetching Attention QKV Linear Weight With `AddRmsNormQuant` Custom Op (#3517)
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ops/layernorm.py
Labels: module:tests, module:ops

[main][refactor] refactor SequenceRowParallelOp forward (#3616)
  tests/ut/ops/test_linear.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:tests, module:ops

[Doc] Upgrade docker run command (#3645)
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/using_evalscope.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/developer_guide/evaluation/using_opencompass.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/multi-node_dsv3.2.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  docs/source/tutorials/multi_node_qwen3vl.md
  docs/source/tutorials/multi_node_ray.md
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/multi_npu_moge.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/multi_npu_qwen3_moe.md
  docs/source/tutorials/multi_npu_qwen3_next.md
  docs/source/tutorials/single_node_300i.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_audio.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/tutorials/single_npu_qwen3_embedding.md
  docs/source/tutorials/single_npu_qwen3_quantization.md
Labels: documentation

[Doc] Update the modelslim website from gitee to gitcode. (#3615)
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/feature_guide/quantization.po
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/single_npu_qwen3_quantization.md
  docs/source/user_guide/feature_guide/quantization.md
Labels: documentation

[BugFix] fix deepseek torchair precision (#3624)
  vllm_ascend/torchair/ops/torchair_layernorm.py
  vllm_ascend/torchair/utils.py
Labels: none

perf : optimize memory for deepseek mtp (#2713)
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
Labels: none

[Misc] Add a model loader that utilizes HCCL for weight loading (#2888)
  docs/source/user_guide/feature_guide/images/netloader_flowchart.png
  docs/source/user_guide/feature_guide/images/netloader_timing_diagram.png
  docs/source/user_guide/feature_guide/index.md
  docs/source/user_guide/feature_guide/netloader.md
  setup.py
  tests/ut/model_loader/netloader/test_netloader.py
  tests/ut/model_loader/netloader/test_netloader_elastic.py
  tests/ut/model_loader/netloader/test_netloader_load.py
  tests/ut/model_loader/netloader/test_netloader_utils.py
  vllm_ascend/model_loader/__init__.py
  vllm_ascend/model_loader/netloader/__init__.py
  vllm_ascend/model_loader/netloader/executor/__init__.py
  vllm_ascend/model_loader/netloader/executor/elastic_load.py
  vllm_ascend/model_loader/netloader/interaction/__init__.py
  vllm_ascend/model_loader/netloader/interaction/elastic.py
  vllm_ascend/model_loader/netloader/load.py
  vllm_ascend/model_loader/netloader/netloader.py
  vllm_ascend/model_loader/netloader/utils.py
Labels: documentation, module:tests

[TEST]Add initial multi modal cases for nightly test and deepseek-r1 tests (#3631)
  .github/workflows/vllm_ascend_test_nightly.yaml
  tests/e2e/nightly/models/test_deepseek_r1_0528_w8a8.py
  tools/aisbench.py
Labels: module:tests, module:tools

[Structured Output] Replace `apply_grammar_bitmask()` method with that in vllm to avoid maintenance (#2524)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] fix delay free prefill req & D node support prefix cache (#3607)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[Doc] Update the Pangu Pro MoE tutorials. (#3651)
  docs/source/tutorials/multi_npu_moge.md
Labels: documentation

[Test] add a new Qwen3-32b-int8 test case with feature_stack3 (#3676)
  .github/workflows/vllm_ascend_test_nightly.yaml
  tests/e2e/nightly/features/test_qwen3_32b_int8_a3_feature_stack3.py
Labels: module:tests

[main][bugfix] Add 'layer_type' param to get_pergroup_param() for compatibility (#3682)
  vllm_ascend/quantization/w4a4_flatquant_dynamic.py
Labels: module:quantization

[BugFix]fix deepseek torchair recompile (#3678)
  vllm_ascend/torchair/ops/torchair_layernorm.py
Labels: none

【main】patch sched_yield (#3648)
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_sched_yield.py
  vllm_ascend/patch/worker/__init__.py
Labels: none

support cp&dcp (#3260)
  examples/offline_inference_npu_long_seq.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/kv_connector/test_llmdatadist_connector.py
  tests/ut/kv_connector/utils.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core
