Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[CI] add codespell CI and fix format.sh
  .github/workflows/codespell.yml
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/user_guide/release_notes.md
  examples/disaggregated_prefill/dp_proxy.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/utils.py
Labels: documentation, ci/build, module:core

[Enhancement] Add padding for ACL Graph (#803)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[Enhancement] Add padding for ACL Graph (#803)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[BugFix] Fix ascend scheduler bugs. (#822)
  vllm_ascend/core/scheduler.py
Labels: none

[BugFix] Fix ascend scheduler bugs. (#822)
  vllm_ascend/core/scheduler.py
Labels: none

[Attention][Kernel]moe support for llama4 and mllama4
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix dp _dummy_run() bug
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/worker_v1.py
Labels: none

enbale all to all comm only in MC2 mode
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

set VLLM_ENABLE_MC2 envs
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

add all2all
  vllm_ascend/distributed/communicator.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

roll back to not fuse swiglu && quant
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

add force load balance
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

rebase of deepseek_v2.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

[CI] add codespell CI and fix format.sh (#827)
  .github/workflows/codespell.yml
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/user_guide/release_notes.md
  examples/disaggregated_prefill/dp_proxy.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/utils.py
Labels: documentation, ci/build, module:core

[CI] add codespell CI and fix format.sh (#827)
  .github/workflows/codespell.yml
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/user_guide/release_notes.md
  examples/disaggregated_prefill/dp_proxy.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/utils.py
Labels: documentation, ci/build, module:core

fix yapf
  vllm_ascend/distributed/communicator.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

[Bugfix] use tiny_llama_chat to test lora
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/lora/__init__.py
  tests/lora/test_baichuan.py
  tests/lora/test_baichuan_tp.py
  tests/lora/utils.py
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fix yapi issues
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fix Mypy issues
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fix Mypy issues
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

fix ruff
  vllm_ascend/distributed/communicator.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Bugfix] Fix the method of importing environment variables in DeepSee… (#817)
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

[Bugfix] Fix the method of importing environment variables in DeepSee… (#817)
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

[Misc][Doc] Add the latest stable release url (#826)
  docs/source/_templates/sections/header.html
  docs/source/conf.py
Labels: documentation

[Misc][Doc] Add the latest stable release url (#826)
  docs/source/_templates/sections/header.html
  docs/source/conf.py
Labels: documentation

[Bugfix] tigger CI rerun
  .tmp
Labels: none

modify deepseekv2 moe
  vllm_ascend/models/deepseek_v2.py
Labels: none

remove allgather
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix codecheck
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

Adapt scheduler test to new Scheduler/Request interface of vllm 0.8.5.
  tests/scheduler/test_scheduler.py
  tests/singlecard/test_scheduler.py
Labels: module:tests

[Bugfix] fix bug
  .tmp
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fix bug
  tests/multicard/test_lora_quant_tp.py
Labels: module:tests

Add basic ci for PD disaggregation
  .github/actionlint.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
Labels: none

docs: revise the comments of kv_cache shape Signed-off-by: wan_danfeng <wonderful199082@126.com>
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
Labels: none

feat: custom ascendC kernel of prepare input in multi-Step Signed-off-by: wan_danfeng <wonderful199082@126.com>
  CMakeLists.txt
  csrc/kernels/advance_step.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  tests/ops/test_multi_step.py
  vllm_ascend/attention/attention.py
Labels: module:tests

fix: multi-Step current stream fix Signed-off-by: wan_danfeng <wonderful199082@126.com>
  vllm_ascend/worker/multi_step_runner.py
Labels: none

fix: multi-step kernel Signed-off-by: wan_danfeng <wonderful199082@126.com>
  csrc/ops.h
Labels: none

test: multi-step offline inference Signed-off-by: wan_danfeng <wonderful199082@126.com>
  examples/offline_multi_step.py
Labels: none

docs: copyright of multi-step kernel Signed-off-by: wan_danfeng <wonderful199082@126.com>
  csrc/kernels/advance_step.cpp
  examples/offline_multi_step.py
  tests/ops/test_multi_step.py
Labels: module:tests

fix: remove unnecessary semicolons Signed-off-by: wan_danfeng <wonderful199082@126.com>
  tests/ops/test_multi_step.py
  vllm_ascend/attention/attention.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
