Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Clean up v0.9.1 code
  docs/source/developer_guide/feature_guide/patch.md
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/test_embedding.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_sampler.py
  tests/e2e/singlecard/test_scheduler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_2/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/patch_sampler.py
  vllm_ascend/patch/worker/patch_0_9_2/__init__.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: documentation, module:tests, module:ops, module:core

fix
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix typo
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: none

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix
  .github/workflows/release_whl.yml
Labels: ci/build

fix
  .github/workflows/release_whl.yml
Labels: ci/build

fix
  .github/workflows/release_whl.yml
Labels: ci/build

fix
  .github/workflows/release_whl.yml
Labels: ci/build

fix
  .github/workflows/release_whl.yml
Labels: ci/build

fix
  .github/workflows/release_whl.yml
Labels: ci/build

Fix wheel glibc version incompatibility
  .github/Dockerfile.buildwheel
  .github/workflows/release_whl.yml
Labels: ci/build

Fix wheel glibc version incompatibility (#1582)
  .github/Dockerfile.buildwheel
  .github/workflows/release_whl.yml
Labels: ci/build

Fix wheel glibc version incompatibility (#1582)
  .github/Dockerfile.buildwheel
  .github/workflows/release_whl.yml
Labels: ci/build

Fix wheel glibc version incompatibility (#1582)
  .github/Dockerfile.buildwheel
  .github/workflows/release_whl.yml
Labels: ci/build

[Misc] Add attention mask
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Misc] Code clean up
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

deepseekv3/r1 support rm_router_logits in [AllGatherEP, AllGather, NaiveMulticast]
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

Clean up v0.9.1 code
  .github/workflows/vllm_ascend_test.yaml
  docs/source/developer_guide/feature_guide/patch.md
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/test_embedding.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_sampler.py
  tests/e2e/singlecard/test_scheduler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_2/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/patch_sampler.py
  vllm_ascend/patch/worker/patch_0_9_2/__init__.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: documentation, module:tests, module:ops, module:core

update
  vllm_ascend/ascend_config.py
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/loader/abstract_loader.py
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
  vllm_ascend/eplb/core/policy/__init__.py
  vllm_ascend/eplb/core/policy/dynamic_ep.py
  vllm_ascend/eplb/core/policy/dynamic_ep_v2.py
  vllm_ascend/eplb/core/policy/eplb_policy.py
  vllm_ascend/eplb/core/policy/mock_load_balance.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/tool/eplb_utils.py
  vllm_ascend/eplb/tool/generate_map.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

Clean up v0.9.1 code (#1672)
  .github/workflows/vllm_ascend_test.yaml
  docs/source/developer_guide/feature_guide/patch.md
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/test_embedding.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_sampler.py
  tests/e2e/singlecard/test_scheduler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_2/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/patch_sampler.py
  vllm_ascend/patch/worker/patch_0_9_2/__init__.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: documentation, module:tests, module:ops, module:core

Clean up v0.9.1 code (#1672)
  .github/workflows/vllm_ascend_test.yaml
  docs/source/developer_guide/feature_guide/patch.md
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/test_embedding.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_sampler.py
  tests/e2e/singlecard/test_scheduler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_2/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/patch_sampler.py
  vllm_ascend/patch/worker/patch_0_9_2/__init__.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: documentation, module:tests, module:ops, module:core

Clean up v0.9.1 code (#1672)
  .github/workflows/vllm_ascend_test.yaml
  docs/source/developer_guide/feature_guide/patch.md
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/test_embedding.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_sampler.py
  tests/e2e/singlecard/test_scheduler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_2/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/patch_sampler.py
  vllm_ascend/patch/worker/patch_0_9_2/__init__.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: documentation, module:tests, module:ops, module:core

[Misc] Code clean up (#1674)
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

[Misc] Code clean up (#1674)
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

[Misc] Code clean up (#1674)
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

[Misc] Add attention mask (#1673)
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Misc] Add attention mask (#1673)
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Misc] Add attention mask (#1673)
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Misc] Code clean up
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[P/D] Mooncake Connector for v1 distributed
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/envs.py
Labels: module:core

change transfer_sync_read to batch_transfer_sync_read
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

formatting code after solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

remove unused import
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

ignore mooncake.engine and solve zmq mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Formatting Code
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

change name MooncakeConnector to MooncakeConnectorV1
  vllm_ascend/distributed/__init__.py
Labels: none

solve mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

ignore some mypy error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
