Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix custom ops env set error
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Misc] Add cann custom ops to `.gitignore` (#4670)
  .gitignore
Labels: none

[Misc] Add cann custom ops to `.gitignore` (#4670)
  .gitignore
Labels: none

[Misc] Add cann custom ops to `.gitignore` (#4670)
  .gitignore
Labels: none

[Misc] Add cann custom ops to `.gitignore` (#4670)
  .gitignore
Labels: none

[EPLB][BugFix] generate experts map with redundant experts
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

optimization of kimi-k2
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

fix custom ops env set error (#4675)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

fix custom ops env set error (#4675)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

fix custom ops env set error (#4675)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

fix custom ops env set error (#4675)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

upgrade vLLM to 0.12.0 branch
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pr_full.yaml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  tests/ut/test_platform.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_deepseek.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:core

eplb enable MTP layers
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix RejectionSampler.parse_output
  tests/e2e/singlecard/test_async_scheduling.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[KV-Sharing] Support KV-Sharing feature in CLA models
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

tiny fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

adapot vllm change
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
Labels: module:core

tiny fix
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
Labels: module:core

fix __init__
  vllm_ascend/compilation/passes/__init__.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
Labels: none

add dtype check and e2e test
  tests/e2e/singlecard/test_quantize_fusion.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
Labels: module:tests

fix
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_rewrite_pass_manager.py
  vllm_ascend/ops/layernorm.py
Labels: module:ops

resolve conflict
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/layernorm.py
Labels: module:ops, module:core

remove unuse code and reformat code
  tests/e2e/singlecard/test_quant_fusion.py
  tests/ut/test_ascend_config.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
Labels: module:tests

resolve conflict
  tests/e2e/singlecard/test_quantize_fusion.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

recover autograd
  vllm_ascend/compilation/compiler_interface.py
Labels: none

fix
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/quant_fusion_pass.py
Labels: none

remove unuse fx_graph_eager define
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
Labels: module:core

remove auto-grad
  vllm_ascend/compilation/compiler_interface.py
Labels: none

tiny fix
  vllm_ascend/ops/layernorm.py
Labels: module:ops

modify ascend compilation config and update platform config
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

tiny fix
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

fix moe w8a8 accuracy and fix ut
  tests/e2e/singlecard/test_quant_fusion.py
  tests/ut/test_ascend_config.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
Labels: module:tests, module:ops

remove unuse ascend forward_context
  vllm_ascend/ascend_forward_context.py
Labels: module:core

fix graph output
  vllm_ascend/compilation/compiler_interface.py
Labels: none

add license to e2e test
  tests/e2e/singlecard/test_quantize_fusion.py
Labels: module:tests

format file
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_rewrite_pass_manager.py
  vllm_ascend/compilation/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

add unit tests to the pr
  tests/ut/ops/test_layernorm.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
Labels: module:tests

Define quant fusion pass
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/pass_manager.py
  vllm_ascend/compilation/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

add doc string and remove unuse code
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

solve accuracy problem
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
