Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix vlm ci
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

add qwen qwq testcase
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/models/test_qwen3_qwq_32b.py
Labels: module:tests

fix vlm ci
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

add qwen qwq testcase
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

optimize all2allv
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:ops

[BugFix] Comment out newly added vlm e2e. (#3736)
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

[BugFix] Comment out newly added vlm e2e. (#3736)
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

[BugFix] Comment out newly added vlm e2e. (#3736)
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

[BugFix] Comment out newly added vlm e2e. (#3736)
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

add qwen qwq testcase
  tests/e2e/nightly/models/test_qwen3_qwq_32b.py
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/MiniCPM3-4B.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Phi-4-mini-instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[Test] Add e2e test and accuracy test for Qwen3-Next-80B-A3B-Instruct (#3450)
  .github/workflows/_accuracy_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/models/configs/Qwen3-Next-80B-A3B-Instruct.yaml
  tests/e2e/multicard/test_qwen3_next.py
Labels: module:tests

[Test] Add e2e test and accuracy test for Qwen3-Next-80B-A3B-Instruct (#3450)
  .github/workflows/_accuracy_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/models/configs/Qwen3-Next-80B-A3B-Instruct.yaml
  tests/e2e/multicard/test_qwen3_next.py
Labels: module:tests

[Test] Add e2e test and accuracy test for Qwen3-Next-80B-A3B-Instruct (#3450)
  .github/workflows/_accuracy_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/models/configs/Qwen3-Next-80B-A3B-Instruct.yaml
  tests/e2e/multicard/test_qwen3_next.py
Labels: module:tests

[Test] Add e2e test and accuracy test for Qwen3-Next-80B-A3B-Instruct (#3450)
  .github/workflows/_accuracy_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/models/configs/Qwen3-Next-80B-A3B-Instruct.yaml
  tests/e2e/multicard/test_qwen3_next.py
Labels: module:tests

[main] remove dbo code
  examples/offline_dualbatch_overlap_npu.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/multistream/test_base.py
  tests/ut/multistream/test_decorator.py
  tests/ut/multistream/test_layers.py
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/envs.py
  vllm_ascend/multistream/__init__.py
  vllm_ascend/multistream/base.py
  vllm_ascend/multistream/context.py
  vllm_ascend/multistream/decorator.py
  vllm_ascend/multistream/layers.py
  vllm_ascend/multistream/metadata.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Doc] Update supported models (#3481)
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

[Doc] Update supported models (#3481)
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

[Doc] Update supported models (#3481)
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

[Doc] Update supported models (#3481)
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

support prefill cache mode use fia op
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add acc test
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[Refactor] [MoE] Rename moe-related classes & files (#3646)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/models/conftest.py
  tests/ut/ops/test_comm_utils.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_moe.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/fused_moe/__init__.py
  vllm_ascend/ops/fused_moe/comm_utils.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:quantization, module:core

[Refactor] [MoE] Rename moe-related classes & files (#3646)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/models/conftest.py
  tests/ut/ops/test_comm_utils.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_moe.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/fused_moe/__init__.py
  vllm_ascend/ops/fused_moe/comm_utils.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:quantization, module:core

[Refactor] [MoE] Rename moe-related classes & files (#3646)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/models/conftest.py
  tests/ut/ops/test_comm_utils.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_moe.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/fused_moe/__init__.py
  vllm_ascend/ops/fused_moe/comm_utils.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:quantization, module:core

[Refactor] [MoE] Rename moe-related classes & files (#3646)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/models/conftest.py
  tests/ut/ops/test_comm_utils.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_moe.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/fused_moe/__init__.py
  vllm_ascend/ops/fused_moe/comm_utils.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:quantization, module:core

change to the new workflow
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

add test for prefix cache feature of deepseek
  tests/e2e/nightly/features/test_prefix_cache_deepseek_r1_0528_w8a8.py
Labels: module:tests

[Fix] Cap max tokens to prevent potential OOM (#3720)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Cap max tokens to prevent potential OOM (#3720)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Cap max tokens to prevent potential OOM (#3720)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Cap max tokens to prevent potential OOM (#3720)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Cap max tokens to prevent potential OOM (#3720)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support FULL_AND_PIECEWISE graph mode
  tests/e2e/multicard/test_full_graph_mode.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

add qwen qwq testcase
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

Fix: Prevent memory leak in MLA decode graph
  vllm_ascend/attention/mla_v1.py
Labels: none

merge commit of mengqing
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

fix fusedmoe
  vllm_ascend/platform.py
Labels: module:core

tiny fix
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_pipeline_parallel.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests
