Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Revert "suport AscendScheduer and fix A2 MC2 and pp bug"
  docs/source/._developer_guide
  docs/source/community/._contributors.md
  docs/source/community/._versioning_policy.md
  docs/source/developer_guide/._contribution
  docs/source/developer_guide/contribution/._multi_node_test.md
  docs/source/developer_guide/evaluation/._accuracy_report
  docs/source/developer_guide/evaluation/accuracy_report/._Qwen3-8B-Base.md
  docs/source/developer_guide/performance/._optimization_and_tuning.md
  docs/source/locale/zh_CN/LC_MESSAGES/community/user_stories/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/._contribution
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/evaluation/._accuracy_report
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/feature_guide/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/modeling/._adding_a_new_model.po
  examples/._offline_inference_npu.py
  examples/._offline_inference_npu_long_seq.py
  examples/._offline_weight_load.py
  examples/._prompt_embed_inference.py
  examples/disaggregated_prefill_v1/._load_balance_proxy_layerwise_server_example.py
  examples/eplb/._eplb_deepseek.py
  tests/e2e/._multicard
  tests/e2e/._pd_disaggreate
  tests/e2e/nightly/multi_node/._scripts
  vllm_ascend/._kv_offload
  vllm_ascend/._model_loader
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/._worker
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests

remove kv nz
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

format mooncake
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

suport AscendScheduer and fix A2 MC2 and pp bug
  docs/source/._developer_guide
  docs/source/community/._contributors.md
  docs/source/community/._versioning_policy.md
  docs/source/developer_guide/._contribution
  docs/source/developer_guide/contribution/._multi_node_test.md
  docs/source/developer_guide/evaluation/._accuracy_report
  docs/source/developer_guide/evaluation/accuracy_report/._Qwen3-8B-Base.md
  docs/source/developer_guide/performance/._optimization_and_tuning.md
  docs/source/locale/zh_CN/LC_MESSAGES/community/user_stories/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/._contribution
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/evaluation/._accuracy_report
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/feature_guide/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/modeling/._adding_a_new_model.po
  examples/._offline_inference_npu.py
  examples/._offline_inference_npu_long_seq.py
  examples/._offline_weight_load.py
  examples/._prompt_embed_inference.py
  examples/disaggregated_prefill_v1/._load_balance_proxy_layerwise_server_example.py
  examples/eplb/._eplb_deepseek.py
  tests/e2e/._multicard
  tests/e2e/._pd_disaggreate
  tests/e2e/nightly/multi_node/._scripts
  vllm_ascend/._kv_offload
  vllm_ascend/._model_loader
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/._worker
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests

change comment
  vllm_ascend/worker/model_runner_v1.py
Labels: none

format code
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

ut test qwen3_moe and sfa
  tests/ut/torchair/models/test_qwen3_moe.py
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

ut test
  tests/ut/torchair/models/test_qwen3_moe.py
Labels: module:tests

update qwq
  tests/e2e/nightly/models/test_qwq_32b.py
Labels: module:tests

[TEST]Update nightly cases and add mtpx (#4111)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/features/test_qwen3_32b_int8_a3_feature_stack3.py
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwq_32b.py
  tools/send_request.py
Labels: module:tests, module:tools

[TEST]Update nightly cases and add mtpx (#4111)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/features/test_qwen3_32b_int8_a3_feature_stack3.py
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwq_32b.py
  tools/send_request.py
Labels: module:tests, module:tools

[TEST]Update nightly cases and add mtpx (#4111)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/features/test_qwen3_32b_int8_a3_feature_stack3.py
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwq_32b.py
  tools/send_request.py
Labels: module:tests, module:tools

[TEST]Update nightly cases and add mtpx (#4111)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/features/test_qwen3_32b_int8_a3_feature_stack3.py
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwq_32b.py
  tools/send_request.py
Labels: module:tests, module:tools

change to max_query_len
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update Dockerfiles
  .github/Dockerfile.buildwheel
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
Labels: none

oproj TP support acl graph (#4073)
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
Labels: module:tests, module:core

oproj TP support acl graph (#4073)
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
Labels: module:tests, module:core

oproj TP support acl graph (#4073)
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
Labels: module:tests, module:core

oproj TP support acl graph (#4073)
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
Labels: module:tests, module:core

kvpool mla kvcache save
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

fix
  vllm_ascend/distributed/mooncake/mooncake_engine.py
Labels: none

fix
  vllm_ascend/distributed/mooncake/mooncake_engine.py
Labels: none

suport GQA
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/mooncake_engine.py
Labels: none

fix
  vllm_ascend/distributed/mooncake/mooncake_engine.py
Labels: none

ut test
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

fix
  vllm_ascend/distributed/mooncake/mooncake_engine.py
Labels: none

test nz mode
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

valid suffix args
  vllm_ascend/patch/platform/patch_config.py
Labels: none

Compatible with vLLM 0.11.0
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Integrate suffix decoding
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/interface.py
  vllm_ascend/spec_decode/suffix_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add e2e test for suffix decoding
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
Labels: module:tests

[Doc] add qwen3 reranker tutorials Signed-off-by: Jeaniowang <1104133197@qq.com>
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_qwen3_reranker.md
Labels: documentation

fix device sync
  vllm_ascend/attention/attention_v1.py
Labels: none

refactor gatingtopk
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe/experts_selector.py
Labels: module:tests, module:ops, module:core

bugfix global dp rank
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

feat: remove restriction on kv nz usage without torchair
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:core

update doc
  docs/source/user_guide/configuration/additional_config.md
Labels: documentation

update test case
  tests/ut/test_ascend_config.py
Labels: module:tests

lint code
  tests/ut/test_ascend_config.py
Labels: module:tests
