Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Accuracy test
  .github/workflows/accuracy_test.yaml
Labels: none

Revert "[BugFix] fix length of sin/cos cache in rope (#1266)"
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

fix dummy_run and profile_run
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

Revert "[DP][V1] Fix rank set in DP scenario & Bump torch-npu version to 2.5.1.post1.dev20250528 (#1235)"
  .github/workflows/accuracy_test.yaml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/installation.md
  pyproject.toml
  requirements.txt
  setup.py
  tests/multicard/test_data_parallel.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, ci/build, module:tests

add mock experts_load data
  vllm_ascend/eplb/eplb_updator.py
Labels: none

Add 310P example
  examples/offline_inference_pangu_72B_310p.py
  examples/offline_inference_qwen2_5_7b_instruct_310p.py
  examples/offline_inference_qwen3_0_6B_310p.py
Labels: none

Add 310P Tutorials
  docs/source/tutorials/310p.md
  docs/source/tutorials/index.md
Labels: documentation

Format correct
  examples/offline_inference_pangu_72B_310p.py
  examples/offline_inference_qwen2_5_7b_instruct_310p.py
  examples/offline_inference_qwen3_0_6B_310p.py
Labels: none

Accuracy test
  .github/workflows/accuracy_test.yaml
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: ci/build

Product name change
  docs/source/tutorials/index.md
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Code segment formate
  docs/source/tutorials/single_node_300i.md
Labels: documentation

fix bugs in get_init_expert_map_from_file
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

fix accuracy in dbo after refact moe
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/multistream/ms_split.py
Labels: none

Accuracy test
  .github/workflows/accuracy_test.yaml
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: ci/build

Updata qwen3-0.6b tp to 1
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Change offline example to V1 engine
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Add Pangu-72B-MoE download guide
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Only enable unit test but disable e2e test when merge
  .github/workflows/accuracy_test.yaml
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build

fix bug in init expert_map_per_layer_cpu
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

Change model path to notify imformation path
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Change pangu model download tips to corresponding tab
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Handle with_prefill_across_dp for multistream mla
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

add gate_eplb
  vllm_ascend/eplb/eplb_updator.py
Labels: none

get_init_experts_map in warm up
  vllm_ascend/eplb/eplb_updator.py
Labels: none

add update_expert_load_statistical_period logic
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

update torch-npu to 2.5.1.post1.dev20250619
  README.md
  README.zh.md
  docs/source/installation.md
  requirements.txt
Labels: documentation

add generate expert map
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

add generate_expert_map_all
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

generate expert map
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

init expert map
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

fix bugs in get_update_iteration
  vllm_ascend/eplb/eplb_updator.py
Labels: none

update torch-npu to 2.5.1.post1.dev20250619
  README.md
  README.zh.md
  docs/source/installation.md
  requirements.txt
Labels: documentation

fix bug in get_init_expert_map_from_file
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
Labels: none

Add MoGE tutorial
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_moge.md
Labels: documentation

[Doc] Add Atlas 300I series tutorials
  docs/source/tutorials/index.md
  docs/source/tutorials/single_node_300i.md
Labels: documentation

Remove url first
  docs/source/tutorials/multi_npu_moge.md
  docs/source/tutorials/single_node_300i.md
Labels: documentation

update pd readme & expert_map bug fix
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: documentation, module:quantization

fix lint
  vllm_ascend/attention/mla_v1.py
Labels: none

fix mc2 issue
  vllm_ascend/models/deepseek_v2.py
Labels: none

fix lint
  vllm_ascend/attention/mla_v1.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
