Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix synchronize error of exceeds_max_model_len d2h copy (#4708)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix synchronize error of exceeds_max_model_len d2h copy (#4708)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix synchronize error of exceeds_max_model_len d2h copy (#4708)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix synchronize error of exceeds_max_model_len d2h copy (#4708)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

Update block_table.py
  vllm_ascend/worker/block_table.py
Labels: none

[CI] Fix ngram & suffix test oom (#4755)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
Labels: module:tests

[CI] Fix ngram & suffix test oom (#4755)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
Labels: module:tests

[CI] Fix ngram & suffix test oom (#4755)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
Labels: module:tests

[CI] Fix ngram & suffix test oom (#4755)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
Labels: module:tests

[Misc] Fix enable_sequence_parallelism in PassConfig
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/utils.py
Labels: module:core

[feat] cross layer kvcache
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/kv_offload/npu.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  docs/source/tutorials/Qwen3-235B-A22B.md
Labels: documentation

update
  docs/source/tutorials/Qwen3-235B-A22B.md
Labels: documentation

[Test] Add a simple e2e test for asnyc exponential
  tests/e2e/singlecard/test_sampler.py
  vllm_ascend/envs.py
Labels: module:tests, module:core

Deepseek Mtp model uses the lm_head and embedding from the main model (#2790)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

Deepseek Mtp model uses the lm_head and embedding from the main model (#2790)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

Deepseek Mtp model uses the lm_head and embedding from the main model (#2790)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

Deepseek Mtp model uses the lm_head and embedding from the main model (#2790)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Feature] model_runner reactor cleancode
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:core

rm vanilla attn (#4558)
  vllm_ascend/ops/attention.py
Labels: module:ops

[Refactor] 1/N Refactor attention_v1 & extract attention_cp (#4628)
  vllm_ascend/attention/attention_cp.py
  vllm_ascend/attention/attention_v1.py
Labels: none

[Bugfix]fix bmm_transpose ops for cann version (#4653)
  csrc/batch_matmul_transpose/op_kernel/batch_matmul_transpose_kernel.cpp
Labels: none

mlapo add qdown output (#4707)
  csrc/mla_preprocess/op_host/mla_preprocess.h
  csrc/mla_preprocess/op_kernel/mla_preprocess.h
  csrc/mla_preprocess/op_kernel/mla_preprocess_kernel.cpp
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_bf16_qdown.hpp
  csrc/ops.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_mla_preprocess_qdown.py
Labels: module:tests

【main】[Doc]add 2P1D instruction for single node (#4716)
  docs/source/tutorials/single_node_pd_disaggregation_llmdatadist.md
Labels: documentation

[CI] Fix unit test fault `no space left` (#4728)
  .github/workflows/vllm_ascend_test_pr_light.yaml
Labels: none

support async mtp (#4511)
  tests/e2e/singlecard/test_async_scheduling.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[BugFix] Fix eagle3 accuracy problem when enforce_eager=True (#4521)
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
  vllm_ascend/spec_decode/eagle_proposer.py
Labels: module:tests

[Bugfix] fix mtp and eagle aclgraph bug (#4710)
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[Kernel] add custom op DispatchGmmCombineDecode (#4139)
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  csrc/build_aclnn.sh
  csrc/dispatch_gmm_combine_decode/op_host/CMakeLists.txt
  csrc/dispatch_gmm_combine_decode/op_host/aclnn_dispatch_gmm_combine_decode.cpp
  csrc/dispatch_gmm_combine_decode/op_host/aclnn_dispatch_gmm_combine_decode.h
  csrc/dispatch_gmm_combine_decode/op_host/dispatch_gmm_combine_decode_def.cpp
  csrc/dispatch_gmm_combine_decode/op_host/dispatch_gmm_combine_decode_proto.cpp
  csrc/dispatch_gmm_combine_decode/op_host/dispatch_gmm_combine_decode_tiling.cpp
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode.cpp
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/block/block_epilogue.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/block/block_epilogue_per_token_dequant.hpp
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/block/block_epilogue_per_token_dequant_swiglu.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/dispatch_policy.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/tile/tile_stride_binary.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/epilogue/tile/tile_stride_muls.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/block/block_mmad.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/block/block_mmad_preload_async_with_callback_resident_a.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/dispatch_policy.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/kernel/grouped_matmul_slice_m_per_token_dequant_multistage_workspace.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/gemm/kernel/grouped_matmul_slice_m_per_token_dequant_swiglu_quant_multistage_workspace.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/raw_distributed/cam_moe_distribute_combine.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode/raw_distributed/cam_moe_distribute_dispatch.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_base.h
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_tiling.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  docs/source/installation.md
  tests/e2e/nightly/multicard_ops/test_dispatch_gmm_combine_decode.py
Labels: documentation, module:tests

Support DeepSeekV3.2 with MLAPO operator (#4753)
  vllm_ascend/attention/sfa_v1.py
Labels: none

[P/D] check kv extra config and del hccl backend (#4547)
  docs/source/tutorials/DeepSeek-V3.1.md
  docs/source/user_guide/feature_guide/kv_pool.md
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/kvpool/backend/mooncake_backend.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: documentation, module:tests, module:core

[Feat]enable sfa cp for dsv3.2 (#4702)
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/shared_weight_layer.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[Feat] Add Euler xlite graph wrapper support (#4526)
  .github/workflows/_e2e_test.yaml
  docs/source/user_guide/configuration/additional_config.md
  docs/source/user_guide/feature_guide/graph_mode.md
  mypy.ini
  requirements-dev.txt
  tests/e2e/singlecard/test_xlite.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
  vllm_ascend/xlite/__init__.py
  vllm_ascend/xlite/xlite.py
  vllm_ascend/xlite/xlite_model_runner.py
  vllm_ascend/xlite/xlite_worker.py
Labels: documentation, module:tests, module:core

[CI] Fix ngram & suffix test oom (#4755)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
Labels: module:tests

fix synchronize error of exceeds_max_model_len d2h copy (#4708)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

pre-commit check
  vllm_ascend/sample/rejection_sampler.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[BugFix] Refactor ACL graph size adjustment for speculative decoding (#4640)
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

fix: format code (yapf) - test_linear.py
  tests/ut/ops/test_linear.py
Labels: module:tests

remove useless patch (#4699)
  examples/external_online_dp/run_dp_template.sh
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/features/test_prefix_cache_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/models/test_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8-A2-torchair.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8-A2.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8-EPLB.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/test_torchair_model_runner.py
  tests/ut/torchair/test_torchair_mtp_proposer.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests
