Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix bug
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

Update vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/ops/vocab_parallel_embedding.py
Labels: module:ops

Additional configuration code
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

fix rebase bug
  vllm_ascend/attention/mla_v1.py
Labels: none

add super kernel for deocode moe
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/utils.py
Labels: module:tests, module:ops, module:quantization

add enable_otp in utils
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:quantization, module:core

[bugfix] fix configuration check logic about ascend scheduler
  tests/long_term/spec_decode_v1/test_v1_mtp_correctness.py
  tests/singlecard/core/test_ascend_scheduler_e2e.py
  vllm_ascend/ascend_config.py
  vllm_ascend/core/schedule_config.py
Labels: module:tests, module:core

[CI] fix
  vllm_ascend/ascend_config.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:ops, module:core

modify assertion message
  vllm_ascend/distributed/parallel_state.py
Labels: none

refact mla forward_prefill&forward_decode
  vllm_ascend/attention/mla_v1.py
Labels: none

[Feat] support return dumped blocks id for connector
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

avoid initialization of lmhead_tp for non-deepseek models
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/platform.py
Labels: module:core

Fixes aclgraph condition and padding logic
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[1/N][Feat] Support MoE models with ACL Graph and refactor MoE communication logic (#2125)
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[1/N][Feat] Support MoE models with ACL Graph and refactor MoE communication logic (#2125)
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[1/N][Feat] Support MoE models with ACL Graph and refactor MoE communication logic (#2125)
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

Delete dumplicate codes and fix a bug
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:quantization

Delete dumplicate codes and fix a bug
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

fix lint
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/platform.py
Labels: module:core

refactor
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/__init__.py
  vllm_ascend/ops/layers/experts_selector.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

fix
  vllm_ascend/distributed/utils.py
Labels: none

[Qwen-moe] npu_add_rms_norm_quant operator access
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/layernorm.py
Labels: module:ops

TA-ELB adapts to Atlas 800I A2
  vllm_ascend/eplb/core/policy/policy_dynamic_ep.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

enable compute moe_load async
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

update
  tests/ut/patch/worker/patch_common/test_patch_linear.py
  tests/ut/test_envs.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/patch/worker/patch_common/patch_linear.py
Labels: module:tests

Remove redundant import, using instead
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/models/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:quantization, module:core

update
  vllm_ascend/worker/worker_v1.py
Labels: none

add multi-node ci
  .github/workflows/scripts/install_and_test.sh
  .github/workflows/scripts/start_container.sh
  .github/workflows/vllm_ascend_multi_node_test.yaml
  examples/online_serving/multi_node_dp.sh
  examples/online_serving/multi_node_ray.sh
Labels: none

refactor all2all-related fused_experts
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

1
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops, module:core

2
  vllm_ascend/ascend_forward_context.py
Labels: module:core

ref2
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

update code
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops, module:core

formatting
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

1
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

add test
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

add test2
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

1
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

1
  vllm_ascend/ascend_forward_context.py
Labels: module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
