Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

add alg
  vllm_ascend/eplb/core/worker/eplb_updator.py
Labels: none

add vllm logger
  vllm_ascend/eplb/core/worker/eplb_updator.py
Labels: none

fix rebalance function
  vllm_ascend/eplb/core/worker/eplb_updator.py
Labels: none

bugfix _transfer_sync return
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

dynamic eplb with mock eplb algorithm
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
  vllm_ascend/eplb/core/worker/eplb_updator.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix moe load
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Init vLLM Ascend maintainers info (#1124)
  docs/source/community/contributors.md
  docs/source/community/governance.md
Labels: documentation

Init vLLM Ascend maintainers info (#1124)
  docs/source/community/contributors.md
  docs/source/community/governance.md
Labels: documentation

[CI] Fix PD job (#1129)
  tests/e2e/common.sh
  tests/e2e/pd_disaggreate/setup_pd.sh
  tests/e2e/run_disagg_pd.sh
Labels: module:tests

[CI] Fix PD job (#1129)
  tests/e2e/common.sh
  tests/e2e/pd_disaggreate/setup_pd.sh
  tests/e2e/run_disagg_pd.sh
Labels: module:tests

fix bug
  vllm_ascend/eplb/core/worker/eplb_updator.py
Labels: none

add the additional configuration options: expert_map_path
  docs/source/user_guide/additional_config.md
Labels: documentation

[MLA][Graph] Improve assertion on Graph mode with MLA
  docs/source/faqs.md
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/multi_step_worker.py
Labels: documentation

move variable to additional config
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/envs.py
Labels: documentation, module:core

fix CI yapf question
  vllm_ascend/ops/expert_load_balancer.py
Labels: module:ops

[CI] Run deepseek acc ut per pr
  tests/multicard/accuracy/test_deepseek_v2_lite_tp2_accuracy.py
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

fix ruff
  vllm_ascend/attention/mla_v1.py
Labels: none

fix D2DExpertWeightLoader
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
  vllm_ascend/eplb/core/policy/mock_load_balance.py
  vllm_ascend/eplb/core/worker/eplb_updator.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

feat: use attention state to mark spec decoding
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ruff
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

Add static EPLB (#1116)
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: documentation, module:ops, module:quantization, module:core

Add static EPLB (#1116)
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: documentation, module:ops, module:quantization, module:core

fix import bug
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Doc] Add 0.9.0rc1 release note (#1106)
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

[Doc] Add 0.9.0rc1 release note (#1106)
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

remove old quantization model
  tests/conftest.py
  tests/singlecard/test_offline_inference.py
Labels: module:tests

[Doc] Update 0.9.0rc1 release date
  docs/source/developer_guide/versioning_policy.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

import torch.distributed in model runner
  vllm_ascend/worker/model_runner_v1.py
Labels: none

dp proxy support both prefill and decode instances in disaggregated-prefill
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  vllm_ascend/worker/worker.py
Labels: none

add torchrun scripts to launch multiple vllm services among multi nodes
  examples/disaggregated_prefill/run_single_vllm.py
  examples/disaggregated_prefill/torchrun_multi_vllm.sh
Labels: none

feat: replace kvCacheManager with CacheManager api
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/envs.py
Labels: module:core

add scripts to generate ranktable for all devices in nodes
  examples/disaggregated_prefill/gen_ranktable.py
  examples/disaggregated_prefill/gen_ranktable.sh
Labels: none

feat: add compatibility between A2 and A3
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/distributed/kv_transfer/utils.py
Labels: none

[MTP][V1] Adapt mtp with graph mode in v1. (#1023)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

[MTP][V1] Adapt mtp with graph mode in v1. (#1023)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

move attribute and method coupled with model from ExpertWeightLoader to VllmAdaptor
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/loader/device_transfer_loader.py
Labels: none

[Doc] Update 0.9.0rc1 release date (#1139)
  docs/source/developer_guide/versioning_policy.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Doc] Update 0.9.0rc1 release date (#1139)
  docs/source/developer_guide/versioning_policy.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[fix] fix compatibility for non-EPLB scenarios
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[docs] Update guidance on how to implement and register new models in vLLM-Ascend
  docs/source/developer_guide/model_registration.md
Labels: documentation
