Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

modify yapf error for test file
  tests/ut/distributed/test_device_communicators.py
Labels: module:tests

sort/argsort aicpu->aicore
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Misc][V0 Deprecation] Remove multi-step worker (#1809)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/multi_step_worker.py
Labels: none

[Misc][V0 Deprecation] Remove multi-step worker (#1809)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/multi_step_worker.py
Labels: none

[Misc][V0 Deprecation] Remove multi-step worker (#1809)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/multi_step_worker.py
Labels: none

[Misc][V0 Deprecation] Remove V0 related codes of test, example, platform (#1805)
  examples/offline_inference_npu_v0.py
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/test_platform.py
  tests/ut/worker/test_pooling_model_runner.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

[Misc][V0 Deprecation] Remove V0 related codes of test, example, platform (#1805)
  examples/offline_inference_npu_v0.py
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/test_platform.py
  tests/ut/worker/test_pooling_model_runner.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

[Misc][V0 Deprecation] Remove V0 related codes of test, example, platform (#1805)
  examples/offline_inference_npu_v0.py
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/test_platform.py
  tests/ut/worker/test_pooling_model_runner.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

add pymarkdown and shellcheck for lint
  .pre-commit-config.yaml
  tools/shellcheck.sh
Labels: module:tools

fix
  .pre-commit-config.yaml
Labels: none

fix shell check
  .github/format_pr_body.sh
  benchmarks/scripts/run-performance-benchmarks.sh
  examples/run_dp_attention_etp16_benmark.sh
  examples/run_dp_server.sh
  tests/e2e/common.sh
  tests/e2e/pd_disaggreate/setup_pd.sh
  tests/e2e/run_disagg_pd.sh
  tests/e2e/run_doctests.sh
  tools/mypy.sh
  tools/shellcheck.sh
Labels: module:tests, module:tools

fix shell check
  .pre-commit-config.yaml
  tools/shellcheck.sh
Labels: module:tools

temporary remve mypy
  .pre-commit-config.yaml
Labels: none

disable python init
  .pre-commit-config.yaml
Labels: none

fix pymarkdown
  benchmarks/README.md
Labels: documentation

fix pymarkdown
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/modeling/adding_a_new_model.md
  docs/source/quick_start.md
  pyproject.toml
Labels: documentation

fix shellcheck
  tools/shellcheck.sh
Labels: module:tools

add python init check
  .pre-commit-config.yaml
  tools/check_python_pkg_init.py
  tools/shellcheck.sh
Labels: module:tools

add pymarkdown config
  pyproject.toml
Labels: none

fix markdown
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  README.md
  README.zh.md
  benchmarks/README.md
  benchmarks/scripts/perf_result_template.md
  docs/README.md
  docs/source/community/governance.md
  docs/source/community/user_stories/llamafactory.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
  docs/source/developer_guide/evaluation/using_evalscope.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/developer_guide/evaluation/using_opencompass.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/faqs.md
  docs/source/installation.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/single_node_300i.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/feature_guide/quantization.md
  docs/source/user_guide/feature_guide/sleep_mode.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

Revert "temporary remve mypy"
  .pre-commit-config.yaml
Labels: none

exclude vllm dir
  .pre-commit-config.yaml
Labels: none

add support for flashcomm2 in qwen3
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/envs.py
  vllm_ascend/models/qwen3.py
Labels: module:tests, module:core

use tuple as kv cache instead of tensor
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

fix lint
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

fix rebase
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fixed rm_router_logits_allgather_ep bug
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

fixed all_reduce_merge_allgather_ep bug
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

fixed all_reduce_merge_allgather_ep bug
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fixed rm_router_logits_allgather_ep bug
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

remove draft model runner
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: none

update
  vllm_ascend/patch/worker/patch_common/__init__.py
Labels: none

remove multi-step model runner
  vllm_ascend/worker/multi_step_runner.py
Labels: none

[bugfix] prefill optimization support torchair graph mode
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

Remove V0 worker
  vllm_ascend/worker/worker.py
Labels: none

adapt dispatchV2 interface
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

[Misc][V0 Deprecation] Remove Draft Model Runner Used for V0 Spec Decode (#1810)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: none

[Misc][V0 Deprecation] Remove Draft Model Runner Used for V0 Spec Decode (#1810)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: none

[Misc][V0 Deprecation] Remove Draft Model Runner Used for V0 Spec Decode (#1810)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: none

re-enable python init
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
