Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Feature] model_runner reactor cleancode
  tests/ut/worker/test_input_batch.py
  tests/ut/worker/test_model_runner_v1.py
Labels: module:tests

modify format for ci
  vllm_ascend/ops/triton/fla/fused_qkvzba_split_reshape.py
  vllm_ascend/patch/worker/patch_qwen3_next.py
Labels: module:ops

bugfix
  vllm_ascend/eplb/core/eplb_utils.py
Labels: none

redundant bugfix
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

Add gsm8k accuracy test for multi-note Qwen3-235B-A3B
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A3B.yaml
Labels: module:tests

modify format for ci
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_qwen3_next.py
Labels: none

add acc test
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/MiniCPM3-4B.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/Phi-4-mini-instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

add acc test
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  tests/e2e/models/configs/MiniCPM3-4B.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

modefy format
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

fix clean code
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/npugraph_ex_passes/__init__.py
  vllm_ascend/compilation/npugraph_ex_passes/add_rms_norm_quant.py
Labels: module:core

delete Mistral-7B-Instruct-v0.1
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  tests/e2e/models/configs/ERNIE-4.5-21B-A3B-PT.yaml
  tests/e2e/models/configs/Mistral-7B-Instruct-v0.1.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

Update test_model_runner_v1.py
  tests/ut/worker/test_model_runner_v1.py
Labels: module:tests

融合算子禁用
  vllm_ascend/worker/model_runner_v1.py
Labels: none

modify format for ci
  vllm_ascend/patch/worker/patch_qwen3_next.py
Labels: none

Update test_model_runner_v1.py
  tests/ut/worker/test_model_runner_v1.py
Labels: module:tests

fix clean code
  vllm_ascend/compilation/compiler_interface.py
Labels: none

modify format for ci
  vllm_ascend/patch/worker/patch_qwen3_next.py
Labels: none

Revert "[Kernel] add custom moe ops for prefill (#4194)"
  csrc/build_aclnn.sh
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/moe_distribute_base.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

Fix incorrect MLAPO weight release in PD mixex scenarios. (#4774)
  vllm_ascend/attention/sfa_v1.py
Labels: none

Fix incorrect MLAPO weight release in PD mixex scenarios. (#4774)
  vllm_ascend/attention/sfa_v1.py
Labels: none

Fix incorrect MLAPO weight release in PD mixex scenarios. (#4774)
  vllm_ascend/attention/sfa_v1.py
Labels: none

Fix incorrect MLAPO weight release in PD mixex scenarios. (#4774)
  vllm_ascend/attention/sfa_v1.py
Labels: none

fix clean code
  vllm_ascend/compilation/compiler_interface.py
Labels: none

Revert "[Kernel] add custom moe ops for prefill" (#4806)
  csrc/build_aclnn.sh
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/moe_distribute_base.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

Revert "[Kernel] add custom moe ops for prefill" (#4806)
  csrc/build_aclnn.sh
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/moe_distribute_base.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

Revert "[Kernel] add custom moe ops for prefill" (#4806)
  csrc/build_aclnn.sh
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/moe_distribute_base.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

Revert "[Kernel] add custom moe ops for prefill" (#4806)
  csrc/build_aclnn.sh
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/moe_distribute_base.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

update qwen3-omni doc
  docs/source/tutorials/Qwen3-Omni-30B-A3B-Thinking.md
  docs/source/tutorials/index.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

fix ut
  tests/ut/torchair/ops/test_torchair_fused_moe.py
Labels: module:tests

[Bugfix] Add the check for a null VllmConfig (#4749)
  vllm_ascend/utils.py
Labels: module:core

[Bugfix] Add the check for a null VllmConfig (#4749)
  vllm_ascend/utils.py
Labels: module:core

[Bugfix] Add the check for a null VllmConfig (#4749)
  vllm_ascend/utils.py
Labels: module:core

[Bugfix] Add the check for a null VllmConfig (#4749)
  vllm_ascend/utils.py
Labels: module:core

Update fused_moe.py
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

pass for matmul_allreduce_add_rmsnorm
  csrc/build_aclnn.sh
  csrc/matmul_allreduce_add_rmsnorm/op_host/CMakeLists.txt
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/aclnn_matmul_allreduce_add_rmsnorm.h
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_def.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_proto.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_tiling.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_host/matmul_allreduce_add_rmsnorm_workspace.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm.cpp
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aic_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_aiv_kernel.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_tiling.h
  csrc/matmul_allreduce_add_rmsnorm/op_kernel/matmul_allreduce_add_rmsnorm_utils.h
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/nightly/ops/test_matmul_allreduce_add_rmsnorm.py
Labels: module:tests

[CI] Fix draft_model_config is None issue
  vllm_ascend/utils.py
Labels: module:core

[feat] cross layer kvcache
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[afd] DBO adaption
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/utils.py
  vllm_ascend/distributed/M2NAFDConnector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_ffn_model_runner_v1.py
  vllm_ascend/worker/npu_ubatch_wrapper.py
  vllm_ascend/worker/ubatch_splitting.py
  vllm_ascend/worker/ubatch_utils.py
  vllm_ascend/worker/ubatching.py
Labels: module:core

[perf][dsv3.2][async_scheduling] imptove dsv3.2 performance by eliminating HD synchronization
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none
