Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
Labels: module:tests

fix
  tests/e2e/models/report_template.md
  tests/e2e/models/test_lm_eval_correctness.py
Labels: documentation, module:tests

ut: add ci guard for ut coverage
  codecov.yml
Labels: none

Refactor V1 attention for better extensibility
  vllm_ascend/attention/attention_v1.py
Labels: none

[Perf][MTP] Optimize reject sampler in greedy situation. (#2137)
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/ut/sample/test_rejection_sampler.py
  vllm_ascend/sample/rejection_sampler.py
Labels: module:tests

[Perf][MTP] Optimize reject sampler in greedy situation. (#2137)
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/ut/sample/test_rejection_sampler.py
  vllm_ascend/sample/rejection_sampler.py
Labels: module:tests

[Perf][MTP] Optimize reject sampler in greedy situation. (#2137)
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/ut/sample/test_rejection_sampler.py
  vllm_ascend/sample/rejection_sampler.py
Labels: module:tests

[3/N][Refactor] torchair model runner refactor (#2207)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[3/N][Refactor] torchair model runner refactor (#2207)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[3/N][Refactor] torchair model runner refactor (#2207)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ut
  tests/ut/models/test_qwen3_moe.py
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/models/qwen3_moe.py
Labels: module:tests

[CI] Fix lint and pre-commit checks
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/linear.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
Labels: module:ops, module:quantization, module:core

Add Custom Kernels For LoRA Performance
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

[Feat] chunkprefill mla support torchair graph (#1772)
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

[Feat] chunkprefill mla support torchair graph (#1772)
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

[Feat] chunkprefill mla support torchair graph (#1772)
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

[Bugfix] fix the oom when chunkprefill with long context like 64k
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[CI] Fix
  vllm_ascend/models/deepseek_dbo.py
Labels: none

fix
  tests/e2e/models/report_template.md
Labels: documentation, module:tests

[4/N][Refactor] torchair model runner refactor
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[4/N][Refactor] torchair model runner refactor (#2208)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[4/N][Refactor] torchair model runner refactor (#2208)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[4/N][Refactor] torchair model runner refactor (#2208)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[CI] Configure Gemini
  .gemini/config.yaml
Labels: none

fix TestSetCosSinCache
  tests/ut/ops/test_rotary_embedding.py
Labels: module:tests

Configure Gemini (#2298)
  .gemini/config.yaml
Labels: none

Configure Gemini (#2298)
  .gemini/config.yaml
Labels: none

Configure Gemini (#2298)
  .gemini/config.yaml
Labels: none

Add Custom Kernels For LoRA Performance
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

Add Custom Kernels For LoRA Performance
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

Add Custom Kernels For LoRA Performance
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

Update codecov.yml
  codecov.yml
Labels: none

Update codecov.yml
  codecov.yml
Labels: none

ut: add ci guard for ut coverage (#2317)
  codecov.yml
Labels: none

ut: add ci guard for ut coverage (#2317)
  codecov.yml
Labels: none

ut: add ci guard for ut coverage (#2317)
  codecov.yml
Labels: none

[5/N][Refactor] torchair model runner refactor
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  tests/e2e/models/report_template.md
Labels: documentation, module:tests

[BugFix] Fix the issue where the eagle method for speculative decoding fails to load the model
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix qwen graph
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests
