Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Test] Add new test model for aclgraph single_request (#3888)
  tests/e2e/multicard/test_single_request_aclgraph.py
Labels: module:tests

[Bugfix] Fix MTP support for lmhead_tensor_parallel_size (#3915)
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

[main][bugfix] fix valueError in static_forward_context when prefix is empty (#3924)
  vllm_ascend/ops/linear.py
Labels: module:ops

[E2E][MM] Add e2e tests for InternVL model (#3796)
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/multi-modal/test_internvl.py
Labels: module:tests

[feature] support pcp + mtp (with pd disaggregate) (#3822)
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Doc] Update doc for release notese (#3853)
  docs/source/user_guide/release_notes.md
Labels: documentation

Update torch-npu version to 2.7.1 (#3896)
  README.md
  README.zh.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  pyproject.toml
  requirements.txt
  tests/ut/ops/test_layernorm.py
  tests/ut/torchair/quantization/test_torchair_w8a8_dynamic.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/weight_prefetch.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:ops, module:core

[CI][Nightly] Correct the commit hash available for mooncake (#3943)
  tests/e2e/nightly/multi_node/scripts/build_mooncake.sh
Labels: module:tests

[Perf] Move attention update stream out of loop to optimize performance (#3848)
  vllm_ascend/compilation/acl_graph.py
Labels: none

correct bug to fix the value of max_num_tokens (#3933)
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[Feat][UT] Support Deepseekv32 FULL_DECODE_ONLY mode and add unit test of sfa_v1 (#3763)
  tests/ut/attention/test_sfa_v1.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Test] Add new e2e test use deepseek-v2-lite in ge graph mode (#3937)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[CI][Nightly] Fix mooncake build (#3958)
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

Upgrade CANN to 8.3.rc1 (#3945)
  .github/Dockerfile.buildwheel
  .github/workflows/_accuracy_test.yaml
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_kill_lws_resources.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_models.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/vllm_interface/vllm_test.cfg
  tests/ut/attention/test_attention_mask.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_linear.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops

revert TND modify when dcp pcp (#3948)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[MM][Bugfix] Add MoE verification for multi-modal models (#3897)
  vllm_ascend/utils.py
Labels: module:core

Quality enhancement: Immediately interrupt execution when memory OOM (#3932)
  csrc/camem_allocator.cpp
Labels: none

[Test] Add accuracy test for qwen3-8b-w8a8 (#3799)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Qwen3-8B-W8A8.yaml
  tests/e2e/models/test_lm_eval_correctness.py
Labels: module:tests

[BugFix] Fix deepseek v3.2 mtp bug. (#3900)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[Test]Add accuracy test for multiple models (#3823)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Meta-Llama-3.1-8B-Instruct.yaml
  tests/e2e/models/configs/Qwen2.5-Omni-7B.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-VL-8B-Instruct.yaml
  tests/e2e/models/configs/accuracy.txt
Labels: module:tests

[PD Disaggregation]Set adxl engine as default backend and update README (#3761)
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: documentation

[TEST]Add full graph for multimodal nightly tests (#3968)
  tests/e2e/nightly/models/test_qwen2_5_vl_32b.py
  tests/e2e/nightly/models/test_qwen2_5_vl_7b.py
Labels: module:tests

[Perf] move quant before allgather in Allgather EP (#3420)
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_fused_moe.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[ModelRunner][Refactor] Refactor kv cache tensor initialization logic (#3106)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Test] Add accuracy test for qwen3-30b-a3b-w8a8 (#3807)
  .github/workflows/accuracy_test.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B-W8A8.yaml
Labels: module:tests

[Doc] Refactor the DeepSeek-V3.2-Exp tutorial. (#3871)
  docs/source/conf.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_ais_bench.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/DeepSeek-V3.2-Exp.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi-node_dsv3.2.md
Labels: documentation

support qwen3-next full_decode_only mode. (#3949)
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[docs] add aclgraph developer guide (#3683)
  docs/source/developer_guide/feature_guide/ACL_Graph.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[Doc] Update version policy (#3999)
  docs/source/community/versioning_policy.md
Labels: documentation

[Doc] add mtp doc (#3770)
  docs/source/developer_guide/feature_guide/Multi_Token_Prediction.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[Doc]Add developer guide of eplb. (#3759)
  docs/source/assets/eplb.png
  docs/source/developer_guide/feature_guide/eplb_swift_balancer.md
  docs/source/developer_guide/feature_guide/index.md
Labels: documentation

[docs] Add kv pool developer guide (#3752)
  docs/source/developer_guide/feature_guide/KV_Cache_Pool_Guide.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/user_guide/feature_guide/index.md
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[main][doc][kv_pool]Add adxl timeout parameter in kv pool user guide (#4012)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[Test] Refactor accuracy test to nightly test (#3814)
  .github/workflows/_e2e_nightly_single_node_models.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_report.yaml
Labels: none

[P/D]Make kv-transfer env variable take effect & Fix load-balance proxy (#3981)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/utils.py
Labels: module:tests

[feat]decode convert bsnd to tnd and fix bug when pcp and dcp (#3980)
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Feat](Mooncake) Supports multiple input suffixes for global_segment_size (#3690)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
  tests/ut/distributed/mooncake/test_config_data.py
  vllm_ascend/distributed/mooncake/config_data.py
Labels: documentation, module:tests

[TEST]Update nightly acc test standard (#4032)
  tests/e2e/nightly/models/test_qwen2_5_vl_32b.py
  tests/e2e/nightly/models/test_qwen2_5_vl_7b.py
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
Labels: module:tests

[CI] Quick fix mooncake for nightly-ci (#4028)
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  tests/e2e/nightly/multi_node/scripts/build_mooncake.sh
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: documentation, module:tests

[Bugfix] Add constraints for sequence parallelism (#4014)
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/utils.py
Labels: module:core
