Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

translate Chinese comment into English
  csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
  csrc/dispatch_ffn_combine/op_host/dispatch_ffn_combine_def.cpp
  csrc/dispatch_ffn_combine/op_host/dispatch_ffn_combine_tiling.cpp
  csrc/dispatch_ffn_combine/op_host/hcom_topo_info.h
  csrc/dispatch_ffn_combine/op_kernel/dispatch_ffn_combine_kernel.hpp
  csrc/dispatch_ffn_combine/op_kernel/moe_init_routing_quant_v2/moe_init_routing_quant_v2.cpp
  csrc/dispatch_ffn_combine/op_kernel/moe_init_routing_quant_v2/moe_init_routing_v2_tiling.h
  csrc/dispatch_ffn_combine/op_kernel/moe_init_routing_quant_v2/moe_v2_expert_token_out.h
  csrc/dispatch_ffn_combine/op_kernel/moe_init_routing_quant_v2/moe_v2_gather_dynamic_quant.h
  csrc/dispatch_ffn_combine/op_kernel/moe_init_routing_quant_v2/moe_v2_gather_out.h
  csrc/dispatch_ffn_combine/op_kernel/moe_init_routing_quant_v2/moe_v2_src_to_dst_with_capacity.h
  csrc/dispatch_ffn_combine/op_kernel/unpermute/moe_token_unpermute.h
  csrc/dispatch_ffn_combine/op_kernel/utils/block_epilogue_pertoken_row.hpp
  csrc/dispatch_ffn_combine/op_kernel/utils/block_epilogue_pertoken_swiglu.hpp
  csrc/dispatch_ffn_combine/op_kernel/utils/hccl_shmem.hpp
Labels: none

update installation doc
  docs/source/installation.md
Labels: documentation

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

Update csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
  csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
Labels: none

Update csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
  csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
Labels: none

Fix the Eagle3 inference failure issue.
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

remove useless patch
  examples/external_online_dp/run_dp_template.sh
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/features/test_prefix_cache_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/models/test_deepseek_r1_0528_w8a8.py
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8-A2-torchair.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8-A2.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8-EPLB.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/test_torchair_model_runner.py
  tests/ut/torchair/test_torchair_mtp_proposer.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_config.py
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

Update csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
  csrc/dispatch_ffn_combine/op_host/aclnn_dispatch_ffn_combine.h
  csrc/dispatch_ffn_combine/op_kernel/dispatch_ffn_combine_kernel.hpp
Labels: none

[long_seq] remove long_seq env (#4660)
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/test_platform.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/kvpool/pool_worker.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core

[long_seq] remove long_seq env (#4660)
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/test_platform.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/kvpool/pool_worker.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core

[long_seq] remove long_seq env (#4660)
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/test_platform.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/kvpool/pool_worker.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core

[long_seq] remove long_seq env (#4660)
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/test_platform.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/kvpool/pool_worker.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core

feat(graph): support DeepSeek-V3.2 with `FULL_DECODE_ONLY` mode
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

clean up model module (#4611)
  docs/source/tutorials/Qwen2.5.md
Labels: documentation

fix ut no space left
  .github/workflows/vllm_ascend_test_pr_light.yaml
Labels: none

update
  docs/source/tutorials/index.md
  docs/source/tutorials/kubernetes_pd_disaggregation.md
Labels: documentation

mooncake support pp
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/test_ptp.py
Labels: none

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

format mooncake
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

[CI] Refect accuarcy test
  .github/workflows/_e2e_accuracy.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  tests/e2e/models/configs/gemma-3-4b-it.yaml
Labels: module:tests

suport pp
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

suport AscendScheduer and fix A2 MC2 and pp bug
  docs/source/._developer_guide
  docs/source/community/._contributors.md
  docs/source/community/._versioning_policy.md
  docs/source/developer_guide/._contribution
  docs/source/developer_guide/contribution/._multi_node_test.md
  docs/source/developer_guide/evaluation/._accuracy_report
  docs/source/developer_guide/evaluation/accuracy_report/._Qwen3-8B-Base.md
  docs/source/locale/zh_CN/LC_MESSAGES/community/user_stories/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/._contribution
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/evaluation/._accuracy_report
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/feature_guide/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/modeling/._adding_a_new_model.po
  examples/._offline_inference_npu.py
  examples/._offline_inference_npu_long_seq.py
  examples/._offline_weight_load.py
  examples/._prompt_embed_inference.py
  examples/disaggregated_prefill_v1/._load_balance_proxy_layerwise_server_example.py
  examples/eplb/._eplb_deepseek.py
  tests/e2e/._multicard
  tests/e2e/._pd_disaggreate
  tests/e2e/nightly/multi_node/._scripts
  vllm_ascend/._kv_offload
  vllm_ascend/._model_loader
  vllm_ascend/patch/._worker
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests

chore: remove all macOS auto-generated ._* files
  docs/source/._developer_guide
  docs/source/community/._contributors.md
  docs/source/community/._versioning_policy.md
  docs/source/developer_guide/._contribution
  docs/source/developer_guide/contribution/._multi_node_test.md
  docs/source/developer_guide/evaluation/._accuracy_report
  docs/source/developer_guide/evaluation/accuracy_report/._Qwen3-8B-Base.md
  docs/source/locale/zh_CN/LC_MESSAGES/community/user_stories/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/._contribution
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/evaluation/._accuracy_report
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/feature_guide/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/modeling/._adding_a_new_model.po
  examples/._offline_inference_npu.py
  examples/._offline_inference_npu_long_seq.py
  examples/._offline_weight_load.py
  examples/._prompt_embed_inference.py
  examples/disaggregated_prefill_v1/._load_balance_proxy_layerwise_server_example.py
  examples/eplb/._eplb_deepseek.py
  tests/e2e/._multicard
  tests/e2e/._pd_disaggreate
  tests/e2e/nightly/multi_node/._scripts
  vllm_ascend/._kv_offload
  vllm_ascend/._model_loader
  vllm_ascend/patch/._worker
Labels: documentation, module:tests

remove kv nz
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Revert "suport AscendScheduer and fix A2 MC2 and pp bug"
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Revert "suport pp"
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

suport pp
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

format mooncake
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

suport AscendScheduer and fix A2 MC2 and pp bug
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ascend scheduler and optimize code
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

change comment
  vllm_ascend/worker/model_runner_v1.py
Labels: none

format code
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

remove test ut
  vllm_ascend/distributed/test_ptp.py
Labels: none

bugfix:add add_not_transfer_request
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

format code
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

bugfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

utfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
