Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

upgrade doc
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
Labels: documentation

CI problems
  vllm_ascend/platform.py
Labels: module:core

update
  .gitmodules
  csrc/dispatch_ffn_combine/build.sh
  csrc/dispatch_ffn_combine/cmake/util/ascendc_impl_build.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
Labels: module:ops

[chore] add triton-ascend to requirements.txt
  requirements.txt
Labels: none

[chore] add triton-ascend to requirements.txt
  pyproject.toml
Labels: none

fix lint
  .github/workflows/_e2e_nightly_multi_node.yaml
Labels: none

Revert "[cherry-pick][refactor]support gatingtopk operator generalization (#4050)" (#4352)
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/moe/experts_selector.py
Labels: module:tests, module:ops, module:core

[Doc]Add single node PD disaggregation instructions (#4337)
  docs/source/tutorials/index.md
  docs/source/tutorials/single_node_pd_disaggregation_llmdatadist.md
Labels: documentation

[logical_to_physical_mcal_mapto resolve eplb preformance problem.apBugFix]fix log2phy param to logical
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:ops

[BugFix]fix log2phy to logical_to_physical_map to reslove eplb performance prole blem.
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:ops

Update mooncake_backend.py
  vllm_ascend/distributed/kvpool/backend/mooncake_backend.py
Labels: none

[Doc] Upgrade multi-node doc (#4365)
  .github/workflows/_e2e_nightly_multi_node.yaml
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
Labels: documentation

[Doc] Upgrade multi-node doc (#4365)
  .github/workflows/_e2e_nightly_multi_node.yaml
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
Labels: documentation

[Doc] Upgrade multi-node doc (#4365)
  .github/workflows/_e2e_nightly_multi_node.yaml
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
Labels: documentation

[Doc] Upgrade multi-node doc (#4365)
  .github/workflows/_e2e_nightly_multi_node.yaml
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
Labels: documentation

fix structured outputs compatibility
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/core/scheduler_dynamic_batch.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

remove skip of nightly a2
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_e2e_test.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

fix break of vllm:Rename clashing method names for vLLM model protocol #27583
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Skip 1th e2e full
  .github/workflows/_e2e_test.yaml
Labels: none

Enable torchair test in single card full test
  .github/workflows/_e2e_test.yaml
Labels: none

[Core] Async scheduling + structured outputs compatibility#26866
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

update to releases/v0.11.1
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  docs/source/community/versioning_policy.md
Labels: documentation

fix format issue
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

replace VisionPatchEmbed for better performance
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

fix vllm break: Avoid bytecode hook and simplify TorchCompileWrapperWithCustomDipatch #25110
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_dynamo_vllm_backend.py
Labels: none

model runner execute model support v0.11.0 branch
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

fix vllm break:Refactor CUDA attention backend selection logic#24794
  vllm_ascend/worker/model_runner_v1.py
Labels: none

just to trigger ci test
  .github/workflows/_e2e_test.yaml
Labels: none

Add comments fRestore full test cases
  .github/workflows/_e2e_test.yaml
Labels: none

vllm break of PR:https://github.com/vllm-project/vllm/pull/24794
  vllm_ascend/platform.py
Labels: module:core

fix break by vllm:[BugFix][VL] Fix FA selection on Qwen2.5-VL #27790
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: none

Fix vllm break:Support LoRA with speculative decoding:#21068
  vllm_ascend/worker/npu_input_batch.py
Labels: none

fix vllm break: [Model] Pass mm_features directly into get_mrope_input_positions#28399
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix the deepseek mtp break
  vllm_ascend/torchair/torchair_mla.py
Labels: none

fix scheduler
  vllm_ascend/core/scheduler.py
  vllm_ascend/core/scheduler_dynamic_batch.py
Labels: none

skip ut, nightly, v0.11.0
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

skip A3-nightly test
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
Labels: none

fix lint error
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

fix vllm break by: Enable sequence parallelism matching w/o custom ops enabled #27126
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

make light test take effect
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/vllm_ascend_test.yaml
Labels: none
