Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Change to graph fusion
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/quant_fusion_pass.py
  vllm_ascend/platform.py
Labels: module:core

fix ut
  tests/ut/torchair/ops/test_torchair_fused_moe.py
Labels: module:tests

optimization of kimi-k2
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

[Core] Encoder separation for Encode-Prefill-Decode Disaggregation (#4176)
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_ec_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Core] Encoder separation for Encode-Prefill-Decode Disaggregation (#4176)
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_ec_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Core] Encoder separation for Encode-Prefill-Decode Disaggregation (#4176)
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_ec_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Core] Encoder separation for Encode-Prefill-Decode Disaggregation (#4176)
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_ec_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

fix ut
  tests/ut/torchair/ops/test_torchair_fused_moe.py
Labels: module:tests

bugfix
  vllm_ascend/compilation/acl_graph.py
Labels: none

[perf][moe] support more efficient experts computation-communication overlap
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
Labels: module:ops

fix ut no feature
  tests/ut/torchair/ops/test_torchair_fused_moe.py
Labels: module:tests

upgrade vLLM to 0.12.0 tag (#4647)
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pr_full.yaml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  tests/ut/test_platform.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_deepseek.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:core

upgrade vLLM to 0.12.0 tag (#4647)
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pr_full.yaml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  tests/ut/test_platform.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_deepseek.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:core

upgrade vLLM to 0.12.0 tag (#4647)
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pr_full.yaml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  tests/ut/test_platform.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_deepseek.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:core

upgrade vLLM to 0.12.0 tag (#4647)
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  .github/workflows/vllm_ascend_test_pr_full.yaml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  tests/ut/test_platform.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_deepseek.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:core

Remove cancel for main to main check
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

test(ci): change test to 4 cards and add some assertions
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  vllm_ascend/quantization/w4a16.py
Labels: module:tests, module:quantization

Remove cancel for main to main check (#4685)
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Remove cancel for main to main check (#4685)
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Remove cancel for main to main check (#4685)
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Remove cancel for main to main check (#4685)
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

[Bugfix] Fix Dcp dimension mismatch when enable Mlapo
  vllm_ascend/attention/mla_v1.py
Labels: none

bugfix
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix: add missing is_encoder_decoder arg
  tests/ut/core/test_schedule_config.py
Labels: module:tests

Fix SchedulerConfig initialization compatibility with vLLM upstream
  tests/ut/core/test_schedule_config.py
  vllm_ascend/core/schedule_config.py
Labels: module:tests

fanlianghua
  vllm_ascend/quantization/qwen2_c8.py
Labels: module:quantization

Adopt inductor fusion and define quantization fusion pass (#4168)
  tests/e2e/singlecard/test_quant_fusion.py
  tests/ut/ops/test_layernorm.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/__init__.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:tests, module:ops, module:core

Adopt inductor fusion and define quantization fusion pass (#4168)
  tests/e2e/singlecard/test_quant_fusion.py
  tests/ut/ops/test_layernorm.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/__init__.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:tests, module:ops, module:core

Adopt inductor fusion and define quantization fusion pass (#4168)
  tests/e2e/singlecard/test_quant_fusion.py
  tests/ut/ops/test_layernorm.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/__init__.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:tests, module:ops, module:core

Adopt inductor fusion and define quantization fusion pass (#4168)
  tests/e2e/singlecard/test_quant_fusion.py
  tests/ut/ops/test_layernorm.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/compilation/compiler_interface.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/__init__.py
  vllm_ascend/compilation/passes/quant_fusion_pass.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:tests, module:ops, module:core

fix: pass model config params to initialize_from_config
  tests/ut/core/test_schedule_config.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

[Bugfix] fix qwen3-vl-moe shape ERROR during the _prepare_inputs phase under high concurrency.
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix doc
  .github/ISSUE_TEMPLATE/900-release-checklist.yml
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
Labels: documentation

update
  docs/source/tutorials/Qwen3-235B.md
Labels: documentation

fix comment
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: none

correctly use multistream in acl graph
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

update index.md
  docs/source/tutorials/Qwen3-Moe.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_qwen3_moe.md
Labels: documentation

support triton mrope
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Fusion] normalize fusion naming and enable e2e test
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/test_norm_quant_fusion.py
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/graph_fusion_pass_manager.py
  vllm_ascend/compilation/passes/norm_quant_fusion_pass.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
