Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Formating change
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

resolve conflicts
  vllm_ascend/distributed/kvpool/kv_transfer.py
Labels: none

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/multi_npu_qwen3_dense.md
Labels: documentation

fix ut for device_init
  tests/ut/torchair/test_torchair_worker.py
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

[BugFix] Adapted Qwen3-Next to v0.11.2
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/models/qwen3_next.py
Labels: module:tests

tile row in large bs
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

add has_triton check
  vllm_ascend/attention/sfa_v1.py
Labels: none

add triton kernel supporting partial rope
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

add rope_dim to triton rope
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

add triton utils and move to triton dir
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/ops/triton/rope.py
  vllm_ascend/ops/triton/triton_utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/config/utils.py
Labels: module:tests

Formating change
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add pybind
  csrc/torch_binding.cpp
  csrc/utils.h
Labels: none

fix
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

fix
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

fix
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

fix
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/attention/attention_v1.py
Labels: none

clean code
  vllm_ascend/utils.py
Labels: module:core

[v0.11.0][Bugfix][MoE] enable force_load_balance in aclgraph (#4367)
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[Bugfix]Fix the hang issue of multimodal model when running with DP>1 (#4393)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

npugraph_ex integration with vllm-ascend
  tests/ut/patch/worker/patch_common/test_patch_eager_adaptor.py
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_eager_adaptor.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

Add MagicMTP(block verify) and Triton optimization
  mypy.ini
  vllm_ascend/sample/rejection_sampler.py
Labels: none

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/worker/model_runner_v1.py
Labels: none

remove some redundant lines
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

resolve conflicts
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/distributed/kvpool/ascend_store_connector.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

fix pre-commit
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

Formating change
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Formating change
  vllm_ascend/worker/model_runner_v1.py
Labels: none

resolve conflicts
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/distributed/kvpool/ascend_store_connector.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/multi_npu_qwen3_dense.md
Labels: documentation

unset nz in bf16&fp16
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:core

resolve conflicts
  vllm_ascend/distributed/kvpool/backend/mooncake_backend.py
Labels: none

format fix
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
Labels: module:ops

eplb quick-fix
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

unset nz in bf16&fp16
  vllm_ascend/worker/worker_v1.py
Labels: none

chip type judgement code optimization
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

fix lint
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

format fix
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/ops/moe/moe_mlp.py
Labels: module:ops

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
