Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Bugfix] The server fails to locate the request, leading to the server hanging.
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[Bugfix] The server fails to locate the request, leading to the server hanging.
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

look up multi_tp key (#3699)
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[bugfix] aclgraph
  vllm_ascend/attention/mla_v1.py
Labels: none

kvpool sync load (#3698)
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: documentation

fix lint
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

Support pooling models with aclgraph
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_bert.py
  vllm_ascend/patch/worker/patch_roberta.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

e2e test refactor
  .github/workflows/_e2e_test.yaml
  docs/source/user_guide/support_matrix/supported_models.md
  tests/e2e/conftest.py
  tests/e2e/singlecard/pooling/__init__.py
  tests/e2e/singlecard/pooling/test_classification.py
  tests/e2e/singlecard/pooling/test_embedding.py
  tests/e2e/singlecard/pooling/test_scoring.py
  tests/e2e/singlecard/test_bge_model.py
  tests/e2e/singlecard/test_embedding_aclgraph.py
  vllm_ascend/patch/worker/patch_bert.py
Labels: documentation, module:tests

[Main][Perf] Add fused matmul/reduce-scatter kernel for performance optimization. (#3693)
  vllm_ascend/ops/linear_op.py
Labels: module:ops

[Main][Perf] Add fused matmul/reduce-scatter kernel for performance optimization. (#3693)
  vllm_ascend/ops/linear_op.py
Labels: module:ops

[Main][Perf] Add fused matmul/reduce-scatter kernel for performance optimization. (#3693)
  vllm_ascend/ops/linear_op.py
Labels: module:ops

[Main][Perf] Add fused matmul/reduce-scatter kernel for performance optimization. (#3693)
  vllm_ascend/ops/linear_op.py
Labels: module:ops

[Main][Perf] Add fused matmul/reduce-scatter kernel for performance optimization. (#3693)
  vllm_ascend/ops/linear_op.py
Labels: module:ops

fix_recompute_bug_main
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

fix_recompute_bug_dev
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

[Refactor] optimize sample_recovered_tokens method in rejection_sampler
  vllm_ascend/sample/rejection_sampler.py
Labels: none

[Refactor] optimize sample_recover method in reject_sampler
  vllm_ascend/sample/rejection_sampler.py
Labels: none

[Refactor] optimize sample_recover method in reject_sampler
  vllm_ascend/sample/rejection_sampler.py
Labels: none

[UT][fix] fix: add missing get_ascend_config mock to NPUWorker initialization tests
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

[Refactor] optimize sample_recover method in reject_sampler
  vllm_ascend/sample/rejection_sampler.py
Labels: none

add qwen3-qwq testcase
  .github/workflows/vllm_ascend_test_nightly.yaml
  tests/e2e/nightly/models/test_qwen3_qwq_32b.py
Labels: module:tests

add qwen3-qwq testcase
  .github/workflows/vllm_ascend_test_nightly.yaml
Labels: none

modify default values to fix bug
  tests/e2e/singlecard/test_vlm.py
  vllm_ascend/core/schedule_config.py
Labels: module:tests

modify default values to fix bug
  tests/e2e/singlecard/test_vlm.py
  vllm_ascend/core/schedule_config.py
Labels: module:tests

[Refactor] Refactor Ascend attention implementation forward (#3714)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Refactor] Refactor Ascend attention implementation forward (#3714)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Refactor] Refactor Ascend attention implementation forward (#3714)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Refactor] Refactor Ascend attention implementation forward (#3714)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

Rename moe-related files
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/models/conftest.py
  tests/ut/ops/test_comm_utils.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_moe.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/fused_moe/__init__.py
  vllm_ascend/ops/fused_moe/comm_utils.py
  vllm_ascend/ops/fused_moe/experts_selector.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/moe_mlp.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:quantization, module:core

[Feat] Add mrope fusion op (#3708)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[Feat] Add mrope fusion op (#3708)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[Feat] Add mrope fusion op (#3708)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[Feat] Add mrope fusion op (#3708)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

fix
  tests/ut/distributed/mooncake/test_config_data.py
  vllm_ascend/distributed/mooncake/config_data.py
Labels: module:tests

[BugFix][P/D] Modify the recalculation logic to prevent waiting requests from filling up the D node KVCache (#3641)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

[BugFix][P/D] Modify the recalculation logic to prevent waiting requests from filling up the D node KVCache (#3641)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

[BugFix][P/D] Modify the recalculation logic to prevent waiting requests from filling up the D node KVCache (#3641)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

[BugFix][P/D] Modify the recalculation logic to prevent waiting requests from filling up the D node KVCache (#3641)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

[CI][Doc] Optimize multi-node CI (#3565)
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/multi_node_test.yaml
  .github/workflows/vllm_ascend_test_nightly.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  docs/source/assets/deployment.png
  docs/source/assets/workflow.png
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/multi_node_test.md
  tests/e2e/conftest.py
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/nightly/multi_node/config/models/GLM-4_5.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-W8A8.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/scripts/build_mooncake.sh
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/nightly/multi_node/scripts/run.sh
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: documentation, module:tests

[CI][Doc] Optimize multi-node CI (#3565)
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/multi_node_test.yaml
  .github/workflows/vllm_ascend_test_nightly.yaml
  .github/workflows/vllm_ascend_test_nightly_a2.yaml
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  docs/source/assets/deployment.png
  docs/source/assets/workflow.png
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/multi_node_test.md
  tests/e2e/conftest.py
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/nightly/multi_node/config/models/GLM-4_5.yaml
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-W8A8.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/scripts/build_mooncake.sh
  tests/e2e/nightly/multi_node/scripts/lws.yaml.jinja2
  tests/e2e/nightly/multi_node/scripts/run.sh
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: documentation, module:tests
