Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[BugFix] Fix DS load weight
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/models/deepseek_v2.py
Labels: none

Remove V0 model runner
  vllm_ascend/worker/model_runner.py
Labels: none

chore: switch to internal image to speed up CI
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
Labels: none

remove todos
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: none

fix CI
  .github/workflows/vllm_ascend_test.yaml
Labels: none

sovle bgmv expand precision problem
  csrc/ops.h
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_bgmv_expand.py
Labels: module:tests

add unpadding
  vllm_ascend/models/deepseek_v2.py
Labels: none

[Refactor] Refactor torchair worker
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/__init__.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

Add ut for test_communicator.py
  tests/ut/distributed/test_communicator.py
Labels: module:tests

Rename all V1 files
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/singlecard/spec_decode/test_mtp_correctness.py
  tests/e2e/singlecard/spec_decode/test_spec_decode.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/test_platform.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_torchair.py
  vllm_ascend/attention/mla.py
  vllm_ascend/multistream/metadata.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/eagle_proposer.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer.py
  vllm_ascend/worker/worker.py
Labels: module:tests, module:ops, module:quantization, module:core

update
  tests/e2e/multicard/test_prefix_caching.py
Labels: module:tests

Remove Redundant offline examples of tp=2
  examples/offline_distributed_inference_npu.py
Labels: none

modify test code format
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
Labels: module:tests

fix: correct handling of cos_sin_cache length
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[1/4][Refactor] Refactor torchair worker (#1885)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/__init__.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

[1/4][Refactor] Refactor torchair worker (#1885)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/__init__.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

[1/4][Refactor] Refactor torchair worker (#1885)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/__init__.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

[2/4][Refactor] Refactor torchair utils
  tests/ut/__init__.py
  tests/ut/test_utils.py
  tests/ut/torchair/__init__.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[Misc][V0 Deprecation] Remove Redundant Offline Distributed Inference Example (#1899)
  examples/offline_distributed_inference_npu.py
Labels: none

[Misc][V0 Deprecation] Remove Redundant Offline Distributed Inference Example (#1899)
  examples/offline_distributed_inference_npu.py
Labels: none

[Misc][V0 Deprecation] Remove Redundant Offline Distributed Inference Example (#1899)
  examples/offline_distributed_inference_npu.py
Labels: none

test: update native_rope_deepseek_forward to raise ValueError for invalid inputs
  tests/ut/ops/test_rotary_embedding.py
Labels: module:tests

chore: lint
  tests/ut/ops/test_rotary_embedding.py
Labels: module:tests

fix: reformat file test_communicator.py
  tests/ut/distributed/test_communicator.py
Labels: module:tests

modify code lint error
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
Labels: module:tests

modify codespell
  csrc/kernels/bgmv_expand.cpp
Labels: none

新算法更新
  vllm_ascend/eplb/core/policy/dynamic_ep_v2.py
Labels: none

dynamic eplb
  vllm_ascend/eplb/core/policy/dynamic_ep_v2.py
Labels: none

modify test code format
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
Labels: module:tests

cherry pick #1749 from v0.9.1-dev
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

cherry pick #1755 from v0.9.1-dev
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

cherry pick from #1705
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: none

cherry pick 1759
  vllm_ascend/models/deepseek_dbo.py
Labels: none

Delete tests/ut/__init__.py
  tests/ut/__init__.py
Labels: module:tests

Update test_piecewise_backend.py
  tests/ut/compilation/test_piecewise_backend.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

Update test_pyhccl.py
  tests/ut/distributed/device_communicators/test_pyhccl.py
Labels: module:tests

Update test_pyhccl_wrapper.py
  tests/ut/distributed/device_communicators/test_pyhccl_wrapper.py
Labels: module:tests

Update test_base.py
  tests/ut/multistream/test_base.py
Labels: module:tests

Update test_ms_split.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests
