Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[CI/UT] Fix disaggregated prefill ci (#1313)
  .github/workflows/vllm_ascend_test_pd.yaml
  tests/e2e/pd_disaggreate/setup_pd.sh
Labels: module:tests

[CI/UT] Fix disaggregated prefill ci (#1313)
  .github/workflows/vllm_ascend_test_pd.yaml
  tests/e2e/pd_disaggreate/setup_pd.sh
Labels: module:tests

[BugFix] fix keyword argument max_num_tokens_across_dp missing
  vllm_ascend/attention/attention_v1.py
Labels: none

fix envs
  vllm_ascend/utils.py
Labels: module:core

fix bug
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  examples/run_dp_attention_etp16.sh
Labels: none

fix bug in moe load & add expert load to josn
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
Labels: none

[Enhancement] Enable MODELSCOPE in tests
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

Re-arch testing guide
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/test_guide.md
  docs/source/developer_guide/testing.md
  docs/source/index.md
  docs/source/user_guide/reduce_layer.md
Labels: documentation

Update worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

update
  examples/run_dp_attention_etp16.sh
Labels: none

update
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

update
  vllm_ascend/envs.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

Update mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: none

Update deepseek_v2.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

Update rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

Update w8a8.py
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

update get_expert_load return type
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Fix] Prevent Forced Stream Synchronization Triggered by Environment Variable
  vllm_ascend/platform.py
Labels: module:core

remove environment variable VLLM_ENABLE_MC2
  examples/run_dp_attention_etp16.sh
Labels: none

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add mc2
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

add mc2
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[V0.9.1] Prevent Forced Stream Synchronization Triggered by Environment Variable.
  vllm_ascend/platform.py
Labels: module:core

fix tp bug of torchair
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/mla_v1.py
Labels: none

remove environment variable VLLM_ENABLE_MC2
  examples/run_dp_attention_etp16.sh
Labels: none

[Doc] remove environment variable VLLM_ENABLE_MC2 (#1406)
  examples/run_dp_attention_etp16.sh
Labels: none

[Doc] remove environment variable VLLM_ENABLE_MC2 (#1406)
  examples/run_dp_attention_etp16.sh
Labels: none

[Doc] remove environment variable VLLM_ENABLE_MC2 (#1406)
  examples/run_dp_attention_etp16.sh
Labels: none

rm router logits Improve TTOP 3ms
  examples/run_dp_attention_etp16.sh
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

[Bugfix] Sync MRotaryEmbedding interface change to recover CI (#1399)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] Sync MRotaryEmbedding interface change to recover CI (#1399)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] Sync MRotaryEmbedding interface change to recover CI (#1399)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  vllm_ascend/models/deepseek_v2.py
Labels: none

[CI] Update accuracy report test
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: none

[Bugfix] Reset unused positions in NPUModelRunner to avoid GatherV3 error
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix bug
  vllm_ascend/ops/fused_moe.py
Labels: module:ops
