Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix sharedfusedmoe decision method Co-authored-by: realliujiaxu <realliujiaxu@163.com>
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

patch causal_conv1d_fn
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/casual_conv1d.py
Labels: module:ops

format
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

update commit hash
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix lint Co-authored-by: realliujiaxu <realliujiaxu@163.com>
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[ci]fix ci.
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

tests: Update attention and torchair unit tests
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_mla.py
Labels: module:tests

remove
  vllm_ascend/utils.py
Labels: module:core

fix lint Co-authored-by: realliujiaxu <realliujiaxu@163.com>
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

fix lint
  vllm_ascend/torchair/models/torchair_pangu_moe.py
Labels: none

fix typo
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main] remove the redundant log prints in register_custom_ops.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

[CI] upgrade to main
  vllm_ascend/core/schedule_config.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
Labels: module:core

fix sample
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
Labels: none

fix sampler
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[ci]fix ci
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

fix ut
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
Labels: module:tests

fix mypy
  vllm_ascend/torchair/models/torchair_pangu_moe.py
Labels: none

fix
  examples/offline_inference_npu.py
Labels: none

update comment
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

fix
  vllm_ascend/patch/platform/patch_common/__init__.py
Labels: none

[ci]fix ci.
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

[Fix] Update input embeddings condition to include prompt embeddings for multimodal models
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix param
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[Bugfix][LoRA] Fix bug introduced by upstream vllm#25249
  vllm_ascend/worker/model_runner_v1.py
Labels: none

refactor moe_comm_method selection process
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

fix no triton
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
Labels: none

fix lint
  vllm_ascend/core/schedule_config.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
Labels: module:core

[Feat][Graph] Support `FULL_DECODE_ONLY` mode for GQA/MHA models (#2128)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Feat][Graph] Support `FULL_DECODE_ONLY` mode for GQA/MHA models (#2128)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[Feat][Graph] Support `FULL_DECODE_ONLY` mode for GQA/MHA models (#2128)
  tests/ut/attention/test_attention_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

[main] remove the redundant log prints in register_custom_ops.py (#3094)
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

[main] remove the redundant log prints in register_custom_ops.py (#3094)
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

[main] remove the redundant log prints in register_custom_ops.py (#3094)
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

[BugFix]add log2phy initialiaztion.
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[Bugfix][LoRA] add condition of vllm_version_is('0.10.2')
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix conftest
  tests/e2e/model_utils.py
Labels: module:tests

rm sampler
  vllm_ascend/models/deepseek_mtp.py
Labels: none

[doc]Add effects and considerations to eplb feature guide.
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
