Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Implementation of simple load balance routing proxy server (#1953)
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

feat: add mtp multicar ut case
  tests/e2e/multicard/test_v1_mtp_conrrectness.py
Labels: module:tests

[v0.9.1][Feature] add moe alltoallv.
  vllm_ascend/envs.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

[v0.9.1][bugfix] fix dtype of topk_ids
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

xx
  tests/ut/sampler/test_rejection_sampler.py
Labels: module:tests

add test case
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/multistream/test_decorator.py
Labels: module:tests

modify decorator test case
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/multistream/test_decorator.py
Labels: module:tests

remove unused var
  vllm_ascend/models/deepseek_v2.py
Labels: none

[v0.9.1][Feature] add moe alltoallv.
  tests/ut/test_token_dispatcher.py
Labels: module:tests

adapt usage of npu_moe_gating_top_k_softmax and remove envs.SELECT_GATING_TOPK_SOTFMAX_EXPERTS
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, module:core

reformat test_communicator.py
  tests/ut/distributed/test_communicator.py
Labels: module:tests

feat: add mtp multicar ut case
  tests/e2e/multicard/test_v1_mtp_conrrectness.py
Labels: module:tests

fix
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2.py
  vllm_ascend/ops/linear.py
Labels: module:ops

xx
  tests/ut/sampler/test_rejection_sampler.py
Labels: module:tests

Upgrade torch-npu to 2.5.1.post1
  README.md
  README.zh.md
  docs/source/installation.md
  pyproject.toml
  requirements.txt
Labels: documentation

fix is_prefill bug
  vllm_ascend/models/deepseek_v2.py
Labels: none

Refactor V1 Attention for Better Extensibility
  vllm_ascend/attention/attention_v1.py
Labels: none

update
  vllm_ascend/attention/attention_v1.py
Labels: none

update
  vllm_ascend/attention/attention_v1.py
Labels: none

format
  vllm_ascend/attention/attention_v1.py
Labels: none

codecheck fixed
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

codecheck fixed
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

[Bugfix] fix tensor not same device in qwen2_5_vl_without_padding (#2051)
  tests/ut/models/test_qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:tests

[Bugfix] fix tensor not same device in qwen2_5_vl_without_padding (#2051)
  tests/ut/models/test_qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:tests

[Bugfix] fix tensor not same device in qwen2_5_vl_without_padding (#2051)
  tests/ut/models/test_qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:tests

[Test] add ut for decorator.py/deepseek_mtp.py (#2127)
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/multistream/test_decorator.py
Labels: module:tests

[Test] add ut for decorator.py/deepseek_mtp.py (#2127)
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/multistream/test_decorator.py
Labels: module:tests

[Test] add ut for decorator.py/deepseek_mtp.py (#2127)
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/multistream/test_decorator.py
Labels: module:tests

[main][bugfix]Fix vLLM startup failure when inferring DeepSeek R1 model in DP scenario (#2020)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[main][bugfix]Fix vLLM startup failure when inferring DeepSeek R1 model in DP scenario (#2020)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[main][bugfix]Fix vLLM startup failure when inferring DeepSeek R1 model in DP scenario (#2020)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

xx
  tests/ut/sampler/test_rejection_sampler.py
Labels: module:tests

[bugfixed] fix the bug when run the inference of quantized ds-w8a8-mtp
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

xx
  tests/ut/sampler/test_rejection_sampler.py
Labels: module:tests

Upgrade python to 3.11
  .github/Dockerfile.buildwheel
  .github/workflows/release_code.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build

add enable_dbo
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[improve] Remove redundant parentheses in pangu_moe.py
  setup.py
  vllm_ascend/models/pangu_moe.py
Labels: none

test on aclgraph
  .github/workflows/vllm_ascend_test.yaml
Labels: none

xx
  tests/ut/sampler/test_rejection_sampler.py
Labels: module:tests

feat: add mtp multicar ut case
  tests/e2e/multicard/test_v1_mtp_conrrectness.py
Labels: module:tests
