Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Update test_cache.py
  tests/ut/ops/test_cache.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

[Misc][V0 Deprecation] Remove V0 Model Runner (#1823)
  vllm_ascend/worker/model_runner.py
Labels: none

[Misc][V0 Deprecation] Remove V0 Model Runner (#1823)
  vllm_ascend/worker/model_runner.py
Labels: none

[Misc][V0 Deprecation] Remove V0 Model Runner (#1823)
  vllm_ascend/worker/model_runner.py
Labels: none

Update test_piecewise_backend.py
  tests/ut/compilation/test_piecewise_backend.py
Labels: module:tests

Update test_piecewise_backend.py
  tests/ut/compilation/test_piecewise_backend.py
Labels: module:tests

Update test_pyhccl.py
  tests/ut/distributed/device_communicators/test_pyhccl.py
Labels: module:tests

Update test_pyhccl_wrapper.py
  tests/ut/distributed/device_communicators/test_pyhccl_wrapper.py
Labels: module:tests

fix: reformat again file test_communicator.py
  tests/ut/distributed/test_communicator.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Delete tests/ut/compilation/test_piecewise_backend.py
  tests/ut/compilation/test_piecewise_backend.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

Update test_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

feat: optimize forward metadata collection across dp ranks
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

Update test_cache.py
  tests/ut/ops/test_cache.py
Labels: module:tests

Update vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test.yaml
Labels: none

o_proj tp in qwen3-235B
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/oproj.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops

Partially address review comments
  examples/generate_map.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/policy/dynamic_ep.py
  vllm_ascend/eplb/core/policy/dynamic_ep_v2.py
Labels: none

Update test_cache.py
  tests/ut/ops/test_cache.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Update test_cache.py
  tests/ut/ops/test_cache.py
Labels: module:tests

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

adapt eager mtp with moe ms
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[2/4][Refactor] Refactor torchair utils (#1892)
  tests/ut/__init__.py
  tests/ut/test_utils.py
  tests/ut/torchair/__init__.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[2/4][Refactor] Refactor torchair utils (#1892)
  tests/ut/__init__.py
  tests/ut/test_utils.py
  tests/ut/torchair/__init__.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[2/4][Refactor] Refactor torchair utils (#1892)
  tests/ut/__init__.py
  tests/ut/test_utils.py
  tests/ut/torchair/__init__.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

[0.9.1][bugfix] V0.9.1 fix rope accruracy bug for deepseek model (#1887)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[BUGFIX][v0.9.1] repair moe error when set multistream. (#1882)
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[BUGFIX][v0.9.1] ep_group is not equal to word_size in some cases. (#1862)
  vllm_ascend/ascend_forward_context.py
Labels: module:core

[0.9.1]optmize rope in qwen2 (#1782)
  vllm_ascend/models/qwen2.py
  vllm_ascend/models/qwen3.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[BUGFIX][v0.9.1] fix enable_multistream_moe bug when DBO is enabled (… (#1827)
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops
