Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Update qwen2_vl.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

FastPatch: Optimized Patch Embedding for Qwen2VL
  vllm_ascend/models/qwen2_vl.py
Labels: none

Feat: Graph mode for deepseek v2/v3.
  vllm_ascend/attention.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/attention.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/__init__.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner.py
Labels: module:ops, module:core

add int 8 dtype
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/patch_cache_dtype.py
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
Labels: module:core

Feat: Graph mode for deepseek v2/v3.
  vllm_ascend/attention.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/attention.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/__init__.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner.py
Labels: module:ops, module:core

code format
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

code format
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

[CI] fix race condition problem
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
  tests/ops/test_fused_moe.py
Labels: ci/build, module:tests

delete uselesscodes in attention.py
  vllm_ascend/attention.py
Labels: module:core

code format
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/model_runner.py
Labels: none

Add kv_cache format cast for graph mode.
  vllm_ascend/worker/worker.py
Labels: none

add npu cache engine
  vllm_ascend/platform.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/worker.py
Labels: module:core

update
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/patch_cache_dtype.py
Labels: none

fix multistep bug,remove uselesscodes
  docs/source/user_guide/suppoted_features.md
  vllm_ascend/attention.py
  vllm_ascend/worker/multi_step_runner.py
Labels: documentation, module:core

format
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/worker.py
Labels: none

format
  vllm_ascend/worker/worker.py
Labels: none

format
  vllm_ascend/worker/worker.py
Labels: none

[CI] fix race condition problem (#353)
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
  tests/ops/test_fused_moe.py
Labels: ci/build, module:tests

[CI] fix race condition problem (#353)
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
  tests/ops/test_fused_moe.py
Labels: ci/build, module:tests

[CI] fix race condition problem (#353)
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
  tests/ops/test_fused_moe.py
Labels: ci/build, module:tests

[CI] fix race condition problem (#353)
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
Labels: ci/build

add get_stream_cls() for platform
  vllm_ascend/platform.py
Labels: module:core

update
  vllm_ascend/platform.py
Labels: module:core

fix w8a8 bug
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization, module:core

fix w8a8 bug
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization, module:core

feat: add padding mechanism to avoid recompiling given longer seq and larger bs
  vllm_ascend/attention.py
  vllm_ascend/worker/model_runner.py
Labels: module:core

[Doc] Update ReadME
  README.md
  README.zh.md
Labels: documentation

fix: fix the incompatibility with compilation level = 0
  vllm_ascend/attention.py
Labels: module:core

Add vLLM forum info and update readme
  README.md
  README.zh.md
Labels: documentation

format
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support v1 engine
  format.sh
  test.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

bugfix
  README.md
  docs/source/installation.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
  format.sh
  tools/actionlint.sh
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tools

Merge 364
  README.md
  README.zh.md
Labels: documentation

fix: resolved accuracy issue; a significant improvement.
  vllm_ascend/attention.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/worker/worker.py
Labels: module:ops, module:core

[V1][Core] Add support for V1 Engine (#295)
  README.md
  docs/source/installation.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
  format.sh
  test.py
  tools/actionlint.sh
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tools, module:core

[V1][Core] Add support for V1 Engine (#295)
  README.md
  docs/source/installation.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
  format.sh
  test.py
  tools/actionlint.sh
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tools, module:core

[V1][Core] Add support for V1 Engine (#295)
  README.md
  docs/source/installation.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
  format.sh
  test.py
  tools/actionlint.sh
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tools, module:core

Add vLLM forum info and update readme (#366)
  README.md
  README.zh.md
Labels: documentation

Add vLLM forum info and update readme (#366)
  README.md
  README.zh.md
Labels: documentation

Add vLLM forum info and update readme (#366)
  README.md
  README.zh.md
Labels: documentation
