Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix issues
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
  tools/aisbench.py
Labels: module:tests, module:tools

GPQA Accuracy Issue Bugfix
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

solve conflict
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix import
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
  tools/aisbench.py
Labels: module:tests, module:tools

[ModelRunner][Qwen3-Next] Fix attn_group initialization timing
  vllm_ascend/worker/model_runner_v1.py
Labels: none

GPQA Accuracy Issue Bugfix
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

GPQA Accuracy Issue Bugfix
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

fix import
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
Labels: module:tests

fix multi dp
  vllm_ascend/worker/model_runner_v1.py
Labels: none

GPQA Accuracy Issue Bugfix
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[feat] add native kvcache offload
  csrc/torch_binding.cpp
Labels: none

Clears unused slot mappings
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix mc2 error
  tests/e2e/multicard/test_qwen3_moe.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

[Doc] Update supported models
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

[bugfix] fix pipeline parallel for mla & sfa attention backend (#3459)
  tests/e2e/multicard/test_pipeline_parallel.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
Labels: module:tests

[bugfix] fix pipeline parallel for mla & sfa attention backend (#3459)
  tests/e2e/multicard/test_pipeline_parallel.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
Labels: module:tests

[bugfix] fix pipeline parallel for mla & sfa attention backend (#3459)
  tests/e2e/multicard/test_pipeline_parallel.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
Labels: module:tests

GPQA Accuracy Issue Bugfix
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[CI]: Fix doctest ci for main release
  docs/source/installation.md
  tests/e2e/doctests/002-pip-binary-installation-test.sh
Labels: documentation, module:tests

[Refactor] Adapt deepseek-v3.2 to vllm 0.11.0 (#3432)
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:quantization, module:core

[Refactor] Adapt deepseek-v3.2 to vllm 0.11.0 (#3432)
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:quantization, module:core

[Refactor] Adapt deepseek-v3.2 to vllm 0.11.0 (#3432)
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:quantization, module:core

ignore modelscope check
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
  tools/aisbench.py
Labels: module:tests, module:tools

[feat] support super kernel feat for quantized dsr1
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/torchair/utils.py
Labels: module:core

[Feat] Flash comm allgher ep (#3334)
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[Feat] Flash comm allgher ep (#3334)
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[Feat] Flash comm allgher ep (#3334)
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

chore: remove useless code
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:core

[main] Matmul_RS Fusion
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

Revert "[MoE] [Refactor] Remove manual memory cleanup (#3365)"
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

Revert "[MoE] [Refactor] Remove manual memory cleanup (#3365)" (#3483)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

Revert "[MoE] [Refactor] Remove manual memory cleanup (#3365)" (#3483)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

Revert "[MoE] [Refactor] Remove manual memory cleanup (#3365)" (#3483)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

wip
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

[BugFix]GPQA Accuracy Issue Bugfix (#3476)
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[BugFix]GPQA Accuracy Issue Bugfix (#3476)
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[BugFix]GPQA Accuracy Issue Bugfix (#3476)
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[Doc] Clearer corresponding relationship between configurations for multi-node guides (#3441)
  docs/source/tutorials/multi-node_dsv3.2.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  docs/source/tutorials/multi_node_qwen3vl.md
Labels: documentation

[Doc] Clearer corresponding relationship between configurations for multi-node guides (#3441)
  docs/source/tutorials/multi-node_dsv3.2.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  docs/source/tutorials/multi_node_qwen3vl.md
Labels: documentation

[Doc] Clearer corresponding relationship between configurations for multi-node guides (#3441)
  docs/source/tutorials/multi-node_dsv3.2.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  docs/source/tutorials/multi_node_qwen3vl.md
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
