Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

bash format.sh
  benchmarks/ops/ben_vocabparallelembedding.py
Labels: none

Removed f
  benchmarks/ops/ben_vocabparallelembedding.py
Labels: none

isort file
  benchmarks/ops/ben_vocabparallelembedding.py
  tests/ops/test_vocabparallelembedding.py
Labels: module:tests

[Doc] Add accuracy report
  docs/requirements-docs.txt
  docs/source/developer_guide/evaluation/accuracy_report/Llama-3.1-8B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen2.5-7B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen2.5-VL-7B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
  docs/source/developer_guide/evaluation/index.md
Labels: documentation

dp proxy support both prefill and decode instances in disaggregated-prefill
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  vllm_ascend/worker/worker.py
Labels: none

[Doc] Add release note for 0.7.3
  docs/source/conf.py
  docs/source/developer_guide/contributing.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/developer_guide/versioning_policy.zh.md
  docs/source/installation.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

fix dummy run
  vllm_ascend/distributed/kv_transfer/simple_connector.py
Labels: none

add torchrun scripts to launch multiple vllm services among multi nodes
  examples/disaggregated_prefill/run_single_vllm.py
  examples/disaggregated_prefill/torchrun_multi_vllm.sh
Labels: none

fix: correct finding the kv cache shape for mha
  vllm_ascend/distributed/llmdatadist_connector_v1.py
Labels: none

Move Release Compatibility Matrix to top and remove v0.7.x rc info
  docs/source/developer_guide/versioning_policy.md
Labels: documentation

[Bugfix] Correct method call for _set_cos_sin_cache (#774)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[Bugfix] Correct method call for _set_cos_sin_cache (#774)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[Feature] Add support for custom DeepSeek modeling in ACL Graph mode
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

[Perf] Optimize fused_experts quantization code to save npu memory (#784)
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Perf] Optimize fused_experts quantization code to save npu memory (#784)
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Core] Support the features of prefix cache and chunked prefill in v0/v1 (#782)
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[Core] Support the features of prefix cache and chunked prefill in v0/v1 (#782)
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[Doc] Move Release Compatibility Matrix to top and remove v0.7.x rc info (#799)
  docs/source/developer_guide/versioning_policy.md
Labels: documentation

[Doc] Move Release Compatibility Matrix to top and remove v0.7.x rc info (#799)
  docs/source/developer_guide/versioning_policy.md
Labels: documentation

format file
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add V1 Engine LoRA support
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Enhancement] Add padding for ACL Graph and refactor graph batch size adjustments to platform.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[CI] Add accuracy test for qwen2.5-vl-3b-instruct
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/test_accuracy.py
Labels: module:tests

[CI] Fix schedule trigger bug (#757)
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[CI] Fix schedule trigger bug (#757)
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[CI/UT] fix spec ut in vllm-ascend main and vllm main (#759)
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/test_medusa_correctness.py
  tests/singlecard/spec_decode/e2e/test_mlp_correctness.py
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  tests/singlecard/spec_decode/e2e/test_ngram_correctness.py
Labels: module:tests

[CI/UT] fix spec ut in vllm-ascend main and vllm main (#759)
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/test_medusa_correctness.py
  tests/singlecard/spec_decode/e2e/test_mlp_correctness.py
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  tests/singlecard/spec_decode/e2e/test_ngram_correctness.py
Labels: module:tests

[Benchmarks] Add qwen2.5-7b test (#763)
  benchmarks/README.md
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: documentation

[Benchmarks] Add qwen2.5-7b test (#763)
  benchmarks/README.md
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: documentation

bugfix for qwen2_5_vl
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

feat: replace kvCacheManager with CacheManager api
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/envs.py
Labels: module:core

fix InputBatch parameter
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix yapf
  vllm_ascend/worker/model_runner_v1.py
Labels: none

make version compatibility
  vllm_ascend/worker/model_runner_v1.py
Labels: none

remove redundant lines
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix yapf
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Update model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Update model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

feat: replace kvCacheManager with CacheManager api
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/envs.py
Labels: module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
