Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Performance] Add EPLB expert map import capabilities
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

remove unnecessary padding before mla prefill v1
  vllm_ascend/attention/mla_v1.py
Labels: none

allow deepseek models to enable chunked prefill on NPUs
  vllm_ascend/patch_model_config.py
  vllm_ascend/patch_vllm_config.py
  vllm_ascend/platform.py
Labels: module:core

[Fix] Set div_mode to False and fix view_as position
  vllm_ascend/ops/attention.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

fix graph prefill
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

update attention nz and mla nz(Improve TPOP 6ms performance)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

use group gemm nz
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Fix] Set div_mode to False and fix view_as position (#912)
  vllm_ascend/ops/attention.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

[Fix] Set div_mode to False and fix view_as position (#912)
  vllm_ascend/ops/attention.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

update model support doc
  docs/source/user_guide/supported_models.md
Labels: documentation

update
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

add support for Qwen3-MoE
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
Labels: none

update
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

format
  vllm_ascend/models/__init__.py
Labels: none

[BugFix] Fix chunked prefill bugs in engine v1 (#844)
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[BugFix] Fix chunked prefill bugs in engine v1 (#844)
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[Bugfix][kvcache] revert multiple kv cache groups
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

code format
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: none

avoid memory lack
  vllm_ascend/distributed/llmdatadist_connector_v1.py
Labels: none

[Bugfix][kvcache] revert multiple kv cache groups (#923)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix][kvcache] revert multiple kv cache groups (#923)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add workflow to build and release wheel
  .github/Dockerfile.buildwheel
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  tools/actionlint.sh
Labels: ci/build, module:tools

[Feature] Add CustomQwen3MoeForCausalLM model and tweak packed_modules_mapping
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
Labels: none

[Fix] Fix update_aclgraph_sizes when running MoE models
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

update packed_modules_mapping
  vllm_ascend/models/qwen3_moe.py
Labels: none

format
  vllm_ascend/models/qwen3_moe.py
Labels: none

[CI]Add accuracy test for qwen2.5-vl-3b-instruct
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/test_accuracy.py
Labels: module:tests

Update platform.py
  vllm_ascend/platform.py
Labels: module:core

add unpadded Qwen2.5-VL for verl
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:core

update
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: none

add gmmswigluquant
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

Update camem.py
  vllm_ascend/device_allocator/camem.py
Labels: none

update
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
Labels: module:core

[6/N][CI/UT] Add ut for pooling model, apc, chunked prefill, multi-step
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/conftest.py
  tests/prompts/example.txt
  tests/prompts/summary.txt
  tests/singlecard/embedding/__init__.py
  tests/singlecard/embedding/test_embedding.py
  tests/singlecard/embedding/test_scoring.py
  tests/singlecard/embedding/utils.py
  tests/singlecard/multi_step/__init__.py
  tests/singlecard/multi_step/test_correctness_llm.py
  tests/singlecard/prefix_caching/__init__.py
  tests/singlecard/prefix_caching/core_utils.py
  tests/singlecard/prefix_caching/test_prefix_caching.py
  tests/singlecard/test_chunk_prefill.py
Labels: module:tests

llmdatadist for v1 disaggregate PD
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[V1][LoRA][Test] V1 Engine LoRA support & e2e test (#893)
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/multicard/test_ilama_lora_tp2.py
  tests/singlecard/test_ilama_lora.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[V1][LoRA][Test] V1 Engine LoRA support & e2e test (#893)
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/multicard/test_ilama_lora_tp2.py
  tests/singlecard/test_ilama_lora.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Bugfix] Fix deepseek percision issue and add acc ci for it
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_accuracy.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[DOC] mark v1 multi-lora functional
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[DOC] mark v1 multi-lora functional (#932)
  docs/source/user_guide/suppoted_features.md
Labels: documentation
