Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

adapt the mla_v1 with the `mla_preprocess` kernel (#3397)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
Labels: none

adapt the mla_v1 with the `mla_preprocess` kernel (#3397)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
Labels: none

adapt the mla_v1 with the `mla_preprocess` kernel (#3397)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
Labels: none

[AFD]AFD implementation for dsv3
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_ffn_model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[feat] add native kvcache offload
  vllm_ascend/kv_offload/npu.py
Labels: none

delay the init of mc2
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/worker/model_runner_v1.py
Labels: none

additional mc2 check
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

perf : optimize memory for deepseek mtp
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
Labels: none

optimize
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[feat] add native kvcache offload
  vllm_ascend/kv_offload/__init__.py
Labels: none

Fix warning msg print (#3421)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: none

Fix warning msg print (#3421)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: none

Fix warning msg print (#3421)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: none

fix : support chunked_prefill with deepseek_mtp
  vllm_ascend/torchair/torchair_mla.py
Labels: none

Qwen3 Moe supports npu_add_rms_norm_quant op by default, update op with norm bias. under npu check
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/utils.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/weight_prefetch.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

[BugFix] fix qwen2.5vl quant assertion error
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

[MoE] [Refactor] Remove manual memory cleanup (#3365)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

[MoE] [Refactor] Remove manual memory cleanup (#3365)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

[MoE] [Refactor] Remove manual memory cleanup (#3365)
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops

[Bugfix] Remove performance affecting debug variable
  vllm_ascend/attention/attention_v1.py
Labels: none

lint reformat
  tests/ut/ops/test_layernorm.py
Labels: module:tests

[EPLB]Record expert map without dynamic eplb. (#3409)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:ops, module:quantization

[EPLB]Record expert map without dynamic eplb. (#3409)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:ops, module:quantization

[EPLB]Record expert map without dynamic eplb. (#3409)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:ops, module:quantization

FIX mtp torchair PD bug
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

code update
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/layernorm.py
Labels: module:ops, module:core

use version_check func directly as functools.cache decorated
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/utils.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

lint update
  tests/ut/ops/test_layernorm.py
Labels: module:tests

add e2e pp test for deepseek-v3-pruning model
  tests/e2e/multicard/test_pipeline_parallel.py
Labels: module:tests

solve conflict
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/mtp_torchair_proposer.py
Labels: none

add nightly test aisbench cases
  tests/e2e/nightly/models/test_qwen3_32b_int8.py
  tools/aisbench.py
Labels: module:tests, module:tools

[BugFix] Standardize the data type of grid_thw in qwen2VL
  vllm_ascend/models/qwen2_vl.py
Labels: none

implement flash comm v1 for allgather EP
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_deepseek_v2.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

move version_check to vllm_ascend/utils.py
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

add new e2e tests for aclgraph
  tests/e2e/multicard/test_aclgraph_replay_capture_mem.py
  tests/e2e/singlecard/test_aclgraph_auto_enable.py
Labels: module:tests

gpqa accuracy issue bugfix
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[BugFix] Fix Qwen3-next because of vllm #26207
  vllm_ascend/ops/fla.py
Labels: module:ops

tiny_fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none
