Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Main][Refactor]Change ASCEND_QUATIZATION_METHOD to ASCEND_QUANTIZATION_METHOD (#2517)
  tests/ut/quantization/test_quant_config.py
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:tests, module:quantization, module:core

format the code
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/compilation/quant_fusion_pass.py
Labels: none

fix_A3_ACLgraph_sizes_capture_bug_and_add_new_ut_new
  tests/e2e/multicard/test_qwen3_moe.py
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

Update test_mla_v1.py
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

[bugfix] pd proxy return httperror and enhance usability
  examples/disaggregate_prefill_v1/load_balance_proxy_server_example.py
Labels: none

[Feat] long_seq_optim: Performance Optimization
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

[Bugfix]Support Qwen3-MOE on aclgraph mode in sizes capture and add new ut (#2511)
  tests/e2e/multicard/test_qwen3_moe.py
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

[Bugfix]Support Qwen3-MOE on aclgraph mode in sizes capture and add new ut (#2511)
  tests/e2e/multicard/test_qwen3_moe.py
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

[Bugfix]Support Qwen3-MOE on aclgraph mode in sizes capture and add new ut (#2511)
  tests/e2e/multicard/test_qwen3_moe.py
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

bugfix: fix initialization error for mooncake in k8s
  examples/disaggregated_prefill_v1/mooncake_connector_deployment_guide.md
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/envs.py
Labels: documentation, module:core

[2/N][refactor] split torchair from fused_moe (#2503)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[2/N][refactor] split torchair from fused_moe (#2503)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[2/N][refactor] split torchair from fused_moe (#2503)
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

refactoer quantization
  tests/ut/torchair/quantization/test_torchair_w4a8_dynamic.py
  tests/ut/torchair/quantization/test_torchair_w8a8_dynamic.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/quantization/__init__.py
  vllm_ascend/torchair/quantization/torchair_quantizer.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

fix modelslim tag
  docs/source/tutorials/single_npu_qwen3_quantization.md
  docs/source/user_guide/feature_guide/quantization.md
Labels: documentation

fix bug in AllgatherEP
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization, module:core

convert the format of gmm to nz
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

delete AllGatherEPNaiveMulticast
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization, module:core

add unit test for worker_v1
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

[main][bugfix] Fix bugs and refactor cached mask generation logic
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

Update the code based on the review feedback provided by Gemini-Code-Assist
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

[main][bugfix] Fix MatmulNZ format bug on A3 machines
  vllm_ascend/worker/model_runner_v1.py
Labels: none

qwen235B prefetch on w8a8 quanilization and non-quantilization
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

add torchair ops
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

Fix lint
  vllm_ascend/attention/attention_v1.py
Labels: none

Adding support for KV connector for layers
  vllm_ascend/attention/attention_v1.py
Labels: none

Refactor AscendAttentionTorchairBackendImpl
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

upgrade to deepseek-v3.1
  docs/source/tutorials/multi_node.md
Labels: documentation

aad env
  docs/source/tutorials/multi_node.md
Labels: documentation

feat(moe): Add MC2 communication method for MoE layers
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:core

test: Refactor MoE communication test
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/distributed/moe_comm_method.py
Labels: module:tests

feat(moe): Refactor MoE communication method framework
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

feat(moe): Enhance MoE communication methods with NPU-specific optimizations and add MC2 group integration
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

add static eplb enable config
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

Support set redundant expert number in config
  vllm_ascend/ascend_config.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

Support export expert map after dynamic eplb update
  vllm_ascend/ascend_config.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/eplb_updator.py
Labels: module:core

bugfix: align hccl communication domain in all_to_all_single
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

fix: Refactor MoE communication by removing custom ops
  tests/ut/distributed/test_communicator.py
  tests/ut/test_utils.py
  vllm_ascend/distributed/communicator.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/pangu_moe.py
Labels: module:tests

correct import sort
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[2/N][Feat] Add MC2 communication method for MoE layers (#2469)
  tests/e2e/multicard/moe/test_moe_comm.py
  tests/ut/distributed/test_communicator.py
  tests/ut/test_utils.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/communicator.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core
