Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

xx
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/layers/moe_mlp.py
Labels: module:tests, module:ops, module:core

[V1][BUGFIX][0.10.1] FIX mtp on main branch (#2632)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

[V1][BUGFIX][0.10.1] FIX mtp on main branch (#2632)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

[V1][BUGFIX][0.10.1] FIX mtp on main branch (#2632)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

fix torchair rope ops
  vllm_ascend/torchair/utils.py
Labels: none

Update large_scale_ep.md
  docs/source/tutorials/large_scale_ep.md
Labels: documentation

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Bugfix][LoRA][Operator] Fix LoRA custom operators accuracy issue (#2672)
  .github/workflows/vllm_ascend_test.yaml
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: none

[Bugfix][LoRA][Operator] Fix LoRA custom operators accuracy issue (#2672)
  .github/workflows/vllm_ascend_test.yaml
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: none

[Bugfix][LoRA][Operator] Fix LoRA custom operators accuracy issue (#2672)
  .github/workflows/vllm_ascend_test.yaml
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: none

optimize code
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

[Test] Add unit test for qwen3.py Signed-off-by: wuzhongjian <wuzhongjian_yewu@cmss.chinamobile.com>
  tests/ut/models/test_qwen3.py
Labels: module:tests

[CI] recover e2e test
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/conftest.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

[Perf][CustomOP] Recover performance through override init
  vllm_ascend/ops/activation.py
  vllm_ascend/ops/layernorm.py
Labels: module:ops

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[main] flashcomm_v1 for qwen3 moe
  vllm_ascend/envs.py
  vllm_ascend/models/qwen3_moe.py
Labels: module:core

fix bug
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

[CI] Make UT stable
  tests/ut/test_platform.py
Labels: module:tests

fix bug
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

Update torchair_w8a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

Update torchair_w8a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

Update torchair_w8a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

Update torchair_w8a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

[7/N][refactor]fix torchair rope ops (#2683)
  vllm_ascend/torchair/utils.py
Labels: none

[7/N][refactor]fix torchair rope ops (#2683)
  vllm_ascend/torchair/utils.py
Labels: none

[7/N][refactor]fix torchair rope ops (#2683)
  vllm_ascend/torchair/utils.py
Labels: none

[Misc] Clean up uesless code in rotary_embedding (#2663)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Misc] Clean up uesless code in rotary_embedding (#2663)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Misc] Clean up uesless code in rotary_embedding (#2663)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

Integrate flashcomm into MetadataForPadding
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/sequence_parallel.py
Labels: module:ops

[CI] Make test_platform UT stable (#2696)
  tests/ut/test_platform.py
Labels: module:tests

[CI] Make test_platform UT stable (#2696)
  tests/ut/test_platform.py
Labels: module:tests

[CI] Make test_platform UT stable (#2696)
  tests/ut/test_platform.py
Labels: module:tests

[CI] recover e2e test (#2688)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/conftest.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

[CI] recover e2e test (#2688)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/conftest.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

[CI] recover e2e test (#2688)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/conftest.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

enable quantized topk_softmax
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:tests, module:ops

[CI]enable MTP torchair e2e test
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
Labels: module:tests

[Image] Upgrade openEuler to 24.03 (#2631)
  Dockerfile.310p.openEuler
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
Labels: none

[Image] Upgrade openEuler to 24.03 (#2631)
  Dockerfile.310p.openEuler
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
