Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Doc] Add doc for Qwen3 Next (#2916)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

[Doc] Add doc for Qwen3 Next (#2916)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

[New model] Qwen3-next support (#2917)
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/multicard/test_prefix_caching.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  tests/ut/worker/test_input_batch.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/casual_conv1d.py
  vllm_ascend/ops/fla.py
  vllm_ascend/ops/sigmoid_gating.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_mamba_config.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

[New model] Qwen3-next support (#2917)
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/multicard/test_prefix_caching.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  tests/ut/worker/test_input_batch.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/casual_conv1d.py
  vllm_ascend/ops/fla.py
  vllm_ascend/ops/sigmoid_gating.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_mamba_config.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

[New model] Qwen3-next support (#2917)
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/multicard/test_prefix_caching.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  tests/ut/worker/test_input_batch.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/casual_conv1d.py
  vllm_ascend/ops/fla.py
  vllm_ascend/ops/sigmoid_gating.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_mamba_config.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

[Release] Add release note for v0.10.2rc1 (#2921)
  .github/workflows/vllm_ascend_test_full.yaml
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

[Release] Add release note for v0.10.2rc1 (#2921)
  .github/workflows/vllm_ascend_test_full.yaml
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

[Release] Add release note for v0.10.2rc1 (#2921)
  .github/workflows/vllm_ascend_test_full.yaml
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

Update qwen3 online doc
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

add test_patch_distributed.py
  tests/ut/patch/platform/patch_common/test_patch_distributed.py
Labels: module:tests

Update max_tokens and prompt in qwen3 online doc (#2945)
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

Update max_tokens and prompt in qwen3 online doc (#2945)
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

Update max_tokens and prompt in qwen3 online doc (#2945)
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

Adapt fused_moe to moe_comm_method in eager mode
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_ascend_forwad_context.py
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

fix: Update mock configuration to disable shared expert DP in NPUPlatform tests
  tests/ut/test_platform.py
Labels: module:tests

Refactor AscendAttentionMetadataBuilder for better extensibility and make the builder class of torchair extend from it
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

[6/N][refactor]delete torchair in rotary ops (#2581)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[CI] Fix CI Break: upstream adds routed_scaling_factor in forward_oot interface (#2675)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:ops

[Perf]Enable npu_moe_gating_top_k_softmax on quantized scenarios (#2633)
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:tests, module:ops

[V1][BUGFIX][0.10.1] FIX mtp on main branch (#2632)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

[Misc] Clean up uesless code in rotary_embedding (#2663)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

support torchair mode (#2641)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core

[CI] Enable MTP torchair e2e test (#2705)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
Labels: module:tests

Add ut for mla (#2637)
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

[CI] Make test_platform UT stable (#2696)
  tests/ut/test_platform.py
Labels: module:tests

[CI] recover e2e test (#2688)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/conftest.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

[7/N][refactor]fix torchair rope ops (#2683)
  vllm_ascend/torchair/utils.py
Labels: none

[Image] Upgrade openEuler to 24.03 (#2631)
  Dockerfile.310p.openEuler
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
Labels: none

[Bugfix][LoRA][Operator] Fix LoRA custom operators accuracy issue (#2672)
  .github/workflows/vllm_ascend_test.yaml
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: none

[main]Add eplb to main.
  vllm_ascend/eplb/__init__.py
  vllm_ascend/eplb/core/__init__.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/eplb/core/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[CI] Disable per-PR triggering for A3 (#2710)
  .github/workflows/vllm_ascend_dist.yaml
Labels: none

[Bugfix] Fix long context seq accuracy problem for `GLM4.5` (#2601)
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

[CI] skip unstable UT (#2716)
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[Bugfix][APC] Fix accuracy issue on prefix caching with AscendScheduler (#2714)
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/core/scheduler.py
Labels: none

[Refactor] Refactor Spec Decode (#2668)
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/interface.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/spec_decode/ngram_proposer.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[BugFix][MLA] Fix attn_mask bug for ring mla (#2704)
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

[Bugfix] Fix qwen2.5-vl-without-padding (#2623)
  tests/ut/models/test_qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:tests

[1/N][Draft][Refactor]torchair pangu_moe modeling refactor (#2437)
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/torchair/models/torchair_pangu_moe.py
  vllm_ascend/torchair/utils.py
Labels: module:tests, module:ops

[DP] External dp server starter (#2685)
  examples/external_online_dp/README.md
  examples/external_online_dp/launch_online_dp.py
  examples/external_online_dp/run_dp_template.sh
Labels: documentation

[bugfix] ascend schedule encountered an incorrect req block length in the check_watermark_for_prefill function (#2508)
  vllm_ascend/core/scheduler.py
Labels: none
