Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

fix the undefine splitting_ops in test_sp_for_qwen3_moe
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

make light test take effect
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/vllm_ascend_test.yaml
Labels: none

avoid mrope fusion op when running qwen2.5-vl on a+x machine
  tests/ut/ops/test_rotary_embedding.py
Labels: module:tests

Update linear_op.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

[doc]fix readme for kv pool user guide (#4271)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[doc]fix readme for kv pool user guide (#4271)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[doc]fix readme for kv pool user guide (#4271)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[doc]fix readme for kv pool user guide (#4271)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[Docs] Improve the AISBench multi-modal testing docs (#4255)
  docs/source/developer_guide/evaluation/using_ais_bench.md
Labels: documentation

[Docs] Improve the AISBench multi-modal testing docs (#4255)
  docs/source/developer_guide/evaluation/using_ais_bench.md
Labels: documentation

[Docs] Improve the AISBench multi-modal testing docs (#4255)
  docs/source/developer_guide/evaluation/using_ais_bench.md
Labels: documentation

[Docs] Improve the AISBench multi-modal testing docs (#4255)
  docs/source/developer_guide/evaluation/using_ais_bench.md
Labels: documentation

[Quantization][Feature][WIP] Add AWQ quantization in vllm-ascend.
  vllm_ascend/ops/layernorm.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/awq/__init__.py
  vllm_ascend/quantization/awq/awq.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

avoid mrope fusion op when running qwen2.5-vl on a+x machine
  tests/ut/ops/test_rotary_embedding.py
Labels: module:tests

add fused_sigmoid_gating_delta_rule_update
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/fla.py
Labels: module:ops

[Modify]Change 'conv' to 'conv1d'
  vllm_ascend/ops/linear.py
Labels: module:ops

avoid mrope fusion op when running qwen2.5-vl on a+x machine
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Doc] Add multi-node ray backend tutorial (#2376)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

[bugfix][torchair] fix multistream_moe problems in torchair graph mode (#2681)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

remove npu_grouped_matmul_finalize_routing on torchair
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

Remove chunked_prefill_for_mla and fix ring_mla bug (#2781)
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/configuration/additional_config.po
  docs/source/user_guide/configuration/additional_config.md
  examples/disaggregated_prefill_v1/README.md
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: documentation

[Bugfix] Fix sleep mode level 2 (#1376)
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

Fix VocabParallelEmbedding UT (#2722)
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/ops/test_vocab_parallel_embedding.py
Labels: module:tests

[HybridKV] Fix prefill disaggregation kvcache addr alignment & use hybrid kv cache only when running qwen3_next (#3007)
  vllm_ascend/platform.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[Fixbug] Fix accuracy for DeepSeek-V2-Lite (#3016)
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/test_lm_eval_correctness.py
Labels: module:tests

[Feature] Support moe multi-stream for aclgraph. (#2946)
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/configuration/additional_config.po
  docs/source/user_guide/configuration/additional_config.md
  examples/external_online_dp/run_dp_template.sh
  examples/run_dp_server.sh
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/test_multistream_overlap_shared_expert.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/test_ascend_config.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:ops, module:core

[BugFix] Async scheduling and PP compatibility with DP (#2796)
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Bugfix] Fix async copy bug under single expert scenario (#3005)
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:ops

[Bugfix] Fix specdecoding in chunkedprefill scenario (#3025)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: none

[CustomOp] Register AscendSharedFusedMoE custom op (#2980)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

Increase doctest timeout to 300s and time print (#3041)
  tests/e2e/common.sh
  tests/e2e/doctests/001-quickstart-test.sh
  tests/e2e/doctests/002-pip-binary-installation-test.sh
  tests/e2e/run_doctests.sh
Labels: module:tests

[3/N][Refactor][Quantization]remove packed_modules_mapping from models (#3021)
  tests/ut/models/test_qwen3_moe.py
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

[Test]Add unit test for compilation/acl_graph.py (#3039)
  tests/ut/compilation/test_acl_graph.py
Labels: module:tests

[Fixbug] Fix shape not match when sliding_window and dynamic batch_size (#2830)
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

[TEST] Speed up DS V2 accuracy test and turn up accuracy baseline (#3047)
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
Labels: module:tests

[Bugfix] Remove `VLLM_TEST_DYNAMO_FULLGRAPH_CAPTURE` (#2969)
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

[CI] Upgrade vLLM to 20250919 (6d8246aa) and fix some broken issue (#2907)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:quantization, module:core

[CI] Upgrade vLLM to 20250920 (c60e613) and address config break (#3067)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests

Refactor ci to reuse base workflow and re-enable ut coverage (#3064)
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

[CI] Enable main based lint check and light ci matrix (#3079)
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
