Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Fix] fix deepseek v0 attention eager mode (#671)
  vllm_ascend/attention/attention.py
Labels: none

[Model][MiniCPM] support MiniCPM (#645)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
  vllm_ascend/patch/worker/patch_common/patch_minicpm.py
Labels: none

Remove prompt string from engine core data structures (#663)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] Remove redundant tensor creation and unused code (#656)
  vllm_ascend/attention/attention.py
Labels: none

[FOLLOWUP][DOC] Fix pip install cmd in installation.md (#680)
  docs/source/installation.md
Labels: documentation

[Fix] fix deepseek v0 attention eager mode (#671)
  vllm_ascend/attention/attention.py
Labels: none

[BUILD] Upgrade torch-npu to 2.5.1 (#661)
  .github/workflows/mypy.yaml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  README.md
  README.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/installation.md
  pta_install.sh
  pyproject.toml
  requirements.txt
  setup.py
  vllm_ascend/models/qwen2_vl.py
Labels: documentation

fix
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
Labels: ci/build

Update openEuler dockerfile for COMPILE_CUSTOM_KERNELS=1
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
Labels: ci/build

[Bugfix] fix triton and minicpm patch
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_main/__init__.py
  vllm_ascend/patch/worker/patch_main/patch_minicpm.py
Labels: none

[Platform][Worker][ModelRunner] Add LoRA & Multi-LoRA support (#521)
  vllm_ascend/lora/punica_wrapper/punica_npu.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:core

[Bugfix] fix import error (#600)
  vllm_ascend/lora/__init__.py
  vllm_ascend/lora/punica_wrapper/__init__.py
Labels: none

patch from_seq_group to clear finished seq in seq_id_to_seq_group
  vllm_ascend/patch_outputs.py
  vllm_ascend/platform.py
Labels: module:core

Update openEuler dockerfile for COMPILE_CUSTOM_KERNELS=1 (#689)
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
Labels: ci/build

Update openEuler dockerfile for COMPILE_CUSTOM_KERNELS=1 (#689)
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
Labels: ci/build

update quantization faq
  docs/source/faqs.md
Labels: documentation

cherry-pick FAQ from main
  docs/source/faqs.md
Labels: documentation

optimize qwen2_vl and qwen2_5_vl
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/ops/activation.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

perf(npu): greatly accelerate post-processing on Ascend platform
  vllm_ascend/sample/__init__.py
  vllm_ascend/sample/ops/__init__.py
  vllm_ascend/sample/ops/ascend_topk_topp_sampler.py
  vllm_ascend/sample/ops/penalties.py
  vllm_ascend/sample/sampler.py
  vllm_ascend/sample/sampler_v1.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

refactor: support scenarios where top_p or top_k is None
  vllm_ascend/sample/ops/ascend_topk_topp_sampler.py
  vllm_ascend/sample/ops/penalties.py
  vllm_ascend/sample/sampler.py
  vllm_ascend/sample/sampler_v1.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[MISC] Make vllm version configurable (#651)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  vllm_ascend/envs.py
  vllm_ascend/utils.py
Labels: documentation, module:core

[MISC] Make vllm version configurable (#651)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  vllm_ascend/envs.py
  vllm_ascend/utils.py
Labels: documentation, module:core

update faqs
  docs/source/faqs.md
Labels: documentation

Keep faqs consistent with main
  docs/source/faqs.md
Labels: documentation

codecheck for qwen2_vl
  vllm_ascend/models/qwen2_vl.py
Labels: none

[MISC] Clean up torch_npu
  examples/dp_offline/data_parallel.py
  tests/multicard/test_pyhccl_distributed.py
  tests/ops/test_rotary_embedding.py
  tests/singlecard/test_camem.py
  tests/singlecard/test_pyhccl.py
  vllm_ascend/attention/attention.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/distributed/device_communicators/pyhccl.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/pooling_model_runner.py
Labels: module:tests, module:ops, module:quantization, module:core

[Bugfix] fix triton placeholder
  vllm_ascend/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
Labels: module:core

[Doc] Add deepsee-v2-lite w8a8 quantization turorial (#630)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

[Doc] Add deepsee-v2-lite w8a8 quantization turorial (#630)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

[Doc] Update faqs (#699)
  docs/source/faqs.md
Labels: documentation

[Doc] Update faqs (#699)
  docs/source/faqs.md
Labels: documentation

[Bugfix] Fix triton placeholder patch period (#704)
  vllm_ascend/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
Labels: module:core

[Bugfix] Fix triton placeholder patch period (#704)
  vllm_ascend/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
Labels: module:core

[MTP] follow custom deepseek modeling changes to support graph mode
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/conftest.py
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  tests/singlecard/spec_decode/test_dynamic_spec_decode.py
  tests/singlecard/spec_decode/test_multi_step_worker.py
  tests/singlecard/spec_decode/test_ngram_worker.py
  tests/singlecard/spec_decode/test_spec_decode_worker.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_spec_decode_worker.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/multi_step_runner.py
Labels: module:tests

feat: use reshape_and_cache fused op
  vllm_ascend/attention/mla_v1.py
Labels: none

[MTP] follow custom deepseek modeling changes to support graph mode (#636)
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/conftest.py
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  tests/singlecard/spec_decode/test_dynamic_spec_decode.py
  tests/singlecard/spec_decode/test_multi_step_worker.py
  tests/singlecard/spec_decode/test_ngram_worker.py
  tests/singlecard/spec_decode/test_spec_decode_worker.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_spec_decode_worker.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/multi_step_runner.py
Labels: module:tests

[MTP] follow custom deepseek modeling changes to support graph mode (#636)
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/conftest.py
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  tests/singlecard/spec_decode/test_dynamic_spec_decode.py
  tests/singlecard/spec_decode/test_multi_step_worker.py
  tests/singlecard/spec_decode/test_ngram_worker.py
  tests/singlecard/spec_decode/test_spec_decode_worker.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_spec_decode_worker.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/multi_step_runner.py
Labels: module:tests

[BugFix] Fix moe error
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[Doc] Add 0.8.4rc2 release note
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

[Bufix] Fix None output issue caused by outputs patch
  vllm_ascend/patch_outputs.py
Labels: module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
