Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

bug_fix_proxy
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

bugfix proxy
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

bug_fix_proxy
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

adjust code format
  vllm_ascend/ops/layernorm.py
Labels: module:ops

support qwen2.5-vl-7b w8a8 quant
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

[Feat]: Add custom lmhead tensor model parallel (#2309)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/test_ascend_config.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: documentation, module:tests, module:ops, module:core

[Feat]: Add custom lmhead tensor model parallel (#2309)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/test_ascend_config.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: documentation, module:tests, module:ops, module:core

[Feat]: Add custom lmhead tensor model parallel (#2309)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/test_ascend_config.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: documentation, module:tests, module:ops, module:core

[Refactor][MOE] remove redundant code.
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

[LINT] pre-commit lint
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/schedule_config.py
Labels: module:tests

fix with_quant logic
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization, module:core

Add feature custom vocab embedding tensor parallel
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:core

[CI] fix
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:core

bugfix for torchair
  tests/ut/torchair/test_utils.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests, module:core

[Image] Upgrade to 24.03
  Dockerfile.openEuler
Labels: none

update
  docs/source/faqs.md
Labels: documentation

set eager mode
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

fix
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

set ray default port
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

add ray doc
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

update
  docs/source/faqs.md
Labels: documentation

[Image] Upgrade to 24.03
  Dockerfile.openEuler
Labels: none

fix ray doc
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

update
  docs/source/faqs.md
Labels: documentation

[Fix] Resolve data-parallel (DP) assertion errors in TorchAir (#2626)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Resolve data-parallel (DP) assertion errors in TorchAir (#2626)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Fix] Resolve data-parallel (DP) assertion errors in TorchAir (#2626)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main] [bugfix] Fix misjudging quantized/unquantized scenarios (#2627)
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization, module:core

[main] [bugfix] Fix misjudging quantized/unquantized scenarios (#2627)
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization, module:core

[main] [bugfix] Fix misjudging quantized/unquantized scenarios (#2627)
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization, module:core

[ReleaseNote] Add Release Note for v0.10.1rc1
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

Fix wrong torchair model register key
  vllm_ascend/torchair/utils.py
Labels: none

Fix long context seq accuracy problem
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

update contributor
  docs/source/community/contributors.md
Labels: documentation

fix ut
  tests/ut/torchair/test_utils.py
Labels: module:tests

[MAIN][BUGFIX] BugFix: Resolve the issue of waiting queue accumulation when requests are canceled. (#2426)
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

[MAIN][BUGFIX] BugFix: Resolve the issue of waiting queue accumulation when requests are canceled. (#2426)
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

[MAIN][BUGFIX] BugFix: Resolve the issue of waiting queue accumulation when requests are canceled. (#2426)
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

bugfix for torchair graph
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
