Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

modofy kv transfer unittest
  tests/ut/distributed/kv_transfer/simple_buffer_test.py
  tests/ut/distributed/kv_transfer/simple_connector_test.py
  tests/ut/distributed/kv_transfer/simple_pipe_test.py
Labels: module:tests

[Fix] Add warning for incompatible Ray backend with ACL Graph mode
  vllm_ascend/platform.py
Labels: module:core

Mooncake's p2p scenario implementation
  examples/disaggregate_prefill_v1/mooncake_p2p/README.md
  examples/disaggregate_prefill_v1/mooncake_p2p/run_consumer.sh
  examples/disaggregate_prefill_v1/mooncake_p2p/run_producer.sh
  examples/disaggregate_prefill_v1/mooncake_p2p/run_proxy_xpyd.sh
  git
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
  vllm_ascend/envs.py
Labels: documentation, module:core

Mooncake's p2p scenario implementation
  git
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

Mooncake's p2p scenario implementation
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

move this UT to e2e/multicard
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
Labels: module:tests

Mooncake's p2p scenario implementation
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

add npu_moe_gating_top_k_softmax and fix bugs
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

fix sort error
  tests/ut/distributed/kv_transfer/simple_buffer_test.py
  tests/ut/distributed/kv_transfer/simple_connector_test.py
  tests/ut/distributed/kv_transfer/simple_pipe_test.py
Labels: module:tests

fix two files sort error
  tests/ut/distributed/kv_transfer/simple_buffer_test.py
  tests/ut/distributed/kv_transfer/simple_pipe_test.py
Labels: module:tests

[V1][ModelRunner] Support pooling model for v1 engine (#1359)
  .github/workflows/vllm_ascend_test.yaml
  examples/offline_embed.py
  requirements-dev.txt
  tests/conftest.py
  tests/e2e/singlecard/test_embedding.py
  tests/ut/worker/test_input_batch.py
  tests/utils.py
  vllm_ascend/pool/metadata.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[V1][ModelRunner] Support pooling model for v1 engine (#1359)
  .github/workflows/vllm_ascend_test.yaml
  examples/offline_embed.py
  requirements-dev.txt
  tests/conftest.py
  tests/e2e/singlecard/test_embedding.py
  tests/ut/worker/test_input_batch.py
  tests/utils.py
  vllm_ascend/pool/metadata.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[V1][ModelRunner] Support pooling model for v1 engine (#1359)
  .github/workflows/vllm_ascend_test.yaml
  examples/offline_embed.py
  requirements-dev.txt
  tests/conftest.py
  tests/e2e/singlecard/test_embedding.py
  tests/ut/worker/test_input_batch.py
  tests/utils.py
  vllm_ascend/pool/metadata.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

sort error fix
  tests/ut/distributed/kv_transfer/simple_buffer_test.py
  tests/ut/distributed/kv_transfer/simple_pipe_test.py
Labels: module:tests

add simple connector unit test
  tests/ut/distributed/kv_transfer/simple_buffer_test.py
  tests/ut/distributed/kv_transfer/simple_pipe_test.py
Labels: module:tests

Mooncake's p2p scenario implementation
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

qwen3 dbo
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/models/qwen3_dbo.py
  vllm_ascend/multistream/ms_split.py
Labels: none

[BugFix] Address PrefillCacheHit state to fix prefix cache accuracy bug (#1498)
  vllm_ascend/attention/mla_v1.py
Labels: none

[BugFix] Address PrefillCacheHit state to fix prefix cache accuracy bug (#1498)
  vllm_ascend/attention/mla_v1.py
Labels: none

[BugFix] Address PrefillCacheHit state to fix prefix cache accuracy bug (#1498)
  vllm_ascend/attention/mla_v1.py
Labels: none

Mooncake's p2p scenario implementation
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

remove debugging usage
  vllm_ascend/models/qwen3_dbo.py
Labels: none

collect moe load after dispatch
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/worker/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

[Doc] Add Structured Output guide (#1499)
  docs/source/index.md
  docs/source/user_guide/images/structured_output_1.png
  docs/source/user_guide/structured_output.md
Labels: documentation

[Doc] Add Structured Output guide (#1499)
  docs/source/index.md
  docs/source/user_guide/images/structured_output_1.png
  docs/source/user_guide/structured_output.md
Labels: documentation

[Doc] Add Structured Output guide (#1499)
  docs/source/index.md
  docs/source/user_guide/images/structured_output_1.png
  docs/source/user_guide/structured_output.md
Labels: documentation

[Bugfix] Fix memory-leak caused by dist._functional_collectives.reduce_scatter_tensor
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Structured Output] Remove redundant check for `grammar_bitmask` (#1459)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Structured Output] Remove redundant check for `grammar_bitmask` (#1459)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Structured Output] Remove redundant check for `grammar_bitmask` (#1459)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add patch
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_dbo.py
Labels: none

[Misc] Resolve review comments
  vllm_ascend/distributed/communication_op.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

add ut for kv tansfer module
  tests/ut/distributed/kv_transfer/simple_buffer_test.py
  tests/ut/distributed/kv_transfer/simple_connector_test.py
  tests/ut/distributed/kv_transfer/simple_pipe_test.py
Labels: module:tests

[CI] change to new ds model (#1513)
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[CI] change to new ds model (#1513)
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[CI] change to new ds model (#1513)
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

Mooncake's p2p scenario implementation
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

Mooncake's p2p scenario implementation
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

[Doc] Add guidance on how to implement and register new models (#1426)
  docs/source/developer_guide/modeling/adding_a_new_model.md
  docs/source/developer_guide/modeling/adding_a_new_multimodal_model.md
  docs/source/developer_guide/modeling/index.md
  docs/source/index.md
Labels: documentation

Handle with_prefill_across_dp for multistream mla (#1322)
  tests/e2e/multicard/test_torchair_graph_mode.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
