Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Feat] A Connector that supports Mooncake store (#2913)
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake/__init__.py
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/kv_transfer.py
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation

[Feat] A Connector that supports Mooncake store (#2913)
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake/__init__.py
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/kv_transfer.py
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation

[Feat] A Connector that supports Mooncake store (#2913)
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/mooncake/__init__.py
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/kv_transfer.py
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation

[Feat][Graph] Support MTP for ACL Graph (#2932)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Feat][Graph] Support MTP for ACL Graph (#2932)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Feat][Graph] Support MTP for ACL Graph (#2932)
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Bugfix]:replace npu_incre_flash_attention with npu_fused_infer_atten… (#2901)
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/torchair/torchair_attention.py
Labels: module:tests

[Bugfix]:replace npu_incre_flash_attention with npu_fused_infer_atten… (#2901)
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/torchair/torchair_attention.py
Labels: module:tests

[Bugfix]:replace npu_incre_flash_attention with npu_fused_infer_atten… (#2901)
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/torchair/torchair_attention.py
Labels: module:tests

refactor linear (#2867)
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/ops/test_linear.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
Labels: module:tests, module:ops

refactor linear (#2867)
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/ops/test_linear.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
Labels: module:tests, module:ops

refactor linear (#2867)
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/ops/test_linear.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/linear_op.py
Labels: module:tests, module:ops

[HybridKV] Use hybrid kv cache only when running qwen3_next
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add ray doc
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

fix ray doc
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

set ray default port
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

set eager mode
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

fix
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

[Doc] Add multi-node ray backend tutorial (#2376)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

[Doc] Add multi-node ray backend tutorial (#2376)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

[Doc] Add multi-node ray backend tutorial (#2376)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

tiny fix
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

fc1 for shared fused moe
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
Labels: module:ops

Fix async copy bug under single expert scenario.
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:ops

add fc1 for fused moe
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

lint
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main][quantization] Support deepseek w4a8 per-channel quantization
  docs/source/user_guide/feature_guide/quantization.md
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
Labels: documentation, module:quantization

Remove chunked_prefill_for_mla and fix ring_mla bug
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/configuration/additional_config.po
  docs/source/user_guide/configuration/additional_config.md
  examples/disaggregated_prefill_v1/README.md
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: documentation

fix mla
  vllm_ascend/torchair/torchair_mla.py
Labels: none

delete a blank
  vllm_ascend/attention/mla_v1.py
Labels: none

remove chunked prefill and fix ring mla mask
  vllm_ascend/torchair/torchair_mla.py
Labels: none

remove chunked prefill and fix ring mla mask
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: none

remove chunked prefill and fix ring mla mask
  vllm_ascend/attention/mla_v1.py
Labels: none

fix mla
  vllm_ascend/torchair/torchair_mla.py
Labels: none

[bugfix][torchair] fix multistream_moe problems in torchair graph mode (#2681)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

[bugfix][torchair] fix multistream_moe problems in torchair graph mode (#2681)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

[bugfix][torchair] fix multistream_moe problems in torchair graph mode (#2681)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

refactor moe_comm_method selection process
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_moe_comm_method.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

enable hierarchical communication for mc2 ops on A2
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: module:ops

fix UT
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
