Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[MISC] Clean up torch_npu (#688)
  examples/dp_offline/data_parallel.py
  tests/multicard/test_pyhccl_distributed.py
  tests/ops/test_rotary_embedding.py
  tests/singlecard/test_camem.py
  tests/singlecard/test_pyhccl.py
  vllm_ascend/attention/attention.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/distributed/device_communicators/pyhccl.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/pooling_model_runner.py
Labels: module:tests, module:ops, module:quantization, module:core

Support 32K model len on deepseek r1 W8A8 model
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

bugfix for qwen
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

bugfix for qwen
  vllm_ascend/models/__init__.py
Labels: none

Modification Notes
  tests/ops/test_cache.py
  vllm_ascend/ops/cache.py
Labels: module:tests, module:ops

bugfix for qwen
  vllm_ascend/models/__init__.py
Labels: none

support 32K model len on deepseek r1 W8A8
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

[Platform] format platform to make it more clear
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
Labels: module:core

[Platform] format platform to make it more clear (#610)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
Labels: module:core

[Platform] format platform to make it more clear (#610)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
Labels: module:core

[CI] upgrade vllm to 0.8.5
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.openEuler
  vllm_ascend/__init__.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_config.py
  vllm_ascend/patch/platform/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
  vllm_ascend/patch/worker/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[CI] upgrade vllm to 0.8.5 (#715)
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.openEuler
  vllm_ascend/__init__.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_config.py
  vllm_ascend/patch/platform/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
  vllm_ascend/patch/worker/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[CI] upgrade vllm to 0.8.5 (#715)
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.openEuler
  vllm_ascend/__init__.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_config.py
  vllm_ascend/patch/platform/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
  vllm_ascend/patch/worker/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[Doc] Add benchmark guide (#635)
  benchmarks/requirements-bench.txt
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/performance_benchmark.md
Labels: documentation

[Doc] Add benchmark guide (#635)
  benchmarks/requirements-bench.txt
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/performance_benchmark.md
Labels: documentation

[Test]Add accuracy test report
  .github/actionlint.yaml
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/index.md
Labels: documentation

add dpsk-v2-lit2 test
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

trigger ci
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

fix yapf
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

skip v1
  .github/workflows/vllm_ascend_test.yaml
Labels: none

set VLLM_ENABLE_MC2 envs
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

Optimize qwen2_vl and qwen2_5_vl (#701)
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/ops/activation.py
Labels: module:ops

Optimize qwen2_vl and qwen2_5_vl (#701)
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/ops/activation.py
Labels: module:ops

[Test] Add accuracy test report workflow (#542)
  .github/actionlint.yaml
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/index.md
Labels: documentation

[Test] Add accuracy test report workflow (#542)
  .github/actionlint.yaml
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/index.md
Labels: documentation

[Build][Bugfix] Fix source code path
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  Dockerfile
  Dockerfile.openEuler
Labels: ci/build

This is to resolve the conflict in git rebase
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Use git rebase to fit upstream/main
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_triple_chevrons_func.h
Labels: none

git rebase for fitting the main branch
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_triple_chevrons_func.h
Labels: none

[v0.7.3][Build][Bugfix] Fix source code path to avoid reference error
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  Dockerfile
  Dockerfile.openEuler
Labels: ci/build

[Feature] Add quant description file for new quant model generated by modelslim (#719)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

[Feature] Add quant description file for new quant model generated by modelslim (#719)
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

add quant description file for new quant model generated by modelslim
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

[Build][Bugfix] Fix source code path to avoid reference error (#726)
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  Dockerfile
  Dockerfile.openEuler
Labels: ci/build

[Build][Bugfix] Fix source code path to avoid reference error (#726)
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  Dockerfile
  Dockerfile.openEuler
Labels: ci/build

This commit is to fit the ruff and yapf
  vllm_ascend/worker/model_runner_v1.py
Labels: none

This commit is to fit the isort
  vllm_ascend/worker/model_runner_v1.py
Labels: none

This commit is to enable the V1 Qwen2.5-vl test
  tests/singlecard/test_offline_inference.py
Labels: module:tests

feat: performance optimization, usability optimization and API compatibility adjustments for deepseek with npu graph mode
  vllm_ascend/attention/attention.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner.py
Labels: module:ops, module:quantization, module:core

performance optimization, usability optimization and API compatibility adjustments for deepseek with npu graph mode (#731)
  vllm_ascend/attention/attention.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner.py
Labels: module:ops, module:quantization, module:core
