Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

add gatherep.
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

reformat
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support torchair mode (#2641)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core

support torchair mode (#2641)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core

support torchair mode (#2641)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core

fix
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multinodes/test_multi_dp.py
Labels: ci/build, module:tests

fix format
  tests/e2e/multinodes/test_multi_dp.py
Labels: module:tests

revert format.sh
  format.sh
Labels: none

reformat
  vllm_ascend/core/scheduler.py
Labels: none

replace torch-npu api
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

Fix CI Break: upstream adds routed_scaling_factor in forward_oot interface, vllm-ascend needs to adapt
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:ops

Register AscendRowParallelLinear instead of overwrite forward_oot
  vllm_ascend/patch/worker/patch_common/patch_linear.py
  vllm_ascend/utils.py
Labels: module:core

fix
  tests/ut/patch/worker/patch_common/test_patch_linear.py
Labels: module:tests

fix format
  tests/e2e/multinodes/test_multi_dp.py
Labels: module:tests

add attr check
  vllm_ascend/core/scheduler.py
Labels: none

[CI] Fix CI Break: upstream adds routed_scaling_factor in forward_oot interface (#2675)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:ops

[CI] Fix CI Break: upstream adds routed_scaling_factor in forward_oot interface (#2675)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:ops

[CI] Fix CI Break: upstream adds routed_scaling_factor in forward_oot interface (#2675)
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:ops

add attr check
  vllm_ascend/core/scheduler.py
Labels: none

[V1][BUGFIX][0.10.1] FIX mtp on main branch
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

migrate P2pNcclConnector to P2pHcclConnector
  setup.py
  vllm_ascend/__init__.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/distributed/device_communicators/pyhccl.py
  vllm_ascend/distributed/device_communicators/pyhccl_wrapper.py
  vllm_ascend/distributed/kv_transfer/kv_connector/v1/p2p/__init__.py
  vllm_ascend/distributed/kv_transfer/kv_connector/v1/p2p/p2p_hccl_connector.py
  vllm_ascend/distributed/kv_transfer/kv_connector/v1/p2p/p2p_hccl_engine.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[Misc] Clean up uesless code in rotary_embedding
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Feat] support return dumped blocks id for connector
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix][LoRA][Operator] fix lora custom operators accuracy issue
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
Labels: none

[Bugfix][LoRA][Operator] rebase & fix conflict
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[Bugfix][LoRA][Operator] Patch for lora register_model issue after overriding VocabParallelEmbedding class (#2515)
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: module:ops

[Bugfix][LoRA][Operator] fix lint
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: none

[Bugfix][LoRA][Operator] fix lint
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: none

[Bugfix][LoRA][Operator] Patch for lora register_model issue after overriding VocabParallelEmbedding class (#2515)
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/patch/worker/patch_common/__init__.py
Labels: module:ops

Refactor AscendAttentionTorchairBackendImpl
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

delete unnecessary code
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

add a blank line in worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

set params from envs for profiler
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

update code caused by pre-commit
  vllm_ascend/worker/worker_v1.py
Labels: none

update code caused by yapf
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

fix lint
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

Refactor AscendAttentionMetadataBuilder for better extensibility and make the builder class of torchair extend from it
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

little fix
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

Fix long context seq accuracy problem
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

add use_data_parallel
  vllm_ascend/models/qwen2_5_vl.py
Labels: none
