Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Core] Support the features of prefix cache and chunk prefill
  vllm_ascend/attention.py
  vllm_ascend/platform.py
Labels: module:core

[Doc]Fix tutorial doc expression (#319)
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

[Doc]Fix tutorial doc expression (#319)
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

[Doc]Fix tutorial doc expression (#319)
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

update
  format.sh
  test.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[Doc] Add the release note for 0.7.3rc1
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Doc] Add the release note for 0.7.3rc1 (#285)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Doc] Add the release note for 0.7.3rc1 (#285)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Doc] Add the release note for 0.7.3rc1 (#285)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Doc] Add the release note for 0.7.3rc1 (#285)
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Doc]Fix tutorial doc expression (#319)
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

update
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Build] Fix x86 image build
  Dockerfile
Labels: none

[Build] Fix x86 image build (#327)
  Dockerfile
Labels: none

[Build] Fix x86 image build (#327)
  Dockerfile
Labels: none

[Build] Fix x86 image build (#327)
  Dockerfile
Labels: none

[Build] Fix x86 image build (#327)
  Dockerfile
Labels: none

add multistep user_guide and fix multistep bug when uing chunked prefill
  docs/source/user_guide/suppoted_features.md
  vllm_ascend/worker/multi_step_runner.py
Labels: documentation

fix doc
  docs/source/installation.md
  format.sh
Labels: documentation

[Doc] Fix bugs of installation doc and format tool (#330)
  docs/source/installation.md
  format.sh
Labels: documentation

[Doc] Fix bugs of installation doc and format tool (#330)
  docs/source/installation.md
  format.sh
Labels: documentation

[Doc] Fix bugs of installation doc and format tool (#330)
  docs/source/installation.md
  format.sh
Labels: documentation

[DNM]: debug output
  vllm_ascend/attention.py
Labels: module:core

[Doc] Fix bugs of installation doc and format tool (#330)
  docs/source/installation.md
  format.sh
Labels: documentation

[Doc] Fix release note
  docs/source/user_guide/release_notes.md
Labels: documentation

[Attn][bugfix] fix long seq percision issue
  vllm_ascend/attention.py
Labels: module:core

fix
  docs/source/user_guide/release_notes.md
  vllm_ascend/attention.py
Labels: documentation, module:core

Update vllm_ascend/attention.py
  vllm_ascend/attention.py
Labels: module:core

free attention kvcache
  vllm_ascend/attention.py
Labels: module:core

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Create config.py
  vllm_ascend/config.py
Labels: module:core

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Create forward_context.py
  vllm_ascend/forward_context.py
Labels: module:core

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Create utils.py
  vllm_ascend/distributed/utils.py
Labels: none

Create llm_engine.py
  vllm_ascend/engine/llm_engine.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none
