Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

quick fix eplb
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

Modify errors in the tutorial document(qwen2-audio-7b)
  docs/source/tutorials/single_npu_qwen2_audio.md
Labels: documentation

npugraph_ex integration with vllm-ascend
  tests/ut/patch/worker/patch_common/test_patch_eager_adaptor.py
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_eager_adaptor.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

update code v1 cover network err(only for dp)
  vllm_ascend/worker/common.py
  vllm_ascend/worker/fault_aware.py
  vllm_ascend/worker/fault_tolerance.py
  vllm_ascend/worker/recovery_chain.py
  vllm_ascend/worker/recovery_context.py
Labels: none

resolve conflicts
  vllm_ascend/distributed/kvpool/backend/mooncake_backend.py
Labels: none

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/multi_npu_qwen3_dense.md
Labels: documentation

fix clean code question
  tests/ut/patch/worker/patch_common/test_patch_eager_adaptor.py
  vllm_ascend/patch/worker/patch_eager_adaptor.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

resolve conflicts
  vllm_ascend/distributed/kvpool/backend/mooncake_backend.py
Labels: none

resolve conflicts
  vllm_ascend/distributed/kvpool/backend/mooncake_backend.py
Labels: none

add log debug for every layer
  vllm_ascend/eplb/eplb_updator.py
Labels: none

add assert for pcp&pp cannot oepn in same time and remove version check
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

fix pre-commit
  vllm_ascend/eplb/eplb_updator.py
Labels: none

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/attention/attention_v1.py
Labels: none

format code
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

chip type judgement code optimization (#4485)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

chip type judgement code optimization (#4485)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

chip type judgement code optimization (#4485)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

chip type judgement code optimization (#4485)
  .github/Dockerfile.buildwheel
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  .github/workflows/vllm_ascend_test_pr_light.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  setup.py
Labels: ci/build

update
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[CI][Nightly] Support local debugging for multi-node CI test cases (#4489)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/config/utils.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[CI][Nightly] Support local debugging for multi-node CI test cases (#4489)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/config/utils.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[CI][Nightly] Support local debugging for multi-node CI test cases (#4489)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/config/utils.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

[CI][Nightly] Support local debugging for multi-node CI test cases (#4489)
  tests/e2e/nightly/multi_node/config/models/DeepSeek-V3.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
  tests/e2e/nightly/multi_node/config/utils.py
  tests/e2e/nightly/multi_node/test_multi_node.py
Labels: module:tests

resolve conflicts
  tests/ut/distributed/mooncake/test_config_data.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/utils.py
Labels: module:tests

change multi_npu_qwen3_dense tutorials
  docs/source/tutorials/multi_npu_qwen3_dense.md
Labels: documentation

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/attention/attention_v1.py
Labels: none

update
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix clean code question
  tests/ut/patch/worker/patch_common/test_patch_eager_adaptor.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/patch/worker/patch_eager_adaptor.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops

update
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix bugs at fault_tolerance.coordinate_recovery and fault_aware
  vllm_ascend/worker/fault_aware.py
  vllm_ascend/worker/fault_tolerance.py
Labels: none

format code
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

add deepseek-r1-w8a8 tutorial.
  docs/source/tutorials/DeepSeek-R1-w8a8.md
Labels: documentation

update
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/attention/attention_v1.py
Labels: none

[BugFix] Adapted Qwen3-Next eager mode to v0.11.2 (#4477)
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/models/qwen3_next.py
Labels: module:tests

[BugFix] Adapted Qwen3-Next eager mode to v0.11.2 (#4477)
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/models/qwen3_next.py
Labels: module:tests

[BugFix] Adapted Qwen3-Next eager mode to v0.11.2 (#4477)
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/models/qwen3_next.py
Labels: module:tests

[BugFix] Adapted Qwen3-Next eager mode to v0.11.2 (#4477)
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_qwen3_next.py
  vllm_ascend/models/qwen3_next.py
Labels: module:tests

fix clean code question
  vllm_ascend/patch/worker/patch_eager_adaptor.py
Labels: none

[Refactor] add fia_v3 attention & remove other attention operator.
  vllm_ascend/attention/attention_v1.py
Labels: none
