Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Remove the prefix Qwen for tab-item name Signed-off-by: leo-pony <nengjunma@outlook.com>
  docs/source/tutorials/single_node_300i.md
Labels: documentation

[Bug] Fix run bug in run_dp_server.sh
  examples/run_dp_server.sh
Labels: none

fix(ci): add qwen3_moe w8a8 quantized case
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

support kimi
  docs/source/assets/multi_node_dp.png
  docs/source/assets/multi_node_dp_deepseek.png
  docs/source/assets/multi_node_dp_kimi.png
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  vllm_ascend/ascend_config.py
  vllm_ascend/quantization/quantizer.py
Labels: documentation, module:quantization, module:core

fix(ci): add qwen3_moe w8a8 quantized case
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[Bug] Fix bug in test_chunked.py
  tests/e2e/singlecard/test_chunked.py
Labels: module:tests

fix_pd_doc
  examples/disaggregated_prefill_v1/README.md
Labels: documentation

enable external dp for vllm-ascend
  examples/external_online_dp/README.md
  examples/external_online_dp/launch_dp_program.py
  examples/external_online_dp/run_dp_template.sh
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core_client.py
Labels: documentation, module:core

fix format issue
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core_client.py
Labels: none

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix lint
  examples/external_online_dp/launch_dp_program.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

feat: add mtp ut case
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  vllm_ascend/models/deepseek_mtp.py
Labels: module:tests

add ut for envs.py
  tests/ut/test_envs.py
Labels: module:tests

fix_pd_expiry
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

add example and e2e test for sleepmode in external_launcher
  examples/offline_external_launcher.py
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

Add qwen-vl model and sampling feature UT for 310I series
  tests/e2e/singlecard/test_offline_inference_310p.py
Labels: module:tests

chunkprefill mla with torchair graph
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

feat: add mtp ut case
  vllm_ascend/models/deepseek_mtp.py
Labels: none

[BUGFIX][0.9.1] FIX ring_mla input ‘query_lens’ to cpu
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

remove fused_experts_with_all2all_v2
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

feat: add mtp ut case
  vllm_ascend/models/deepseek_mtp.py
Labels: none

fix(ci): add qwen3_moe w8a8 quantized case
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[main][Feature] Support deepseek w4a8 quantization
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w4a8_dynamic.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

fix import error
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
Labels: none

del reqs_to_send in listening thread
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix gllo allreduce to hccl
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
Labels: none

[v0.9.1][Feature] add moe alltoallv.
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/distributed/test_distributed_tensor_parallel.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/test_distributed_tensor_parallel.py
Labels: module:tests

fix mtp
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

add ut
  tests/ut/attention/test_mla_v1.py
  tests/ut/quantization/test_w8a8_dynamic.py
Labels: module:tests

[Doc] Add qwen vl example in tutorials for 310I series (#2160)
  docs/source/tutorials/single_node_300i.md
Labels: documentation

[Doc] Add qwen vl example in tutorials for 310I series (#2160)
  docs/source/tutorials/single_node_300i.md
Labels: documentation

[Doc] Add qwen vl example in tutorials for 310I series (#2160)
  docs/source/tutorials/single_node_300i.md
Labels: documentation

[main][Feature]Moe alltoallv communication optimization for unquantized RL training sence (#2088)
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/distributed/test_distributed_tensor_parallel.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/comm_utils.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/__init__.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops, module:core

[main][Feature]Moe alltoallv communication optimization for unquantized RL training sence (#2088)
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/distributed/test_distributed_tensor_parallel.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/comm_utils.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/__init__.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops, module:core

[main][Feature]Moe alltoallv communication optimization for unquantized RL training sence (#2088)
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/distributed/test_distributed_tensor_parallel.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/comm_utils.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/__init__.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops, module:core

add super kernel for deocode moe
  vllm_ascend/ascend_config.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/utils.py
Labels: module:ops, module:quantization, module:core

feat: add mtp ut case
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
Labels: module:tests

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

auto_clear_kv_cache
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
Labels: module:core

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none
