Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[MoE][Multistream] Avoid performing communication in extra stream. (#3582)
  tests/e2e/singlecard/test_multistream_overlap_shared_expert.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

fix
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  tests/e2e/nightly/multi_node/config/models/DeepSeek-R1-W8A8.yaml
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

fix sfa
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: none

fix kvcache and remove useless skip on ut
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/test_platform.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

tiny fix
  vllm_ascend/torchair/torchair_mla.py
Labels: none

fix SchedulerDynamicBatch
  vllm_ascend/core/scheduler_dynamic_batch.py
Labels: none

fix new scheduler
  vllm_ascend/core/recompute_scheduler.py
  vllm_ascend/core/scheduler_dynamic_batch.py
Labels: none

fix torchair deepseek
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: none

fix torchair mla/sfa by replacing q_a_proj by fused_qkv_a_proj
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_sfa.py
Labels: none

[Refactor][DS32] Refactor code to adapt with vllm main
  .github/workflows/_e2e_test.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .pre-commit-config.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/kv_connector/utils.py
  tests/ut/test_platform.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/lora/punica_npu.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_roberta.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_deepseek_mtp.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

fix lint
  tests/ut/kv_connector/test_mooncake_connector.py
Labels: module:tests

update sfa by replace q_a_proj by fused_qkv_a_proj
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: none

fix sfa eager
  vllm_ascend/models/deepseek_v3_2.py
Labels: none

[Bugfix] The server fails to locate the request, leading to the server hanging.
  vllm_ascend/distributed/mooncake/mooncake_store_connector_v1.py
Labels: none

[Benchmark] Upgrade benchmark args for new vllm version (#3218)
  benchmarks/tests/serving-tests.json
Labels: none

[Benchmark] Upgrade benchmark args for new vllm version (#3218)
  benchmarks/tests/serving-tests.json
Labels: none

[Benchmark] Upgrade benchmark args for new vllm version (#3218)
  benchmarks/tests/serving-tests.json
Labels: none

[Benchmark] Upgrade benchmark args for new vllm version (#3218)
  benchmarks/tests/serving-tests.json
Labels: none

fix: remove non_blocking flag from chunk_seq_lens_npu transfer
  vllm_ascend/attention/mla_v1.py
Labels: none

[UT] Fix test_sample_recovered_tokens_pytorch_autoregressive (#3434)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

[UT] Fix test_sample_recovered_tokens_pytorch_autoregressive (#3434)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

[UT] Fix test_sample_recovered_tokens_pytorch_autoregressive (#3434)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

[UT] Fix test_sample_recovered_tokens_pytorch_autoregressive (#3434)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

fix fusedmoe
  vllm_ascend/platform.py
Labels: module:core

reslove reflict
  vllm_ascend/patch/worker/patch_attentionspec.py
Labels: none

fix send_delta_data
  vllm_ascend/core/schedule_config.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: module:core

fix import
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

change commit to 0.11.1
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

merge commit of mengqing
  .github/workflows/vllm_ascend_test.yaml
  .pre-commit-config.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/core/test_scheduler.py
  tests/ut/ops/test_linear.py
  tests/ut/test_platform.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/core/recompute_scheduler.py
  vllm_ascend/core/scheduler_dynamic_batch.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:quantization, module:core

tiny fix
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_pipeline_parallel.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

final align
  tests/ut/test_platform.py
Labels: module:tests

tiny fix
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

skip ut
  .github/workflows/vllm_ascend_test.yaml
Labels: none

add ranktable
  tests/e2e/nightly/multi_node/config/multi_node_config.py
Labels: module:tests

refact test
  tests/e2e/nightly/multi_node/scripts/run.sh
Labels: module:tests

refister buffer
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
Labels: none

chunkprefill support multi-req
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add readme
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
Labels: documentation

fix ut
  tests/ut/attention/test_mla_v1.py
  tests/ut/test_platform.py
Labels: module:tests

fix mm and skip tests
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/ops/test_linear.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
