Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

qwen3 moe 1.0
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/sequence_parallel.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:core

移除注释
  vllm_ascend/models/qwen3_moe.py
Labels: none

fix ci
  tests/singlecard/test_aclgraph.py
  tests/singlecard/test_ilama_lora.py
Labels: module:tests

use modelscope
  tests/singlecard/test_ilama_lora.py
Labels: module:tests

cherry pick #1291 from v0.9.1-dev
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add aborted request when sending to the prefiller node
  examples/disaggregate_prefill_v1/toy_proxy_server.py
Labels: none

cherry-pick #1675 #1589 #1501 #1420 #1328 from v0.9.1-dev to main
  examples/offline_data_parallel.py
  tests/e2e/singlecard/test_aclgraph.py
  vllm_ascend/ascend_config.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/multistream/base.py
  vllm_ascend/multistream/metadata.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

fix bug
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

增加使用校验
  vllm_ascend/platform.py
Labels: module:core

merge with main
  examples/eplb_generate_map.py.py
  vllm_ascend/ascend_config.py
  vllm_ascend/eplb/__init__.py
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/eplb/core/eplb_worker.py
  vllm_ascend/eplb/core/policy/__init__.py
  vllm_ascend/eplb/core/policy/policy_abstract.py
  vllm_ascend/eplb/core/policy/policy_dynamic_ep.py
  vllm_ascend/eplb/core/policy/policy_dynamic_ep_v2.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/policy/policy_random.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/tool/eplb_utils.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

merge update in eplb branch
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/core/eplb_worker.py
  vllm_ascend/eplb/eplb_updator.py
Labels: none

add ut for deepseek_v2.
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

add ut for deepseek_v2.
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

Change AI Vector core number getting function to glibc ABI free funciton
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
Labels: module:tests

[Bug] use hidden_size_per_attention_head for scale_value Signed-off-by: wuzhongjian <wuzhongjian_yewu@cmss.chinamobile.com>
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

[main] Use AddRmsNormQuant ops in the custom model to optimize Qwen2.5's performance
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2.py
Labels: module:tests

fix_bug_qwen3-30b_aclgraph
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

add ut for deepseek_v2.
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

[Optimize]Change AI Vector core number getting function to glibc ABI free funcition (#1974)
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
Labels: module:tests

[Optimize]Change AI Vector core number getting function to glibc ABI free funcition (#1974)
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
Labels: module:tests

[Optimize]Change AI Vector core number getting function to glibc ABI free funcition (#1974)
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
Labels: module:tests

Bump torch version to 2.7.1
  README.md
  README.zh.md
  docs/source/installation.md
  pyproject.toml
  requirements.txt
Labels: documentation

job test
  .github/workflows/vllm_ascend_test.yaml
Labels: none

revert 857f489 68fb634
  tests/e2e/singlecard/ops/test_fused_moe.py
  vllm_ascend/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_utils.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization, module:core

Fix torchvision version
  pyproject.toml
  requirements.txt
Labels: none

[Misc] Clean up uesless code in attention (#1933)
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

[Misc] Clean up uesless code in attention (#1933)
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

[Misc] Clean up uesless code in attention (#1933)
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

Fix platform GetCoreNumByType abi mismach error and remove unuse patch_common.patch_utils
  tests/ut/ops/test_expert_load_balancer.py
Labels: module:tests

Remove unused Options for ProccessGroup in torch2.7
  vllm_ascend/platform.py
Labels: module:core

Fix test_platform ut fail: torch2.7 ProcessGroup does not include Options now
  tests/ut/test_platform.py
Labels: module:tests

Fix code formate
  tests/ut/test_platform.py
Labels: module:tests

[Test]add ut for deepseek_v2. (#1964)
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

[Test]add ut for deepseek_v2. (#1964)
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

[Test]add ut for deepseek_v2. (#1964)
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

Remove main branch new added patch.utils calls
  tests/ut/test_utils.py
  vllm_ascend/patch/__init__.py
Labels: module:tests

Fix main branch new added ProcessGroup error usage for torch2.7
  tests/ut/test_platform.py
Labels: module:tests

[Bug] Add prefix parameter to parent class initialization (#1934)
  vllm_ascend/models/qwen2_vl.py
Labels: none

[Bug] Add prefix parameter to parent class initialization (#1934)
  vllm_ascend/models/qwen2_vl.py
Labels: none

[Bug] Add prefix parameter to parent class initialization (#1934)
  vllm_ascend/models/qwen2_vl.py
Labels: none
