Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[P/D] pd proxy support ipv6 (#4161)
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/distributed/mooncake/transfer_engine.py
  vllm_ascend/envs.py
Labels: documentation, module:core

make vllm-ascend work well in developer mode (#4179)
  setup.py
Labels: none

[refactor]support gatingtopk operator generalization (#2958)
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe/experts_selector.py
Labels: module:tests, module:ops, module:core

[feature] Mooncake_connector support pcp/dcp (#4183)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[Fix] Sorts aclgraph batch sizes in ascending order (#4230)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] fix hang in async scheduling (#4233)
  tests/e2e/singlecard/test_ascend_scheduler.py
  vllm_ascend/compilation/acl_graph.py
Labels: module:tests

[CI] Fix kubernetes failed to resolve ip by dns name (#4240)
  tests/e2e/nightly/multi_node/config/utils.py
Labels: module:tests

[bugfix] fix proxy hen host ip using domain name (#4243)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/distributed/mooncake/transfer_engine.py
Labels: none

[main][misc]change default capture size for Qwen3-MoE when using full dp (#4199)
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

[Test] Add ACL graph capture/replay DP test (#4259)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_aclgraph_capture_replay.py
Labels: module:tests

[long seq feat]GQA support long-prefill-token-threshold and fixbug (#4209)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Test] quick fix mla ut (#4318)
  tests/ut/models/test_mla.py
Labels: module:tests

[Test] Add tests for the multi-node DeepSeek-V2-Lite network in GE Graph (#4039)
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[MM][Bugfix] Add error log for VL models when enabling FLASHCOMM (#4272)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Feat] Support MTP to running in full graph mode (#3892)
  tests/ut/attention/test_mla_v1.py
  tests/ut/compilation/test_acl_graph.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/patch/worker/patch_deepseek_mtp.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

eplb redundant expert bugfix (#4291)
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/ops/test_expert_load_balancer.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/expert_load_balancer.py
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: documentation, module:tests, module:ops, module:quantization

[CI] Add mla ut (#4280)
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_mla.py
Labels: module:tests

avoid mrope fusion op when running qwen2.5-vl on a+x machine (#4270)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Feat][Doc] Add a load_balance_dp_proxy in examples and external dp doc. (#4265)
  docs/source/user_guide/feature_guide/external_dp.md
  docs/source/user_guide/feature_guide/index.md
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  examples/external_online_dp/README.md
  examples/external_online_dp/dp_load_balance_proxy_server.py
  examples/external_online_dp/run_dp_template.sh
Labels: documentation

[Readme] EPLB Support Scenarios (#4314)
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[CI] Defaultly compile vllm with multimodal audio feature in dockerfile (#4324)
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
Labels: none

[misc] clean up get_metadata_cls (#4276)
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

[Feat][BugFix]Support the Qwen3-Next-80B-A3B-Instruct quantization model&Fix the NZ issue (#4245)
  tests/e2e/multicard/test_qwen3_next.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/test_utils.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/ops/linear.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

[Test] Add ut test for torchair (#4287)
  tests/ut/torchair/test_torchair_model_runner.py
  tests/ut/torchair/test_torchair_mtp_proposer.py
  tests/ut/torchair/test_torchair_worker.py
Labels: module:tests

fix typo
  vllm_ascend/patch/platform/__init__.py
Labels: none

[Quantization][Feature] Add AWQ quantization in vllm-ascend.
  vllm_ascend/ops/fused_moe/fused_moe.py
  vllm_ascend/quantization/awq/awq.py
Labels: module:ops, module:quantization

add graph e2e. Signed-off-by: wangxiaoxin-sherie <wangxiaoxin7@huawei.com>
  tests/e2e/singlecard/test_aclgraph.py
Labels: module:tests

[bugfix] bugfix for PD disaggregate (#4319)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[bugfix] bugfix for PD disaggregate (#4319)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[bugfix] bugfix for PD disaggregate (#4319)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[bugfix] bugfix for PD disaggregate (#4319)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[EPLB] Eplb Verify Fix (#4333)
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[EPLB] Eplb Verify Fix (#4333)
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[EPLB] Eplb Verify Fix (#4333)
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[EPLB] Eplb Verify Fix (#4333)
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

upgrade cann to 8.3rc2
  .github/Dockerfile.buildwheel
  .github/workflows/_e2e_nightly_multi_node.yaml
  .github/workflows/_e2e_nightly_single_node.yaml
  .github/workflows/_e2e_nightly_single_node_models.yaml
  .github/workflows/_e2e_test.yaml
  .github/workflows/_nightly_image_build.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  .github/workflows/vllm_ascend_test_report.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
  docs/source/developer_guide/contribution/multi_node_test.md
  docs/source/installation.md
  docs/source/tutorials/multi_npu_qwen3_next.md
  tests/e2e/vllm_interface/vllm_test.cfg
Labels: documentation, module:tests

fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix typo
  vllm_ascend/patch/platform/__init__.py
Labels: none

Revert "[cherry-pick][refactor]support gatingtopk operator generalization (#4050)"
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/moe/experts_selector.py
Labels: module:tests, module:ops, module:core

Revert "[cherry-pick][refactor]support gatingtopk operator generalization (#4050)"
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/moe/experts_selector.py
Labels: module:tests, module:ops, module:core
