Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[MAIN][BUGFIX] BugFix: Resolve the issue of waiting queue accumulation when requests are canceled. (#2426)
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

[3/N][Feat][Graph] Support `all-to-all` and quantized models with ACL Graph (#2614)
  tests/e2e/multicard/moe/test_moe_comm.py
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization

[Fix] Fix DP-related padding logic (#2582)
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:ops

[Bugfix] Fix mc2 operator error in aclgraph + ep<16 scenario (#2609)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops

bugfix for torchair graph (#2639)
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[CI] Add e2e ci test for A3 (#2573)
  .github/actionlint.yaml
  .github/workflows/vllm_ascend_dist.yaml
Labels: none

[Feat]: Add custom lmhead tensor model parallel (#2309)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/test_ascend_config.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: documentation, module:tests, module:ops, module:core

[5/N][refactor]add torchair rotary ops (#2559)
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[Fix] Resolve data-parallel (DP) assertion errors in TorchAir (#2626)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[6/N][refactor]delete torchair in rotary ops (#2581)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[Refactor][MoE] remove redundant code after refactoring fused_moe (#2612)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:core

[torchair]remove aicpu op (#2640)
  vllm_ascend/torchair/torchair_attention.py
Labels: none

Support v0.10.1 (#2584)
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

support qwen25 vl w8a8 quantization
  tests/ut/models/test_qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

fix codecheck
  vllm_ascend/core/scheduler.py
  vllm_ascend/ops/min_p_logits_processor.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

support qwen25 vl w8a8 quantization
  tests/ut/models/test_qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

fix lora patch
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_linear.py
  vllm_ascend/patch/worker/patch_common/patch_lora.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
  vllm_ascend/patch/worker/patch_common/patch_lora_linear.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

fix UT
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

[DOC] fix --decoder-hosts issue
  docs/source/tutorials/multi_node_pd_disaggregation.md
Labels: documentation

--amend
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

support qwen25 vl w8a8 quantization
  tests/ut/models/test_qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

--amend
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

--amend
  vllm_ascend/models/qwen2_5_vl.py
Labels: none

update longcat_flash model
  vllm_ascend/models/longcat_flash.py
Labels: none

delete unnessary method
  vllm_ascend/models/longcat_flash.py
Labels: none

fix codecheck
  vllm_ascend/ops/min_p_logits_processor.py
Labels: module:ops

update log
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

fix lint
  tests/ut/ops/test_token_dispatcher.py
Labels: module:tests

update super init
  vllm_ascend/models/longcat_flash.py
Labels: none

Remove chunked_prefill_for_mla and fix ring_mla bug
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/configuration/additional_config.po
  docs/source/user_guide/configuration/additional_config.md
  examples/disaggregated_prefill_v1/README.md
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: documentation, module:core

fix benchmark
  benchmarks/scripts/run-performance-benchmarks.sh
Labels: none

fix
  benchmarks/scripts/run-performance-benchmarks.sh
Labels: none

update CustomFlashModel init method
  vllm_ascend/models/longcat_flash.py
Labels: none

support kv cache cpu offload with connector
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/cpu_kv_cache_manager.py
  vllm_ascend/worker/metadata.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

adapt to dict
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

fix lint
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/cpu_kv_cache_manager.py
  vllm_ascend/worker/metadata.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/metadata.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/worker/metadata.py
Labels: none

fix lint
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/worker/metadata.py
Labels: none

use self defined wait_for_kv_layer_from_connector
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
