Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

xx
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Delete some code of e2e test
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

[Bug] Fix duplicate 'torch.' prefix in qwen-vl (#1986)
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

[Bug] Fix duplicate 'torch.' prefix in qwen-vl (#1986)
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

[Bug] Fix duplicate 'torch.' prefix in qwen-vl (#1986)
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: none

Delete some code of e2e test
  tests/e2e/singlecard/test_ascend_scheduler.py
Labels: module:tests

add lmhead tp for deepseek on a3
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/lmhead.py
Labels: module:ops

add custom lmhead
  vllm_ascend/ops/lmhead.py
Labels: module:ops

[bugfix] support floating
  vllm_ascend/attention/mla_v1.py
Labels: none

import moe multi-stream
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

fix lmhead-tp with non-even dp && dummy_run
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[bugfix] support floating
  vllm_ascend/attention/mla_v1.py
Labels: none

Enable image push CI for build file and csrc has changes (#1977)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

Enable image push CI for build file and csrc has changes (#1977)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

Enable image push CI for build file and csrc has changes (#1977)
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

[main][refactor] Refactoring forward_context and model_runner_v1
  examples/data_parallel.py
  examples/offline_dualbatch_overlap_npu.py
  examples/run_dp_offline.sh
  examples/run_dp_server.sh
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

qwen3_eplb
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Bug] Fix bug in test_chunked.py
  tests/e2e/singlecard/test_chunked.py
Labels: module:tests

qwen3_eplb
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Test] Add uts for files in /core (#1957)
  tests/e2e/singlecard/test_ascend_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

[Test] Add uts for files in /core (#1957)
  tests/e2e/singlecard/test_ascend_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

[Test] Add uts for files in /core (#1957)
  tests/e2e/singlecard/test_ascend_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

modify punica_npu to call custom operator
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

support lmhead tp with mtp
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

fix bugs that cannot find eplb submodule
  vllm_ascend/eplb/adaptor/__init__.py
  vllm_ascend/eplb/core/__init__.py
Labels: none

adjust the sequence of input parameters
  vllm_ascend/lora/punica_wrapper/lora_ops.py
Labels: none

xx
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/logits_processor.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

fix VLLMAscendQuantizer.apply_patch error
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

remove fe platform
  csrc/torch_binding.cpp
Labels: none

modify torch binding compile error
  csrc/torch_binding.cpp
Labels: none

ut:add ut for qwen2_5_vl_without_padding.py
  tests/ut/base.py
  tests/ut/models/__init__.py
  tests/ut/models/test_qwen2_5_vl_without_padding.py
Labels: module:tests

add init_ascend_model_parallel in worker_v1
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/worker/worker_v1.py
Labels: none

modify lint check
  csrc/torch_binding.cpp
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

speed up ci
  .github/workflows/vllm_ascend_test.yaml
Labels: none

solve lint error
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

lint check
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

lint check
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: none

Add graph mode for Qwen2.5/Qwen3
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_qwen_graph_mode.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

replace with_prefill_across_dp by attn_state
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix 724
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops
