Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[BugFix] deepseek torchair adapt for torch_npu version (#3862)
  vllm_ascend/torchair/utils.py
Labels: none

[BugFix] deepseek torchair adapt for torch_npu version (#3862)
  vllm_ascend/torchair/utils.py
Labels: none

[CI]Fix eplb nightly tests. (#3863)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

[CI]Fix eplb nightly tests. (#3863)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

[CI]Fix eplb nightly tests. (#3863)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

[CI]Fix eplb nightly tests. (#3863)
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

fix mooncake layerwise connector (#3849)
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

fix mooncake layerwise connector (#3849)
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

fix mooncake layerwise connector (#3849)
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

fix mooncake layerwise connector (#3849)
  vllm_ascend/distributed/mooncake_layerwise_connector.py
Labels: none

[Bugfix]fix_mulit_connector_bug (#3332)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[Bugfix]fix_mulit_connector_bug (#3332)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[Bugfix]fix_mulit_connector_bug (#3332)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[Bugfix]fix_mulit_connector_bug (#3332)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

[Bugfix]fix_mulit_connector_bug (#3332)
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

bugfix for mtp fullgraph (#3845)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

bugfix for mtp fullgraph (#3845)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

bugfix for mtp fullgraph (#3845)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

bugfix for mtp fullgraph (#3845)
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[BugFix] Fix mlapo accuracy problem related with weight processing. (#3850)
  vllm_ascend/attention/mla_v1.py
Labels: none

[BugFix] Fix mlapo accuracy problem related with weight processing. (#3850)
  vllm_ascend/attention/mla_v1.py
Labels: none

[BugFix] Fix mlapo accuracy problem related with weight processing. (#3850)
  vllm_ascend/attention/mla_v1.py
Labels: none

[BugFix] Fix mlapo accuracy problem related with weight processing. (#3850)
  vllm_ascend/attention/mla_v1.py
Labels: none

[CI]remove redudant expert.
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
  tests/e2e/nightly/models/test_qwen3_235b_a22b_w8a8_eplb.py
Labels: module:tests

test ge
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

Refactor spec decode to support efficient padded speculation
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

[BugFix]add dynamic eplb to token dispacth.
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

[feature] long_seq pcp&dcp support chunkprefill
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[Log]change eplb log level to debug. Signed-off-by: offline0806 <3337230449@qq.com>
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/eplb/eplb_updator.py
Labels: none

[temp] add m2n
  vllm_ascend/distributed/M2NAFDConnector.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/worker/npu_ffn_model_runner_v1.py
Labels: none

[Doc] Refactor the DeepSeek-V3.2-Exp tutorial.
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/DeepSeek-V3.2-Exp.md
  docs/source/tutorials/index.md
Labels: documentation

[CI]fix pre commit.
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

test ge
  tests/ut/torchair/test_torchair_sfa.py
Labels: module:tests

[CI]fix ci.
  tests/e2e/nightly/models/test_deepseek_r1_w8a8_eplb.py
Labels: module:tests

[BugFix]Fix moe load
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

add new test case for aclgraph capture and replay v0.11.0
  .github/workflows/_e2e_test.yaml
  tests/e2e/multicard/test_aclgraph_capture_replay.py
Labels: module:tests

fix
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

test ge
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

[ci]Fix pre commit.
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

fix
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
