Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

readable title
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[DOC] Update multi_node.md (#468)
  docs/source/tutorials/multi_node.md
Labels: documentation

[DOC] Update multi_node.md (#468)
  docs/source/tutorials/multi_node.md
Labels: documentation

[DOC] Update multi_node.md (#468)
  docs/source/tutorials/multi_node.md
Labels: documentation

add patch from v0.7.3
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/patch_metrics.py
Labels: none

[CI] Add new runner and enable QwQ multinpu test (#417)
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_main.yaml
  pytest.ini
  tests/conftest.py
  tests/test_offline_inference.py
Labels: module:tests

[CI] Add new runner and enable QwQ multinpu test (#417)
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_main.yaml
  pytest.ini
  tests/conftest.py
  tests/test_offline_inference.py
Labels: module:tests

[CI] Add new runner and enable QwQ multinpu test (#417)
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_main.yaml
  pytest.ini
  tests/conftest.py
  tests/test_offline_inference.py
Labels: module:tests

[2/N][CI/UT] enable spec_decode UT
  requirements-dev.txt
  tests/__init__.py
  tests/spec_decode/e2e/__init__.py
  tests/spec_decode/e2e/conftest.py
  tests/spec_decode/e2e/test_compatibility.py
  tests/spec_decode/e2e/test_integration.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/spec_decode/e2e/test_integration_dist_tp4.py
  tests/spec_decode/e2e/test_logprobs.py
  tests/spec_decode/e2e/test_medusa_correctness.py
  tests/spec_decode/e2e/test_mlp_correctness.py
  tests/spec_decode/e2e/test_ngram_correctness.py
  tests/spec_decode/e2e/test_seed.py
  tests/test_offline_inference.py
  tests/utils.py
Labels: module:tests

[Doc] Add branch info for v0.8.x
  .github/workflows/vllm_ascend_test.yaml
  README.md
  README.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/developer_guide/versioning_policy.zh.md
Labels: documentation

Retrigger
  .github/workflows/vllm_ascend_test.yaml
Labels: none

[Feat] support capture model while warming up model (#5)
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: none

[perf] enable NZ format support in QuantBatchMatmul for int8 mode
  vllm_ascend/worker/model_runner.py
Labels: none

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

Change openeuler image tag
  .github/workflows/image_openeuler.yml
Labels: ci/build

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

fix
  docs/source/quick_start.md
Labels: documentation

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

Remove tsinnghua source
  Dockerfile.openEuler
Labels: none

Reset readme
  docs/source/quick_start.md
Labels: documentation

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

Add openEuler Dockerfile and yml
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
  docs/source/quick_start.md
Labels: documentation, ci/build

Change quick start readme
  docs/source/quick_start.md
Labels: documentation

Change Dockerfile
  Dockerfile.openEuler
Labels: none

fix
  docs/source/quick_start.md
Labels: documentation

fix
  docs/source/quick_start.md
Labels: documentation

Change quick start readme
  docs/source/quick_start.md
Labels: documentation

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

fix
  .github/workflows/image_openeuler.yml
Labels: ci/build

[SpecDecode][MiniCPM] pick certain feature to main
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/patch_minicpm.py
  vllm_ascend/patch/patch_multi_step_worker.py
  vllm_ascend/patch/patch_spec_decode_worker.py
  vllm_ascend/patch_module.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

update env vars
  vllm_ascend/envs.py
Labels: module:core

format
  vllm_ascend/envs.py
Labels: module:core

Add openEuler based container image for vLLM Ascend (#489)
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
  docs/source/quick_start.md
Labels: documentation, ci/build

Add openEuler based container image for vLLM Ascend (#489)
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
  docs/source/quick_start.md
Labels: documentation, ci/build

Add openEuler based container image for vLLM Ascend (#489)
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
  docs/source/quick_start.md
Labels: documentation, ci/build

[CI] enable custom ops build
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/image_ubuntu_build.yml
  .github/workflows/image_ubuntu_push.yml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  Dockerfile.openEuler
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  format.sh
  pta_install.sh
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  tools/actionlint.sh
  tools/shellcheck.sh
  vllm_ascend/envs.py
Labels: documentation, ci/build, module:tests, module:tools, module:core

send benchmark result to es
  benchmarks/scripts/run-performance-benchmarks.sh
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: none
