Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Misc] Remove patch in rejection_sampler
  vllm_ascend/sample/rejection_sampler.py
  vllm_ascend/sample/sampler.py
Labels: none

Delete uesless code.
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/distributed/communication_op.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops

Remove git .extraheader and fecth all commtis in /vllm-workspace/vllm-ascend
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

add first_k_dense_replace and moe_layer_freq config in flashconfig
  vllm_ascend/models/longcat_flash.py
Labels: none

Delete uesless code.
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:ops

test: Add unit tests for MoE comm method selection
  tests/ut/worker/test_model_runner_v1.py
Labels: module:tests

Update ReadMe.md
  vllm_ascend/distributed/memcache/ReadMe.md
Labels: documentation

fix compute debug_layer_idx bug
  vllm_ascend/models/longcat_flash.py
Labels: none

fix debug_layer_idx compute bug
  vllm_ascend/models/longcat_flash.py
Labels: none

fix debug_layer_idx compute bug
  vllm_ascend/models/longcat_flash.py
Labels: none

[DOC] Qwen3 PD disaggregateion user guide
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_pd_disaggregation.md
  examples/disaggregated_prefill_v1/gen_ranktable.py
  examples/disaggregated_prefill_v1/gen_ranktable.sh
Labels: documentation

add multi_node ci
  .github/workflows/vllm_ascend_multi_nodes_test.yaml
  benchmarks/requirements-bench.txt
  tests/e2e/multi_nodes/installer.sh
  tests/e2e/multi_nodes/multi_node_mp/launch_server_leader.sh
  tests/e2e/multi_nodes/multi_node_mp/launch_server_worker.sh
  tests/e2e/multi_nodes/multi_node_mp/lws.yaml
  tests/e2e/multi_nodes/multi_node_ray/launch_server.sh
Labels: module:tests

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

delete CustomLongcatMoe
  vllm_ascend/models/longcat_flash.py
Labels: none

[main] Add unit test for rope optimization
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

add CustomLongcatMoe
  vllm_ascend/models/longcat_flash.py
Labels: none

PD disaggregate should not force with_prefill false in D
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix path
  .github/workflows/vllm_ascend_multi_nodes_test.yaml
Labels: none

enable hierarchical communication for mc2 ops on A2
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: module:ops

Delete uesless code.
  vllm_ascend/distributed/moe_comm_method.py
Labels: none

fix lint
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

remove decode bs change and add ut
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

fix waiting check
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

Remove artificial MoE load balancing during profile_run
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

refomat
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

fix index out of bound
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

[Doc] Update accuracy reports for v0.10.1rc1
  docs/source/developer_guide/evaluation/accuracy_report/DeepSeek-V2-Lite.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen2.5-VL-7B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-30B-A3B.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-8B-Base.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
Labels: documentation

fix codecheck
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

fix bug prefill not support swa
  vllm_ascend/attention/attention_v1.py
Labels: none

fix bug prefill not support swa
  vllm_ascend/attention/attention_v1.py
Labels: none

fix
  vllm_ascend/attention/attention_v1.py
Labels: none

Add mtp multi cards ST
  .github/workflows/vllm_ascend_dist.yaml
  tests/e2e/multicard/test_deepseek_data_parallel.py
  tests/e2e/multicard/test_mtp_torchair_graph_mode.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

fix codecheck
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

[DNM] TEST OPS
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

fix kv cache task tracker
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

Support MTP > 1
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: module:tests

[Doc] Update accuracy reports for v0.10.1rc1 (#2755)
  docs/source/developer_guide/evaluation/accuracy_report/DeepSeek-V2-Lite.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen2.5-VL-7B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-30B-A3B.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-8B-Base.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
Labels: documentation

[Doc] Update accuracy reports for v0.10.1rc1 (#2755)
  docs/source/developer_guide/evaluation/accuracy_report/DeepSeek-V2-Lite.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen2.5-VL-7B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-30B-A3B.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-8B-Base.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
Labels: documentation

[Doc] Update accuracy reports for v0.10.1rc1 (#2755)
  docs/source/developer_guide/evaluation/accuracy_report/DeepSeek-V2-Lite.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen2.5-VL-7B-Instruct.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-30B-A3B.md
  docs/source/developer_guide/evaluation/accuracy_report/Qwen3-8B-Base.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
