Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

minor fix for VL model verification
  vllm_ascend/utils.py
Labels: module:core

Minor fix for VL model verification
  vllm_ascend/utils.py
Labels: module:core

CI problems
  tests/ut/test_platform.py
Labels: module:tests

add router doc
  docs/source/tutorials/index.md
  docs/source/tutorials/vllm_router.md
Labels: documentation

"Fix the hang issue of multimodal model when running with DP>1 and cudagraph_mode is FULL_DECODE_ONLY
  vllm_ascend/worker/model_runner_v1.py
Labels: none

"Fix the hang issue of multimodal model when running with DP>1 and cudagraph_mode is FULL_DECODE_ONLY
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  vllm_ascend/distributed/mooncake/kv_transfer.py
Labels: none

[Performance] Pre-issued exponential distribution operator.
  vllm_ascend/sample/rejection_sampler.py
Labels: none

[Performance] Pre-issued exponential distribution operator.
  vllm_ascend/sample/sampler.py
  vllm_ascend/utils.py
Labels: module:core

Revert "[Performance] Pre-issued exponential distribution operator."
  vllm_ascend/sample/rejection_sampler.py
Labels: none

[Performance] Pre-issued exponential distribution operator.
  vllm_ascend/sample/sampler.py
Labels: none

[TEST]Update deepseek mtpx acc cases standard (#4321)
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
Labels: module:tests

[TEST]Update deepseek mtpx acc cases standard (#4321)
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
Labels: module:tests

[TEST]Update deepseek mtpx acc cases standard (#4321)
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
Labels: module:tests

[TEST]Update deepseek mtpx acc cases standard (#4321)
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
Labels: module:tests

prefill use fia.
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add triton kernels for sampling
  vllm_ascend/sample/rejection_sampler.py
Labels: none

ops gatingtopk fix nightly ci error
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/moe/experts_selector.py
Labels: module:tests, module:ops

add dpsk doc
  docs/source/tutorials/deepseek_v3.1_pd_disaggregation_mooncake.md
Labels: documentation

enable force_load_balance in aclgraph
  vllm_ascend/ops/fused_moe/fused_moe.py
Labels: module:ops

[Fix] fix aclgraph e2e test. (#4131)
  tests/e2e/singlecard/test_aclgraph.py
Labels: module:tests

[Fix] fix aclgraph e2e test. (#4131)
  tests/e2e/singlecard/test_aclgraph.py
Labels: module:tests

[Fix] fix aclgraph e2e test. (#4131)
  tests/e2e/singlecard/test_aclgraph.py
Labels: module:tests

[Fix] fix aclgraph e2e test. (#4131)
  tests/e2e/singlecard/test_aclgraph.py
Labels: module:tests

fix
  vllm_ascend/distributed/mooncake/config_data.py
  vllm_ascend/distributed/mooncake/mooncake_store.py
Labels: none

CI problems
  tests/ut/test_platform.py
Labels: module:tests

[Refactor] remove moe type of multicast. (#4224)
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[Refactor] remove moe type of multicast. (#4224)
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[Refactor] remove moe type of multicast. (#4224)
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[Refactor] remove moe type of multicast. (#4224)
  tests/ut/ops/test_prepare_finalize.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe/moe_comm_method.py
  vllm_ascend/ops/fused_moe/prepare_finalize.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

[Bugfix]]Fix the hang issue of multimodal model when running with DP>1
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add triton import
  vllm_ascend/sample/rejection_sampler.py
Labels: none

vllm-ascend collect msprobe
  docs/source/developer_guide/debug/index.md
  docs/source/developer_guide/debug/msprobe_guide.md
  docs/source/index.md
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/debug/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/debug/msprobe_guide.po
  docs/source/user_guide/configuration/additional_config.md
  mypy.ini
  requirements-dev.txt
  vllm_ascend/ascend_config.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:core

merge debug and performance readme
  docs/source/developer_guide/debug/index.md
  docs/source/developer_guide/performance_and_debug/index.md
  docs/source/developer_guide/performance_and_debug/msprobe_guide.md
  docs/source/developer_guide/performance_and_debug/optimization_and_tuning.md
  docs/source/developer_guide/performance_and_debug/performance_benchmark.md
  docs/source/developer_guide/performance_and_debug/profile_execute_duration.md
  docs/source/developer_guide/performance_and_debug/service_profiling_guide.md
  docs/source/index.md
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance_and_debug/index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance_and_debug/msprobe_guide.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance_and_debug/performance_benchmark.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance_and_debug/profile_execute_duration.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance_and_debug/service_profiling_guide.po
Labels: documentation

[TEST]Update deepseek mtpx acc cases standard (#4321)
  tests/e2e/nightly/features/test_mtpx_deepseek_r1_0528_w8a8.py
Labels: module:tests

[Doc] Upgrade multi-node doc (#4365)
  .github/workflows/_e2e_nightly_multi_node.yaml
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
Labels: documentation

[CI] Fix nightly CI for A2 series (#3825)
  .github/workflows/_e2e_nightly_multi_node.yaml
Labels: none

Change the first letter to uppercase (#4375)
  docs/source/user_guide/feature_guide/kv_pool_mooncake.md
Labels: documentation

[Fix] Remove unnecessary NPU synchronization in MTP proposer (#4325)
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

fix doc
  docs/source/tutorials/Qwen3-Coder-30B-A3B.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
