Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

modify args
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

update
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
Labels: module:core

update
  vllm_ascend/platform.py
Labels: module:core

update
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

update
  .github/workflows/vllm_ascend_test.yaml
Labels: none

update
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

format
  tests/conftest.py
Labels: module:tests

update
  tests/conftest.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

etp best a2 (#1101)
  examples/run_dp_attention_etp16.sh
  examples/run_dp_attention_etp16_benmark.sh
Labels: none

etp best a2 (#1101)
  examples/run_dp_attention_etp16.sh
  examples/run_dp_attention_etp16_benmark.sh
Labels: none

etp best a2 (#1101)
  examples/run_dp_attention_etp16.sh
  examples/run_dp_attention_etp16_benmark.sh
Labels: none

draft of a3 llmdatadist connector
  examples/disaggregate_prefill_v1/run_server.sh
  examples/disaggregate_prefill_v1/toy_proxy_server.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/attention.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core

Update gen_ranktable.sh
  examples/disaggregate_prefill_v1/gen_ranktable.sh
Labels: none

fix some llmdatadist bugs
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
Labels: none

fix dp issues in new vllm
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add some fix for llmdatadist
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

add align memory allocate for dense model
  vllm_ascend/worker/model_runner_v1.py
Labels: none

support a2
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  vllm_ascend/distributed/llmdatadist_connector_v1_a3.py
  vllm_ascend/soc_info.py
Labels: module:core

Update graph_mode.md. Fix enabled config parameter name.
  docs/source/user_guide/graph_mode.md
Labels: documentation

[Doc] Fix the config parameter name "enable" in graph_mode.md. (#1159)
  docs/source/user_guide/graph_mode.md
Labels: documentation

[Doc] Fix the config parameter name "enable" in graph_mode.md. (#1159)
  docs/source/user_guide/graph_mode.md
Labels: documentation

[Doc] Fix the config parameter name "enable" in graph_mode.md. (#1159)
  docs/source/user_guide/graph_mode.md
Labels: documentation

Enable kvcache_nz for the decode process in torchair graph mode (#1098)
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
Labels: documentation, module:core

Enable kvcache_nz for the decode process in torchair graph mode (#1098)
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
Labels: documentation, module:core

Enable kvcache_nz for the decode process in torchair graph mode (#1098)
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
Labels: documentation, module:core

Offload vector operations of MLA to another stream
  docs/source/user_guide/additional_config.md
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: documentation, module:tests, module:core

fix ranktable generation issue & add demo readme
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/gen_ranktable.sh
Labels: none

Add disaggregate_prefile_v1 demo readme
  examples/disaggregate_prefill_v1/README.md
Labels: documentation

[CI] Upgrade vllm to 0.9.1 (#1165)
  .github/workflows/accuracy_test.yaml
  .github/workflows/actionlint.yml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  tests/singlecard/compile/test_simple.py
  tests/singlecard/test_scheduler.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_0/patch_distributed.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: ci/build, module:tests

[CI] Upgrade vllm to 0.9.1 (#1165)
  .github/workflows/accuracy_test.yaml
  .github/workflows/actionlint.yml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  tests/singlecard/compile/test_simple.py
  tests/singlecard/test_scheduler.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_0/patch_distributed.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: ci/build, module:tests

[CI] Upgrade vllm to 0.9.1 (#1165)
  .github/workflows/accuracy_test.yaml
  .github/workflows/actionlint.yml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  tests/singlecard/compile/test_simple.py
  tests/singlecard/test_scheduler.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_0/patch_distributed.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: ci/build, module:tests

feat: add support for disaggregated prefill in AsecendScheduler
  vllm_ascend/core/scheduler.py
Labels: none

feat: add support for spec decoding
  vllm_ascend/core/scheduler.py
Labels: none

fix ci problems
  vllm_ascend/core/scheduler.py
Labels: none

add ut for AscendScheduler
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/core/__init__.py
  tests/singlecard/core/test_ascend_scheduler.py
  tests/singlecard/core/test_ascend_scheduler_e2e.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

run ascend scheduler uts separately
  .github/workflows/vllm_ascend_test.yaml
Labels: none

ut support both 090 and main
  tests/singlecard/core/test_ascend_scheduler.py
Labels: module:tests

fix e2e ut of ascend scheduler
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/core/test_ascend_scheduler_e2e.py
Labels: module:tests

fix disaggregated prefile-decode readme issue
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/toy_proxy_server.py
Labels: documentation

fix lint problems
  vllm_ascend/core/scheduler.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
