Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Refactor AscendAttentionMetadataBuilder for better extensibility and make the builder class of torchair extend from it
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/torchair/torchair_attention.py
Labels: none

Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

[Bugfix] Fix aclgraph not enabled by default (#2590)
  tests/ut/test_platform.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

Support v0.10.1 (#2584)
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[Fix] Fix DP-related padding logic (#2582)
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:ops

[Refactor][MOE] remove redundant code.
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops

[main] [bugfix] Fix misjudging quantized/unquantized scenarios (#2627)
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization, module:core

[Feat]: Add custom lmhead tensor model parallel (#2309)
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/test_ascend_config.py
  tests/ut/test_utils.py
  tests/ut/torchair/models/test_torchair_deepseek_mtp.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: documentation, module:tests, module:ops, module:core

[Refactor][MOE] remove redundant code.
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops

[Refactor][MOE] remove redundant code.
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

[CI] Add e2e ci test for A3 (#2573)
  .github/actionlint.yaml
  .github/workflows/vllm_ascend_dist.yaml
Labels: none

[Fix] Resolve data-parallel (DP) assertion errors in TorchAir (#2626)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[MAIN][BUGFIX] BugFix: Resolve the issue of waiting queue accumulation when requests are canceled. (#2426)
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
Labels: none

Update attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: none

Update mla_v1.py
  vllm_ascend/attention/mla_v1.py
Labels: none

Create config_data.py
  vllm_ascend/distributed/memcache/config_data.py
Labels: none

Create kv_transfer.py
  vllm_ascend/distributed/memcache/kv_transfer.py
Labels: none

Update kv_transfer.py
  vllm_ascend/distributed/memcache/kv_transfer.py
Labels: none

Create memcache_engine.py
  vllm_ascend/distributed/memcache/memcache_engine.py
Labels: none

Update memcache_engine.py
  vllm_ascend/distributed/memcache/memcache_engine.py
Labels: none

Create memcache_store_connector_v1.py
  vllm_ascend/distributed/memcache/memcache_store_connector_v1.py
Labels: none

Create memcache_store.py
  vllm_ascend/distributed/memcache/memcache_store.py
Labels: none

Update __init__.py
  vllm_ascend/distributed/__init__.py
Labels: none

[Fix] fix resources limit error when apply speculative decoding and aclgraph
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

remove aicpu op
  vllm_ascend/torchair/torchair_attention.py
Labels: none

support nz embedding
  tests/ut/ops/test_vocab_parallel_embedding.py
  vllm_ascend/ops/vocab_parallel_embedding.py
Labels: module:tests, module:ops

[Bugfix] Fix mc2 operator error in aclgraph + ep<16 scenario (#2609)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops

[Bugfix] Fix mc2 operator error in aclgraph + ep<16 scenario (#2609)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops

[Bugfix] Fix mc2 operator error in aclgraph + ep<16 scenario (#2609)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops

kvconnector output bugfix
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[CI] Fix UT error
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/utils.py
Labels: module:tests

feat(graph): Refactor and optimize MoE with unified W8A8 support
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

feat(moe): Add All-to-All communication method
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

fix(moe): fix moe_comm_method test case
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

[long_seq_optim]support cp&sp
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops

Fix guided decoding invalid backend
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

[CI] fix UT error.
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/utils.py
Labels: module:tests

fix: fix minor bugs
  tests/e2e/multicard/moe/test_moe_comm.py
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
