Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[1/N][Refactor] torchair model runner refactor
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

remove chunked_prefill_for_mla
  tests/multicard/test_torchair_graph_mode.py
Labels: module:tests

[main][Prefill Perf] simplify judgment conditions
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

remove chunked_prefill_for_mla
  tests/multicard/test_torchair_graph_mode.py
Labels: module:tests

remote constraint
  vllm_ascend/platform.py
Labels: module:core

add constraint for moe
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

Add Eagle-3 Support for Qwen3
  vllm_ascend/models/qwen3.py
Labels: none

add rejection sampler ut.
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

fix from commit
  vllm_ascend/ops/sequence_parallel.py
  vllm_ascend/platform.py
Labels: module:ops, module:core

fix from commit 2
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[main][refractor] Refractor forward metadata retrieval across DP nodes to reduce redundant padding. (#2062)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main][refractor] Refractor forward metadata retrieval across DP nodes to reduce redundant padding. (#2062)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main][refractor] Refractor forward metadata retrieval across DP nodes to reduce redundant padding. (#2062)
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ci
  vllm_ascend/platform.py
Labels: module:core

fix pre-commit
  vllm_ascend/models/deepseek_v2.py
Labels: none

[BugFix] Fix the bug that qwen3 moe doesn't work with aclgraph (#2183)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

[BugFix] Fix the bug that qwen3 moe doesn't work with aclgraph (#2183)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

[BugFix] Fix the bug that qwen3 moe doesn't work with aclgraph (#2183)
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

[1/N][Refactor] torchair model runner refactor (#2205)
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[1/N][Refactor] torchair model runner refactor (#2205)
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[1/N][Refactor] torchair model runner refactor (#2205)
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[2/N][Refactor] torchair model runner refactor
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[3/N][Refactor] torchair model runner refactor
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[main][Prefill Perf] Optimize Quantized MoE Performance by Reducing All2All Communication (#2195)
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

[main][Prefill Perf] Optimize Quantized MoE Performance by Reducing All2All Communication (#2195)
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

[main][Prefill Perf] Optimize Quantized MoE Performance by Reducing All2All Communication (#2195)
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

[4/N][Refactor] torchair model runner refactor
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[5/N][Refactor] torchair model runner refactor
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

add example and e2e test for sleepmode in external_launcher
  examples/offline_external_launcher.py
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

[Test] add rejection sampler ut (#2084)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

[Test] add rejection sampler ut (#2084)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

[Test] add rejection sampler ut (#2084)
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

qwen3_moe/qwen2 support aclgraph
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

enable external dp for vllm-ascend
  examples/external_online_dp/README.md
  examples/external_online_dp/launch_dp_program.py
  examples/external_online_dp/run_dp_template.sh
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core_client.py
Labels: documentation, module:core

adopt fork as multiprocess method
  examples/external_online_dp/run_dp_template.sh
Labels: none

fix lint
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
Labels: none

fix lint
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
Labels: none

fix lint
  examples/external_online_dp/launch_dp_program.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix lint
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: none

fix format issue
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_configs.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_core_client.py
Labels: none
