Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix e2e test
  tests/multicard/test_qwen3_moe.py
Labels: module:tests

[bugfix] fix torchair runtime errror caused by configuration mismtaches and file missing
  tests/ut/test_ascend_config.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests, module:core

Update test_offline_inference_distributed.py
  tests/e2e/multicard/test_offline_inference_distributed.py
Labels: module:tests

remove redundant code after refactoring fused_moe
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:core

[V1][BUGFIX][0.10.1] FIX mtp on main branch
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

Improve the overall code related to oproj_tensor_parallel.
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/ops/test_linear.py
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/test_ascend_config.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/linear.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:ops, module:quantization, module:core

feat: oproj tensor parallelism in pure DP and graph-mode scenarios.
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization, module:core

[CI] fix
  tests/ut/ops/test_vocab_parallel_embedding.py
Labels: module:tests

[CI] fix
  tests/ut/ops/test_vocab_parallel_embedding.py
Labels: module:tests

[CI] fix
  tests/ut/ops/test_vocab_parallel_embedding.py
Labels: module:tests

[main][bugfix] disable the chunked prefill feature in Non-MLA models
  vllm_ascend/platform.py
Labels: module:core

fix
  vllm_ascend/ops/linear.py
Labels: module:ops

[Bugfix] Ensure prefill node only enters prefill code path
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

test(ci): trigger ci
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

test(ci): trigger ci
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

[Refactor][MoE] remove redundant code after refactoring fused_moe (#2612)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:core

[Refactor][MoE] remove redundant code after refactoring fused_moe (#2612)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:core

[Refactor][MoE] remove redundant code after refactoring fused_moe (#2612)
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:core

refactor(ops): adapt fused_moe refactoring
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
Labels: module:ops

fix(ut): fix broken ut
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

add if in register customOp
  vllm_ascend/utils.py
Labels: module:core

Resolving conflicts between yapf and isort
  vllm_ascend/ops/linear.py
Labels: module:ops

[long_seq_optim]bug fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[long_seq_optim] all_gather optim
  vllm_ascend/models/deepseek_v2.py
Labels: none

[long_seq_optim] all_gather optim
  vllm_ascend/models/deepseek_v2.py
Labels: none

add torchair ops
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

del torchair in rope ops
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

Fix ut of AscendUnquantizedLinearMethod
  tests/ut/ops/test_linear.py
Labels: module:tests

[5/N][refactor]add torchair rotary ops (#2559)
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[5/N][refactor]add torchair rotary ops (#2559)
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[5/N][refactor]add torchair rotary ops (#2559)
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

[6/N][refactor]delete torchair in rotary ops (#2581)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[6/N][refactor]delete torchair in rotary ops (#2581)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

[6/N][refactor]delete torchair in rotary ops (#2581)
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

reformat
  tests/ut/core/test_schedule_config.py
Labels: module:tests

reformat
  vllm_ascend/core/scheduler.py
Labels: none

Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

reformat
  vllm_ascend/core/scheduler.py
Labels: none
