Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

mooncake connector support pipeline parallel & fix pp with flashcomm1 (#4054)
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

mooncake connector support pipeline parallel & fix pp with flashcomm1 (#4054)
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

support init_routing
  vllm_ascend/ops/fused_moe/token_dispatcher.py
Labels: module:ops

fix code
  vllm_ascend/attention/mla_v1.py
Labels: none

add multi_npu_qwen3_dense tutorials (#4543)
  docs/source/tutorials/Qwen3-Dense.md
  docs/source/tutorials/index.md
Labels: documentation

add multi_npu_qwen3_dense tutorials (#4543)
  docs/source/tutorials/Qwen3-Dense.md
  docs/source/tutorials/index.md
Labels: documentation

add multi_npu_qwen3_dense tutorials (#4543)
  docs/source/tutorials/Qwen3-Dense.md
  docs/source/tutorials/index.md
Labels: documentation

add multi_npu_qwen3_dense tutorials (#4543)
  docs/source/tutorials/Qwen3-Dense.md
  docs/source/tutorials/index.md
Labels: documentation

add mix c2lb
  vllm_ascend/eplb/core/policy/mix_c2lb.py
Labels: none

bugfix for moe_mlp in vllm-ascend/v0.11.0-dev
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ops/moe/moe_mlp.py
Labels: module:tests, module:ops

Add local running multi-node e2e test guide
  docs/source/developer_guide/contribution/multi_node_test.md
Labels: documentation

fix(quant): Fix Qwen2C8KVCacheMethod attribute access for v1 architecture
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

fix: resolve 310P bfloat16 compatibility issue
  CMakeLists.txt
Labels: none

bash format fix
  docs/source/developer_guide/contribution/multi_node_test.md
Labels: documentation

[CI] fix lint
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

[CI] fix lint (#4888)
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

[CI] fix lint (#4888)
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

[CI] fix lint (#4888)
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

[CI] fix lint (#4888)
  docs/source/tutorials/Qwen3-Dense.md
Labels: documentation

Remove custom ops build env
  .github/Dockerfile.buildwheel
  .github/Dockerfile.nightly.a2
  .github/Dockerfile.nightly.a3
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/installation.md
  docs/source/user_guide/feature_guide/lora.md
  docs/source/user_guide/feature_guide/sleep_mode.md
  setup.py
  tests/ut/test_utils.py
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:core

add uc-manager to requirements-dev
  docs/source/user_guide/feature_guide/ucm_deployment.md
  requirements-dev.txt
Labels: documentation

add metrics-related method to ucm_connetor
  vllm_ascend/distributed/ucm_connector.py
Labels: none

[Core] Add request_finished and get_block_ids_with_load_errors to UCMConnectorV1
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/ucm_connector.py
Labels: none

[Core] Add initial UCMConnector integration for KV cache offloading
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/ucm_connector.py
Labels: none

[Doc] Add docs for UCM deployment
  docs/source/user_guide/feature_guide/index.md
  docs/source/user_guide/feature_guide/ucm_deployment.md
Labels: documentation

[E2E] Optimize nightly testcase.
  .github/workflows/vllm_ascend_test_nightly_a3.yaml
  docs/source/developer_guide/contribution/multi_node_test.md
  tests/e2e/models/configs/Qwen3-8B-Base.yaml
  tests/e2e/models/configs/accuracy.txt
  tests/e2e/models/configs/internlm3-8b-instruct.yaml
  tests/e2e/models/conftest.py
  tests/e2e/nightly/models/test_deepseek_r1_0528_w8a8_eplb.py
  tests/e2e/nightly/multi_node/config/models/Qwen3-235B-A22B.yaml
Labels: documentation, module:tests

fix merge
  vllm_ascend/ascend_config.py
Labels: module:core

cleanup torchair logic
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_moge.md
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

Add indent formate
  docs/source/developer_guide/contribution/multi_node_test.md
Labels: documentation

Fix VllmRunner.encode to VllmRunner.embed
  tests/e2e/singlecard/pooling/test_embedding.py
Labels: module:tests

fix indent format
  docs/source/developer_guide/contribution/multi_node_test.md
Labels: documentation

[Kernel] Add moe normal ops (#4810)
  csrc/build_aclnn.sh
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_base.h
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

[Kernel] Add moe normal ops (#4810)
  csrc/build_aclnn.sh
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_base.h
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

[Kernel] Add moe normal ops (#4810)
  csrc/build_aclnn.sh
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_base.h
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

[Kernel] Add moe normal ops (#4810)
  csrc/build_aclnn.sh
  csrc/dispatch_gmm_combine_decode/op_kernel/dispatch_gmm_combine_decode_base.h
  csrc/dispatch_layout/op_host/CMakeLists.txt
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.cpp
  csrc/dispatch_layout/op_host/aclnn_dispatch_layout.h
  csrc/dispatch_layout/op_host/dispatch_layout.cpp
  csrc/dispatch_layout/op_host/dispatch_layout_tiling.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.cpp
  csrc/dispatch_layout/op_kernel/dispatch_layout.h
  csrc/dispatch_layout/op_kernel/dispatch_layout_tiling.h
  csrc/moe_combine_normal/op_host/CMakeLists.txt
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/aclnn_moe_combine_normal.h
  csrc/moe_combine_normal/op_host/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_host/moe_combine_normal_tiling.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.cpp
  csrc/moe_combine_normal/op_kernel/moe_combine_normal.h
  csrc/moe_combine_normal/op_kernel/moe_combine_normal_tiling.h
  csrc/moe_dispatch_normal/op_host/CMakeLists.txt
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/aclnn_moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_host/moe_dispatch_normal_tiling.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.cpp
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal.h
  csrc/moe_dispatch_normal/op_kernel/moe_dispatch_normal_tiling.h
  csrc/notify_dispatch/op_host/CMakeLists.txt
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.cpp
  csrc/notify_dispatch/op_host/aclnn_notify_dispatch.h
  csrc/notify_dispatch/op_host/notify_dispatch.cpp
  csrc/notify_dispatch/op_host/notify_dispatch_tiling.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.cpp
  csrc/notify_dispatch/op_kernel/notify_dispatch.h
  csrc/notify_dispatch/op_kernel/notify_dispatch_tiling.h
  csrc/torch_binding.cpp
  csrc/utils.h
  csrc/utils/inc/kernel/comm_args.h
  csrc/utils/inc/kernel/data_copy.h
  csrc/utils/inc/kernel/sync_collectives.h
Labels: none

fix(quant): Get num_kv_heads/head_size from hf_config in create_weights
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization

fix nq test script lint
  tests/e2e/nightly/ops/test_mla_preprocess_nq.py
Labels: module:tests

support bf16 no_quant && more hiddendim
  csrc/mla_preprocess/op_host/mla_preprocess.h
  csrc/mla_preprocess/op_host/tiling/mla_preprocess_tiling.h
  csrc/mla_preprocess/op_kernel/mla_preprocess.h
  csrc/mla_preprocess/op_kernel/mla_preprocess_kernel.cpp
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_bf16.hpp
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_bf16_nq.hpp
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_fp16.hpp
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
Labels: none

fix test script break
  tests/e2e/nightly/ops/test_mla_preprocess.py
  tests/e2e/nightly/ops/test_mla_preprocess_nq.py
Labels: module:tests

fix qdown hiddendim break caused by rebase
  csrc/mla_preprocess/op_kernel/mla_preprocess_mix_bf16_qdown.hpp
Labels: none
