Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

tiny fix
  vllm_ascend/models/qwen3_next.py
Labels: none

add UT
  tests/ut/ops/test_layernorm.py
Labels: module:tests

bugfix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ut
  tests/ut/worker/test_worker_v1.py
Labels: module:tests

[BugFix] Fix Qwen3-Next because of vllm #24982 (#3221)
  vllm_ascend/models/qwen3_next.py
Labels: none

[BugFix] Fix Qwen3-Next because of vllm #24982 (#3221)
  vllm_ascend/models/qwen3_next.py
Labels: none

[BugFix] Fix Qwen3-Next because of vllm #24982 (#3221)
  vllm_ascend/models/qwen3_next.py
Labels: none

rename _cg->_ag
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/attention/attention_v1.py
Labels: none

tiny fix
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Test eagle OOM
  .github/workflows/_e2e_test.yaml
Labels: none

test example
  .github/workflows/vllm_ascend_test.yaml
Labels: none

Igore unrelated check
  .github/workflows/vllm_ascend_test.yaml
Labels: none

add dpsk doc
  docs/source/tutorials/hybrid_node.md
  docs/source/tutorials/index.md
Labels: documentation

Use npu_fusion_attention instead of sdpa, to accelerate encoder only model's attention part
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

fix
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

fix
  .github/workflows/_e2e_test.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

update deepseekv3.2 doc
  examples/deepseek.md
  examples/omni_infer_inventory_used_for_1P32_1D32.yml
  examples/omni_infer_server_template_a3_ds.yml
Labels: documentation

drop 0.10.2
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

fix lint
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/worker_v1.py
Labels: none

address v0.11.0
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
Labels: none

[feat]adapt new model
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_mamba_config.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/patch/worker/patch_common/patch_attentionspec.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:quantization, module:core

[fix] fix torchair & ci bug
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_attentionspec.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

fix patch bug
  vllm_ascend/patch/worker/patch_common/patch_attention_layer.py
Labels: none

fix broken deepseek_r1
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: none

fix attribute error with torchair and shape mis match in eager mode for deepseek_r1
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: none

fix torchair mtp
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

remove enable_force_load_balance
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

make attn_group compatible with 0.10.2
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ci
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/worker_v1.py
Labels: none

Rebase main
  vllm_ascend/worker/model_runner_v1.py
Labels: none

adapt to new custom_ops interface
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/torchair/torchair_sfa.py
  vllm_ascend/worker/worker_v1.py
Labels: none

fix lint
  vllm_ascend/models/deepseek_v2.py
Labels: none

test v0.10.2
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

update UT
  tests/ut/ops/test_layernorm.py
Labels: module:tests

add patch
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_config.py
Labels: none
