Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Feature] optimize sp.
  vllm_ascend/torchair/ops/register_custom_ops.py
Labels: none

[Feature] optimize sp.
  vllm_ascend/torchair/ops/__init__.py
  vllm_ascend/torchair/ops/register_custom_ops.py
Labels: none

add env
  .github/workflows/multi_node_test.yaml
  tests/e2e/multi_node/scripts/lws.yaml
  tests/e2e/multi_node/scripts/run.sh
Labels: module:tests

rm redundant file
  tests/e2e/multi_node/test_disaggreate.py
Labels: module:tests

bugfix for mtp when running torchair in a2 (#3354)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

bugfix for mtp when running torchair in a2 (#3354)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

bugfix for mtp when running torchair in a2 (#3354)
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: none

[Perf]Add YaRN custom op (#3355)
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[Perf]Add YaRN custom op (#3355)
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[Perf]Add YaRN custom op (#3355)
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:ops, module:core

[Bugfix]modify the enable range of _merge_multimodal_embeddings patch (#3360)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multimodal_merge.py
Labels: none

[Bugfix]modify the enable range of _merge_multimodal_embeddings patch (#3360)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multimodal_merge.py
Labels: none

[Bugfix]modify the enable range of _merge_multimodal_embeddings patch (#3360)
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multimodal_merge.py
Labels: none

fix test
  vllm_ascend/worker/model_runner_v1.py
Labels: none

rebase
  .github/workflows/multi_node_test.yaml
Labels: none

fix test
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] Fix weight prefetching `AssertionError` in W8A8 MTP scene (#3361)
  vllm_ascend/ops/weight_prefetch.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

[Bugfix] Fix weight prefetching `AssertionError` in W8A8 MTP scene (#3361)
  vllm_ascend/ops/weight_prefetch.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

[Bugfix] Fix weight prefetching `AssertionError` in W8A8 MTP scene (#3361)
  vllm_ascend/ops/weight_prefetch.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

[Feature] optimize sp.
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/torchair/ops/__init__.py
Labels: module:ops

add not
  tests/e2e/multi_node/scripts/lws.yaml
Labels: module:tests

[Bugfix] Fix the abnormal NPU memory usage in full graph mode. (#3331)
  vllm_ascend/attention/attention_v1.py
Labels: none

[Bugfix] Fix the abnormal NPU memory usage in full graph mode. (#3331)
  vllm_ascend/attention/attention_v1.py
Labels: none

[Bugfix] Fix the abnormal NPU memory usage in full graph mode. (#3331)
  vllm_ascend/attention/attention_v1.py
Labels: none

Add patch_roberta remove plan
  vllm_ascend/patch/__init__.py
Labels: none

[Feature] torchair handle.
  vllm_ascend/torchair/ops/torchair_vocab_parallel_embedding.py
  vllm_ascend/torchair/utils.py
Labels: none

[Feature] torchair handle.
  vllm_ascend/torchair/ops/torchair_vocab_parallel_embedding.py
  vllm_ascend/torchair/utils.py
Labels: none

[Feature] torchair handle.
  vllm_ascend/torchair/utils.py
Labels: none

[Bugfix] TP size larger than KV cache head causes accuracy issues (#3366)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_pd_disaggregation_llmdatadist.md
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/parallel_state.py
Labels: documentation, module:tests, module:core

[Bugfix] TP size larger than KV cache head causes accuracy issues (#3366)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_pd_disaggregation_llmdatadist.md
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/parallel_state.py
Labels: documentation, module:tests, module:core

[Bugfix] TP size larger than KV cache head causes accuracy issues (#3366)
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_pd_disaggregation_llmdatadist.md
  docs/source/tutorials/multi_node_pd_disaggregation_mooncake.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/kv_connector/test_mooncake_layerwise_connector.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/mooncake_layerwise_connector.py
  vllm_ascend/distributed/parallel_state.py
Labels: documentation, module:tests, module:core

fix test
  vllm_ascend/worker/model_runner_v1.py
Labels: none

xx
  vllm_ascend/attention/attention_v1.py
Labels: none

[Feature] torchair handle.
  vllm_ascend/torchair/utils.py
Labels: none

remove mc2 buffer caculation and setting
  tests/ut/patch/worker/patch_common/test_patch_distributed.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

[Feature] torchair handle.
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

[BugFix]Fix eplb problems when using dynamic eplb. (#3364)
  tests/ut/eplb/core/test_eplb_device_transfer_loader.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:quantization

[BugFix]Fix eplb problems when using dynamic eplb. (#3364)
  tests/ut/eplb/core/test_eplb_device_transfer_loader.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:quantization

[BugFix]Fix eplb problems when using dynamic eplb. (#3364)
  tests/ut/eplb/core/test_eplb_device_transfer_loader.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/ops/moe/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:quantization

[log]add log info when init new expert_map.
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
