Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

import moe multi-stream
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

fix lint
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

Fix W8A8 fused moe bug (#1529)
  tests/ut/attention/test_attention_v1.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:quantization

Fix W8A8 fused moe bug (#1529)
  tests/ut/attention/test_attention_v1.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:quantization

Fix W8A8 fused moe bug (#1529)
  tests/ut/attention/test_attention_v1.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:quantization

fix bug
  vllm_ascend/models/qwen3_dbo.py
Labels: none

[CI/UT] Add test for chunk prefill and prefix cache on v1/AscendScheduler (#1505)
  tests/conftest.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/prompts/example.txt
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler_e2e.py
  tests/e2e/singlecard/core/ascend_scheduler/test_chunk_prefill.py
Labels: module:tests

[CI/UT] Add test for chunk prefill and prefix cache on v1/AscendScheduler (#1505)
  tests/conftest.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/prompts/example.txt
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler_e2e.py
  tests/e2e/singlecard/core/ascend_scheduler/test_chunk_prefill.py
Labels: module:tests

[CI/UT] Add test for chunk prefill and prefix cache on v1/AscendScheduler (#1505)
  tests/conftest.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/prompts/example.txt
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler_e2e.py
  tests/e2e/singlecard/core/ascend_scheduler/test_chunk_prefill.py
Labels: module:tests

[Enhancement] Add FIA and fix accuracy
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
Labels: module:core

[Test]Add unit test for schedule_config.py and quant_config.py
  tests/ut/core/test_schedule_config.py
  tests/ut/quantization/test_quant_config.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:quantization

[Perf] Improve performance by update params asynchronously
  vllm_ascend/compilation/piecewise_backend.py
Labels: none

[Bugfix] Add func `swap_states` to fix MLA attention (#1580)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/pool/__init__.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[Bugfix] Add func `swap_states` to fix MLA attention (#1580)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/pool/__init__.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[Bugfix] Add func `swap_states` to fix MLA attention (#1580)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/pool/__init__.py
  vllm_ascend/worker/npu_input_batch.py
Labels: none

[Test]Add unit test for platform.py (#1476)
  tests/ut/test_platform.py
Labels: module:tests

[Test]Add unit test for platform.py (#1476)
  tests/ut/test_platform.py
Labels: module:tests

[Test]Add unit test for platform.py (#1476)
  tests/ut/test_platform.py
Labels: module:tests

Signed-off-by: umeiko <umeko@stu.xmu.edu.cn> EAGLE 1 Support
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/e2e/long_term/spec_decode_v1/test_v1_spec_decode.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Test] Add unit test for schedule_config.py
  tests/ut/core/test_schedule_config.py
Labels: module:tests

[Test] Add unit test for schedule_config.py
  tests/ut/core/test_schedule_config.py
Labels: module:tests

[Test] Add unit test for schedule_config.py
  tests/ut/core/test_schedule_config.py
Labels: module:tests

pd_bugifx_for_mtp
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

fix lint
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

[Test] Add unit test for schedule_config.py
  tests/ut/core/test_schedule_config.py
Labels: module:tests

[Test] Add unit test for schedule_config.py
  tests/ut/core/test_schedule_config.py
Labels: module:tests

use tuple as kv cache instead of tensor
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

[DOC] fix word spelling
  docs/source/user_guide/lora.md
Labels: documentation

[DOC] Fix word spelling (#1595)
  docs/source/user_guide/lora.md
Labels: documentation

[DOC] Fix word spelling (#1595)
  docs/source/user_guide/lora.md
Labels: documentation

[DOC] Fix word spelling (#1595)
  docs/source/user_guide/lora.md
Labels: documentation

fix test
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

fix
  .github/workflows/vllm_ascend_test.yaml
Labels: none

fix
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

fix
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

fix
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

[bugfix] fix ascend_forward_context with model_runner_v0
  vllm_ascend/ascend_forward_context.py
Labels: module:core

Pin commit hash
  .github/workflows/vllm_ascend_test.yaml
Labels: none

add device communitor unit test
  tests/ut/distributed/test_device_communicators.py
Labels: module:tests

fix code format error
  tests/ut/distributed/test_device_communicators.py
Labels: module:tests
