Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

[Feature] qwen3_moe qk norm support multi_stream.
  vllm_ascend/models/qwen3_moe.py
Labels: none

Fix guide decode
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

fix mypy
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

simple test
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

support kv cache cpu offload with connector
  tests/ut/attention/test_mla_v1.py
  tests/ut/distributed/cpu_offload/test_cpu_kv_cache_manager.py
  tests/ut/distributed/cpu_offload/test_cpu_offload_connector.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/distributed/cpu_offload_connector.py
  vllm_ascend/distributed/cpu_offload_manager/__init__.py
  vllm_ascend/distributed/cpu_offload_manager/cpu_kv_cache_manager.py
  vllm_ascend/distributed/cpu_offload_manager/metadata.py
  vllm_ascend/models/layers/mla.py
Labels: module:tests

fix ut
  tests/ut/distributed/cpu_offload/__init__.py
  tests/ut/distributed/cpu_offload/test_cpu_kv_cache_manager.py
  tests/ut/distributed/cpu_offload/test_cpu_offload_connector.py
Labels: module:tests

[Feature] qwen3_moe qk norm support multi_stream.
  vllm_ascend/models/qwen3.py
  vllm_ascend/utils.py
Labels: module:core

fix ut
  tests/ut/distributed/cpu_offload/__init__.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
Labels: module:tests

[Feature] qwen3_moe qk norm support multi_stream.
  vllm_ascend/models/qwen3.py
  vllm_ascend/utils.py
Labels: module:core

flashcomm1 for shared fused moe Signed-off-by: zhaozx-cn <zhaozx2116@163.com>
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
Labels: module:ops, module:core

[CI] Upgrade vLLM to 20250919 (6d8246aa) and fix some broken issue (#2907)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:quantization, module:core

[CI] Upgrade vLLM to 20250919 (6d8246aa) and fix some broken issue (#2907)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:quantization, module:core

[CI] Upgrade vLLM to 20250919 (6d8246aa) and fix some broken issue (#2907)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:quantization, module:core

Refactor ci to reuse base workflow
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Bump main
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

Refactor ci to reuse base workflow
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

[bugfix] fix kv_nz accuracy problem and delete redundant reshape_and_cache operation
  vllm_ascend/torchair/torchair_mla.py
Labels: none

[bugfix] fix wasted NPU memory buffer allocation for all_to_all_single operation
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: none

Bump main
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests

Fix UnboundLocalError
  vllm_ascend/sample/sampler.py
Labels: none

[CI] Upgrade vLLM to 20250920 (c60e613) and address config break (#3067)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests

[CI] Upgrade vLLM to 20250920 (c60e613) and address config break (#3067)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests

[CI] Upgrade vLLM to 20250920 (c60e613) and address config break (#3067)
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests

Refactor ci to reuse base workflow
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Refactor ci to reuse base workflow and re-enable ut coverage (#3064)
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Refactor ci to reuse base workflow and re-enable ut coverage (#3064)
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

Refactor ci to reuse base workflow and re-enable ut coverage (#3064)
  .github/workflows/_e2e_test.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full_vllm_main.yaml
Labels: none

[Patch]Ascend affinity multimodal embeddings merge
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_multimodal_merge.py
Labels: none

[Patch]Ascend affinity multimodal embeddings merge
  vllm_ascend/patch/platform/patch_common/patch_multimodal_merge.py
Labels: none

feat: remove restriction on kv nz usage without torchair
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: module:core

update doc
  docs/source/user_guide/configuration/additional_config.md
Labels: documentation

update test case
  tests/ut/test_ascend_config.py
Labels: module:tests

lint code
  tests/ut/test_ascend_config.py
Labels: module:tests

[bugfix] fix deepseek mtp with enable_shared_expert_dp
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: none

splitting MTP into graph mode and non-graph mode
  vllm_ascend/spec_decode/__init__.py
  vllm_ascend/torchair/mtp_torchair_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[BugFiModify eplb feature guide.
  docs/source/user_guide/configuration/additional_config.md
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: documentation, module:ops, module:quantization

bump vllm version
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
Labels: none

solve issues
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: none

[BugFix]Fix expert map.
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

[CI] fix CI bug
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build
