Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

chore: remove all macOS auto-generated ._* files
  docs/source/._developer_guide
  docs/source/community/._contributors.md
  docs/source/community/._versioning_policy.md
  docs/source/developer_guide/._contribution
  docs/source/developer_guide/contribution/._multi_node_test.md
  docs/source/developer_guide/evaluation/._accuracy_report
  docs/source/developer_guide/evaluation/accuracy_report/._Qwen3-8B-Base.md
  docs/source/locale/zh_CN/LC_MESSAGES/community/user_stories/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/._contribution
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/evaluation/._accuracy_report
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/feature_guide/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/modeling/._adding_a_new_model.po
  examples/._offline_inference_npu.py
  examples/._offline_inference_npu_long_seq.py
  examples/._offline_weight_load.py
  examples/._prompt_embed_inference.py
  examples/disaggregated_prefill_v1/._load_balance_proxy_layerwise_server_example.py
  examples/eplb/._eplb_deepseek.py
  tests/e2e/._multicard
  tests/e2e/._pd_disaggreate
  tests/e2e/nightly/multi_node/._scripts
  vllm_ascend/._kv_offload
  vllm_ascend/._model_loader
  vllm_ascend/patch/._worker
Labels: documentation, module:tests

Revert "suport pp"
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

format mooncake
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

suport pp
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

Revert "suport AscendScheduer and fix A2 MC2 and pp bug"
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ascend scheduler and optimize code
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

suport AscendScheduer and fix A2 MC2 and pp bug
  docs/source/._developer_guide
  docs/source/community/._contributors.md
  docs/source/community/._versioning_policy.md
  docs/source/developer_guide/._contribution
  docs/source/developer_guide/contribution/._multi_node_test.md
  docs/source/developer_guide/evaluation/._accuracy_report
  docs/source/developer_guide/evaluation/accuracy_report/._Qwen3-8B-Base.md
  docs/source/locale/zh_CN/LC_MESSAGES/community/user_stories/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/._contribution
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/evaluation/._accuracy_report
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/feature_guide/._index.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/modeling/._adding_a_new_model.po
  examples/._offline_inference_npu.py
  examples/._offline_inference_npu_long_seq.py
  examples/._offline_weight_load.py
  examples/._prompt_embed_inference.py
  examples/disaggregated_prefill_v1/._load_balance_proxy_layerwise_server_example.py
  examples/eplb/._eplb_deepseek.py
  tests/e2e/._multicard
  tests/e2e/._pd_disaggreate
  tests/e2e/nightly/multi_node/._scripts
  vllm_ascend/._kv_offload
  vllm_ascend/._model_loader
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/._worker
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests

mooncake support pp
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/distributed/test_ptp.py
Labels: none

bugfix: decode pp size assert error
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

change comment
  vllm_ascend/worker/model_runner_v1.py
Labels: none

format mooncake
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

suport pp
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

suport AscendScheduer and fix A2 MC2 and pp bug
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

oproj shared linear support flashcomm2
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/torchair/ops/shared_weight_layer.py
  vllm_ascend/utils.py
Labels: module:core

fix o_shared communication domain across pp
  vllm_ascend/distributed/parallel_state.py
Labels: none

add ut about flashcomm o_shared
  tests/ut/distributed/test_parallel_state.py
Labels: module:tests

UT fix
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

Optimize the input of environment variables
  vllm_ascend/ascend_config.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
Labels: module:core

fix some bug
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/ops/shared_weight_layer.py
  vllm_ascend/utils.py
Labels: module:core

[CI] fix
  vllm_ascend/attention/mla_v1.py
Labels: none

remove multistream logits
  vllm_ascend/attention/mla_v1.py
Labels: none

Change the position of the shared_weight_layer, move it out of the torchair folder.
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/shared_weight_layer.py
Labels: module:ops

Optimize code
  vllm_ascend/ascend_config.py
  vllm_ascend/utils.py
Labels: module:core

optimization of oshard parallel group
  vllm_ascend/distributed/parallel_state.py
Labels: none

[CI] fix
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/utils.py
Labels: module:core

format code
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

bugfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

utfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

remove test ut
  vllm_ascend/distributed/test_ptp.py
Labels: none

utfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

format code
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

utfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

fix ut
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

utfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

bugfix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

bugfix:add add_not_transfer_request
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

format code
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

ut fix
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
