Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

Merge branch 'moe_alltoall_v6' of https://github.com/weijinqian0/vllm-ascend into moe_alltoall_v6
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/ops/comm_utils.py
  vllm_ascend/ops/moe_dispatcher/moe_utils.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

Merge branch 'moe_alltoall_v6' of https://github.com/weijinqian0/vllm-ascend into moe_alltoall_v6
  vllm_ascend/envs.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops, module:core

Merge branch 'moe_alltoall_v6' of https://github.com/weijinqian0/vllm-ascend into moe_alltoall_v6
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/moe_utils.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

Merge branch 'moe_alltoall_v6' of https://github.com/weijinqian0/vllm-ascend into moe_alltoall_v6
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

check fixed
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:ops

Update model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

feat: 异步、解决和te的端口冲突、全量拉kvcache
  vllm_ascend/distributed/mooncake_connector.py
Labels: none

remove metrics patch
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_metrics.py
Labels: none

Update w8a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

feat: support V1 report_usage_stats in vllm-ascend
  vllm_ascend/usage_lib.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

feat: support V1 report_usage_stats in vllm-ascend
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_AdvanceStepFlashAttnKernel.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_triple_chevrons_func.h
  vllm_ascend/platform.py
  vllm_ascend/usage_lib.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

feat: support V1 report_usage_stats in vllm-ascend
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_AdvanceStepFlashAttnKernel.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_false_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_bfloat16_t.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_rope_custom_true_half.h
  vllm_ascend/include/vllm_ascend_kernels/aclrtlaunch_triple_chevrons_func.h
  vllm_ascend/platform.py
Labels: module:core

EPLB fix mock_load_balance bug
  vllm_ascend/eplb/core/policy/mock_load_balance.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Misc] fix initialize_kv_cache
  tests/singlecard/test_scheduler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

add qwen2.5-7b test
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: none

fix commit_time issue
  .github/workflows/nightly_benchmarks.yaml
Labels: none

[Misc] Adjust the default profiler configuration
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[v1] Support eagle3 proposer.
  tests/long_term/spec_decode/e2e/test_v1_spec_decode.py
  vllm_ascend/worker/eagle_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Misc] fix initialize_kv_cache (#1102)
  tests/singlecard/test_scheduler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[Misc] fix initialize_kv_cache (#1102)
  tests/singlecard/test_scheduler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

[BugFix] Fix ascend config check
  docs/source/user_guide/additional_config.md
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

update
  vllm_ascend/platform.py
Labels: module:core

set env var
  vllm_ascend/platform.py
Labels: module:core

Fix the bug in torch 2.5.1 that raising segment fault when enable while creating a tensor using
  vllm_ascend/platform.py
Labels: module:core

update
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:core

update
  vllm_ascend/envs.py
Labels: module:core

update
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:core

modify args
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

modify guided decoding UT
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

update
  tests/conftest.py
Labels: module:tests

update
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

update
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
Labels: module:core

clear npu memory between test profiling
  vllm_ascend/worker/worker.py
Labels: none

update
  tests/conftest.py
Labels: module:tests

[BugFix] Fix data parallel initialization and device management in NPUWorker and DPEngineCoreProc Co-authored-by: rjg-lyh <rjg-lyh@users.noreply.github.com>
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/worker/worker_v1.py
Labels: none

barebone代码优化
  vllm_ascend/distributed/mooncake_connector_v1_barebone.py
Labels: none

update
  tests/singlecard/test_aclgraph.py
Labels: module:tests

feat: support compile multiple batch graph
  vllm_ascend/worker/model_runner_v1.py
Labels: none

update
  .github/workflows/vllm_ascend_test.yaml
Labels: none

change env variable name to VLLM_ASCEND_ENABLE_KV_NZ
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
Labels: module:core
