Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

adapt: make the cache engine for npu graph mode compatible with original one
  vllm_ascend/attention/attention.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner.py
Labels: none

Update attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: none

Delete tests/sampl__init__.py
  tests/sampl__init__.py
Labels: module:tests

Create __init__.py
  tests/sample/__init__.py
Labels: module:tests

fix kvcache group
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Create __init__.py
  vllm_ascend/sample/__init__.py
Labels: none

Create rejection_sampler.py
  vllm_ascend/sample/rejection_sampler.py
Labels: none

Create __init__.py
  vllm_ascend/spec_decode/__init__.py
Labels: none

Create eagle.py
  vllm_ascend/spec_decode/eagle.py
Labels: none

Update model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

some fixes
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

compatible with 085
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

tiny fix
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

[Bugfix] fig bug
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fig bug
  tests/conftest.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fig bug
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fig bug
  tests/multicard/test_lora_quant_tp.py
  tests/singlecard/test_lora_quant.py
Labels: module:tests

add performance tuning docs
  docs/source/developer_guide/performance/optimization.md
  docs/source/index.md
Labels: documentation

[Misc] Remove redundant code about initializing attn_backend
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Bugfix] use functions as paramter
  tests/singlecard/test_lora_quant.py
Labels: module:tests

[Bugfix] fix bug
  tests/singlecard/test_lora_quant.py
Labels: module:tests

make AscendUnquantizedFusedMoEMethod compatible with 085
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

add upper time to distributed test
  requirements-dev.txt
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

fix yapf
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

change timeou time
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

update
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/index.md
Labels: documentation

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

Update model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Create test_spec_decode.py
  tests/singlecard/spec_decode/e2e/test_spec_decode.py
Labels: module:tests

fix: fix deepseek accuracy when ep_size=1
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

update
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

[Bugfix][Model] Fix fusedmoe and make modelrunner_v1 compatible with latest vllm (#867)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

[Bugfix][Model] Fix fusedmoe and make modelrunner_v1 compatible with latest vllm (#867)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

Add 26d041930978aa0d06d565d3e1f1e41686ad0c90 qwen3
  vllm_ascend/models/qwen3.py
Labels: none

fix dummy run case, when not all kv cache and hidden received, the non-received data will be allocated with random tensor
  examples/disaggregated_prefill/dp_proxy.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/worker/worker.py
Labels: none

add workflow to build and release wheel
  .github/Dockerfile.buildwheel
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/build_whl_sch.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  tools/actionlint.sh
Labels: ci/build, module:tools

Delete vllm_ascend/spec_decode/eagle.py
  vllm_ascend/spec_decode/eagle.py
Labels: none

Delete vllm_ascend/spec_decode/__init__.py
  vllm_ascend/spec_decode/__init__.py
Labels: none

Create __init__.py
  vllm_ascend/patch/spec_decode/__init__.py
Labels: none

Create __init__.py
  vllm_ascend/patch/spec_decode/patch_common/__init__.py
Labels: none
