Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

remove metrics patch
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_metrics.py
Labels: none

remove old quantization model
  tests/conftest.py
  tests/singlecard/test_offline_inference.py
Labels: module:tests

update
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

use additional_config to enable cv parallel
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

rename kwargs1 in fused_experts_with_mc2
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

Modify the optimized Python version of torch and torch_npu to 3.11.
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

add ut fot cv parallel
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

fix: ascend_scheduler adapt v0.9.0
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/test_scheduler.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

update ep>1
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

update
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

Update optimization_and_tuning.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

support cv parallel for float model
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

[1/N][UT][v1 MTP] add basic v1 mtp features
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/long_term/spec_decode/e2e/test_v1_mtp_correctness.py
  tests/long_term/spec_decode/test_spec_decode_worker.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests, module:ops

Update optimization_and_tuning.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

Update docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

Update docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
Labels: documentation

[1/N][UT][v1 MTP] add basic v1 mtp features (#890)
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/long_term/spec_decode/e2e/test_v1_mtp_correctness.py
  tests/long_term/spec_decode/test_spec_decode_worker.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests, module:ops

[1/N][UT][v1 MTP] add basic v1 mtp features (#890)
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/long_term/spec_decode/e2e/test_v1_mtp_correctness.py
  tests/long_term/spec_decode/test_spec_decode_worker.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests, module:ops

init matrix core acclib dir struct
  vllm_ascend/eplb/core/mempool/mem_cache.py
  vllm_ascend/eplb/core/policy/__init__.py
  vllm_ascend/eplb/core/policy/eplb_policy.py
  vllm_ascend/eplb/core/policy/mock_load_balance.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/tool/convert_tool.py
  vllm_ascend/eplb/core/worker/eplb_updator.py
Labels: none

fix some bugs
  tests/long_term/spec_decode/e2e/test_v1_mtp_correctness.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops

[Bugfix][V1] Quick fix on ouput return of model execution
  vllm_ascend/worker/worker_v1.py
Labels: none

[MLA][Graph] Improve assertion on Graph mode with MLA
  docs/source/faqs.md
  vllm_ascend/attention/attention.py
  vllm_ascend/worker/multi_step_worker.py
Labels: documentation

[Bugfix] Fix deepseek V0 percision issue and add acc ci for it
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/conftest.py
  tests/long_term/test_deepseek_v2_lite_tp2_accuracy.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

adapt mtp with graph mode in v1
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: none

Basie eagle3 proposer
  vllm_ascend/spec_decode/eagle_v1.py
Labels: none

Add basic wrapper for torchair multistream utilities
  vllm_ascend/utils.py
Labels: module:core

add fix routing for performance test
  vllm_ascend/envs.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

Offload calculation shared experts to another stream
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

[Fix] Fix update_aclgraph_sizes when running MoE models (#913)
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

[Fix] Fix update_aclgraph_sizes when running MoE models (#913)
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

A2_DeeepSeek_prefill_opt
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/model_executor/__init__.py
  vllm_ascend/model_executor/layers/__init__.py
  vllm_ascend/model_executor/layers/linear.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2_a2.py
Labels: none

DeepSeek prefill optimization using flash_comm_v1 (A2)
  vllm_ascend/models/deepseek_v2_a2.py
Labels: none

MLA layer eliminates redundant index operators
  vllm_ascend/attention/attention.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

add new runner
  .github/workflows/nightly_benchmark.yaml
Labels: none

add qwen3 and qwen2.5vl
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: none

add exclusive npus
  .github/workflows/nightly_benchmark.yaml
Labels: none

filter trigger condition
  .github/workflows/nightly_benchmarks.yaml
Labels: none

add benchmark test
  .github/workflows/nightly_benchmark.yaml
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: none

optimize benchmark script
  .github/workflows/nightly_benchmarks.yaml
  benchmarks/scripts/run-performance-benchmarks.sh
Labels: none

fix
  .github/workflows/nightly_benchmarks.yaml
  benchmarks/scripts/run-performance-benchmarks.sh
Labels: none

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
