Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'

fix wrong import
  vllm_ascend/worker/worker_v1.py
Labels: none

fix shellcheck
  benchmarks/scripts/run-performance-benchmarks.sh
Labels: none

format
  vllm_ascend/worker/worker_v1.py
Labels: none

[CI] Fix build Signed-off-by: wangxiyuan <wangxiyuan1007@gmail.com>
  .github/actionlint.yaml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/image_ubuntu_push.yml
  Dockerfile.openEuler
Labels: ci/build

add mutlimodal test
  tests/model_utils.py
  tests/test_offline_inference.py
Labels: module:tests

fix ruff
  tests/model_utils.py
  tests/test_offline_inference.py
Labels: module:tests

fix yapf
  tests/model_utils.py
Labels: module:tests

add qwen2.5-7b
  tests/model_utils.py
  tests/test_offline_inference.py
Labels: module:tests

add MTP support w8a8 quant
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
Labels: none

[CI]Add model basic accuracy test(Qwen2-1.5B-Instruct)
  mypy.ini
  requirements-dev.txt
  tests/entrypoints/test_accuracy.py
Labels: module:tests

[v0.7.3]support MTP in deepseek w8a8 quant model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_mtp.py
Labels: none

Add PD separation feature
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/communicator.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

solve codecheck/ruff issue
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: none

fix mypy import-not-found error
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/worker/worker.py
Labels: none

fix yapf error
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: none

restart CI process
  examples/offline_disaggregated_prefill_npu.py
Labels: none

fix import sorting issue
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: none

Modify parallel_config in worker.py and remove misleading comment in examples
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/worker/worker.py
Labels: none

fix yapf error
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: none

fix isort error
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: none

add co-author
  examples/offline_disaggregated_prefill_npu.py
Labels: none

fix bug: layer import vllm config
  pytest.ini
  vllm_ascend/platform.py
Labels: module:core

import error workaround
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: none

restart CI process
  examples/offline_disaggregated_prefill_npu.py
Labels: none

restart CI process
  examples/offline_disaggregated_prefill_npu.py
Labels: none

update faq doc
  docs/source/faqs.md
Labels: documentation

[SpecDecode] support spec decode in main
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/__init__.py
  tests/ops/__init__.py
  tests/spec_decode/__init__.py
  tests/spec_decode/conftest.py
  tests/spec_decode/e2e/__init__.py
  tests/spec_decode/e2e/conftest.py
  tests/spec_decode/e2e/test_compatibility.py
  tests/spec_decode/e2e/test_integration.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/spec_decode/e2e/test_integration_dist_tp4.py
  tests/spec_decode/e2e/test_logprobs.py
  tests/spec_decode/e2e/test_medusa_correctness.py
  tests/spec_decode/e2e/test_mlp_correctness.py
  tests/spec_decode/e2e/test_ngram_correctness.py
  tests/spec_decode/e2e/test_seed.py
  tests/spec_decode/test_batch_expansion.py
  tests/spec_decode/test_dynamic_spec_decode.py
  tests/spec_decode/test_metrics.py
  tests/spec_decode/test_multi_step_worker.py
  tests/spec_decode/test_ngram_worker.py
  tests/spec_decode/test_spec_decode_worker.py
  tests/spec_decode/test_utils.py
  tests/spec_decode/utils.py
  tests/test_offline_inference.py
  tests/utils.py
  vllm_ascend/attention/attention.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/patch_metrics.py
  vllm_ascend/patch/patch_multi_step_worker.py
  vllm_ascend/patch/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

[3/N][CI/UT] add spec decode e2e UT
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/spec_decode/e2e/test_eagle_correctness.py
  tests/spec_decode/e2e/test_mtp_correctness.py
Labels: module:tests

[CI] add hf-token for llama model download
  .github/workflows/vllm_ascend_test.yaml
Labels: none

Add pyhccl
  tests/distributed/test_pyhccl.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/device_communicators/__init__.py
  vllm_ascend/distributed/device_communicators/pyhccl.py
  vllm_ascend/distributed/device_communicators/pyhccl_wrapper.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

性能优化
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:core

加入profile_run关闭开关
  vllm_ascend/worker/worker.py
Labels: none

[CI] enable custom ops build (#466)
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  Dockerfile.openEuler
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  format.sh
  pta_install.sh
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  tools/actionlint.sh
  tools/shellcheck.sh
  vllm_ascend/envs.py
Labels: documentation, ci/build, module:tests, module:tools, module:core

[CI] enable custom ops build (#466)
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  Dockerfile.openEuler
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  format.sh
  pta_install.sh
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  tools/actionlint.sh
  tools/shellcheck.sh
  vllm_ascend/envs.py
Labels: documentation, ci/build, module:tests, module:tools, module:core

[CI] enable custom ops build (#466)
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  Dockerfile.openEuler
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  format.sh
  pta_install.sh
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  tools/actionlint.sh
  tools/shellcheck.sh
  vllm_ascend/envs.py
Labels: documentation, ci/build, module:tests, module:tools, module:core

[V1] clean up V1 code
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: none

[Build] Update doc
  docs/source/developer_guide/contributing.md
  docs/source/installation.md
Labels: documentation

w8a8 quant
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

update
  docs/source/faqs.md
Labels: documentation

update
  docs/source/faqs.md
Labels: documentation
