Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

[Core]Append padding logic for Attention (#3256)
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/sfa_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[BUGFIX] Mtp torchair pd fix (#3506)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[BUGFIX] Mtp torchair pd fix (#3506)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[BUGFIX] Mtp torchair pd fix (#3506)
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[Refactor] Clean up w4a4_flatquant_dynamic implementation (#3440)
  tests/ut/quantization/test_w4a4_flatquant_dynamic.py
  vllm_ascend/quantization/w4a4_flatquant_dynamic.py
Labels: module:tests, module:quantization

[Refactor] Clean up w4a4_flatquant_dynamic implementation (#3440)
  tests/ut/quantization/test_w4a4_flatquant_dynamic.py
  vllm_ascend/quantization/w4a4_flatquant_dynamic.py
Labels: module:tests, module:quantization

[Refactor] Clean up w4a4_flatquant_dynamic implementation (#3440)
  tests/ut/quantization/test_w4a4_flatquant_dynamic.py
  vllm_ascend/quantization/w4a4_flatquant_dynamic.py
Labels: module:tests, module:quantization

[BugFix]Support redundant experts in EPLB (#3473)
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[BugFix]Support redundant experts in EPLB (#3473)
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

[BugFix]Support redundant experts in EPLB (#3473)
  tests/ut/eplb/core/test_eplb_utils.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

refactor kvcache allocate and reshape
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix pooling
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Fix attn_group initialization timing
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Fix attn_group initialization timing
  vllm_ascend/worker/model_runner_v1.py
Labels: none

Optimize torchair kv_consumer padding logic
  vllm_ascend/torchair/torchair_model_runner.py
Labels: none

fix recomputing oom bug
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
Labels: module:core

fix recomputing oom bug
  vllm_ascend/core/recompute_schedule_config.py
  vllm_ascend/core/recompute_scheduler.py
Labels: none

adapt mlapo with fused_qkv
  vllm_ascend/attention/mla_v1.py
Labels: none

[main] flashcomm_v2 optim solution Signed-off-by: Levi-JQ <yujinqi2@huawei.com>
  vllm_ascend/ascend_config.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization, module:core

[CI] fix
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization, module:core

Many fixes
  .github/workflows/_e2e_test.yaml
  vllm_ascend/lora/punica_npu.py
  vllm_ascend/patch/worker/patch_common/patch_roberta.py
  vllm_ascend/platform.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

[Refactor][DS32] Refactor DeepSeekV3.2 to adapt with vllm main
  vllm_ascend/__init__.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/patch_attentionspec.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core

[CI] Upgrade vllm to newest commit
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/test_platform.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/deepseek_v3_2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/models/layers/sfa.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/patch_attention_selector.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization, module:core

merge-commit
  .github/workflows/_e2e_test.yaml
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/test_platform.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core

fix mtp
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix lint
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/layers/mla.py
Labels: none

rm deepseek v2 ut
  tests/ut/models/test_deepseek_v2.py
Labels: module:tests

[patch]add v1 exeutor patch tpatch common.o
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/ops/moe/token_dispatcher.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_multiproc_executor.py
  vllm_ascend/patch/v1/patch_executor/__init__.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/torchair/quantization/torchair_w4a8_dynamic.py
  vllm_ascend/torchair/quantization/torchair_w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:ops, module:quantization, module:core

[main][bugfix] bugfix for minicpm models
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

fix ut of parallel_state Signed-off-by: Levi-JQ <yujinqi2@huawei.com>
  tests/ut/distributed/test_parallel_state.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/layers/mla.py
Labels: module:tests, module:core

adapt main and 0.11.0 for mla
  vllm_ascend/models/layers/mla.py
Labels: none

[Bugfix] Route requests requiring KVC recomputation from the decode instance to the P instance (#3448)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/ascend_config.py
  vllm_ascend/core/recompute_schedule_config.py
  vllm_ascend/core/recompute_scheduler.py
  vllm_ascend/platform.py
Labels: module:core

[Bugfix] Route requests requiring KVC recomputation from the decode instance to the P instance (#3448)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/ascend_config.py
  vllm_ascend/core/recompute_schedule_config.py
  vllm_ascend/core/recompute_scheduler.py
  vllm_ascend/platform.py
Labels: module:core

[Bugfix] Route requests requiring KVC recomputation from the decode instance to the P instance (#3448)
  examples/disaggregated_prefill_v1/load_balance_proxy_layerwise_server_example.py
  examples/disaggregated_prefill_v1/load_balance_proxy_server_example.py
  vllm_ascend/ascend_config.py
  vllm_ascend/core/recompute_schedule_config.py
  vllm_ascend/core/recompute_scheduler.py
  vllm_ascend/platform.py
Labels: module:core

[ci]fix ci.
  vllm_ascend/ops/moe/experts_selector.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:ops

fix ut
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/attention/test_mla_v1.py
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_mooncake_connector.py
  tests/ut/kv_connector/utils.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/test_platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

shared_hidden_statestch]delete v1 patch.
  vllm_ascend/patch/v1/__init__.py
  vllm_ascend/patch/v1/patch_executor/__init__.py
Labels: none

Refactor spec decode to support efficient padded speculation
  vllm_ascend/spec_decode/eagle_proposer.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: none

[ci]fix ci.
  vllm_ascend/patch/platform/patch_common/__init__.py
Labels: none

[doc]add eplb environment param to eplb doc.
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
