Repository vllm-project/vllm-ascend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/build, module:tests, module:tools, module:ops, module:quantization, module:core

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Update utils.py
  vllm_ascend/distributed/utils.py
Labels: none

Update forward_context.py
  vllm_ascend/forward_context.py
Labels: module:core

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Update llm_engine.py
  vllm_ascend/engine/llm_engine.py
Labels: none

Update config.py
  vllm_ascend/config.py
Labels: module:core

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Update forward_context.py
  vllm_ascend/forward_context.py
Labels: module:core

Update llm_engine.py
  vllm_ascend/engine/llm_engine.py
Labels: none

Update utils.py
  vllm_ascend/distributed/utils.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update config.py
  vllm_ascend/config.py
Labels: module:core

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Update forward_context.py
  vllm_ascend/forward_context.py
Labels: module:core

Update llm_engine.py
  vllm_ascend/engine/llm_engine.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

fix codecheck
  vllm_ascend/distributed/utils.py
  vllm_ascend/forward_context.py
Labels: module:core

fix codecheck
  vllm_ascend/forward_context.py
Labels: module:core

[Doc] Add Single NPU (Qwen2.5-VL-7B) tutorial (#311)
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

Create offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

[Doc]Fix tutorial doc expression (#319)
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

[Doc] Add the release note for 0.7.3rc1 (#285)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

[Build] Fix x86 image build (#327)
  Dockerfile
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update __init__.py
  vllm_ascend/__init__.py
Labels: module:core

Create utils.py
  vllm_ascend/distributed/utils.py
Labels: none

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Create llm_engine.py
  vllm_ascend/engine/llm_engine.py
Labels: none

Create config.py
  vllm_ascend/config.py
Labels: module:core

Create forward_context.py
  vllm_ascend/forward_context.py
Labels: module:core

Update offline_inference_data_parallel.py
  examples/offline_inference_data_parallel.py
Labels: none

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Update utils.py
  vllm_ascend/utils.py
Labels: module:core

Update utils.py
  vllm_ascend/distributed/utils.py
Labels: none

[Doc] Fix bugs of installation doc and format tool (#330)
  docs/source/installation.md
  format.sh
Labels: documentation

.github/labeler.yml:

---
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

ci/build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/actions/*.yml'
          - '.github/workflows/*.yml'

'module:tests':
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

'module:tools':
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'

'module:ops':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/ops/**'

'module:quantization':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/quantization/**'

'module:core':
  - changed-files:
      - any-glob-to-any-file:
          - 'vllm_ascend/*.py'
