Repository vllm-project/vllm-ascend, pull requests merged in 2025-05, with the labels that each got.

#731 performance optimization, usability optimization and API compatibility adjustments for deepseek with npu graph mode
  vllm_ascend/attention/attention.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner.py
Labels: module:ops, module:core, module:quantization

#694 [Disaggregated Prefill] P2P Disaggregated Prefill based on llm_datadist
  .github/workflows/vllm_ascend_test.yaml
  examples/disaggregated_prefill/disaggregated_prefill_offline.py
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/find_device_ips.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  examples/disaggregated_prefill/run_decode_server.sh
  examples/disaggregated_prefill/run_prefill_server.sh
  examples/run_dp_server.sh
  requirements.txt
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/kv_transfer/__init__.py
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/distributed/kv_transfer/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:tests

#753 Re-patch TritonPlaceholder on main to make CI happy
  vllm_ascend/__init__.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_main/__init__.py
  vllm_ascend/patch/worker/patch_main/patch_tritonplaceholder.py
Labels: module:core

#747 Upgrade CANN version to 8.1.rc1
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
  docs/source/quick_start.md
Labels: documentation

#746 [v0.7.3] Upgrade CANN version to 8.1.rc1
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
  docs/source/quick_start.md
Labels: documentation

#728 support 32K model len on deepseek r1 W8A8
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

#764 [Core] Cleanup triton patch which has been fixed in vllm
  vllm_ascend/__init__.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_main/__init__.py
  vllm_ascend/patch/worker/patch_main/patch_tritonplaceholder.py
Labels: module:core

#768 [Bugfix] fix accuracy problem for quantized deepseek models
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

#773 [Bugfix] Fix output tensor shape in vanilla_chunked_prefill and update import paths for model_loader
  tests/utils.py
  vllm_ascend/ops/attention.py
  vllm_ascend/worker/model_runner.py
Labels: module:tests, module:ops

#771 [WIP]Add Func: aclgraph_batch_size auto-adjust to different model
  tests/multicard/test_dynamic_npugraph_batchsize.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#786 [Doc] Add notes for OOM in FAQs
  docs/source/faqs.md
Labels: documentation

#795 [v0.7.3][Doc] Add notes for OOM in FAQs (#786)
  docs/source/faqs.md
Labels: documentation

#708 [Build][0.7.3] Integrate MindIE Turbo into vLLM Ascend
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/suppoted_features.md
  setup.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:core

#735 [Doc] Add release note for 0.7.3
  docs/source/conf.py
  docs/source/developer_guide/contributing.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/developer_guide/versioning_policy.zh.md
  docs/source/installation.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#774 [Bugfix] Correct method call for _set_cos_sin_cache
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

#784 [Perf] Optimize fused_experts quantization code to save npu memory
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

#782 [Core] Support the features of prefix cache and chunked prefill in v0/v1
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

#799 [Doc] Move Release Compatibility Matrix to top and remove v0.7.x rc info
  docs/source/developer_guide/versioning_policy.md
Labels: documentation

#759 [CI/UT] fix spec ut in vllm-ascend main and vllm main
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/test_medusa_correctness.py
  tests/singlecard/spec_decode/e2e/test_mlp_correctness.py
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  tests/singlecard/spec_decode/e2e/test_ngram_correctness.py
Labels: module:tests

#763 [Benchmarks] Add qwen2.5-7b test
  benchmarks/README.md
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: documentation

#631 [CI] Add deepseek-v2-lite test
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
Labels: module:tests

#789 feat: support torchair graph mode in v1 engine
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

#803 [Enhancement] Add padding for ACL Graph
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

#827 [CI] add codespell CI and fix format.sh
  .github/workflows/codespell.yml
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/user_guide/release_notes.md
  examples/disaggregated_prefill/dp_proxy.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/utils.py
Labels: documentation, ci/build, module:core

#817 [Bugfix] Fix the method of importing environment variables in DeepSee…
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

#826 [Misc][Doc] Add the latest stable release url
  docs/source/_templates/sections/header.html
  docs/source/conf.py
Labels: documentation

#740 [Attention][Kernel]moe support for llama4 and mllama4
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#730 Add e2e test frame work and doctest
  .github/workflows/vllm_ascend_doctest.yaml
  docs/source/quick_start.md
  tests/e2e/common.sh
  tests/e2e/doctests/001-quickstart-test.sh
  tests/e2e/run_doctests.sh
Labels: documentation, module:tests

#830 [CI][1/N] Add basic ci for PD disaggregation
  .github/actionlint.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
Labels: module:pd

#854 [CI] Patch torch.library.infer_schema for fused moe ops to fix CI
  tests/ops/test_fused_moe.py
  vllm_ascend/__init__.py
  vllm_ascend/quantization/quant_config.py
Labels: module:tests, module:core, module:quantization

#819 [BugFix]add all2all when dp_size > 1 && downgrade npu_dequant_swiglu_quant
  vllm_ascend/distributed/communicator.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_distributed.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

#867 [Bugfix][Model] Fix fusedmoe and make modelrunner_v1 compatible with latest vllm
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, ready

#835 [Doc] update quantization docs with QwQ-32B-W8A8 example
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

#877 enable online serving quantization
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
Labels: module:core, module:quantization

#878 [Doc] Add performance tuning docs
  docs/source/developer_guide/performance/images/benchmark_results.png
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/index.md
Labels: documentation

#814 [Performance]: Custom AscendC Kernel of Multi-Step Prepare Input
  .github/workflows/codespell.yml
  CMakeLists.txt
  csrc/kernels/advance_step.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  examples/offline_multi_step_custom_ops.py
  format.sh
  tests/ops/test_multi_step.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/multi_step_runner.py
Labels: ci/build, module:tests, ready

#908 [DOC] update modelslim version
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

#824 [Doc][v0.7.3] Support XLM-RoBERTa-based and MiniCPM3 model
  docs/source/user_guide/supported_models.md
Labels: documentation

#820 [Doc] Support XLM-RoBERTa-based and MiniCPM3 model
  docs/source/user_guide/supported_models.md
Labels: documentation

#903 [Model][0.7.3] Add support for Qwen3 model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3.py
Labels: ready

#849 [BugFix][0.7.3] Fix chunked prefill bugs in engine v1
  vllm_ascend/patch_model_config.py
  vllm_ascend/patch_vllm_config.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core, ready

#912 [Fix] Set div_mode to False and fix view_as position
  vllm_ascend/ops/attention.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

#844 [BugFix] Fix chunked prefill bugs in engine v1
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core, ready

#923 [Bugfix][kvcache] revert multiple kv cache groups
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: ready

#893 [V1][LoRA][Test] V1 Engine LoRA support & e2e test
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/multicard/test_ilama_lora_tp2.py
  tests/singlecard/test_ilama_lora.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, ready

#932 [DOC] mark v1 multi-lora functional
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#936 [V1][0.7.3] Revert the default value of enable_chunked_prefill in add…
  vllm_ascend/platform.py
Labels: module:core

#915 [Model][0.7.3] Add support for Qwen3-MoE model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, ready

#928 [Bugfix][0.7.3] Add unpadded Qwen2.5-VL for verl scenario
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:core

#937 [bugfix] Improve log level and info for custom ops build
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/platform.py
Labels: module:core

#935 [V1] Revert the default value of enable_chunked_prefill in additional…
  vllm_ascend/platform.py
Labels: module:core, ready

#852 [Feature] Impl v1 disaggregated prefill in ascend scheduler
  vllm_ascend/core/scheduler.py
Labels: ready

#909 update attention nz and mla nz(Improve TPOP 6ms performance)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/quantization/w8a8.py
Labels: module:quantization, ready

#874 Spec decode support for V1 Engine
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/sample/__init__.py
  tests/sample/test_rejection_sampler.py
  tests/singlecard/spec_decode/e2e/test_v1_spec_decode.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_eagle.py
  vllm_ascend/sample/__init__.py
  vllm_ascend/sample/rejection_sampler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#925 [Feature] Add CustomQwen3MoeForCausalLM model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
Labels: ready

#897 [BugFix] Fix accuracy bugs for unquantized deepseekv3 models
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization, ready

#775 add workflow to build and release wheel
  .github/Dockerfile.buildwheel
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/release_code.yml
  .github/workflows/release_whl.yml
  tools/actionlint.sh
Labels: ci/build, module:tools, ready

#961 [WIP][BugFix]Fix accuracy issues caused by wrong etp_size passed into FusedMoEParallelConfig when using vLLM 0.9.0
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#964 [Doc][0.7.3] Improve sleep documentation
  docs/source/installation.md
Labels: documentation

#959 [CI] upgrade to vllm 0.9.0
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  tests/long_term/spec_decode/e2e/conftest.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_9_0/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_9_0/__init__.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, ready, long-term-test, ready-for-test

#889 [CI/UT][PD Disaggreate] Initialize PD Disaggreate UT
  .github/workflows/vllm_ascend_test_pd.yaml
  examples/disaggregated_prefill/disaggregated_prefill_offline.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  packages.txt
  requirements-dev.txt
  tests/e2e/pd_disaggreate/setup_pd.sh
  tests/e2e/pd_disaggreate/test_pd_e2e.py
  tests/e2e/run_disagg_pd.sh
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
Labels: module:tests, pd-test, ready-for-test

#966 [Perf] Refactor tensor disposal logic to reduce memory usage
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core, module:quantization, ready

#958 [Bugfix][V1] Fix deepseek with v1
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

#1009 add doc for offline quantization inference
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

#1008 [doc] add 0.7.3.post1 release note
  README.md
  docs/source/_templates/sections/header.html
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#1010 [Doc][0.7.3] Add release note for 0.7.3.post1
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation
