Repository vllm-project/vllm-ascend, pull requests merged in 2025-06, with the labels that each got.

#1039 [CI][Benchmark] Optimize performance benchmark workflow
  .github/workflows/nightly_benchmarks.yaml
  benchmarks/requirements-bench.txt
  benchmarks/scripts/convert_json_to_markdown.py
  benchmarks/scripts/patch_benchmark_dataset.py
  benchmarks/scripts/perf_result_template.md
  benchmarks/scripts/run-performance-benchmarks.sh
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: ready-for-test

#1012 feat: support data parallel for deepseek
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core, module:quantization, ready

#905 [Bugfix] Fix deepseek percision issue and add acc ci for it
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/conftest.py
  tests/long_term/test_deepseek_v2_lite_tp2_accuracy.py
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization, long-term-test, ready-for-test

#1070 Add vLLM Ascend project governance docs
  docs/source/community/contributors.md
  docs/source/community/governance.md
  docs/source/index.md
Labels: documentation

#1029 [Misc] Refactor additional_config
  .github/workflows/vllm_ascend_test.yaml
  docs/source/index.md
  docs/source/user_guide/additional_config.md
  examples/dp_offline/data_parallel.py
  tests/long_term/spec_decode/e2e/conftest.py
  tests/long_term/spec_decode/e2e/test_mtp_correctness.py
  tests/multicard/test_dynamic_npugraph_batchsize.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_aclgraph.py
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops, module:core, module:quantization, ready

#947 [perf]Support MOE Multi-stream in Deepseek
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:core, module:quantization

#1013 [ModelRunner]Add profile execute duration observation
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/profile_execute_duration.md
  tests/singlecard/test_profile_execute_duration.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core, ready

#1102 [Misc] fix initialize_kv_cache
  tests/singlecard/test_scheduler.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#1092 [BugFix] Fix ascend config check
  docs/source/user_guide/additional_config.md
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core

#987 [Kernel] Remove cumsum in groupedmatmul
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, ready

#916 [ModelRunner] Support embedding inputs
  .github/workflows/vllm_ascend_test.yaml
  examples/prompt_embedding_inference.py
  tests/singlecard/test_prompt_embedding.py
  tests/utils.py
  vllm_ascend/worker/model_runner.py
Labels: module:tests, ready

#1097 [Misc] Adjust the default profiler configuration
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: ready

#1083 [Doc] Add graph mode user doc
  docs/source/index.md
  docs/source/user_guide/graph_mode.md
Labels: documentation, ready

#1067 [CI]Moe alltoall communication optimization
  vllm_ascend/envs.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops, module:core

#1091 Avoid unfused Transpose in DeepSeekV3 EP256 MoE layer
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:core

#941 [perf]: support dual-batch overlap(dbo) for deepseek
  examples/offline_dualbatch_overlap_npu.py
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/multistream/__init__.py
  vllm_ascend/multistream/base.py
  vllm_ascend/multistream/context.py
  vllm_ascend/multistream/decorator.py
  vllm_ascend/multistream/layers.py
  vllm_ascend/multistream/metadata.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, module:core, ready

#736 Add qwen2.5 vl multimodal feature for vllm-ascend v1
  tests/singlecard/test_offline_inference.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, ready, ready-for-test

#1112 Fix typo of VLLM_ASCEND_ENABLE_TOPK_OPTIMIZE
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  vllm_ascend/envs.py
  vllm_ascend/patch/worker/patch_common/patch_sampler.py
Labels: module:tests, module:core

#1121 [Build] Move numba/quart to requirments and update DS baseline and sync graph typo fix
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/long_term/test_deepseek_v2_lite_tp2_accuracy.py
  tests/singlecard/compile/test_simple.py
  vllm_ascend/compilation/piecewise_backend.py
Labels: module:tests, ready, long-term-test, ready-for-test

#1123 [Bugfix] Set `ACL_OP_INIT_MODE` env var default to `0`
  vllm_ascend/envs.py
Labels: module:core, ready

#1016 [Patch] Remove `spec_decode.metrics` patch
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_metrics.py
Labels: long-term-test, ready-for-test

#1124 Init vLLM Ascend maintainers info
  docs/source/community/contributors.md
  docs/source/community/governance.md
Labels: documentation

#1129 [CI] Fix PD job
  tests/e2e/common.sh
  tests/e2e/pd_disaggreate/setup_pd.sh
  tests/e2e/run_disagg_pd.sh
Labels: module:tests, pd-test, ready-for-test

#1106 [Doc] Add 0.9.0rc1 release note
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation, ready

#1148 Update 0.9.0rc1 contributors info
  docs/source/community/contributors.md
Labels: documentation

#1078 [CI] Make accuarcy CI and report work
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
  docs/source/developer_guide/evaluation/accuracy_report/index.md
  docs/source/developer_guide/evaluation/index.md
Labels: documentation, ready-for-test, accuracy-test

#1152 [Bugfix] add compilation/__init__.py to fix import error
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/graph_mode.md
  docs/source/user_guide/release_notes.md
  vllm_ascend/compilation/__init__.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation

#1132 [CI] Run e2e after pre check pass
  .github/workflows/codespell.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
  vllm_ascend/patch/__init__.py
Labels: ci/build

#1145 [CI] rename Qwen2.5-0.5B-Instruct-W8A8 model
  tests/singlecard/test_offline_inference.py
Labels: module:tests

#1163 [CI] Skip test_v1_spec_decode.py::test_ngram_correctness to make longterm CI pass
  .github/workflows/vllm_ascend_test_long_term.yaml
Labels: long-term-test, ready-for-test

#1113 provide an e2e guide for execute duration profiling
  docs/source/developer_guide/evaluation/profile_execute_duration.md
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, ready

#1159 [Doc] Fix the config parameter name "enable" in graph_mode.md.
  docs/source/user_guide/graph_mode.md
Labels: documentation

#1098 Enable kvcache_nz for the decode process in torchair graph mode
  docs/source/user_guide/additional_config.md
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
Labels: documentation, module:core

#943 [Scheduler][MTP] Add support for speculative decoding in AsecendScheduler.
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/core/__init__.py
  tests/singlecard/core/test_ascend_scheduler.py
  tests/singlecard/core/test_ascend_scheduler_e2e.py
  vllm_ascend/core/scheduler.py
Labels: module:tests

#1192 [Doc] Add Referer header for CANN package download url.
  docs/source/installation.md
Labels: documentation

#1135 Support multistream of MLA vector operations
  docs/source/user_guide/additional_config.md
  tests/singlecard/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: documentation, module:tests, module:core

#1203 Add ShouJian Zheng (@jianzs) as vLLM Ascend maintainer
  docs/source/community/contributors.md
Labels: documentation

#1103 [CI/UT][Graph] Add ut for torchair graph mode
  docs/source/user_guide/additional_config.md
  docs/source/user_guide/graph_mode.md
  tests/conftest.py
  tests/multicard/test_torchair_graph_mode.py
Labels: documentation, module:tests

#1172 vllm-ascend support chunked prefill
  docs/source/user_guide/additional_config.md
  tests/singlecard/test_chunked.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core, long-term-test, ready-for-test

#1226 [Doc] fix VLLM_USE_V1 value in graph mode docs
  docs/source/user_guide/graph_mode.md
Labels: documentation

#1224 [Doc] Refactor and init user story page
  docs/source/community/user_stories/index.md
  docs/source/community/user_stories/llamafactory.md
  docs/source/index.md
  docs/source/user_stories/example.md
  docs/source/user_stories/index.md
Labels: documentation

#1229 [refactor] Refactoring AscendFusedMoE
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core, module:quantization, ready

#1267 [Bugfix] fix rope sin/cos cache bug
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

#1264 [v0.9.1][refactor] Refactoring AscendFusedMoE (#1229)
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core, module:quantization

#1269 [v0.9.1][bugfix] fix deepseek with mc2
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#1268 [bugfix] fix deepseek with mc2
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#1271 [Bugfix][Spec Decode][0.9.1] Enable `ACL_OP_INIT_MODE=1` directly only when using V0 spec decode
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:core

#1296 Disaggregate prefill for kv cache register style （merge into v0.9.1-dev）
  .github/workflows/vllm_ascend_test_pd.yaml
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/gen_ranktable.py
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  examples/disaggregate_prefill_v1/run_server.sh
  examples/disaggregate_prefill_v1/toy_proxy_server.py
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  tests/e2e/pd_disaggreate/test_edge_cases.py
  tests/ut/kv_connector/test_llmdatadist_connector.py
  tests/ut/kv_connector/test_remote_decode_lifecycle.py
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/attention.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
  vllm_ascend/soc_info.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops, module:core, pd-test

#1293 [UT] refactor test_expert_load_balancer and fix broken CI
  tests/e2e/singlecard/core/test_ascend_scheduler.py
  tests/e2e/singlecard/test_scheduler.py
  tests/ut/ops/test_expert_load_balancer.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#1206 Add user guide for quantization
  docs/source/index.md
  docs/source/user_guide/quantization.md
Labels: documentation, ready

#1314 [CI] Add codespell check for doc
  .github/doc_codespell.yaml
  docs/source/user_guide/quantization.md
Labels: documentation

#1204 Support Pangu Pro MoE model
  vllm_ascend/models/__init__.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#1323 [v0.9.1-dev][CI/UT][bugfix]fix v0 spec decode
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/long_term/spec_decode_v0/__init__.py
  tests/long_term/spec_decode_v0/conftest.py
  tests/long_term/spec_decode_v0/e2e/__init__.py
  tests/long_term/spec_decode_v0/e2e/conftest.py
  tests/long_term/spec_decode_v0/e2e/test_eagle_correctness.py
  tests/long_term/spec_decode_v0/e2e/test_medusa_correctness.py
  tests/long_term/spec_decode_v0/e2e/test_mlp_correctness.py
  tests/long_term/spec_decode_v0/e2e/test_mtp_correctness.py
  tests/long_term/spec_decode_v0/e2e/test_ngram_correctness.py
  tests/long_term/spec_decode_v0/test_dynamic_spec_decode.py
  tests/long_term/spec_decode_v0/test_multi_step_worker.py
  tests/long_term/spec_decode_v0/test_ngram_worker.py
  tests/long_term/spec_decode_v0/test_spec_decode_worker.py
  tests/long_term/spec_decode_v0/test_utils.py
  tests/long_term/spec_decode_v0/utils.py
  tests/long_term/spec_decode_v1/test_v1_mtp_correctness.py
  tests/long_term/spec_decode_v1/test_v1_spec_decode.py
  tests/long_term/test_deepseek_v2_lite_tp2_accuracy.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: module:tests, ready, long-term-test, ready-for-test

#1275 [0.9.1][Feature] Support Qwen3 W4A8 quantization
  tests/multicard/test_model_qwen3_w4a8.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

#1346 update torch_npu in vllm-ascend to dev20250619
  README.md
  README.zh.md
  docs/source/installation.md
  requirements.txt
Labels: documentation, dependencies

#1311 [0.9.1][Bugfix] fix oom issue in mla and enable mla_pa for deepseek mla decode
  examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/gen_ranktable.sh
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: documentation, module:core, module:quantization

#1349 Bump v0.9.1rc1 release
  .github/workflows/nightly_benchmarks.yaml
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_moge.md
  docs/source/tutorials/single_node_300i.md
  docs/source/user_guide/graph_mode.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#1352 Cleanup ununsed doc
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_moge.md
  docs/source/tutorials/single_node_300i.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#1357 [Doc] Change not to no in faqs.md
  docs/source/faqs.md
Labels: documentation

#1347 update torch-npu to 2.5.1.post1.dev20250619
  README.md
  README.zh.md
  docs/source/installation.md
  requirements.txt
Labels: documentation, dependencies

#1321 [CI/UT][bugfix] fix v0 spec decode
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/e2e/long_term/spec_decode_v0/__init__.py
  tests/e2e/long_term/spec_decode_v0/conftest.py
  tests/e2e/long_term/spec_decode_v0/e2e/__init__.py
  tests/e2e/long_term/spec_decode_v0/e2e/conftest.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_eagle_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_medusa_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_mlp_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_mtp_correctness.py
  tests/e2e/long_term/spec_decode_v0/e2e/test_ngram_correctness.py
  tests/e2e/long_term/spec_decode_v0/test_dynamic_spec_decode.py
  tests/e2e/long_term/spec_decode_v0/test_multi_step_worker.py
  tests/e2e/long_term/spec_decode_v0/test_ngram_worker.py
  tests/e2e/long_term/spec_decode_v0/test_spec_decode_worker.py
  tests/e2e/long_term/spec_decode_v0/test_utils.py
  tests/e2e/long_term/spec_decode_v0/utils.py
  tests/e2e/long_term/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/long_term/spec_decode_v1/test_v1_spec_decode.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: module:tests, ready, long-term-test, ready-for-test

#1312 [CI] Update guided decoding ut
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests, long-term-test, ready-for-test

#1303 [Doc] Add reinstall instructions doc
  docs/source/faqs.md
Labels: documentation

#1361 [V0.9.1][Bugfix] Remove schedulre patch for disaggregated PD
  examples/disaggregate_prefill_v1/README.md
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_scheduler.py
Labels: documentation, module:tests

#1313 [CI/UT] Fix disaggregated prefill ci
  .github/workflows/vllm_ascend_test_pd.yaml
  tests/e2e/pd_disaggreate/setup_pd.sh
Labels: module:tests, pd-test, ready-for-test

#1360 [Doc] Update FAQ and add test guidance
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/testing.md
  docs/source/faqs.md
  docs/source/index.md
Labels: documentation, ready

#1273 [DP] Tiny fix of dp and update example
  .github/workflows/vllm_ascend_test.yaml
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  examples/offline_data_parallel.py
  tests/e2e/multicard/test_data_parallel.py
  tests/multicard/test_data_parallel.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

#1414 [Doc] Add patch doc
  docs/source/community/versioning_policy.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/index.md
Labels: documentation

#1288 [CI]Update accuracy report test
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
Labels: ready-for-test, dense-accuracy-test

#1424 [Doc] Fix doc typo
  .github/ISSUE_TEMPLATE/110-user-story.yml
  README.md
  README.zh.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/user_guide/additional_config.md
  docs/source/user_guide/graph_mode.md
Labels: documentation

#1194 adjusting the communication method in graph mode
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, long-term-test, ready-for-test

#1416 [Bugfix] Reset all unused positions to prevent out-of-bounds in GatherV3
  vllm_ascend/worker/model_runner_v1.py
Labels: ready

#1322 Handle with_prefill_across_dp for multistream mla
  tests/e2e/multicard/test_torchair_graph_mode.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: module:tests

#1423 [CI/UT][BugFix] Fix sampling params
  tests/multicard/test_model_qwen3_w4a8.py
Labels: module:tests

#1409 [v0.9.1][perf] add a switch for enabling NZ layout in weights and enable NZ for GMM.
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
Labels: module:core, module:quantization

#1371 [Doc] Add qwen2-audio eager mode tutorial
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_audio.md
  examples/offline_inference_audio_language.py
Labels: documentation

#1397 [v0.9.1][Bugfix] Reset all unused positions to prevent out-of-bounds in GatherV3
  vllm_ascend/worker/model_runner_v1.py
Labels: ready-for-test

#1460 [CI/UT] Add ut for parallel_state.py
  tests/ut/distributed/test_parallel_state.py
Labels: module:tests

#1452 Optimize Patch developer guide
  docs/source/developer_guide/feature_guide/patch.md
Labels: documentation

#1426 [Doc] Add guidance on how to implement and register new models
  docs/source/developer_guide/modeling/adding_a_new_model.md
  docs/source/developer_guide/modeling/adding_a_new_multimodal_model.md
  docs/source/developer_guide/modeling/index.md
  docs/source/index.md
Labels: documentation

#1483 [PromptLogprobs][V1] Support prompt logprobs to fix ceval accuracy in V1
  vllm_ascend/worker/model_runner_v1.py
Labels: ready-for-test, dense-accuracy-test

#1421 [PERF]support MERRouter
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#1477 support pangumoe w8a8c8 and docs
  docs/source/user_guide/additional_config.md
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:core, module:quantization

#1446 [Core] Fix block table shape to make Prefix cache work with Ascend scheduler
  vllm_ascend/attention/attention_v1.py
Labels: ready, no-test

#1516 Add Pangu MoE Pro for 300I series docs
  docs/source/tutorials/single_node_300i.md
Labels: documentation

#1359 [V1][ModelRunner] Support pooling model for v1 engine
  .github/workflows/vllm_ascend_test.yaml
  examples/offline_embed.py
  requirements-dev.txt
  tests/conftest.py
  tests/e2e/singlecard/test_embedding.py
  tests/ut/worker/test_input_batch.py
  tests/utils.py
  vllm_ascend/pool/metadata.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

#1499 [Doc] Add Structured Output guide
  docs/source/index.md
  docs/source/user_guide/images/structured_output_1.png
  docs/source/user_guide/structured_output.md
Labels: documentation

#1513 [CI] change to new ds model
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_torchair_graph_mode.py
Labels: module:tests

#1524 [Benchmark] Refactor perf script to use benchmark cli
  .github/workflows/nightly_benchmarks.yaml
  benchmarks/README.md
  benchmarks/scripts/patch_benchmark_dataset.py
  benchmarks/scripts/run-performance-benchmarks.sh
  benchmarks/tests/serving-tests.json
Labels: documentation
