Repository vllm-project/vllm-ascend, pull requests merged in 2025-03, with the labels that each got.

#203 [v0.7.3] Recover vllm-ascend dev image
  .github/workflows/image.yml
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.CI
  docs/source/conf.py
  docs/source/installation.md
  pyproject.toml
  requirements.txt
Labels: documentation, ci/build

#215 [Followup] remove v prefix in pip_vllm_version
  docs/source/conf.py
Labels: documentation

#217 Add Document Branch Policy
  docs/source/developer_guide/versioning_policy.md
  docs/source/developer_guide/versioning_policy.zh.md
Labels: documentation

#209 Recover vllm-ascend dev image
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
  pta_install.sh
Labels: documentation

#202 [Dist] Set device as rank
  vllm_ascend/communicator.py
Labels: module:core

#219 [Dist] Set device as rank
  vllm_ascend/communicator.py
Labels: module:core

#228 [BugFix] Add transfer_to_npu in worker.py to replace hard-code 'cuda' in vllm.
  vllm_ascend/worker.py
Labels: module:core

#234 [Doc] Update Feature Support doc
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#229 [Core] Support pooling
  docs/source/user_guide/suppoted_features.md
  vllm_ascend/attention.py
  vllm_ascend/platform.py
  vllm_ascend/worker/__init__.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/pooling_model_runner.py
  vllm_ascend/worker/worker.py
Labels: documentation, module:core

#238 Cherry pick from main
  docs/source/user_guide/suppoted_features.md
  vllm_ascend/attention.py
  vllm_ascend/platform.py
  vllm_ascend/worker/__init__.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/pooling_model_runner.py
  vllm_ascend/worker/worker.py
Labels: documentation, module:core

#204 [Performance] Change the shape of kv_cache to avoid view of k_cache and v_cache.
  vllm_ascend/attention.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/worker/worker.py
Labels: module:core, module:quantization

#242 [Fix] Remove npu_group_topk before CANN version update
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#236 v0.7.3 Add MTP support for deepseek
  vllm_ascend/attention.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/patch_metrics.py
  vllm_ascend/patch/patch_rejection_sampler.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:core

#249 [Fix] Remove npu_group_topk before CANN version update.
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#247 [Doc] Add initial FAQs
  docs/source/faqs.md
  docs/source/index.md
Labels: documentation

#243 [Feature] Modify description and api for ascend quantization
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

#251 [CI] Add dispatch job to leverage dynamic devices
  .github/workflows/vllm_ascend_test.yaml
  tests/test_offline_inference.py
Labels: module:tests

#241 register qwen2_vl to rewrite qwen2_vl forwad
  setup.py
  vllm_ascend/__init__.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_vl.py
Labels: module:core

#263 Cherry pick main to 0.7.3-dev
  setup.py
  vllm_ascend/__init__.py
  vllm_ascend/attention.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_vl.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/worker/worker.py
Labels: module:core, module:quantization

#266 [v0.7.3-dev][CI/Build] update pta
  .github/workflows/vllm_ascend_test.yaml
  docs/source/installation.md
  pta_install.sh
Labels: documentation

#268 [v0.7.3][CI/Build] Bump torch_npu to dev20250307.3
  README.md
  README.zh.md
  docs/source/installation.md
  docs/source/tutorials.md
Labels: documentation

#269 [Doc] Update code block
  docs/source/tutorials.md
Labels: documentation

#270 [v0.7.3][CI] Add dispatch job to leverage dynamic devices (#251)
  .github/workflows/vllm_ascend_test.yaml
  tests/test_offline_inference.py
Labels: module:tests

#276 Bump torch_npu version to dev20250308.3
  .github/workflows/vllm_ascend_test.yaml
  README.md
  README.zh.md
  docs/source/installation.md
  pta_install.sh
Labels: documentation

#277 [v0.7.3] Bump torch_npu version to dev20250308.3
  .github/workflows/vllm_ascend_test.yaml
  README.md
  README.zh.md
  docs/source/installation.md
  pta_install.sh
Labels: documentation

#279 Adapt vLLM requirements changes to fix main CI
  .github/workflows/mypy.yaml
  README.md
  README.zh.md
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/contributing.zh.md
Labels: documentation

#271 [Docs] Re-arch on doc and make QwQ doc work
  docs/source/conf.py
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/contributing.zh.md
  docs/source/index.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
Labels: documentation

#287 [Doc] Change distributed_executor_backend to mp
  docs/source/tutorials/multi_npu.md
Labels: documentation

#288 [v0.7.3][Doc] Change distributed_executor_backend to mp
  docs/source/tutorials/multi_npu.md
Labels: documentation

#293 [Platform][Model Runner] Add hash of request_ids; Change blocksize back to 128.
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
Labels: module:core

#300 0.7.3 multi step no tests
  vllm_ascend/attention.py
  vllm_ascend/platform.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/multi_step_worker.py
Labels: module:core

#121 [Feature] Implement EP-compatible fused_moe
  tests/ops/test_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

#290 [Attn] Support encoder-only attention with torch sdpa
  vllm_ascend/attention.py
Labels: module:core

#306 remove useless config
  vllm_ascend/platform.py
Labels: module:core

#275 [BugFix] Fix bugs when using ascend quantization
  vllm_ascend/attention.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
Labels: module:core, module:quantization

#307 [BugFix]cherry-pick from main to v0.7.3-dev
  vllm_ascend/attention.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
Labels: module:core, module:quantization

#317 [v0.7.3][Doc] Add Single NPU (Qwen2.5-VL-7B) tutorial (#311)
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

#319 [Doc]Fix tutorial doc expression
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
Labels: documentation

#285 [Doc] Add the release note for 0.7.3rc1
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#325 Cherry pick doc change from main
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/supported_models.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#326 add multistep user_guide and fix multistep bug
  docs/source/user_guide/suppoted_features.md
  vllm_ascend/worker/multi_step_runner.py
Labels: documentation

#330 [Doc] Fix bugs of installation doc and format tool
  docs/source/installation.md
  format.sh
Labels: documentation

#332 Fix doc issue
  docs/source/installation.md
  format.sh
Labels: documentation

#333 [Doc] Fix release note
  docs/source/user_guide/release_notes.md
Labels: documentation

#334 [Attn][bugfix] fix long seq percision issue
  docs/source/user_guide/release_notes.md
  vllm_ascend/attention.py
Labels: documentation, module:core

#353 [CI] fix race condition problem
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
  tests/ops/test_fused_moe.py
Labels: ci/build, module:tests

#357 [CI] fix race condition problem (#353)
  .github/workflows/actionlint.yml
  .github/workflows/mypy.yaml
  .github/workflows/ruff.yml
  .github/workflows/shellcheck.yml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/yapf.yml
Labels: ci/build

#363 [BugFix]fix w8a8 bug
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
Labels: module:core, module:quantization

#295 [V1][Core] Add support for V1 Engine
  README.md
  docs/source/installation.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
  format.sh
  test.py
  tools/actionlint.sh
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:core, module:tools

#354 remove uselesscodes
  vllm_ascend/attention.py
Labels: module:core

#366 Add vLLM forum info and update readme
  README.md
  README.zh.md
Labels: documentation

#369 Update README and add collect_env info
  README.md
  README.zh.md
  collect_env.py
  format.sh
  test.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation

#74 [Doc]Add benchmark scripts
  benchmarks/README.md
  benchmarks/requirements-bench.txt
  benchmarks/scripts/run-performance-benchmarks.sh
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: documentation

#388 [Doc] Update model support doc (add QwQ-32B)
  docs/source/user_guide/supported_models.md
Labels: documentation

#392 [CI/Build][Doc] upgrade torch-npu to 0320
  .github/workflows/vllm_ascend_test.yaml
  README.md
  README.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/installation.md
  pta_install.sh
  pytest.ini
Labels: documentation

#376 [V1][Core] Add support for V1 Engine on v0.7.3
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#373 [Doc][Model] update LLaVA 1.6 support
  docs/source/user_guide/supported_models.md
Labels: documentation

#400 Add vLLM Ascend Weekly meeting link
  README.md
  README.zh.md
Labels: documentation

#406 [Doc][Attn] upgrade torch-npu to 0320
  .github/workflows/vllm_ascend_test.yaml
  README.md
  README.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/installation.md
  pta_install.sh
  vllm_ascend/attention/__init__.py
  vllm_ascend/attention/attention.py
Labels: documentation

#371 Custom AscendC op support in vllm_ascend
  CMakeLists.txt
  cmake/utils.cmake
  csrc/kernels/pos_encoding_kernels.cpp
  csrc/kernels/types.h
  csrc/kernels/utils.h
  csrc/ops.h
  csrc/torch_binding.cpp
  csrc/utils.h
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.py
  tests/ops/test_rotary_embedding.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

#391 feat: add w8a8_dynamic quant & support deepseek quant
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#355 fix multistep bug,remove uselesscodes
  docs/source/user_guide/suppoted_features.md
  vllm_ascend/attention/attention.py
  vllm_ascend/worker/multi_step_runner.py
Labels: documentation

#411 [Bug Fix] Fix bug of platform for parameter checking
  vllm_ascend/platform.py
Labels: module:core

#389 [Core] Make V1 work and enable V1 engine test
  .github/workflows/vllm_ascend_test_main.yaml
  collect_env.py
  tests/ops/test_fused_moe.py
  tests/test_offline_inference.py
  vllm_ascend/attention/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

#419 [Doc] Add 0.7.3rc2 release note
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/installation.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#427 [Doc] Add 0.7.3rc2 release note (#419)
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#368 [Doc]Add developer guide for using OpenCompass
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_opencompass.md
  docs/source/index.md
Labels: documentation

#434 [v0.7.3][Doc]Add developer guide for using OpenCompass (#368)
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_opencompass.md
  docs/source/index.md
Labels: documentation

#430 [Doc] update version to 0.7.3rc2
  docs/source/conf.py
Labels: documentation

#438 [Docs] Add install system dependencies in install doc
  docs/source/installation.md
Labels: documentation
