Repository vllm-project/vllm-ascend, pull requests merged in 2025-04, with the labels that each got.

#450 [Doc]Update feature support matrix
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#456 [Doc]Add developer guide for using lm-eval
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
Labels: documentation

#458 [v0.7.3][Doc]Add developer guide for using lm-eval (#456)
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
Labels: documentation

#425 [1/N][CI/UT] enable spec decode related UT
  .github/workflows/vllm_ascend_test.yaml
  requirements.txt
  tests/spec_decode/__init__.py
  tests/spec_decode/conftest.py
  tests/spec_decode/test_batch_expansion.py
  tests/spec_decode/test_dynamic_spec_decode.py
  tests/spec_decode/test_metrics.py
  tests/spec_decode/test_multi_step_worker.py
  tests/spec_decode/test_ngram_worker.py
  tests/spec_decode/test_spec_decode_worker.py
  tests/spec_decode/test_utils.py
  tests/spec_decode/utils.py
  vllm_ascend/attention/attention.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

#233 [core] Support custom ascendc kernels in vllm-ascend
  .github/workflows/vllm_ascend_test_main.yaml
  CMakeLists.txt
  cmake/utils.cmake
  csrc/kernels/pos_encoding_kernels.cpp
  csrc/kernels/types.h
  csrc/kernels/utils.h
  csrc/ops.h
  csrc/torch_binding.cpp
  csrc/utils.h
  pyproject.toml
  requirements.txt
  setup.py
  tests/ops/test_rotary_embedding.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

#470 [v0.7.3][Docs] Add install system dependencies in install doc (#438)
  docs/source/installation.md
Labels: documentation

#469 [deepseek][bugfix] support deepseek quant
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#465 fix: fix deepseek quant bug
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#416 Add sleep mode feature for Ascend NPU
  csrc/camem_allocator.cpp
  vllm_ascend/__init__.py
  vllm_ascend/device_allocator/__init__.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/patch_config.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#475 [V1][Platform] Add `supports_structured_output()` method to Platform
  vllm_ascend/platform.py
Labels: module:core

#478 [quant][bugfix] fix deepseek quant bug
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#417 [CI] Add new runner and enable QwQ multinpu test
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_main.yaml
  pytest.ini
  tests/conftest.py
  tests/test_offline_inference.py
Labels: module:tests

#474 [2/N][CI/UT] enable spec_decode UT
  requirements-dev.txt
  tests/__init__.py
  tests/spec_decode/e2e/__init__.py
  tests/spec_decode/e2e/conftest.py
  tests/spec_decode/e2e/test_compatibility.py
  tests/spec_decode/e2e/test_integration.py
  tests/spec_decode/e2e/test_integration_dist_tp2.py
  tests/spec_decode/e2e/test_integration_dist_tp4.py
  tests/spec_decode/e2e/test_logprobs.py
  tests/spec_decode/e2e/test_medusa_correctness.py
  tests/spec_decode/e2e/test_mlp_correctness.py
  tests/spec_decode/e2e/test_ngram_correctness.py
  tests/spec_decode/e2e/test_seed.py
  tests/test_offline_inference.py
  tests/utils.py
Labels: module:tests

#489 Add openEuler based container image for vLLM Ascend
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
  docs/source/quick_start.md
Labels: documentation, ci/build

#466 [CI] enable custom ops build
  .github/actionlint.yaml
  .github/workflows/actionlint.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  Dockerfile.openEuler
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  format.sh
  pta_install.sh
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  tools/actionlint.sh
  tools/shellcheck.sh
  vllm_ascend/envs.py
Labels: documentation, ci/build, module:tests, module:core, module:tools

#504 [Doc] Update FAQ doc
  docs/source/faqs.md
Labels: documentation

#509 [Build] Update doc
  docs/source/developer_guide/contributing.md
  docs/source/installation.md
Labels: documentation

#515 [MISC] fix logger
  tests/conftest.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core, module:quantization

#529 [Doc] Update release date
  docs/source/developer_guide/versioning_policy.md
Labels: documentation

#432 [Feature] Add PD separation feature
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/communicator.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#519 [Doc] Add environment variables doc
  docs/source/index.md
  docs/source/user_guide/env_vars.md
  vllm_ascend/envs.py
Labels: documentation, module:core

#512 [V1] Add v0 style schedule into v1 engine.
  tests/test_scheduler.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/core/__init__.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/core/v1_engine_core_init.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

#531 [V1][Platform] Remove `supports_structured_output()` in platform
  vllm_ascend/platform.py
Labels: module:core

#534 [Doc] update faq about w8a8
  docs/source/faqs.md
Labels: documentation

#538 [Doc] update faq about progress bar display issue
  docs/source/faqs.md
Labels: documentation

#539 add pd separation feature to branch v073
  examples/offline_disaggregated_prefill_npu.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/communicator.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#536 [Doc]Update faq
  docs/source/faqs.md
Labels: documentation

#521 [Platform][Worker][ModelRunner] Add LoRA & Multi-LoRA support
  vllm_ascend/lora/punica_wrapper/punica_npu.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:core

#552 [Model][Doc] Update model support list
  docs/source/user_guide/supported_models.md
Labels: documentation

#500 [SpecDecode] Add spec decode support
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/__init__.py
  tests/multicard/test_offline_inference_distributed.py
  tests/ops/__init__.py
  tests/singlecard/__init__.py
  tests/singlecard/spec_decode/__init__.py
  tests/singlecard/spec_decode/conftest.py
  tests/singlecard/spec_decode/e2e/__init__.py
  tests/singlecard/spec_decode/e2e/conftest.py
  tests/singlecard/spec_decode/e2e/test_medusa_correctness.py
  tests/singlecard/spec_decode/e2e/test_mlp_correctness.py
  tests/singlecard/spec_decode/e2e/test_ngram_correctness.py
  tests/singlecard/spec_decode/test_dynamic_spec_decode.py
  tests/singlecard/spec_decode/test_multi_step_worker.py
  tests/singlecard/spec_decode/test_ngram_worker.py
  tests/singlecard/spec_decode/test_spec_decode_worker.py
  tests/singlecard/spec_decode/test_utils.py
  tests/singlecard/spec_decode/utils.py
  tests/singlecard/test_offline_inference.py
  tests/utils.py
  vllm_ascend/attention/attention.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_metrics.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/worker/draft_model_runner.py
Labels: module:tests

#487 [3/N][CI/UT] add spec decode e2e UT && [BUGFIX] fix init_logger bug
  .github/workflows/vllm_ascend_test.yaml
  tests/conftest.py
  tests/spec_decode/e2e/test_eagle_correctness.py
  tests/spec_decode/e2e/test_mtp_correctness.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/patch/patch_spec_decode_worker.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core, module:quantization

#563 [Misc] Fix import error and address nits to make CI happy
  .github/workflows/mypy.yaml
  .github/workflows/vllm_ascend_test.yaml
  vllm_ascend/attention/attention.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#513 Add sleep mode feature for Ascend NPU
  CMakeLists.txt
  csrc/camem_allocator.cpp
  setup.py
  tests/singlecard/test_camem.py
  vllm_ascend/__init__.py
  vllm_ascend/device_allocator/__init__.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/envs.py
  vllm_ascend/patch/platform/patch_0_8_4/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_config.py
  vllm_ascend/platform.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

#561 [Doc] Update FAQ doc
  docs/source/faqs.md
Labels: documentation

#557 [Doc] Add release note for 0.8.4rc1
  README.md
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#568 [Doc][Build] Update build doc and faq
  docs/source/faqs.md
  docs/source/installation.md
Labels: documentation

#570 [Doc] Update doc for custom ops build
  docs/source/installation.md
Labels: documentation

#576 [Doc] Update v0.8.4 release note, add contents for structured output feature
  docs/source/user_guide/release_notes.md
Labels: documentation

#429 port deepseekv2 and mtp to main branch
  examples/disaggregated_prefill_hccl.py
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  examples/offline_inference_npu_v1.py
  tests/conftest.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/attention.py
  vllm_ascend/ops/cache.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_distributed.py
  vllm_ascend/patch/platform/patch_main/__init__.py
  vllm_ascend/patch/platform/patch_main/patch_distributed.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/__init__.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core, module:quantization

#580 [quantization] Support w8a8 quantization
  docs/source/installation.md
  tests/singlecard/test_offline_inference.py
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: documentation, module:tests, module:quantization

#559 [0.7.3][V1] Support the feature of prefix cache in v1
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core

#586 [Docker] Fix openEuler image suffix
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

#535 [0.7.3] Update patch timing and CMake to adjust to more user envs
  CMakeLists.txt
  setup.py
  vllm_ascend/__init__.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/envs.py
  vllm_ascend/platform.py
Labels: module:core

#593 [BUGFIX] main-sd-bugfix && [UT] add mtp UT
  .github/workflows/vllm_ascend_test.yaml
  tests/singlecard/spec_decode/e2e/test_mtp_correctness.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/patch/worker/patch_common/patch_spec_decode_worker.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/worker/draft_model_runner.py
Labels: module:tests, module:quantization

#560 [0.7.3][5/N][CI/UT]add spec decode e2e UT && [BUGFIX]fix chunk prefill bug
  .github/workflows/vllm_ascend_test.yaml
  tests/spec_decode/e2e/test_eagle_correctness.py
  tests/spec_decode/e2e/test_multistep_correctness.py
  vllm_ascend/attention/attention.py
Labels: module:tests

#596 [Doc] Update installation
  docs/source/installation.md
Labels: documentation

#590 Add note for deepseek related docs and remove unnecessary comments
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_distributed.py
  vllm_ascend/patch/platform/patch_main/patch_distributed.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops

#602 fix doc to mention env setting for v0.7.3-dev
  docs/source/installation.md
Labels: documentation

#422 [CI]Add guided decoding test
  requirements-dev.txt
  tests/singlecard/test_guided_decoding.py
Labels: module:tests

#611 Using EvalScope evaluation
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_evalscope.md
Labels: documentation

#585 support deepseek quant & mix-parallel with graphmode
  examples/dp_offline/data_parallel.py
  examples/dp_offline/run_dp.sh
  vllm_ascend/attention/attention.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/cache_engine.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:ops, module:core, module:quantization

#623 [0.7.3] optimize Qwen2.5 vl vit
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/ops/activation.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

#426 support aclgraph
  .github/workflows/vllm_ascend_test.yaml
  csrc/ops.h
  csrc/torch_binding.cpp
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/compile/__init__.py
  tests/compile/test_simple.py
  tests/multicard/test_offline_inference_distributed.py
  tests/singlecard/test_offline_inference.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core

#643 [CI] Add qwen2.5-vl test
  tests/conftest.py
  tests/model_utils.py
  tests/singlecard/test_offline_inference.py
Labels: module:tests

#637 Quick Fix: Enforce eager mode in the V1 engine ahead of the upcoming CANN and torch_npu releases
  tests/multicard/test_offline_inference_distributed.py
  tests/ops/test_fused_moe.py
  tests/singlecard/test_offline_inference.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

#650 [Doc] Update feature support list
  docs/source/developer_guide/contributing.zh.md
  docs/source/developer_guide/versioning_policy.zh.md
  docs/source/user_guide/suppoted_features.md
Labels: documentation

#665 [v0.7.3] Add openEuler based container image
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
Labels: ci/build

#606 [0.7.3] Use env for soc during compilation
  setup.py
  vllm_ascend/envs.py
Labels: module:core

#661 [BUILD] Upgrade torch-npu to 2.5.1
  .github/workflows/mypy.yaml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/developer_guide/versioning_policy.md
  docs/source/installation.md
  pta_install.sh
  pyproject.toml
  requirements.txt
  setup.py
  vllm_ascend/models/qwen2_vl.py
Labels: documentation

#680 [FOLLOWUP][DOC] Fix pip install cmd in installation.md
  docs/source/installation.md
Labels: documentation

#662 [v0.7.3][Build] Upgrade torch-npu to 2.5.1
  .github/workflows/mypy.yaml
  .github/workflows/vllm_ascend_test.yaml
  CMakeLists.txt
  Dockerfile
  README.md
  README.zh.md
  docs/source/installation.md
  pta_install.sh
  pyproject.toml
  requirements-lint.txt
  requirements.txt
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_vl.py
Labels: documentation

#689 Update openEuler dockerfile for COMPILE_CUSTOM_KERNELS=1
  .github/workflows/image_openeuler.yml
  Dockerfile.openEuler
Labels: ci/build

#651 [MISC] Make vllm version configurable
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  vllm_ascend/envs.py
  vllm_ascend/utils.py
Labels: documentation, module:core

#691 [0.7.3] patch from_seq_group to clear finished seq in seq_id_to_seq_group
  vllm_ascend/patch_outputs.py
  vllm_ascend/platform.py
Labels: module:core

#630 [Doc] Add deepsee-v2-lite w8a8 quantization turorial
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_quantization.md
Labels: documentation

#699 [Doc] Update faqs
  docs/source/faqs.md
Labels: documentation

#704 [Bugfix] Fix triton placeholder patch period
  vllm_ascend/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
Labels: module:core

#678 [Misc] Add v0.7.3 benchmark
  benchmarks/README.md
  benchmarks/requirements-bench.txt
  benchmarks/scripts/run-performance-benchmarks.sh
  benchmarks/tests/latency-tests.json
  benchmarks/tests/serving-tests.json
  benchmarks/tests/throughput-tests.json
Labels: documentation

#695 [Doc] Update v0.7.3 faqs
  docs/source/faqs.md
Labels: documentation

#700 Add LoRA & Multi-LoRA support for V0.7.3 dev by Cherry Pick
  vllm_ascend/lora/__init__.py
  vllm_ascend/lora/punica_wrapper/__init__.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/worker.py
Labels: module:core

#705 [Doc] Add 0.8.4rc2 release note
  docs/source/conf.py
  docs/source/developer_guide/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#711 Update installation and tutorial doc
  docs/source/installation.md
  docs/source/tutorials/single_npu.md
  docs/source/user_guide/supported_models.md
Labels: documentation

#709 [Model] Support common fused moe ops for moe model, such as Qwen3Moe
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:ops

#654 [MISC] fix format check error
  csrc/kernels/pos_encoding_kernels.cpp
  docs/source/faqs.md
  docs/source/installation.md
  examples/disaggregated_prefill_hccl.py
  examples/offline_inference_audio_language.py
  format.sh
  tests/singlecard/spec_decode/e2e/test_medusa_correctness.py
  tests/singlecard/spec_decode/e2e/test_mlp_correctness.py
  tests/singlecard/spec_decode/e2e/test_ngram_correctness.py
  tools/actionlint.sh
  tools/mypy.sh
  vllm_ascend/attention/attention.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/distributed/llmdatadist_connector.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
Labels: documentation, module:tests, module:ops, module:tools

#717 [CI] Add Qwen3-0.6B-Base test
  tests/singlecard/test_offline_inference.py
Labels: module:tests

#598 [Perf] Deepseekv3 performance optimization for eager mode
  tests/ops/test_rotary_embedding.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/platform.py
Labels: module:tests, module:ops, module:core

#688 [MISC] Clean up torch_npu
  examples/dp_offline/data_parallel.py
  tests/multicard/test_pyhccl_distributed.py
  tests/ops/test_rotary_embedding.py
  tests/singlecard/test_camem.py
  tests/singlecard/test_pyhccl.py
  vllm_ascend/attention/attention.py
  vllm_ascend/device_allocator/camem.py
  vllm_ascend/distributed/device_communicators/pyhccl.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/pooling_model_runner.py
Labels: module:tests, module:ops, module:core, module:quantization

#610 [Platform] format platform to make it more clear
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
Labels: module:core

#715 [CI] upgrade vllm to 0.8.5
  .github/workflows/vllm_ascend_test.yaml
  Dockerfile
  Dockerfile.openEuler
  vllm_ascend/__init__.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_8_4/patch_config.py
  vllm_ascend/patch/platform/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/__init__.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_metrics.py
  vllm_ascend/patch/worker/patch_0_8_4/patch_tritonplaceholder.py
  vllm_ascend/patch/worker/patch_0_8_5/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_multi_step_worker.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/multi_step_runner.py
  vllm_ascend/worker/worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#635 [Doc] Add benchmark guide
  benchmarks/requirements-bench.txt
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/performance_benchmark.md
Labels: documentation

#542 [Test] Add accuracy test report workflow
  .github/actionlint.yaml
  .github/workflows/accuracy_report.yaml
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
  docs/source/developer_guide/evaluation/index.md
  docs/source/index.md
Labels: documentation

#719 [Feature] Add quant description file for new quant model generated by modelslim
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#726 [Build][Bugfix] Fix source code path to avoid reference error
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  Dockerfile
  Dockerfile.openEuler
Labels: ci/build

#741 [v0.7.3][Build][Bugfix] Fix source code path to avoid reference error
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
  Dockerfile
  Dockerfile.openEuler
Labels: ci/build

#743 new modelslim quantization model support v0.7.3
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization
