Repository vllm-project/vllm-ascend, pull requests merged in 2025-08, with the labels that each got.

#2132 [Misc] Add warning for incompatible Ray backend with ACL Graph mode
  tests/e2e/singlecard/test_aclgraph.py
  vllm_ascend/platform.py
Labels: module:tests, module:core, ready

#2154 [0.9.1][Fix] Turn off ACL Graph when enabling TorchAir
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#2135 [v0.9.1] Upgrade torch-npu to 2.5.1.post1
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/installation.md
  pyproject.toml
  requirements.txt
Labels: documentation

#2038 [0.9.1][Prefill Perf] add D2H & initRoutingQuantV2
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

#2088 [main][Feature]Moe alltoallv communication optimization for unquantized RL training sence
  .github/workflows/vllm_ascend_test.yaml
  requirements-dev.txt
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/distributed/test_distributed_tensor_parallel.py
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/tensor_parallel.py
  vllm_ascend/envs.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/comm_utils.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/__init__.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops, module:core

#2168 Add qwen-vl model and sampling feature UT for 310I series
  tests/e2e/singlecard/test_offline_inference_310p.py
Labels: module:tests, ready-for-test, e2e-310p-test

#2131 Add ut for envs.py
  tests/ut/test_envs.py
Labels: module:tests

#1856 [MoE][Dist] Fix Qwen MoE accuracy bug in DP scenario
  tests/e2e/long_term/accuracy/accuracy_multicard.py
  tests/e2e/multicard/test_data_parallel.py
  vllm_ascend/distributed/communicator.py
Labels: module:tests, ready-for-test, accuracy-test

#2134 [bugfixed] fix the bug when run the inference of quantized ds-w8a8-mtp
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

#2080 [Bugfix][PD] Make multiple Ps and Ds work on a single machine
  tests/ut/kv_connector/test_llmdatadist_connector.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
Labels: module:tests

#2181 [Bugfix] Follow vLLM Qwen-Moe/VL and KV Connector change to fix broken CI
  tests/ut/kv_connector/test_remote_decode_lifecycle.py
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, ready-for-test, accuracy-test, vllm-break

#2097 [Misc] Nit fix for disaggregated_prefill and ascend_forward_context
  examples/disaggregated_prefill_v1/gen_ranktable.py
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/soc_info.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

#2183 [BugFix] Fix the bug that qwen3 moe doesn't work with aclgraph
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, ready-for-test, accuracy-test

#2084 [Test] add rejection sampler ut
  tests/ut/sample/test_rejection_sampler.py
Labels: module:tests

#2227 [Docs] Sync main doc to v0.9.1-dev
  docs/source/assets/eplb_swift_balancer.png
  docs/source/assets/multi_node_dp.png
  docs/source/community/contributors.md
  docs/source/community/governance.md
  docs/source/community/user_stories/index.md
  docs/source/community/user_stories/llamafactory.md
  docs/source/community/versioning_policy.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
  docs/source/developer_guide/evaluation/index.md
  docs/source/developer_guide/evaluation/using_evalscope.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/developer_guide/evaluation/using_opencompass.md
  docs/source/developer_guide/feature_guide/index.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/modeling/adding_a_new_model.md
  docs/source/developer_guide/modeling/adding_a_new_multimodal_model.md
  docs/source/developer_guide/modeling/index.md
  docs/source/developer_guide/performance/index.md
  docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/faqs.md
  docs/source/index.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/multi_npu_qwen3_moe.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/configuration/additional_config.md
  docs/source/user_guide/configuration/env_vars.md
  docs/source/user_guide/configuration/index.md
  docs/source/user_guide/eplb_swift_balancer.md
  docs/source/user_guide/feature_guide/graph_mode.md
  docs/source/user_guide/feature_guide/images/structured_output_1.png
  docs/source/user_guide/feature_guide/index.md
  docs/source/user_guide/feature_guide/lora.md
  docs/source/user_guide/feature_guide/quantization.md
  docs/source/user_guide/feature_guide/sleep_mode.md
  docs/source/user_guide/feature_guide/structured_output.md
  docs/source/user_guide/release.template.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/support_matrix/index.md
  docs/source/user_guide/support_matrix/supported_features.md
  docs/source/user_guide/support_matrix/supported_models.md
  docs/source/user_guide/suppoted_features.md
  docs/source/user_stories/example.md
  docs/source/user_stories/index.md
Labels: documentation

#2219 [main][Bugfix] Fix unable to load qwen3_moe quantized weights
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/models/qwen3_moe.py
Labels: module:tests

#2172 [main][Feature] Support deepseek w4a8 quantization
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w4a8_dynamic.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

#2152 ut: add example and e2e test for sleepmode in external_launcher
  examples/offline_external_launcher.py
  tests/e2e/multicard/test_external_launcher.py
Labels: module:tests

#2162 [Doc] Support kimi-k2-w8a8
  docs/source/assets/multi_node_dp.png
  docs/source/assets/multi_node_dp_deepseek.png
  docs/source/assets/multi_node_dp_kimi.png
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_node_kimi.md
  docs/source/user_guide/feature_guide/quantization.md
  vllm_ascend/ascend_config.py
Labels: documentation, module:core

#2250 [Bugfix] Disable check vllm init temporary
  tools/check_python_src_init.py
Labels: module:tools

#1325 [Doc] Update user guide for using lm-eval
  docs/source/developer_guide/evaluation/using_lm_eval.md
Labels: documentation

#2249 [Tutorial] Add qwen3 8b w4a8 tutorial
  docs/source/tutorials/index.md
  docs/source/tutorials/single_npu_qwen3_quantization.md
Labels: documentation

#2263 [Doc] Update user guide for suported models
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

#2234 Remove transformer pins for v0.9.1-dev
  tests/e2e/doctests/002-pip-binary-installation-test.sh
Labels: module:tests

#2225 [ReleaseNote] Release note of v0.10.0rc1
  README.md
  README.zh.md
  docs/source/community/contributors.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/support_matrix/supported_features.md
Labels: documentation

#2153 [main] remove torch.cat and replace it by List[0]
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

#2261 Fix accuracy test config and add DeepSeek-V2-Lite test
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/e2e/long_term/accuracy/accuracy_multicard.py
  tests/e2e/long_term/accuracy/accuracy_singlecard.py
  tests/e2e/models/configs/DeepSeek-V2-Lite.yaml
  tests/e2e/models/configs/Qwen2.5-VL-7B-Instruct.yaml
  tests/e2e/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/models/configs/Qwen3-8B-Base.yaml
  tests/e2e/models/configs/accuracy.txt
  tests/e2e/models/conftest.py
  tests/e2e/models/report_template.md
  tests/e2e/models/test_lm_eval_correctness.py
Labels: documentation, module:tests, ready-for-test, accuracy-test

#2274 Fix accuracy test create PR
  .github/workflows/accuracy_test.yaml
Labels: ready-for-test, accuracy-test

#2293 Add ut for test_communicator.py
  tests/ut/distributed/test_communicator.py
Labels: module:tests

#2302 [CI] Fix broken CI
  .github/workflows/vllm_ascend_test.yaml
  pyproject.toml
  requirements.txt
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#2113 [core] Support capture custom ops into aclgraph
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  csrc/utils.h
  tests/e2e/singlecard/ops/test_rotary_embedding.py
  vllm_ascend/meta_registration.py
  vllm_ascend/utils.py
Labels: module:tests, module:core, ready-for-test, accuracy-test

#2137 [Perf][MTP] Optimize reject sampler in greedy situation.
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/ut/sample/test_rejection_sampler.py
  vllm_ascend/sample/rejection_sampler.py
Labels: module:tests

#2198 [main][prefill optimization] Optimize parallel strategies to reduce communication overhead
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
Labels: documentation, module:tests, module:ops, module:core

#2125 [1/N][Feat] Support MoE models with ACL Graph and refactor MoE communication logic
  tests/e2e/multicard/moe/test_moe_comm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core, accuracy-test

#2347 [Doc] Add container image save/load FAQ for offline environments
  docs/source/faqs.md
Labels: documentation

#2312 [v0.9.1][bugfix] fix torchair runtime errror caused by configuration mismtaches and .kv_cache_bytes file missing
  vllm_ascend/ascend_config.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#2193 [Misc] Remove redundant imported `envs`, using `envs_ascend` instead
  tests/ut/patch/worker/patch_common/test_patch_linear.py
  tests/ut/test_envs.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/compilation/piecewise_backend.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/models/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/patch/worker/patch_common/patch_linear.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core, module:quantization

#2339 add document for deepseek large EP
  docs/source/developer_guide/performance/distributed_dp_server_with_large_ep.md
  docs/source/developer_guide/performance/index.md
Labels: documentation

#2367 [Quickfix] update CachedRequestState as NewRequestData changed
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/test_remote_decode_lifecycle.py
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
  tests/ut/kv_connector/utils.py
  tests/ut/worker/test_input_batch.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/patch/platform/__init__.py
  vllm_ascend/patch/platform/patch_0_10_0/__init__.py
  vllm_ascend/patch/worker/__init__.py
  vllm_ascend/patch/worker/patch_0_10_0/__init__.py
  vllm_ascend/patch/worker/patch_0_10_0/patch_sampler_gather_logprobs.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

#2377 [Misc] remove unused file (cache.py)
  vllm_ascend/ops/cache.py
Labels: module:ops

#2394 [bugfix] ascend schedule encountered an incorrect req block length in…
  docs/source/developer_guide/performance/distributed_dp_server_with_large_ep.md
  vllm_ascend/core/scheduler.py
Labels: documentation

#2409 [Bugfix] Fix custom op register issue
  vllm_ascend/platform.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#2017 [3/N][Refactor] Move `torchair_attention` to `torchair` dir
  tests/ut/test_platform.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core, ready-for-test, accuracy-test

#2419 Nominate ApsarasX as vllm-ascend maintainer
  docs/source/community/contributors.md
Labels: documentation

#2433 Nominate Mengqing Cao as vllm-ascend maintainer
  docs/source/community/contributors.md
Labels: documentation

#2448 [misc] remove uesless envs
  vllm_ascend/envs.py
Labels: module:core

#2403 qwen3_moe/qwen25 support torchair graph
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/models/test_qwen3_moe.py
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/torchair/models/qwen2.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/torchair_attention.py
  vllm_ascend/torchair/utils.py
Labels: module:tests, module:ops, module:core

#2450 [PD] Correct the ip and port env
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
Labels: module:core

#2369 refactor allgather/mc2-related fused_experts
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops

#2430 [DOC] update doc: LoRA with ACLGraph
  docs/source/installation.md
  docs/source/user_guide/feature_guide/lora.md
Labels: documentation

#2120 add mlp tp optimze
  tests/ut/ops/test_linear.py
  tests/ut/test_utils.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/envs.py
  vllm_ascend/ops/linear.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

#2432 Add feature branch policy
  .github/ISSUE_TEMPLATE/750-RFC.yml
  README.md
  README.zh.md
  docs/source/community/versioning_policy.md
Labels: documentation

#2478 [Bugfix] Fix the bug that qwen3 moe doesn't work with aclgraph
  tests/multicard/test_qwen3_moe.py
  vllm_ascend/models/qwen3_moe.py
Labels: module:tests

#2484 [QuickFix] Skip failed ut to recover CI quickly
  tests/e2e/singlecard/test_embedding.py
  tests/ut/test_platform.py
Labels: module:tests

#2488 [Doc] Add release note for `v0.9.1rc3`
  docs/source/user_guide/release_notes.md
Labels: documentation

#2385 [CustomOp] Register RotaryEmbedding instead of overwrite forward
  .github/workflows/vllm_ascend_test.yaml
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/test_utils.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core

#2000 [0.9.1]eplb support qwen3-moe
  examples/eplb_generate_map.py
  tests/singlecard/ops/test_fused_moe.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/utils.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops

#2283 [Structured Output][CI] Add test for `outlines` backend for structured output in CI
  tests/e2e/singlecard/test_guided_decoding.py
Labels: module:tests

#2513 [Doc] update vllm version in ci
  docs/source/conf.py
Labels: documentation

#2482 [Refactor] cleanup converting_weight_acl_format_format
  tests/ut/test_utils.py
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

#2530 [CI] Fix broken ci
  tests/ut/core/test_scheduler.py
  tests/ut/worker/test_input_batch.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests

#2527 [CI] Upgrade vllm in accuracy and performance CI
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
Labels: ready-for-test, accuracy-test, performance-test

#2469 [2/N][Feat] Add MC2 communication method for MoE layers
  tests/e2e/multicard/moe/test_moe_comm.py
  tests/ut/distributed/test_communicator.py
  tests/ut/test_utils.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/distributed/communicator.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

#2373 [Qwen-moe] Remove the minor operation arange
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

#2483 [Embedding] Recover embedding function
  tests/e2e/singlecard/test_embedding.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, vllm-break

#2540 [Aclgraph] Update compilation config in `check_and_update_config`
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

#2554 [0.9.1][bugfix] Address abnormal VRAM increase in quantized models with floating-point MTP
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:quantization

#2474 [main] convert the format of gmm to nz
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

#2442 [main][bugfix] Fix bugs and refactor cached mask generation logic
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#2553 [Doc] Upgrade to multi-node tutorial model to deepseek-v3.1-w8a8
  docs/source/tutorials/multi_node.md
Labels: documentation

#2515 [CustomOp] Register VocabParallelEmbedding instead of overwrite forward
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/test_utils.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core, module:quantization

#2535 [4/N][refactor]delete torchair from quantization
  tests/ut/quantization/test_w4a8_dynamic.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:quantization

#2570 [main] [refactor] refactor fused_moe.py to enable token_dispatchers
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:core, module:quantization

#2465 [Refactor][WIP] Refactor mla_v1 by moving all MLA preprocessing ops into mla_v1 attention impl
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/attention/test_mla_v1.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
Labels: documentation, module:tests, module:core

#2560 [Bugfix][LoRA][Patch] Fix the LoRA inference bug after upstream vLLM codebase changed
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_logits.py
Labels: bug

#2609 [Bugfix] Fix mc2 operator error in aclgraph + ep<16 scenario
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops, ready-for-test, accuracy-test

#2614 [3/N][Feat][Graph] Support `all-to-all` and quantized models with ACL Graph
  tests/e2e/multicard/moe/test_moe_comm.py
  tests/e2e/multicard/test_qwen3_moe.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:quantization

#2644 [CI] fix UT error.
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/utils.py
  tests/ut/test_platform.py
Labels: module:tests

#2639 bugfix for torchair graph
  tests/ut/torchair/test_utils.py
  vllm_ascend/torchair/utils.py
Labels: module:tests

#2612 [Refactor][MoE] remove redundant code after refactoring fused_moe
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_common_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/ops/test_token_dispatcher.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, module:core
