Repository vllm-project/vllm-ascend, pull requests merged in 2025-09, with the labels that each got.

#2559 [5/N][refactor]add torchair rotary ops
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/torchair/utils.py
Labels: module:tests, ready

#2581 [6/N][refactor]delete torchair in rotary ops
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops, ready

#2565 [Feat] long_seq_optim support cp&&sp
  examples/offline_inference_npu_128k.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/attention/utils.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops, module:core

#2648 [0.9.1][doc]Update doc for 0.9.1
  docs/source/developer_guide/performance/optimization_and_tuning.md
  docs/source/faqs.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/multi_npu_qwen3_moe.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/feature_guide/graph_mode.md
  docs/source/user_guide/feature_guide/lora.md
  docs/source/user_guide/feature_guide/quantization.md
  docs/source/user_guide/feature_guide/sleep_mode.md
  docs/source/user_guide/feature_guide/structured_output.md
  docs/source/user_guide/support_matrix/supported_features.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

#2595 [v0.9.1][Doc]Large Scale Ep doc update
  docs/source/developer_guide/performance/distributed_dp_server_with_large_ep.md
  docs/source/developer_guide/performance/index.md
  docs/source/tutorials/index.md
  docs/source/tutorials/large_scale_ep.md
  docs/source/user_guide/configuration/additional_config.md
Labels: documentation

#2637 Add ut for mla
  tests/ut/attention/test_mla_v1.py
Labels: module:tests

#2641 support torchair mode
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core

#2276 Refactor e2e CI
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  tests/e2e/310p/test_offline_inference_310p.py
  tests/e2e/310p/test_offline_inference_parallel_310p.py
  tests/e2e/conftest.py
  tests/e2e/model_utils.py
  tests/e2e/multicard/test_data_parallel.py
  tests/e2e/multicard/test_dynamic_npugraph_batchsize.py
  tests/e2e/multicard/test_expert_parallel.py
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_ilama_lora_tp2.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_pipeline_parallel.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/multicard/test_pyhccl_distributed.py
  tests/e2e/multicard/test_qwen3_moe.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/compile/__init__.py
  tests/e2e/singlecard/compile/test_simple.py
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/e2e/singlecard/ops/test_moe_comm.py
  tests/e2e/singlecard/ops/test_rotary_embedding.py
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
  tests/e2e/singlecard/quant/test_w8a8.py
  tests/e2e/singlecard/sample/__init__.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
  tests/e2e/singlecard/test_aclgraph.py
  tests/e2e/singlecard/test_ascend_scheduler.py
  tests/e2e/singlecard/test_camem.py
  tests/e2e/singlecard/test_chunked.py
  tests/e2e/singlecard/test_embedding.py
  tests/e2e/singlecard/test_guided_decoding.py
  tests/e2e/singlecard/test_ilama_lora.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_profile_execute_duration.py
  tests/e2e/singlecard/test_quantization.py
  tests/e2e/singlecard/test_sampler.py
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests

#2632 [V1][BUGFIX][0.10.1] FIX mtp on main branch
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

#2672 [Bugfix][LoRA][Operator] Fix LoRA custom operators accuracy issue
  .github/workflows/vllm_ascend_test.yaml
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/kernels/sgmv_expand.cpp
  csrc/kernels/sgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
Labels: ready

#2663 [Misc] Clean up uesless code in rotary_embedding
  tests/ut/ops/test_rotary_embedding.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

#2705 [CI] Enable MTP torchair e2e test
  .github/workflows/vllm_ascend_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
Labels: module:tests

#2633 [Perf]Enable npu_moe_gating_top_k_softmax on quantized scenarios
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/experts_selector.py
Labels: module:tests, module:ops

#2623 [Bugfix] Fix qwen2.5-vl-without-padding
  tests/ut/models/test_qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:tests

#2659 [v0.9.1][bugfix] disable the chunked prefill feature in Non-MLA LLMs
  docs/source/conf.py
  docs/source/tutorials/large_scale_ep.md
  tests/conftest.py
  tests/multicard/test_model_qwen3_w4a8.py
  tests/singlecard/core/test_ascend_scheduler.py
  tests/singlecard/test_ascend_config.py
  vllm_ascend/platform.py
Labels: documentation, module:tests, module:core

#2646 [Doc] add v0.9.1 release note
  .github/ISSUE_TEMPLATE/900-release-checklist.yml
  README.md
  README.zh.md
  docs/source/_templates/sections/header.html
  docs/source/community/versioning_policy.md
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#2664 [P/D]mooncake_connector adapted to 0.10.1
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
  vllm_ascend/envs.py
Labels: module:tests, module:core

#2733 [0.9.1][Doc] Update doc for zh-cn
  docs/source/locale/zh_CN/LC_MESSAGES/community/versioning_policy.po
  docs/source/locale/zh_CN/LC_MESSAGES/developer_guide/performance/optimization_and_tuning.po
  docs/source/locale/zh_CN/LC_MESSAGES/faqs.po
  docs/source/locale/zh_CN/LC_MESSAGES/installation.po
  docs/source/locale/zh_CN/LC_MESSAGES/quick_start.po
  docs/source/locale/zh_CN/LC_MESSAGES/tutorials/large_scale_ep.po
  docs/source/locale/zh_CN/LC_MESSAGES/tutorials/multi_npu_quantization.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/configuration/additional_config.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/feature_guide/lora.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/feature_guide/sleep_mode.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/release_notes.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/support_matrix/supported_features.po
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/support_matrix/supported_models.po
Labels: documentation

#2736 [Doc] Update news
  README.md
  README.zh.md
Labels: documentation

#2635 [ReleaseNote] Add Release Note for v0.10.1rc1
  README.md
  README.zh.md
  docs/source/community/contributors.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#2275 [main] Fuse GroupedMatmul, Swiglu and DynamicQuant in `W8A8_DYNAMIC` quantized MoE layers
  tests/ut/ops/test_fused_ops.py
  tests/ut/quantization/test_w8a8_dynamic.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/layers/moe_mlp.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:tests, module:ops, module:quantization

#2472 [Fix] fix resources limit error when apply speculative decoding and aclgraph
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

#2734 [Fix][MoE] Refine MoE communication strategy
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops

#2717 Delete redundant codes related to communication
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/distributed/communication_op.py
  vllm_ascend/distributed/moe_comm_method.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops

#2746 Remove git .extraheader and fecth all commtis in /vllm-workspace/vllm-ascend
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

#2167 [feat]: oproj tensor parallelism in pure DP and graph-mode scenarios.
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/distributed/test_parallel_state.py
  tests/ut/models/test_deepseek_v2.py
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/ops/test_linear.py
  tests/ut/ops/test_vocab_parallel_embedding.py
  tests/ut/patch/worker/patch_common/test_patch_linear.py
  tests/ut/quantization/test_w4a8_dynamic.py
  tests/ut/quantization/test_w8a8_dynamic.py
  tests/ut/test_ascend_config.py
  tests/ut/torchair/models/test_torchair_deepseek_v2.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/ops/linear.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_linear.py
  vllm_ascend/patch/worker/patch_common/patch_lora.py
  vllm_ascend/patch/worker/patch_common/patch_lora_embedding.py
  vllm_ascend/patch/worker/patch_common/patch_lora_linear.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:ops, module:core, module:quantization

#2774 [0.9.1][Doc] Update supported models
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/support_matrix/supported_models.po
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

#2765 Add note for Ascend HDK version
  README.md
  README.zh.md
  docs/source/installation.md
Labels: documentation

#2758 [fix] prefill unsupport sliding window attention
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests

#2751 [DOC] Qwen3 PD disaggregation user guide
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_pd_disaggregation.md
  examples/disaggregated_prefill_v1/gen_ranktable.py
  examples/disaggregated_prefill_v1/gen_ranktable.sh
Labels: documentation, ready

#2740 add gatherep select.
  tests/ut/ops/test_ascend_forwad_context.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/ops/moe_dispatcher/token_dispatcher.py
Labels: module:tests, module:ops, module:core

#2785 [2/N][Refactor][Quantization] clean quantization patch
  tests/ut/quantization/test_func_wrapper.py
  vllm_ascend/ops/vocab_parallel_embedding.py
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/utils.py
Labels: module:tests, module:ops, module:quantization

#2805 Remove unused code in fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#2802 [main] flashcomm_v1 optim in Qwen Dense Models
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/ut/ops/test_layernorm.py
  tests/ut/test_utils.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/envs.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/ops/linear.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:ops, module:core

#2756 add weight transpose check.
  tests/ut/ops/test_common_fused_moe.py
  vllm_ascend/ops/common_fused_moe.py
Labels: module:tests, module:ops, ready, ready-for-test

#2840 [CI] Remove compatibility maintenance for vllm v0.10.1 and v0.10.1.1
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
  tests/ut/core/test_scheduler.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops

#2753 [main] add pd transfer for ascend scheduler
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  tests/ut/sample/logits_processor/test_builtin.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/sample/logits_processor/__init__.py
  vllm_ascend/sample/logits_processor/builtin.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, ready, ready-for-test

#2850 [CI] Update pre_commit runner
  .github/actionlint.yaml
  .github/workflows/pre-commit.yml
Labels: ci/build

#2902 Bump vLLM version to v0.10.2rc2
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
Labels: documentation, ready, ready-for-test, accuracy-test

#2786 Fix the bugs about operator registration by PyTorch Dispatcher
  benchmarks/ops/ben_vocabparallelembedding.py
  csrc/torch_binding.cpp
  csrc/torch_binding_meta.cpp
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
  tests/e2e/singlecard/ops/test_rotary_embedding.py
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/torchair/ops/test_torchair_rotary_embedding.py
  vllm_ascend/compilation/acl_graph.py
  vllm_ascend/lora/lora_ops.py
  vllm_ascend/meta_registration.py
  vllm_ascend/ops/__init__.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/torchair/ops/torchair_rotary_embedding.py
  vllm_ascend/utils.py
Labels: module:tests, module:ops, module:core, ready, ready-for-test

#2903 Upgrade CANN version to 8.3.rc1.alpha001
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
Labels: documentation, ready, ready-for-test, accuracy-test

#2824 fix mooncake connector adxl hostname usage
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests

#2914 Bump vLLM version to v0.10.2
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
Labels: ready, ready-for-test, accuracy-test

#2844 main add ascend scheduler support multimodal
  tests/ut/core/test_schedule_config.py
  tests/ut/core/test_scheduler.py
  vllm_ascend/core/schedule_config.py
  vllm_ascend/core/scheduler.py
Labels: module:tests, ready, ready-for-test

#2915 [BugFix] Fix world size bug in model_runner
  tests/e2e/singlecard/test_vlm.py
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, ready, ready-for-test

#2945 Update max_tokens and prompt in qwen3 online doc
  docs/source/tutorials/multi_npu_qwen3_next.md
Labels: documentation

#2707 [Feat][Graph] Support DeepSeek with ACL Graph
  tests/ut/models/test_deepseek_v2.py
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/layers/mla.py
  vllm_ascend/platform.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core, ready, ready-for-test

#2772 [main] addrmsnorm + quant fusion optim in Dense Models
  tests/ut/ops/test_layernorm.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3.py
  vllm_ascend/ops/layernorm.py
Labels: module:tests, module:ops, module:core, ready, ready-for-test

#2951 [Bugfix] Fix mtp torchair in pd Disaggregation scenario
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: ready, ready-for-test

#2956 Dynamic Expert Load Balance with Zero-like-overhead
  docs/source/user_guide/feature_guide/eplb_swift_balancer.md
  docs/source/user_guide/feature_guide/images/eplb_img.png
  docs/source/user_guide/feature_guide/index.md
  tests/ut/distributed/test_determin_expert_map_all.py
  vllm_ascend/ascend_config.py
  vllm_ascend/eplb/__init__.py
  vllm_ascend/eplb/adaptor/__init__.py
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/__init__.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/eplb/core/eplb_worker.py
  vllm_ascend/eplb/core/policy/__init__.py
  vllm_ascend/eplb/core/policy/policy_abstract.py
  vllm_ascend/eplb/core/policy/policy_dynamic_ep.py
  vllm_ascend/eplb/core/policy/policy_dynamic_ep_v2.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/policy/policy_random.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/eplb/utils.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/moe/moe_comm_method.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops, module:core, module:quantization, ready, ready-for-test

#2869 Add an option of enable frozen parameter
  docs/source/user_guide/configuration/additional_config.md
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: documentation, module:tests, module:core, ready, ready-for-test

#2932 [Feat][Graph] Support MTP for ACL Graph
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/ut/attention/test_mla_v1.py
  tests/ut/torchair/test_torchair_mla.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, ready, ready-for-test

#2901 [Bugfix]:replace npu_incre_flash_attention with npu_fused_infer_atten…
  tests/ut/torchair/test_torchair_attention.py
  vllm_ascend/torchair/torchair_attention.py
Labels: module:tests, ready, ready-for-test

#2376 [Doc] Add multi-node ray backend tutorial
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node_ray.md
Labels: documentation

#2781 Remove chunked_prefill_for_mla and fix ring_mla bug
  docs/source/locale/zh_CN/LC_MESSAGES/user_guide/configuration/additional_config.po
  docs/source/user_guide/configuration/additional_config.md
  examples/disaggregated_prefill_v1/README.md
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/torchair/torchair_mla.py
Labels: documentation, ready, ready-for-test

#3007 [HybridKV] Fix prefill disaggregation kvcache addr alignment & use hybrid kv cache only when running qwen3_next
  vllm_ascend/platform.py
  vllm_ascend/worker/block_table.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:core, ready, ready-for-test

#2796 [BugFix] Async scheduling and PP compatibility with DP
  tests/ut/worker/test_worker_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, ready, ready-for-test

#3005 [Bugfix] Fix async copy bug under single expert scenario
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:ops, ready, ready-for-test

#2980 [CustomOp] Register AscendSharedFusedMoE custom op
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_shared_fused_moe.py
  vllm_ascend/utils.py
Labels: module:ops, module:core, ready, ready-for-test

#2830 [Fixbug] Fix shape not match when sliding_window and dynamic batch_size
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests, ready, ready-for-test

#2969 [Bugfix] Remove `VLLM_TEST_DYNAMO_FULLGRAPH_CAPTURE`
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/torchair_model_runner.py
Labels: ready, ready-for-test

#2907 [CI] Upgrade vLLM to 20250919 (6d8246aa) and fix some broken issue
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/spec_decode/mtp_proposer.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops, module:core, module:quantization, ready, ready-for-test, vllm-break

#3067 [CI] Upgrade vLLM to 20250920 (c60e613) and address config break
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/e2e/conftest.py
  vllm_ascend/sample/sampler.py
Labels: module:tests, ready, ready-for-test, vllm-break

#3079 [CI] Enable main based lint check and light ci matrix
  .github/workflows/pre-commit.yml
  .github/workflows/vllm_ascend_test.yaml
Labels: ci/build

#2962 [Perf] Add new npu_fused_infer_attention_score op to improve perfomance in splitfuse cases and resolve long-seq mask problems
  vllm_ascend/attention/attention_mask.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: ready, ready-for-test

#3094 [main] remove the redundant log prints in register_custom_ops.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops

#3087 Fix of DeepSeek Error in KV Pool Mixed Deployment Scenario
  examples/disaggregated_prefill_v1/mooncake_connector_store_deployment_guide.md
  vllm_ascend/distributed/mooncake/mooncake_engine.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, ready, ready-for-test

#3095 [Bugfix][LoRA] Fix bug introduced by upstream vllm#25249
  vllm_ascend/worker/model_runner_v1.py
Labels: ready, ready-for-test, vllm-break

#3071 [Model][VLM][Patch]Modify ascend affinity _merge_multimodal_embeddings
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_multimodal_merge.py
Labels: ready, ready-for-test

#2899 [P/D][BugFix]Mooncake timeout release bug fix
  tests/ut/kv_connector/test_mooncake_connector.py
  vllm_ascend/distributed/mooncake_connector.py
Labels: module:tests, ready, ready-for-test

#3082 [2/N][Refactor][Qwen3-Next] remove redundant methods and patch methods in Qwen3NextGatedDeltaNet
  vllm_ascend/models/qwen3_next.py
  vllm_ascend/ops/casual_conv1d.py
  vllm_ascend/ops/fla.py
  vllm_ascend/ops/sigmoid_gating.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_triton.py
Labels: module:ops, ready, ready-for-test

#3085 [Refactor] [SP]The sequence parallelism characteristics in the MoE and Dense models are integrated into a single solution.
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/ops/linear_op.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/ops/register_custom_ops.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/ops/sequence_parallel.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:core, ready, ready-for-test

#3154 Add OOT platform E2E test case to be run in the vllm buildkite pipeline
  tests/e2e/vllm_interface/singlecard/test_sampler.py
  tests/e2e/vllm_interface/vllm_test.cfg
Labels: module:tests

#3161 Remove useless PD check in deepseek
  vllm_ascend/torchair/models/torchair_deepseek_v2.py
Labels: ready, ready-for-test

#3139 [CI] Upgrade vLLM version
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/models/test_qwen2_5_vl.py
  tests/ut/ops/test_linear.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_weight_loader.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, ready, ready-for-test

#3167 [CI] Upgrade vllm version - 0925
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  tests/ut/attention/test_attention_v1.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/attention/attention_v1.py
Labels: module:tests, ready, ready-for-test

#2979 [Bugfix] eagle and eagle3 spec decode failures and enable e2e test
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
  vllm_ascend/spec_decode/eagle_proposer.py
Labels: module:tests, ready, ready-for-test

#3179 [bugFix] Correct the vllm interface e2e test Base container image name
  tests/e2e/vllm_interface/vllm_test.cfg
Labels: module:tests, ready

#3132 [BugFix] Fix dummy_run memory explosion in eager mode
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
Labels: module:ops, ready, ready-for-test

#3194 Revert "[Disagg][Perf] Use NPU event sync instead of blocking tolist
  tests/ut/worker/test_model_runner_v1.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, ready, ready-for-test

#3182 [CI] Upgrade vllm to newest commit
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  vllm_ascend/patch/worker/patch_common/patch_weight_loader.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/quant_config.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core, module:quantization, ready, ready-for-test

#3127 fix error async_scheduler can't be enabled
  vllm_ascend/platform.py
Labels: module:core, ready, ready-for-test

#3174 bugfix for mtp>1
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/spec_decode/mtp_proposer.py
Labels: ready, ready-for-test

#3193 [Bugfix] fix bug when tp=1
  vllm_ascend/ops/linear_op.py
Labels: module:ops, ready, ready-for-test

#3044 [Bugfix][LoRA] Fix LoRA bug after supporting Qwen3-Next
  .github/workflows/_e2e_test.yaml
  vllm_ascend/lora/utils.py
Labels: ready, ready-for-test

#3211 [CI] Pin vLLM to releases/v0.11.0
  .github/workflows/format_pr_body.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: ready, ready-for-test

#3220 [Bugfix]Fix quant_config input parameter bug in qwenvl series
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_vl.py
Labels: ready, ready-for-test

#3204 [BugFix] Fix ACLgraph bug in Qwen3_32b_int8 case
  docs/source/faqs.md
  tests/ut/test_utils.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:core, ready, ready-for-test

#3187 [Eagle] Fix attn_mask index out of range in high concurrency situations
  vllm_ascend/spec_decode/eagle_proposer.py
Labels: ready, ready-for-test

#3191 [BugFix] Fix ascend scheduler assert error
  vllm_ascend/core/scheduler.py
Labels: ready, ready-for-test

#3234 [CI][Bugfix] Quickfix for DPMetaData
  tests/ut/ops/test_fused_moe_prepare_and_finalize.py
  tests/ut/ops/test_fused_ops.py
  tests/ut/torchair/ops/test_torchair_fused_moe.py
  vllm_ascend/models/qwen3_moe.py
  vllm_ascend/ops/moe/fused_moe_prepare_and_finalize.py
  vllm_ascend/torchair/models/qwen3_moe.py
  vllm_ascend/torchair/ops/torchair_fused_moe.py
Labels: module:tests, module:ops, ready

#3163 [BugFix] Fix aclgraph accu problem in A2.
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/register_custom_ops.py
Labels: module:ops, ready, ready-for-test

#3246 [Quickfix] Fix dp+ep+tp error when sp chunked the hidden_states
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/platform.py
Labels: module:ops, module:core, ready, ready-for-test

#3238 [bugfix] Fix warning bug: model config is None.
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/utils.py
Labels: module:core, ready, ready-for-test

#3245 [Doc] add faqs:install vllm-ascend will overwrite existing torch-npu
  docs/source/faqs.md
Labels: documentation

#3258 [CI] Fix CI by addressing max_split_size_mb config
  .github/workflows/_e2e_test.yaml
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_mtp_torchair_correctness.py
  tests/e2e/singlecard/spec_decode_v1/test_v1_spec_decode.py
  tests/e2e/singlecard/test_guided_decoding.py
  tests/e2e/singlecard/test_vlm.py
Labels: module:tests, ready, ready-for-test

#3271 V0.9.1 dev
  docs/source/developer_guide/performance/distributed_dp_server_with_large_ep.md
  docs/source/developer_guide/performance/index.md
  examples/deepseek.md
  examples/omni_infer_inventory_used_for_1P32_1D32.yml
  examples/omni_infer_server_template_a3_ds.yml
Labels: documentation

#3213 Bump version to v0.11.0rc3
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_dist.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  .github/workflows/vllm_ascend_test_full.yaml
  Dockerfile
  Dockerfile.310p
  Dockerfile.310p.openEuler
  Dockerfile.a3
  Dockerfile.a3.openEuler
  Dockerfile.openEuler
  docs/source/conf.py
Labels: documentation, ready, ready-for-test, accuracy-test

#3262 [bugfix] Fix bugs in _dumm_run and re-initialize kv-cache.
  vllm_ascend/worker/model_runner_v1.py
Labels: ready, ready-for-test

#3275 [Doc] Add deepseek v3.2 tutorial
  docs/source/tutorials/index.md
  docs/source/tutorials/multi-node_dsv3.2.md
  docs/source/tutorials/multi_node_qwen3vl.md
Labels: documentation

#3279 [bugfix] Fix moe bug: allgather error.
  tests/ut/ops/test_token_dispatcher.py
  vllm_ascend/ops/moe/token_dispatcher.py
Labels: module:tests, module:ops, ready, ready-for-test
