Repository vllm-project/vllm-ascend, pull requests merged in 2025-07, with the labels that each got.

#1542 [CI/UT] Cherry-pick change to new ds model #1513
  tests/multicard/test_torchair_graph_mode.py
Labels: module:tests, long-term-test, ready-for-test

#1265 [DOC] add LoRA user guide
  docs/source/index.md
  docs/source/user_guide/lora.md
Labels: documentation

#1531 add ut for kv tansfer module
  tests/ut/distributed/kv_transfer/test_simple_buffer.py
  tests/ut/distributed/kv_transfer/test_simple_connector.py
  tests/ut/distributed/kv_transfer/test_simple_pipe.py
Labels: module:tests

#1529 Fix W8A8 fused moe bug
  tests/ut/attention/test_attention_v1.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w8a8.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:quantization

#1505 [CI/UT] Add test for chunk prefill and prefix cache on v1/AscendScheduler
  tests/conftest.py
  tests/e2e/multicard/test_prefix_caching.py
  tests/e2e/prompts/example.txt
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler_e2e.py
  tests/e2e/singlecard/core/ascend_scheduler/test_chunk_prefill.py
Labels: module:tests

#1476 [Test]Add unit test for platform.py
  tests/ut/test_platform.py
Labels: module:tests

#1554 [0.9.1][bugfix] fix ascend_forward_context
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/draft_model_runner.py
  vllm_ascend/worker/model_runner.py
  vllm_ascend/worker/pooling_model_runner.py
Labels: module:ops, module:quantization

#1561 [Perf][MoE] Improve shared experts multi-stream for w8a8 dynamic.
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

#1598 [bugfix] fix ascend_forward_context with model_runner_v0
  vllm_ascend/ascend_forward_context.py
Labels: module:core

#1584 [Feature] Enable inference support for Deepseekr1-w8a8-MTP
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#1602 [CI] Fix FusedMoEConfig and input batch failure to recover CI
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler.py
  tests/e2e/singlecard/core/ascend_scheduler/test_chunk_prefill.py
  tests/e2e/singlecard/sample/test_rejection_sampler.py
  tests/e2e/singlecard/test_sampler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/worker/patch_0_9_1/__init__.py
  vllm_ascend/patch/worker/patch_0_9_1/patch_sampler.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
Labels: module:tests, module:ops

#1560 [Quantization]300I Duo support w8a8 quantization
  tests/ut/quantization/test_w8a8.py
  tests/ut/test_utils.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core, module:quantization

#1506 [CORE]initial support for torchair with non-mla backend
  .github/workflows/doc_codespell.yaml
  .github/workflows/vllm_ascend_test.yaml
  docs/source/user_guide/additional_config.md
  docs/source/user_guide/graph_mode.md
  format.sh
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/ops/test_rotary_embedding.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/rotary_embedding.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/worker/model_runner_v1.py
Labels: documentation, module:tests, module:ops, module:core, module:quantization

#1625 [CI] Follow vLLM FusedMoEParallelConfig interface change and clean up unused config
  tests/ut/test_ascend_config.py
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, module:core

#1566 Add unit test local cpu guide and enable base testcase
  docs/source/developer_guide/contribution/testing.md
  tests/ut/attention/test_attention_v1.py
  tests/ut/base.py
  tests/ut/distributed/test_parallel_state.py
  tests/ut/ops/expert_map.json
  tests/ut/ops/test_expert_load_balancer.py
  tests/ut/patch/worker/patch_common/test_patch_distributed.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  tests/ut/quantization/test_quant_config.py
  tests/ut/quantization/test_quantizer.py
  tests/ut/quantization/test_w8a8.py
  tests/ut/test_ascend_config.py
  tests/ut/test_utils.py
Labels: documentation, module:tests

#1622 [CI] Fix oom in chunk prefill
  tests/e2e/singlecard/core/ascend_scheduler/test_ascend_scheduler_e2e.py
  tests/e2e/singlecard/core/ascend_scheduler/test_chunk_prefill.py
Labels: module:tests

#1640 Add ut for test_pooling_model_runner.py
  tests/ut/worker/test_pooling_model_runner.py
Labels: module:tests

#1549 feat: add kv cache memory cache and skip dynamo guard
  tests/ut/test_utils.py
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

#1651 [V0.9.1][BugFix] Fix load weight error and add new e2e case
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests

#1582 Fix wheel glibc version incompatibility
  .github/Dockerfile.buildwheel
  .github/workflows/release_whl.yml
Labels: ci/build

#1642 add mc2 mask
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:ops, module:quantization

#1545 [V0.9.1] Use AddRmsNormQuant ops in the custom model to optimize Qwen3's performance
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/quantization/w8a8.py
Labels: module:ops, module:quantization

#1419 [Doc] Add multi-npu qwen3-MoE-32B Tutorials
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_npu_qwen3_moe.md
Labels: documentation

#1685 [Doc] Add multi node data parallel doc
  docs/source/assets/multi_node_dp.png
  docs/source/tutorials/multi_node.md
Labels: documentation

#1689 Use ci_vllm_version when recording vLLM commit
  .github/format_pr_body.sh
  .github/workflows/format_pr_body.yaml
  docs/source/conf.py
Labels: documentation

#1678 [Bugfix] Fix accuracy problem caused by mask pollution
  tests/ut/attention/test_attention_mask.py
  vllm_ascend/attention/attention.py
  vllm_ascend/attention/attention_mask.py
Labels: module:tests

#1501 [Fix] Add warning for incompatible Ray backend with ACL Graph mode
  tests/singlecard/test_aclgraph.py
  vllm_ascend/platform.py
Labels: module:tests, module:core, no-test

#1581 [Doc] Update user doc index
  docs/source/index.md
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/configuration/additional_config.md
  docs/source/user_guide/configuration/env_vars.md
  docs/source/user_guide/configuration/index.md
  docs/source/user_guide/feature_guide/graph_mode.md
  docs/source/user_guide/feature_guide/images/structured_output_1.png
  docs/source/user_guide/feature_guide/index.md
  docs/source/user_guide/feature_guide/lora.md
  docs/source/user_guide/feature_guide/quantization.md
  docs/source/user_guide/feature_guide/sleep_mode.md
  docs/source/user_guide/feature_guide/structured_output.md
  docs/source/user_guide/release.template.md
  docs/source/user_guide/support_matrix/index.md
  docs/source/user_guide/support_matrix/supported_features.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

#1355 use npu_moe_gating_top_k_softmax
  tests/e2e/singlecard/ops/test_gating_top_k_softmax.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, module:core

#1700 Support pipeline parallel in V1 Engine
  tests/e2e/multicard/test_pipeline_parallel.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests

#1732 [Perf] add patch to optimize apply_topk_topp
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/singlecard/test_offline_inference.py
  tests/e2e/singlecard/test_sampler.py
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  vllm_ascend/envs.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_sampler.py
Labels: module:tests, module:core

#1677 [0.9.1][2/N][Feat] Restore paged attention kernel in Full Graph for performence
  tests/singlecard/test_aclgraph.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/compilation/piecewise_backend.py
Labels: module:tests

#1140 [CI] Add accuracy ci for DP and EP and TP and ETP
  .github/workflows/vllm_ascend_test_long_term.yaml
  tests/e2e/long_term/accuracy/accuracy_multicard.py
  tests/e2e/long_term/accuracy/accuracy_singlecard.py
  tests/e2e/multicard/test_deepseek_v2_lite_tp2_accuracy.py
Labels: module:tests, long-term-test, ready-for-test

#1725 [Release] Add 0.9.2rc1 release note
  README.md
  README.zh.md
  docs/source/community/contributors.md
  docs/source/community/versioning_policy.md
  docs/source/conf.py
  docs/source/faqs.md
  docs/source/installation.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#1734 [Doc] Add qwen3 embedding 8b guide
  docs/source/developer_guide/contribution/testing.md
  docs/source/tutorials/index.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/multi_npu_qwen3_moe.md
  docs/source/tutorials/single_node_300i.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_audio.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/tutorials/single_npu_qwen3_embedding.md
  docs/source/user_guide/feature_guide/graph_mode.md
  docs/source/user_guide/feature_guide/sleep_mode.md
Labels: documentation

#1758 Update README.zh.md to fix typo
  README.zh.md
Labels: documentation

#1750 [0.9.1][Perf] Port MLA multistream optimazition and prefetch to v0.9.1
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/utils.py
Labels: module:core

#1762 [CI] Remove benchmark patch and increase the scheduler frequency
  .github/workflows/nightly_benchmarks.yaml
  benchmarks/requirements-bench.txt
  benchmarks/scripts/patch_benchmark_dataset.py
  benchmarks/scripts/run-performance-benchmarks.sh
Labels: ready-for-test, performance-test

#1719 [V0.9.1] optimize rope in qwen3
  tests/singlecard/ops/test_rotary_embedding.py
  vllm_ascend/models/qwen3.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

#1769 [Test] Resolve vllm-ascend version
  .github/workflows/accuracy_test.yaml
Labels: ready-for-test, dense-accuracy-test

#1797 [Doc] Fix 404 error
  docs/source/tutorials/multi_node.md
  docs/source/user_guide/feature_guide/lora.md
  docs/source/user_guide/release_notes.md
Labels: documentation

#1805 [Misc][V0 Deprecation] Remove V0 related codes of test, example, platform
  examples/offline_inference_npu_v0.py
  tests/e2e/singlecard/test_guided_decoding.py
  tests/ut/test_platform.py
  tests/ut/worker/test_pooling_model_runner.py
  vllm_ascend/platform.py
Labels: module:tests, module:core

#1726 [V0.9.1] add support for flashcomm2 in qwen3
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/envs.py
  vllm_ascend/models/qwen3.py
Labels: module:tests, module:core

#1745 [V0.9.1] Add support for flashcomm_v1 in Qwen2.5
  .github/workflows/vllm_ascend_test.yaml
  tests/multicard/test_offline_inference_distributed.py
  vllm_ascend/__init__.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen2.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_decorator.py
Labels: module:tests, module:core

#1829 [0.9.1][Fix] Fix DeepSeek OOM issue in extreme `--gpu-memory-utilization` scenario
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#1849 Add graph mode and improve on multi_npu_moge.md
  docs/source/tutorials/multi_npu_moge.md
Labels: documentation

#1858 [BugFix] Fix decorator patch
  vllm_ascend/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
Labels: module:core

#1782 [0.9.1]optmize rope in qwen2
  vllm_ascend/models/qwen2.py
  vllm_ascend/models/qwen3.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:ops

#1811 [Bugfix]Fix the performance gap between 0.9.2rc1 and 0.9.1
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: module:tests, module:core

#1808 [0.9.1] Fix wheel glibc version incompatibility
  .github/Dockerfile.buildwheel
  .github/workflows/release_whl.yml
Labels: ci/build

#1881 Fix e2e data parallel test: add resource release code
  examples/offline_data_parallel.py
  tests/e2e/multicard/test_data_parallel.py
Labels: module:tests

#1889 [CI] Fix broken CI
  pyproject.toml
  requirements.txt
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/npu_input_batch.py
  vllm_ascend/worker/worker_v1.py
Labels: module:ops

#1867 [Doc] Add a doc for qwen omni
  docs/source/faqs.md
Labels: documentation

#1893 [CI] Make AttentionBackend interface compatible to fix broken CI
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests, vllm-break

#1681 [Dist][EP] Remove ETP/EP maintained in vllm-ascend
  docs/source/tutorials/multi_npu_moge.md
  docs/source/user_guide/configuration/additional_config.md
  examples/run_dp_attention_etp16.sh
  examples/run_dp_attention_etp16_benmark.sh
  tests/e2e/long_term/accuracy/accuracy_multicard.py
  tests/e2e/multicard/test_expert_parallel.py
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/ut/distributed/test_parallel_state.py
  tests/ut/test_ascend_config.py
  tests/ut/test_platform.py
  vllm_ascend/ascend_config.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/platform/patch_common/patch_distributed.py
  vllm_ascend/platform.py
  vllm_ascend/quantization/w8a8.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/utils.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops, module:core, module:quantization

#1885 [1/4][Refactor] Refactor torchair worker
  tests/ut/test_platform.py
  vllm_ascend/platform.py
  vllm_ascend/torchair/__init__.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:core

#1590 [Test] Add unit test for schedule_config.py
  tests/ut/core/test_schedule_config.py
Labels: module:tests, ready

#1806 [main] Use AddRmsNormQuant ops in the custom model to optimize Qwen3's performance
  tests/e2e/multicard/test_offline_inference_distributed.py
  vllm_ascend/models/__init__.py
  vllm_ascend/models/qwen3.py
  vllm_ascend/ops/layernorm.py
  vllm_ascend/quantization/w8a8.py
Labels: module:tests, module:ops, module:quantization

#1902 [0.9.1][Perf] apply npu_moe_gating_top_k_softmax for moe
  tests/singlecard/ops/test_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops

#1919 [0.9.1][BugFix] Fix bug in path_decorator when engine v0
  vllm_ascend/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/__init__.py
  vllm_ascend/patch/platform/patch_0_9_1/patch_decorator.py
Labels: module:core

#1929 qwen2.5-vl Vit module enable sp and mrope fusion op
  tests/multicard/test_multimodal_context_parallel.py
  vllm_ascend/distributed/context_parallel_utils.py
  vllm_ascend/models/qwen2_5_vl.py
  vllm_ascend/ops/rotary_embedding.py
Labels: module:tests, module:ops

#1828 [Doc] Update support feature
  docs/source/user_guide/support_matrix/supported_features.md
  docs/source/user_guide/support_matrix/supported_models.md
Labels: documentation

#1766 Add UT for Patches
  tests/ut/patch/worker/patch_common/test_patch_distributed.py
  tests/ut/patch/worker/patch_common/test_patch_minicpm.py
  tests/ut/patch/worker/patch_common/test_patch_utils.py
Labels: module:tests

#1974 [Optimize]Change AI Vector core number getting function to glibc ABI free funcition
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_vocabparallelembedding.py
Labels: module:tests

#1933 [Misc] Clean up uesless code in attention
  tests/ut/attention/test_attention_v1.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
Labels: module:tests

#1964 [Test]add ut for deepseek_v2.
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
Labels: module:tests

#1951 [Test] Add ut for files in /distributed
  tests/ut/distributed/device_communicators/test_pyhccl.py
  tests/ut/distributed/device_communicators/test_pyhccl_wrapper.py
Labels: module:tests

#1947 [Test] Add ut for files in /multistream
  tests/ut/multistream/test_base.py
  tests/ut/multistream/test_metadata.py
  tests/ut/multistream/test_ms_split.py
Labels: module:tests

#1965 [Doc] Fix errors and non-standard parts in examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/README.md
Labels: documentation

#1943 SwiftBalancer Zero OverHead Expert Movement
  docs/source/assets/eplb_swift_balancer.png
  docs/source/index.md
  docs/source/user_guide/eplb_swift_balancer.md
  examples/eplb_generate_map.py
  requirements-dev.txt
  requirements-lint.txt
  requirements.txt
  vllm_ascend/ascend_config.py
  vllm_ascend/eplb/__init__.py
  vllm_ascend/eplb/adaptor/abstract_adaptor.py
  vllm_ascend/eplb/adaptor/vllm_adaptor.py
  vllm_ascend/eplb/core/eplb_device_transfer_loader.py
  vllm_ascend/eplb/core/eplb_utils.py
  vllm_ascend/eplb/core/eplb_worker.py
  vllm_ascend/eplb/core/policy/__init__.py
  vllm_ascend/eplb/core/policy/policy_abstract.py
  vllm_ascend/eplb/core/policy/policy_dynamic_ep.py
  vllm_ascend/eplb/core/policy/policy_dynamic_ep_v2.py
  vllm_ascend/eplb/core/policy/policy_factory.py
  vllm_ascend/eplb/core/policy/policy_random.py
  vllm_ascend/eplb/eplb_updator.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:ops, module:core, module:quantization

#1977 Enable image push CI for build file and csrc has changes
  .github/workflows/image_310p_openeuler.yml
  .github/workflows/image_310p_ubuntu.yml
  .github/workflows/image_a3_openeuler.yml
  .github/workflows/image_a3_ubuntu.yml
  .github/workflows/image_openeuler.yml
  .github/workflows/image_ubuntu.yml
Labels: ci/build

#1957 [Test] Add uts for files in /core
  tests/e2e/singlecard/test_ascend_scheduler.py
  tests/ut/core/test_scheduler.py
Labels: module:tests

#1802 [Prefill Perf] Parallel Strategy Optimizations (VRAM-for-Speed Tradeoff)
  vllm_ascend/ascend_config.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:core, module:quantization

#1988 ut:add ut for qwen2_5_vl_without_padding.py
  tests/ut/base.py
  tests/ut/models/__init__.py
  tests/ut/models/test_qwen2_5_vl_without_padding.py
Labels: module:tests

#2011 [1/2/N] Enable pymarkdown and python __init__ for lint system
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  benchmarks/README.md
  benchmarks/scripts/perf_result_template.md
  docs/source/community/governance.md
  docs/source/community/user_stories/llamafactory.md
  docs/source/developer_guide/contribution/index.md
  docs/source/developer_guide/contribution/testing.md
  docs/source/developer_guide/evaluation/accuracy_report/index.md
  docs/source/developer_guide/evaluation/using_evalscope.md
  docs/source/developer_guide/evaluation/using_lm_eval.md
  docs/source/developer_guide/evaluation/using_opencompass.md
  docs/source/developer_guide/feature_guide/patch.md
  docs/source/developer_guide/modeling/adding_a_new_model.md
  docs/source/developer_guide/performance/performance_benchmark.md
  docs/source/developer_guide/performance/profile_execute_duration.md
  docs/source/installation.md
  docs/source/quick_start.md
  docs/source/tutorials/multi_node.md
  docs/source/tutorials/multi_npu_moge.md
  docs/source/tutorials/multi_npu_quantization.md
  docs/source/tutorials/single_node_300i.md
  docs/source/tutorials/single_npu.md
  docs/source/tutorials/single_npu_multimodal.md
  docs/source/user_guide/feature_guide/quantization.md
  docs/source/user_guide/feature_guide/sleep_mode.md
  docs/source/user_guide/release_notes.md
  docs/source/user_guide/support_matrix/supported_models.md
  pyproject.toml
  tools/check_python_src_init.py
Labels: documentation, module:tools

#2023 [Bugfix] Add get_supported_tasks interface to fix broken CI
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: vllm-break

#950 Disaggregate prefill for kv cache register style
  .github/workflows/vllm_ascend_test_pd.yaml
  examples/disaggregated_prefill_v1/README.md
  examples/disaggregated_prefill_v1/gen_ranktable.py
  examples/disaggregated_prefill_v1/gen_ranktable.sh
  examples/disaggregated_prefill_v1/run_server.sh
  examples/disaggregated_prefill_v1/toy_proxy_server.py
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/pd_disaggreate/run_edge_case_test.sh
  tests/e2e/pd_disaggreate/test_edge_cases.py
  tests/ut/attention/test_attention_v1.py
  tests/ut/kv_connector/test_llmdatadist_connector.py
  tests/ut/kv_connector/test_remote_decode_lifecycle.py
  tests/ut/kv_connector/test_remote_prefill_lifecycle.py
  tests/ut/kv_connector/utils.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/core/scheduler.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/llmdatadist_c_mgr_connector.py
  vllm_ascend/envs.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/ops/attention.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/soc_info.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: documentation, module:tests, module:ops, module:core, module:quantization, pd-test, ready-for-test

#1989 [v0.9.1][Doc][PD] Restore the default configuration items in examples/disaggregate_prefill_v1/README.md
  examples/disaggregate_prefill_v1/README.md
Labels: documentation

#2036 [v0.9.1] Upgrade CANN to 8.2.rc1
  .github/workflows/accuracy_test.yaml
  .github/workflows/nightly_benchmarks.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  .github/workflows/vllm_ascend_test_pd.yaml
  Dockerfile
  Dockerfile.openEuler
  README.md
  README.zh.md
  docs/source/conf.py
  docs/source/installation.md
Labels: documentation

#1803 [Bugfix] Fix num_hidden_layers when Qwen2-Audio 7B
  docs/source/tutorials/single_npu_audio.md
  docs/source/tutorials/single_npu_multimodal.md
  requirements-dev.txt
  tests/e2e/singlecard/test_offline_inference.py
  tests/ut/test_utils.py
  vllm_ascend/utils.py
Labels: documentation, module:tests, module:core

#2018 [main][Doc] add mla pertoken quantization FAQ
  docs/source/user_guide/feature_guide/quantization.md
Labels: documentation

#1979 [main][refactor] Refactoring forward_context and model_runner_v1
  examples/offline_dualbatch_overlap_npu.py
  examples/run_dp_server.sh
  tests/ut/models/test_deepseek_v2.py
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/ascend_forward_context.py
  vllm_ascend/attention/attention_v1.py
  vllm_ascend/attention/attention_v1_torchair.py
  vllm_ascend/attention/mla_v1.py
  vllm_ascend/distributed/parallel_state.py
  vllm_ascend/models/deepseek_dbo.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/models/pangu_moe.py
  vllm_ascend/multistream/ms_split.py
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/quantizer.py
  vllm_ascend/quantization/w8a8_dynamic.py
  vllm_ascend/torchair/torchair_worker.py
  vllm_ascend/utils.py
  vllm_ascend/worker/eagle_proposer_v1.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:tests, module:ops, module:core, module:quantization

#2048 Pin transformers to fix v0.9.1 doctest
  tests/e2e/doctests/002-pip-binary-installation-test.sh
Labels: module:tests

#2047 [Misc]Remove PD v0 code
  examples/disaggregated_prefill/disaggregated_prefill_offline.py
  examples/disaggregated_prefill/dp_proxy.py
  examples/disaggregated_prefill/find_device_ips.py
  examples/disaggregated_prefill/p2p_disaggrefated_prefill_proxy.py
  examples/disaggregated_prefill/run_decode_server.sh
  examples/disaggregated_prefill/run_prefill_server.sh
  tests/ut/distributed/kv_transfer/test_simple_buffer.py
  tests/ut/distributed/kv_transfer/test_simple_connector.py
  tests/ut/distributed/kv_transfer/test_simple_pipe.py
  vllm_ascend/distributed/__init__.py
  vllm_ascend/distributed/kv_transfer/__init__.py
  vllm_ascend/distributed/kv_transfer/simple_buffer.py
  vllm_ascend/distributed/kv_transfer/simple_connector.py
  vllm_ascend/distributed/kv_transfer/simple_pipe.py
  vllm_ascend/distributed/kv_transfer/utils.py
  vllm_ascend/distributed/llmdatadist_connector.py
Labels: module:tests

#1994 [Feature] Enable inference support for Deepseekr1-w8a8-MTP
  vllm_ascend/models/deepseek_mtp.py
  vllm_ascend/models/deepseek_v2.py
  vllm_ascend/quantization/quant_config.py
Labels: module:quantization

#2065 [CI] Enable linux-aarch64-a2 (64GB) and tp2 * 2 max-parallel to speed up CI
  .github/actionlint.yaml
  .github/workflows/accuracy_test.yaml
  .github/workflows/vllm_ascend_doctest.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_long_term.yaml
  benchmarks/scripts/run_accuracy.py
  examples/disaggregated_prefill_v1/gen_ranktable.sh
  tests/e2e/long_term/accuracy/accuracy_multicard.py
  tests/e2e/multicard/test_fused_moe_allgather_ep.py
  tests/e2e/multicard/test_offline_inference_distributed.py
  tests/e2e/multicard/test_pipeline_parallel.py
  tests/e2e/multicard/test_torchair_graph_mode.py
  tests/e2e/singlecard/quant/test_w8a8.py
  tests/e2e/singlecard/test_offline_inference.py
Labels: module:tests, ready-for-test, accuracy-test

#1884 Add Custom Kernels For LoRA Performance
  csrc/kernels/bgmv_expand.cpp
  csrc/kernels/bgmv_shrink.cpp
  csrc/ops.h
  csrc/torch_binding.cpp
  tests/e2e/singlecard/ops/test_bgmv_expand.py
  tests/e2e/singlecard/ops/test_bgmv_shrink.py
  vllm_ascend/lora/punica_wrapper/lora_ops.py
  vllm_ascend/lora/punica_wrapper/punica_npu.py
Labels: module:tests

#1246 [e2e]Fixed the issue that pyhccl e2e cannot run continuously with other tests
  tests/e2e/multicard/test_dynamic_npugraph_batchsize.py
  tests/e2e/multicard/test_pyhccl_distributed.py
Labels: module:tests

#2050 [Refactor]Refactor sampler
  tests/ut/patch/worker/patch_common/test_patch_sampler.py
  tests/ut/sample/test_sampler.py
  vllm_ascend/envs.py
  vllm_ascend/patch/__init__.py
  vllm_ascend/patch/worker/patch_common/__init__.py
  vllm_ascend/patch/worker/patch_common/patch_sampler.py
  vllm_ascend/sample/sampler.py
  vllm_ascend/worker/model_runner_v1.py
Labels: module:tests, module:core

#2094 [CI] Fix test on pyhccl to 2 cards
  tests/e2e/multicard/test_pyhccl_distributed.py
Labels: module:tests

#1990 [0.9.1][bugfixed] fix the bug when run the inference of quantized ds-w8a8-mtp
  vllm_ascend/quantization/func_wrapper.py
  vllm_ascend/quantization/quantizer.py
Labels: module:quantization

#1879 [CI]Add e2e test for 310p
  .github/actionlint.yaml
  .github/workflows/vllm_ascend_test.yaml
  .github/workflows/vllm_ascend_test_310p.yaml
  tests/e2e/multicard/test_offline_inference_310p.py
  tests/e2e/singlecard/test_offline_inference_310p.py
Labels: module:tests, ready-for-test, e2e-310p-test

#2019 [0.9.1][feat] add kv cache memory cache and skip dynamo guard for deepseek and deepseek_mtp models to increase user-friedliness
  vllm_ascend/envs.py
  vllm_ascend/utils.py
  vllm_ascend/worker/model_runner_v1.py
  vllm_ascend/worker/mtp_proposer_v1.py
  vllm_ascend/worker/worker_v1.py
Labels: module:core

#2075 [0.9.1][bugfix] fix bf16 multistream
  vllm_ascend/ops/fused_moe.py
  vllm_ascend/quantization/w4a8_dynamic.py
  vllm_ascend/quantization/w8a8_dynamic.py
Labels: module:ops, module:quantization

#2106 [Doc] Fix cann related urls
  docs/source/installation.md
Labels: documentation

#2096 ut:add ut for qwen2_vl.py
  tests/ut/models/test_qwen2_vl.py
Labels: module:tests

#2051 [Bugfix] fix tensor not same device in qwen2_5_vl_without_padding
  tests/ut/models/test_qwen2_5_vl_without_padding.py
  vllm_ascend/models/qwen2_5_vl_without_padding.py
Labels: module:tests

#2127 [Test] add ut for decorator.py/deepseek_mtp.py
  tests/ut/models/test_deepseek_mtp.py
  tests/ut/multistream/test_decorator.py
Labels: module:tests

#2020 [main][bugfix]Fix vLLM startup failure when inferring DeepSeek R1 model in DP scenario
  vllm_ascend/ops/fused_moe.py
Labels: module:ops

#2037 add ut for device allocator/camem and mutistream/layers
  tests/ut/device_allocator/test_camem.py
  tests/ut/multistream/test_layers.py
Labels: module:tests

#1844 [BugFix] Fix a bug of running chunked-prefill with torchair. (#1378)
  tests/e2e/multicard/test_torchair_graph_mode.py
  vllm_ascend/attention/mla_v1.py
Labels: module:tests

#2143 ut:add ut for qwen2_5_vl
  tests/ut/models/test_qwen2_5_vl.py
Labels: module:tests

#2112 [main] adapt usage of npu_moe_gating_top_k_softmax and remove envs.SELECT_GATING_TOPK_SOTFMAX_EXPERTS
  tests/e2e/singlecard/ops/test_fused_moe.py
  tests/ut/ops/test_fused_ops.py
  vllm_ascend/envs.py
  vllm_ascend/ops/common_fused_moe.py
  vllm_ascend/ops/fused_moe.py
Labels: module:tests, module:ops, module:core

#2073 Enable pytest and yaml style accuracy test
  .github/workflows/accuracy_test.yaml
  benchmarks/scripts/run_accuracy.py
  requirements-dev.txt
  tests/e2e/singlecard/models/configs/Qwen2.5-VL-7B-Instruct.yaml
  tests/e2e/singlecard/models/configs/Qwen3-30B-A3B.yaml
  tests/e2e/singlecard/models/configs/Qwen3-8B-Base.yaml
  tests/e2e/singlecard/models/configs/accuracy.txt
  tests/e2e/singlecard/models/conftest.py
  tests/e2e/singlecard/models/report_template.md
  tests/e2e/singlecard/models/test_lm_eval_correctness.py
Labels: documentation, module:tests, ready-for-test, accuracy-test
